docs/Unit4 Financials HTML Documentation/wsdl/assets-numberrulemaster-numrulemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/eassets/schemas/numberrulemaster/numrulemaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:nrmws="http://www.coda.com/eassets/schemas/numberrulemaster/numrulemaster-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:nrm="http://www.coda.com/eassets/schemas/numberrulemaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/eassets/schemas/numberrulemaster/numrulemaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/numberrulemaster" schemaLocation="../wsdl/assets/numberrulemaster/numberrulemaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="NumRuleMaster" type="nrm:NumRuleMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the number rule master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="nrm:NumberRuleReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            number rule masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to retrieve the number
                            rule master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the number rule
                            master that you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="NumRuleMaster" type="nrm:NumRuleMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the number rule
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed number rule masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to update the number
                            rule master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the number rule
                            master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            number rule master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>The search results.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ListIsComplete" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If true, the records returned
                            are the complete results of the search. If
                            false, the results were truncated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to delete the number
                            rule master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the number rule
                            master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to create the number
                            rule master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the number rule
                            master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            number rule master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="NumRuleMaster" type="nrm:NumRuleMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the number rule master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the number rule master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the number rule master you want to retrieve
                            from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="nrmws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="nrmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="nrmws:AddRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="nrmws:GetRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="nrmws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="nrmws:DeleteRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="nrmws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="nrmws:Options"/>
  </message>
  <message name="SearchRequest">
    <part name="SearchRequest" element="nrmws:SearchRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="nrmws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="nrmws:ListResponse"/>
  </message>
  <message name="SearchResponse">
    <part name="SearchResponse" element="nrmws:SearchResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="nrmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="nrmws:AddResponse"/>
  </message>
  <portType name="NumRuleMasterServicePortTypes">
    <operation name="Add">
      <input message="nrmws:AddRequest"/>
      <output message="nrmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="nrmws:DeleteRequest"/>
      <output message="nrmws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="nrmws:GetRequest"/>
      <output message="nrmws:GetResponse"/>
    </operation>
    <operation name="Search">
      <input message="nrmws:SearchRequest"/>
      <output message="nrmws:SearchResponse"/>
    </operation>
    <operation name="List">
      <input message="nrmws:ListRequest"/>
      <output message="nrmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="nrmws:UpdateRequest"/>
      <output message="nrmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="NumRuleMasterServiceSOAPBinding" type="nrmws:NumRuleMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/NumRuleMaster/Add" style="document"/>
      <input>
        <soap:header message="nrmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="nrmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/NumRuleMaster/Delete" style="document"/>
      <input>
        <soap:header message="nrmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="nrmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/NumRuleMaster/Get" style="document"/>
      <input>
        <soap:header message="nrmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="nrmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Search">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/NumRuleMaster/Search" style="document"/>
      <input>
        <soap:header message="nrmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="nrmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/NumRuleMaster/List" style="document"/>
      <input>
        <soap:header message="nrmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="nrmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/NumRuleMaster/Update" style="document"/>
      <input>
        <soap:header message="nrmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="nrmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NumRuleMasterService">
    <port name="NumRuleMasterServicePort" binding="nrmws:NumRuleMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/assets/numberrulemaster/numrulemaster-12.0"/>
    </port>
  </service>
</definitions>
