docs/Unit4 Financials HTML Documentation/wsdl/assets-transfer-transfer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/eassets/schemas/transfer/transfer-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:trnws="http://www.coda.com/eassets/schemas/transfer/transfer-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:rev="http://www.coda.com/eassets/schemas/reviewtransactions"
    xmlns:ass="http://www.coda.com/eassets/schemas/asset"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:trn="http://www.coda.com/eassets/schemas/transfer"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:asscom="http://www.coda.com/eassets/schemas/common"
    targetNamespace="http://www.coda.com/eassets/schemas/transfer/transfer-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/eassets/schemas/asset" schemaLocation="assets/asset/asset.xsd"/>
    <xsd:import namespace="http://www.coda.com/eassets/schemas/transfer" schemaLocation="../wsdl/assets/transfer/transfer.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/reviewtransactions" schemaLocation="assets/reviewtransactions/reviewtransactions.xsd"/>
    <xsd:import namespace="http://www.coda.com/eassets/schemas/common" schemaLocation="assets/common/common.xsd"/>
    <xsd:element name="CategoryDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsCreated" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            CategoryDocumentRequest corresponding to
                            this response was successful.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TransferPostings" type="trn:TransferPostings">
                    <xsd:annotation>
                        <xsd:documentation>Contains the postings that
                            will be generated by this transfer process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReviewDocumentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transfer" type="trn:Transfer">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            transferring assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TransferPostings" type="trn:TransferPostings">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            values that will be posted by the transfer process..</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateCategoryTransferResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="WIPCategoryCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The WIP category code of the
                            assets selected in the request corresponding
                            to this response.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AssociatedCategoryCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The category code associated
                            with that WIP category.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AmendableNumberRule" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the number
                            rule master from the associated category is amendable.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SingleAssetCost" type="com:typeMoney">
                    <xsd:annotation>
                        <xsd:documentation>The total cost of the assets
                            selected (if transferring to a single asset).</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelPostRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RunIDs" type="trn:RunIdList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of companies in which the transfer process
                            would have been run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Transfer" type="trn:Transfer">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters of the transfer process that you
                            wish to cancel.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetDocumentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transfer" type="trn:Transfer">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            transferring assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsCreated" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            AssetDocumentRequest corresponding to this
                            response was successful.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TransferPostings" type="trn:TransferPostings">
                    <xsd:annotation>
                        <xsd:documentation>Contains the postings that
                            will be generated by this transfer process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReviewDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsReviewed" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            ReviewDocumentRequest corresponding to this
                            response was successful.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunIDs" type="trn:RunIdList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of companies in which the transfer process
                            will be run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TransferPostings" type="trn:TransferPostings">
                    <xsd:annotation>
                        <xsd:documentation>Contains the postings that
                            will be generated by this transfer process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReviewTransactions" type="rev:ReviewTransactions">
                    <xsd:annotation>
                        <xsd:documentation>Contains the financial
                            transactions that will be generated by this
                            transfer process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TransferToNewAsset" type="ass:Asset">
                    <xsd:annotation>
                        <xsd:documentation>Contains the details of the
                            new asset that will be created if appropriate.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="NewAssetsFromWIP" type="trn:AssetList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the list of new
                            assets that will be created from WIP assets
                            if appropriate.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateCategoryTransferRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AssetKeys" type="trn:AssetKeyList">
                    <xsd:annotation>
                        <xsd:documentation>Contains a list of keys
                            identifying assets selected for category transfer.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostDocumentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transfer" type="trn:Transfer">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            transferring assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TransferPostings" type="trn:TransferPostings">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            values that will be posted by the transfer process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CostCentreDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsCreated" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            CostCentreDocumentRequest corresponding to
                            this response was successful.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TransferPostings" type="trn:TransferPostings">
                    <xsd:annotation>
                        <xsd:documentation>Contains the postings that
                            will be generated by this transfer process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CategoryDocumentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transfer" type="trn:Transfer">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            transferring assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelPostResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsCancelled" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            CancelPostRequest corresponding to this
                            response was successful.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CostCentreDocumentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transfer" type="trn:Transfer">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            transferring assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsPosted" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            PostDocumentRequest corresponding to this
                            response was successful.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunIDs" type="trn:RunIdList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of companies in which the transfer process
                            has been run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="NewAsset" type="ass:AssetKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains key information for
                            the new asset.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TransferPostings" type="trn:TransferPostings">
                    <xsd:annotation>
                        <xsd:documentation>Contains the postings that
                            have been generated by this transfer process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="NewAssetsFromWIP" type="trn:AssetList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the list of new
                            assets that have been created from WIP
                            assets if appropriate.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="CancelPostRequest">
    <part name="CancelPostRequest" element="trnws:CancelPostRequest"/>
  </message>
  <message name="PostDocumentRequest">
    <part name="PostDocumentRequest" element="trnws:PostDocumentRequest"/>
  </message>
  <message name="CategoryDocumentResponse">
    <part name="CategoryDocumentResponse" element="trnws:CategoryDocumentResponse"/>
  </message>
  <message name="ReviewDocumentRequest">
    <part name="ReviewDocumentRequest" element="trnws:ReviewDocumentRequest"/>
  </message>
  <message name="CostCentreDocumentRequest">
    <part name="CostCentreDocumentRequest" element="trnws:CostCentreDocumentRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="trnws:OptionsResponse"/>
  </message>
  <message name="CostCentreDocumentResponse">
    <part name="CostCentreDocumentResponse" element="trnws:CostCentreDocumentResponse"/>
  </message>
  <message name="CategoryDocumentRequest">
    <part name="CategoryDocumentRequest" element="trnws:CategoryDocumentRequest"/>
  </message>
  <message name="ValidateCategoryTransferRequest">
    <part name="ValidateCategoryTransferRequest" element="trnws:ValidateCategoryTransferRequest"/>
  </message>
  <message name="AssetDocumentRequest">
    <part name="AssetDocumentRequest" element="trnws:AssetDocumentRequest"/>
  </message>
  <message name="CancelPostResponse">
    <part name="CancelPostResponse" element="trnws:CancelPostResponse"/>
  </message>
  <message name="ReviewDocumentResponse">
    <part name="ReviewDocumentResponse" element="trnws:ReviewDocumentResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="trnws:Options"/>
  </message>
  <message name="PostDocumentResponse">
    <part name="PostDocumentResponse" element="trnws:PostDocumentResponse"/>
  </message>
  <message name="ValidateCategoryTransferResponse">
    <part name="ValidateCategoryTransferResponse" element="trnws:ValidateCategoryTransferResponse"/>
  </message>
  <message name="AssetDocumentResponse">
    <part name="AssetDocumentResponse" element="trnws:AssetDocumentResponse"/>
  </message>
  <portType name="TransferServicePortTypes">
    <operation name="CategoryDocument">
      <input message="trnws:CategoryDocumentRequest"/>
      <output message="trnws:CategoryDocumentResponse"/>
    </operation>
    <operation name="CostCentreDocument">
      <input message="trnws:CostCentreDocumentRequest"/>
      <output message="trnws:CostCentreDocumentResponse"/>
    </operation>
    <operation name="CancelPost">
      <input message="trnws:CancelPostRequest"/>
      <output message="trnws:CancelPostResponse"/>
    </operation>
    <operation name="AssetDocument">
      <input message="trnws:AssetDocumentRequest"/>
      <output message="trnws:AssetDocumentResponse"/>
    </operation>
    <operation name="ValidateCategoryTransfer">
      <input message="trnws:ValidateCategoryTransferRequest"/>
      <output message="trnws:ValidateCategoryTransferResponse"/>
    </operation>
    <operation name="ReviewDocument">
      <input message="trnws:ReviewDocumentRequest"/>
      <output message="trnws:ReviewDocumentResponse"/>
    </operation>
    <operation name="PostDocument">
      <input message="trnws:PostDocumentRequest"/>
      <output message="trnws:PostDocumentResponse"/>
    </operation>
  </portType>
  <binding name="TransferServiceSOAPBinding" type="trnws:TransferServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CategoryDocument">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Transfer/CategoryDocument" style="document"/>
      <input>
        <soap:header message="trnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="trnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CostCentreDocument">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Transfer/CostCentreDocument" style="document"/>
      <input>
        <soap:header message="trnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="trnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelPost">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Transfer/CancelPost" style="document"/>
      <input>
        <soap:header message="trnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="trnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AssetDocument">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Transfer/AssetDocument" style="document"/>
      <input>
        <soap:header message="trnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="trnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateCategoryTransfer">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Transfer/ValidateCategoryTransfer" style="document"/>
      <input>
        <soap:header message="trnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="trnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReviewDocument">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Transfer/ReviewDocument" style="document"/>
      <input>
        <soap:header message="trnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="trnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PostDocument">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Transfer/PostDocument" style="document"/>
      <input>
        <soap:header message="trnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="trnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TransferService">
    <port name="TransferServicePort" binding="trnws:TransferServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/assets/transfer/transfer-12.0"/>
    </port>
  </service>
</definitions>
