docs/Unit4 Financials HTML Documentation/wsdl/assets-depreciationmaster-depreciationmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/eassets/schemas/depreciationmaster/depreciationmaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:drmws="http://www.coda.com/eassets/schemas/depreciationmaster/depreciationmaster-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:drm="http://www.coda.com/eassets/schemas/depreciationmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/eassets/schemas/depreciationmaster/depreciationmaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/depreciationmaster" schemaLocation="../wsdl/assets/depreciationmaster/depreciationmaster.xsd"/>
    <xsd:element name="InUseAndChangedRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DepreciationMaster" type="drm:DepreciationMaster">
                    <xsd:annotation>
                        <xsd:documentation>The depreciation master that
                            you want to check.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to update the
                            depreciation master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the depreciation
                            master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            depreciation master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to delete the
                            depreciation master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the depreciation
                            master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDefaultMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the depreciation master you want to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="drm:DepreciationMasterReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            depreciation masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDefaultMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to get the default
                            depreciation master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the depreciation
                            master that you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DepreciationMaster" type="drm:DepreciationMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the depreciation
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to retrieve the
                            depreciation master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the depreciation
                            master that you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DepreciationMaster" type="drm:DepreciationMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the depreciation
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>The search results.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ListIsComplete" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If true, the records returned
                            are the complete results of the search. If
                            false, the results were truncated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DepreciationMaster" type="drm:DepreciationMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the depreciation master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to list the depreciation masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the depreciation
                            master(s) that you attempted to list.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MaxKeys" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>The maximum number of
                            depreciation masters that can be returned in
                            the list.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed depreciation masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the depreciation master you want to retrieve
                            from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DepreciationMaster" type="drm:DepreciationMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the depreciation master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to create the
                            depreciation master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the depreciation
                            master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            depreciation master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InUseAndChangedResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InUseAndChanged" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            depreciation master has changed and is
                            already referenced by an asset.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the depreciation master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="drmws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="drmws:OptionsResponse"/>
  </message>
  <message name="InUseAndChangedResponse">
    <part name="InUseAndChangedResponse" element="drmws:InUseAndChangedResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="drmws:GetRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="drmws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="drmws:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="drmws:DeleteResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="drmws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="drmws:GetResponse"/>
  </message>
  <message name="GetDefaultMasterResponse">
    <part name="GetDefaultMasterResponse" element="drmws:GetDefaultMasterResponse"/>
  </message>
  <message name="SearchResponse">
    <part name="SearchResponse" element="drmws:SearchResponse"/>
  </message>
  <message name="InUseAndChangedRequest">
    <part name="InUseAndChangedRequest" element="drmws:InUseAndChangedRequest"/>
  </message>
  <message name="GetDefaultMasterRequest">
    <part name="GetDefaultMasterRequest" element="drmws:GetDefaultMasterRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="drmws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="drmws:UpdateRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="drmws:Options"/>
  </message>
  <message name="SearchRequest">
    <part name="SearchRequest" element="drmws:SearchRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="drmws:ListRequest"/>
  </message>
  <portType name="DepreciationMasterServicePortTypes">
    <operation name="Add">
      <input message="drmws:AddRequest"/>
      <output message="drmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="drmws:DeleteRequest"/>
      <output message="drmws:DeleteResponse"/>
    </operation>
    <operation name="InUseAndChanged">
      <input message="drmws:InUseAndChangedRequest"/>
      <output message="drmws:InUseAndChangedResponse"/>
    </operation>
    <operation name="Get">
      <input message="drmws:GetRequest"/>
      <output message="drmws:GetResponse"/>
    </operation>
    <operation name="Search">
      <input message="drmws:SearchRequest"/>
      <output message="drmws:SearchResponse"/>
    </operation>
    <operation name="List">
      <input message="drmws:ListRequest"/>
      <output message="drmws:ListResponse"/>
    </operation>
    <operation name="GetDefaultMaster">
      <input message="drmws:GetDefaultMasterRequest"/>
      <output message="drmws:GetDefaultMasterResponse"/>
    </operation>
    <operation name="Update">
      <input message="drmws:UpdateRequest"/>
      <output message="drmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="DepreciationMasterServiceSOAPBinding" type="drmws:DepreciationMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/DepreciationMaster/Add" style="document"/>
      <input>
        <soap:header message="drmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="drmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/DepreciationMaster/Delete" style="document"/>
      <input>
        <soap:header message="drmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="drmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="InUseAndChanged">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/DepreciationMaster/InUseAndChanged" style="document"/>
      <input>
        <soap:header message="drmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="drmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/DepreciationMaster/Get" style="document"/>
      <input>
        <soap:header message="drmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="drmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Search">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/DepreciationMaster/Search" style="document"/>
      <input>
        <soap:header message="drmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="drmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/DepreciationMaster/List" style="document"/>
      <input>
        <soap:header message="drmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="drmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetDefaultMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/DepreciationMaster/GetDefaultMaster" style="document"/>
      <input>
        <soap:header message="drmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="drmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/DepreciationMaster/Update" style="document"/>
      <input>
        <soap:header message="drmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="drmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DepreciationMasterService">
    <port name="DepreciationMasterServicePort" binding="drmws:DepreciationMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/assets/depreciationmaster/depreciationmaster-12.0"/>
    </port>
  </service>
</definitions>
