docs/Unit4 Financials HTML Documentation/wsdl/assets-disposal-disposal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/eassets/schemas/disposal/disposal-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:disws="http://www.coda.com/eassets/schemas/disposal/disposal-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:rev="http://www.coda.com/eassets/schemas/reviewtransactions"
    xmlns:ass="http://www.coda.com/eassets/schemas/asset"
    xmlns:dis="http://www.coda.com/eassets/schemas/disposal"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:log="http://www.coda.com/common/schemas/logging"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:asscom="http://www.coda.com/eassets/schemas/common"
    targetNamespace="http://www.coda.com/eassets/schemas/disposal/disposal-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/eassets/schemas/asset" schemaLocation="assets/asset/asset.xsd"/>
    <xsd:import namespace="http://www.coda.com/eassets/schemas/disposal" schemaLocation="../wsdl/assets/disposal/disposal.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/logging" schemaLocation="common/logging/logging.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/reviewtransactions" schemaLocation="assets/reviewtransactions/reviewtransactions.xsd"/>
    <xsd:import namespace="http://www.coda.com/eassets/schemas/common" schemaLocation="assets/common/common.xsd"/>
    <xsd:element name="GetChildrenResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Assets" type="ass:AssetList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains details
                            of the child assets that have been retrieved.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Disposal" type="dis:Disposal">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            disposing assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReviewDocumentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Disposal" type="dis:Disposal">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            disposing assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            values that will be posted by the disposal process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CreateDocumentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Disposal" type="dis:Disposal">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            disposing assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            values that will be posted by the disposal process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelPostRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RunIDs" type="dis:RunIdList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of companies in which the disposal process
                            would have been run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Disposal" type="dis:Disposal">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters of the disposal process that you
                            wish to cancel.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsValid" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            disposal details specified in the
                            ValidateRequest corresponding to this
                            response are valid.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
                    <xsd:annotation>
                        <xsd:documentation>Contains the postings that
                            would be generated by this disposal process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReviewDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsReviewed" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            ReviewDocumentRequest corresponding to this
                            response was successful.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunIDs" type="dis:RunIdList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of companies in which the disposal process
                            will be run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
                    <xsd:annotation>
                        <xsd:documentation>Contains the postings that
                            will be generated by this disposal process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReviewTransactions" type="rev:ReviewTransactions">
                    <xsd:annotation>
                        <xsd:documentation>Contains the financial
                            transactions that will be generated by this
                            disposal process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostDocumentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Disposal" type="dis:Disposal">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            disposing assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            values that will be posted by the disposal process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelPostResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsCancelled" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            CancelPostRequest corresponding to this
                            response was successful.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CreateDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsCreated" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            CreateDocumentRequest corresponding to this
                            response was successful.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
                    <xsd:annotation>
                        <xsd:documentation>Contains the postings that
                            will be generated by this disposal process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsPosted" type="com:typeBool">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            PostDocumentRequest corresponding to this
                            response was successful.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunIDs" type="dis:RunIdList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of companies in which the disposal process
                            has been run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DisposalPostings" type="dis:DisposalPostings">
                    <xsd:annotation>
                        <xsd:documentation>Contains the postings that
                            have been generated by this disposal process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetChildrenRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AssetKey" type="ass:AssetKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains key information
                            identifying the asset(s) whose child assets
                            you want to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="CreateDocumentRequest">
    <part name="CreateDocumentRequest" element="disws:CreateDocumentRequest"/>
  </message>
  <message name="CancelPostResponse">
    <part name="CancelPostResponse" element="disws:CancelPostResponse"/>
  </message>
  <message name="ReviewDocumentResponse">
    <part name="ReviewDocumentResponse" element="disws:ReviewDocumentResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="disws:Options"/>
  </message>
  <message name="GetChildrenRequest">
    <part name="GetChildrenRequest" element="disws:GetChildrenRequest"/>
  </message>
  <message name="PostDocumentResponse">
    <part name="PostDocumentResponse" element="disws:PostDocumentResponse"/>
  </message>
  <message name="ValidateResponse">
    <part name="ValidateResponse" element="disws:ValidateResponse"/>
  </message>
  <message name="CreateDocumentResponse">
    <part name="CreateDocumentResponse" element="disws:CreateDocumentResponse"/>
  </message>
  <message name="ValidateRequest">
    <part name="ValidateRequest" element="disws:ValidateRequest"/>
  </message>
  <message name="ReviewDocumentRequest">
    <part name="ReviewDocumentRequest" element="disws:ReviewDocumentRequest"/>
  </message>
  <message name="GetChildrenResponse">
    <part name="GetChildrenResponse" element="disws:GetChildrenResponse"/>
  </message>
  <message name="CancelPostRequest">
    <part name="CancelPostRequest" element="disws:CancelPostRequest"/>
  </message>
  <message name="PostDocumentRequest">
    <part name="PostDocumentRequest" element="disws:PostDocumentRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="disws:OptionsResponse"/>
  </message>
  <portType name="DisposalServicePortTypes">
    <operation name="Validate">
      <input message="disws:ValidateRequest"/>
      <output message="disws:ValidateResponse"/>
    </operation>
    <operation name="CreateDocument">
      <input message="disws:CreateDocumentRequest"/>
      <output message="disws:CreateDocumentResponse"/>
    </operation>
    <operation name="CancelPost">
      <input message="disws:CancelPostRequest"/>
      <output message="disws:CancelPostResponse"/>
    </operation>
    <operation name="GetChildren">
      <input message="disws:GetChildrenRequest"/>
      <output message="disws:GetChildrenResponse"/>
    </operation>
    <operation name="ReviewDocument">
      <input message="disws:ReviewDocumentRequest"/>
      <output message="disws:ReviewDocumentResponse"/>
    </operation>
    <operation name="PostDocument">
      <input message="disws:PostDocumentRequest"/>
      <output message="disws:PostDocumentResponse"/>
    </operation>
  </portType>
  <binding name="DisposalServiceSOAPBinding" type="disws:DisposalServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Validate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Disposal/Validate" style="document"/>
      <input>
        <soap:header message="disws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="disws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateDocument">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Disposal/CreateDocument" style="document"/>
      <input>
        <soap:header message="disws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="disws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelPost">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Disposal/CancelPost" style="document"/>
      <input>
        <soap:header message="disws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="disws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetChildren">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Disposal/GetChildren" style="document"/>
      <input>
        <soap:header message="disws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="disws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReviewDocument">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Disposal/ReviewDocument" style="document"/>
      <input>
        <soap:header message="disws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="disws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PostDocument">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Disposal/PostDocument" style="document"/>
      <input>
        <soap:header message="disws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="disws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DisposalService">
    <port name="DisposalServicePort" binding="disws:DisposalServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/assets/disposal/disposal-14.0"/>
    </port>
  </service>
</definitions>
