docs/Unit4 Financials HTML Documentation/wsdl/assets-postingmaster-postrulemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/eassets/schemas/postingmaster/postrulemaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:postws="http://www.coda.com/eassets/schemas/postingmaster/postrulemaster-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ass="http://www.coda.com/eassets/schemas/asset"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:post="http://www.coda.com/eassets/schemas/postingmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/eassets/schemas/postingmaster/postrulemaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/eassets/schemas/asset" schemaLocation="assets/asset/asset.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/postingmaster" schemaLocation="../wsdl/assets/postingmaster/postingmaster.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to update the posting
                            rule master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the posting rule
                            master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            posting rule master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRuntimeAccountsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RuntimeAccounts" type="post:RuntimeAccounts">
                    <xsd:annotation>
                        <xsd:documentation>Contains details of the
                            run-time accounts used for the specified asset.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to delete the posting
                            rule master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the posting rule
                            master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="post:PostRuleReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            posting rule masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRuntimeAccountsListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Asset" type="ass:Asset">
                    <xsd:annotation>
                        <xsd:documentation>Contains asset details.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ResolveAccounts" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If true, any substitution
                            items in the account code are first
                            resolved. If false, they are not resolved.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to retrieve the posting
                            rule master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the posting rule
                            master that you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PostRuleMaster" type="post:PostRuleMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the posting rule
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>The search results.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ListIsComplete" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If true, the records returned
                            are the complete results of the search. If
                            false, the results were truncated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRuntimeAccountsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Asset" type="ass:Asset">
                    <xsd:annotation>
                        <xsd:documentation>Contains asset details.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PostRuleMaster" type="post:PostRuleMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the posting rule master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed posting rule masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the posting rule master you want to retrieve
                            from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PostRuleMaster" type="post:PostRuleMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the posting rule master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRuntimeAccountsListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RuntimeAccountsList" type="post:RuntimeAccountsList">
                    <xsd:annotation>
                        <xsd:documentation>Contains a list of the
                            run-time accounts used for the specified asset.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to create the posting
                            rule master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the posting rule
                            master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            posting rule master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the posting rule master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="postws:DeleteRequest"/>
  </message>
  <message name="GetRuntimeAccountsListRequest">
    <part name="GetRuntimeAccountsListRequest" element="postws:GetRuntimeAccountsListRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="postws:OptionsResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="postws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="postws:AddRequest"/>
  </message>
  <message name="GetRuntimeAccountsListResponse">
    <part name="GetRuntimeAccountsListResponse" element="postws:GetRuntimeAccountsListResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="postws:DeleteResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="postws:GetRequest"/>
  </message>
  <message name="GetRuntimeAccountsResponse">
    <part name="GetRuntimeAccountsResponse" element="postws:GetRuntimeAccountsResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="postws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="postws:AddResponse"/>
  </message>
  <message name="SearchResponse">
    <part name="SearchResponse" element="postws:SearchResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="postws:Options"/>
  </message>
  <message name="SearchRequest">
    <part name="SearchRequest" element="postws:SearchRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="postws:ListRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="postws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="postws:ListResponse"/>
  </message>
  <message name="GetRuntimeAccountsRequest">
    <part name="GetRuntimeAccountsRequest" element="postws:GetRuntimeAccountsRequest"/>
  </message>
  <portType name="PostRuleMasterServicePortTypes">
    <operation name="Add">
      <input message="postws:AddRequest"/>
      <output message="postws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="postws:DeleteRequest"/>
      <output message="postws:DeleteResponse"/>
    </operation>
    <operation name="GetRuntimeAccounts">
      <input message="postws:GetRuntimeAccountsRequest"/>
      <output message="postws:GetRuntimeAccountsResponse"/>
    </operation>
    <operation name="Get">
      <input message="postws:GetRequest"/>
      <output message="postws:GetResponse"/>
    </operation>
    <operation name="Search">
      <input message="postws:SearchRequest"/>
      <output message="postws:SearchResponse"/>
    </operation>
    <operation name="List">
      <input message="postws:ListRequest"/>
      <output message="postws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="postws:UpdateRequest"/>
      <output message="postws:UpdateResponse"/>
    </operation>
    <operation name="GetRuntimeAccountsList">
      <input message="postws:GetRuntimeAccountsListRequest"/>
      <output message="postws:GetRuntimeAccountsListResponse"/>
    </operation>
  </portType>
  <binding name="PostRuleMasterServiceSOAPBinding" type="postws:PostRuleMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/PostRuleMaster/Add" style="document"/>
      <input>
        <soap:header message="postws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="postws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/PostRuleMaster/Delete" style="document"/>
      <input>
        <soap:header message="postws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="postws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetRuntimeAccounts">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/PostRuleMaster/GetRuntimeAccounts" style="document"/>
      <input>
        <soap:header message="postws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="postws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/PostRuleMaster/Get" style="document"/>
      <input>
        <soap:header message="postws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="postws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Search">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/PostRuleMaster/Search" style="document"/>
      <input>
        <soap:header message="postws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="postws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/PostRuleMaster/List" style="document"/>
      <input>
        <soap:header message="postws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="postws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/PostRuleMaster/Update" style="document"/>
      <input>
        <soap:header message="postws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="postws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetRuntimeAccountsList">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/PostRuleMaster/GetRuntimeAccountsList" style="document"/>
      <input>
        <soap:header message="postws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="postws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PostRuleMasterService">
    <port name="PostRuleMasterServicePort" binding="postws:PostRuleMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/assets/postingmaster/postrulemaster-12.0"/>
    </port>
  </service>
</definitions>
