docs/Unit4 Financials HTML Documentation/wsdl/assets-assetselector-assetselector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/eassets/schemas/assetselector/assetselector-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:aslws="http://www.coda.com/eassets/schemas/assetselector/assetselector-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:asl="http://www.coda.com/eassets/schemas/assetselector"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/eassets/schemas/assetselector/assetselector-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/assetselector" schemaLocation="../wsdl/assets/assetselector/assetselector.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectAssetsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="sel:Selection">
                    <xsd:annotation>
                        <xsd:documentation>Contains the assets that are
                            selected from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectAssetsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelType" type="gsl:DetailsLocation">
                    <xsd:annotation>
                        <xsd:documentation>The code for the selector
                            master used to select assets from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="IncludeChildren" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Specifies whether children of
                            the selected parent assets should be
                            included in the selction.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RowLimit" minOccurs="0" type="com:typeULong">
                    <xsd:annotation>
                        <xsd:documentation>The maximum number of rows to
                            be returned. The default is 1000.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ApplicationFilter" type="gsl:VocListData">
                    <xsd:annotation>
                        <xsd:documentation>A list of criteria for
                            selecting assets supplied by the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="UserFilter" type="gsl:VocListData">
                    <xsd:annotation>
                        <xsd:documentation>A list of criteria for
                            selecting assets supplied by the user using
                            a generic selector master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Columns" type="sel:CellList">
                    <xsd:annotation>
                        <xsd:documentation>Each column specifies an item
                            of data that is returned for each selected asset.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="aslws:OptionsResponse"/>
  </message>
  <message name="SelectAssetsResponse">
    <part name="SelectAssetsResponse" element="aslws:SelectAssetsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="aslws:Options"/>
  </message>
  <message name="SelectAssetsRequest">
    <part name="SelectAssetsRequest" element="aslws:SelectAssetsRequest"/>
  </message>
  <portType name="AssetSelectorServicePortTypes">
    <operation name="SelectAssets">
      <input message="aslws:SelectAssetsRequest"/>
      <output message="aslws:SelectAssetsResponse"/>
    </operation>
  </portType>
  <binding name="AssetSelectorServiceSOAPBinding" type="aslws:AssetSelectorServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectAssets">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/AssetSelector/SelectAssets" style="document"/>
      <input>
        <soap:header message="aslws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="aslws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AssetSelectorService">
    <port name="AssetSelectorServicePort" binding="aslws:AssetSelectorServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/assets/assetselector/assetselector-1.0"/>
    </port>
  </service>
</definitions>
