docs/Unit4 Financials HTML Documentation/wsdl/assets-depreciation-depreciation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/eassets/schemas/depreciation/depreciation-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:depws="http://www.coda.com/eassets/schemas/depreciation/depreciation-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ass="http://www.coda.com/eassets/schemas/asset"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:tdt="http://www.coda.com/eassets/schemas/transactiondetails"
    xmlns:rev="http://www.coda.com/eassets/schemas/reviewtransactions"
    xmlns:tdo="http://www.coda.com/eassets/schemas/temporarydoc"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:dep="http://www.coda.com/eassets/schemas/depreciation"
    xmlns:acom="http://www.coda.com/eassets/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/eassets/schemas/depreciation/depreciation-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/eassets/schemas/asset" schemaLocation="assets/asset/asset.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/temporarydoc" schemaLocation="assets/temporarydoc/temporarydoc.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/depreciation" schemaLocation="../wsdl/assets/depreciation/depreciation.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/transactiondetails" schemaLocation="assets/transactiondetails/transactiondetails.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/reviewtransactions" schemaLocation="assets/reviewtransactions/reviewtransactions.xsd"/>
    <xsd:import namespace="http://www.coda.com/eassets/schemas/common" schemaLocation="assets/common/common.xsd"/>
    <xsd:element name="ReviewManualDepreciationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="ass:AssetKeyList">
                    <xsd:annotation>
                        <xsd:documentation>Contains a list of key
                            information for the assets you have
                            attempted to review.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CmpCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to review the manual
                            depreciation values.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying this
                            manual depreciation process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReviewTransactions" type="rev:ReviewTransactions">
                    <xsd:annotation>
                        <xsd:documentation>Contains the asset
                            transactions and financial transactions
                            generated by this manual depreciation process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReviewResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to review depreciation.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying the
                            depreciation run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReviewPostRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Depreciation" type="dep:Depreciation">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            running depreciation.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CmpCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which depreciation is being performed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying the
                            depreciation run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="EngineList" type="dep:DepreciationReviewEngineList">
                    <xsd:annotation>
                        <xsd:documentation>This element holds the list
                            of the depreciation processes that were
                            returned in response to the previous ReviewRequest.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelReviewedManualDepreciationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to cancel the review of
                            manual depreciation values.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying this
                            manual depreciation process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ManualDepreciationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="ass:AssetKeyList">
                    <xsd:annotation>
                        <xsd:documentation>Contains a list of key
                            information for the assets you have
                            attempted to manually depreciate.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CmpCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to run manual depreciation.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying this
                            manual depreciation process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StartResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" minOccurs="0" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to start a depreciation run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying the
                            depreciation run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReviewPostResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to post the depreciation
                            details that had been reviewed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying the
                            depreciation run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogId" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying the log
                            in which the details of this depreciation
                            process are stored.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DepreciationSummaryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DepreciationSummaryList" type="dep:DepreciationSummaryList">
                    <xsd:annotation>
                        <xsd:documentation>The details of the
                            depreciation summary you requested.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProgressResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PercentComplete" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>The percentage of the
                            depreciation run that has been completed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProgressRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which depreciation is being performed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying the
                            depreciation run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RecoverDepreciationSummaryRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company where
                            the depreciation summary exists.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying the
                            depreciation process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DepreciationSummaryRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RecoverDepreciationSummaryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Recovered" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If yes, indicates that the
                            depreciation summary has been recovered.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReviewManualDepreciationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReviewManualDepreciation" type="dep:ManualDepreciation">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            manually depreciating assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReviewDataRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which depreciation is being performed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying the
                            depreciation run.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="IncludeAssetTransactions" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Specifies whether to include
                            asset transactions in the review. When
                            FALSE, only financial transactions are
                            included in the review.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReviewRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Depreciation" type="dep:Depreciation">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            running depreciation.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StartRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Depreciation" type="dep:Depreciation">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            running depreciation.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ManualDepreciationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ManualDepreciation" type="dep:ManualDepreciation">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            manually depreciating assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostReviewedManualDepreciationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PostReviewedManualDepreciation" type="dep:PostReviewedManualDepreciation">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of the assets being depreciated, and the
                            parameters being used for this manual
                            depreciation process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteDepreciationSummaryRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company where
                            the depreciation summary exists.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying the
                            depreciation process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteDepreciationSummaryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Deleted" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If yes, indicates that the
                            depreciation summary has been deleted.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostReviewedManualDepreciationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="ass:AssetKeyList">
                    <xsd:annotation>
                        <xsd:documentation>Contains a list of key
                            information for the assets you have reviewed
                            and attempted to post.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CmpCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to post the manual
                            depreciation values that have been reviewed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RunNumber" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>A number identifying this
                            manual depreciation process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReviewDataResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FinancialData" type="tdo:TemporaryDocumentDetailList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the financial
                            transactions data that has been generated
                            for export to a spreadsheet file.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AssetData" type="tdt:TransactionTempDetailList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the asset
                            transactions data that has been generated
                            for export to a spreadsheet file.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelReviewedManualDepreciationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CancelReviewedManualDepreciation" type="dep:CancelReviewedManualDepreciation">
                    <xsd:annotation>
                        <xsd:documentation>This element contains
                            information identifying the manual
                            depreciation review process to cancel.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="PostReviewedManualDepreciationResponse">
    <part name="PostReviewedManualDepreciationResponse" element="depws:PostReviewedManualDepreciationResponse"/>
  </message>
  <message name="DepreciationSummaryRequest">
    <part name="DepreciationSummaryRequest" element="depws:DepreciationSummaryRequest"/>
  </message>
  <message name="ReviewResponse">
    <part name="ReviewResponse" element="depws:ReviewResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="depws:OptionsResponse"/>
  </message>
  <message name="ProgressRequest">
    <part name="ProgressRequest" element="depws:ProgressRequest"/>
  </message>
  <message name="DeleteDepreciationSummaryRequest">
    <part name="DeleteDepreciationSummaryRequest" element="depws:DeleteDepreciationSummaryRequest"/>
  </message>
  <message name="DepreciationSummaryResponse">
    <part name="DepreciationSummaryResponse" element="depws:DepreciationSummaryResponse"/>
  </message>
  <message name="ReviewPostRequest">
    <part name="ReviewPostRequest" element="depws:ReviewPostRequest"/>
  </message>
  <message name="CancelReviewedManualDepreciationResponse">
    <part name="CancelReviewedManualDepreciationResponse" element="depws:CancelReviewedManualDepreciationResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="depws:Options"/>
  </message>
  <message name="RecoverDepreciationSummaryResponse">
    <part name="RecoverDepreciationSummaryResponse" element="depws:RecoverDepreciationSummaryResponse"/>
  </message>
  <message name="ManualDepreciationRequest">
    <part name="ManualDepreciationRequest" element="depws:ManualDepreciationRequest"/>
  </message>
  <message name="StartResponse">
    <part name="StartResponse" element="depws:StartResponse"/>
  </message>
  <message name="ManualDepreciationResponse">
    <part name="ManualDepreciationResponse" element="depws:ManualDepreciationResponse"/>
  </message>
  <message name="DeleteDepreciationSummaryResponse">
    <part name="DeleteDepreciationSummaryResponse" element="depws:DeleteDepreciationSummaryResponse"/>
  </message>
  <message name="ReviewManualDepreciationRequest">
    <part name="ReviewManualDepreciationRequest" element="depws:ReviewManualDepreciationRequest"/>
  </message>
  <message name="ProgressResponse">
    <part name="ProgressResponse" element="depws:ProgressResponse"/>
  </message>
  <message name="ReviewManualDepreciationResponse">
    <part name="ReviewManualDepreciationResponse" element="depws:ReviewManualDepreciationResponse"/>
  </message>
  <message name="ReviewRequest">
    <part name="ReviewRequest" element="depws:ReviewRequest"/>
  </message>
  <message name="StartRequest">
    <part name="StartRequest" element="depws:StartRequest"/>
  </message>
  <message name="CancelReviewedManualDepreciationRequest">
    <part name="CancelReviewedManualDepreciationRequest" element="depws:CancelReviewedManualDepreciationRequest"/>
  </message>
  <message name="ReviewPostResponse">
    <part name="ReviewPostResponse" element="depws:ReviewPostResponse"/>
  </message>
  <message name="PostReviewedManualDepreciationRequest">
    <part name="PostReviewedManualDepreciationRequest" element="depws:PostReviewedManualDepreciationRequest"/>
  </message>
  <message name="ReviewDataResponse">
    <part name="ReviewDataResponse" element="depws:ReviewDataResponse"/>
  </message>
  <message name="RecoverDepreciationSummaryRequest">
    <part name="RecoverDepreciationSummaryRequest" element="depws:RecoverDepreciationSummaryRequest"/>
  </message>
  <message name="ReviewDataRequest">
    <part name="ReviewDataRequest" element="depws:ReviewDataRequest"/>
  </message>
  <portType name="DepreciationServicePortTypes">
    <operation name="ManualDepreciation">
      <input message="depws:ManualDepreciationRequest"/>
      <output message="depws:ManualDepreciationResponse"/>
    </operation>
    <operation name="Progress">
      <input message="depws:ProgressRequest"/>
      <output message="depws:ProgressResponse"/>
    </operation>
    <operation name="ReviewPost">
      <input message="depws:ReviewPostRequest"/>
      <output message="depws:ReviewPostResponse"/>
    </operation>
    <operation name="Start">
      <input message="depws:StartRequest"/>
      <output message="depws:StartResponse"/>
    </operation>
    <operation name="ReviewData">
      <input message="depws:ReviewDataRequest"/>
      <output message="depws:ReviewDataResponse"/>
    </operation>
    <operation name="PostReviewedManualDepreciation">
      <input message="depws:PostReviewedManualDepreciationRequest"/>
      <output message="depws:PostReviewedManualDepreciationResponse"/>
    </operation>
    <operation name="ReviewManualDepreciation">
      <input message="depws:ReviewManualDepreciationRequest"/>
      <output message="depws:ReviewManualDepreciationResponse"/>
    </operation>
    <operation name="Review">
      <input message="depws:ReviewRequest"/>
      <output message="depws:ReviewResponse"/>
    </operation>
    <operation name="CancelReviewedManualDepreciation">
      <input message="depws:CancelReviewedManualDepreciationRequest"/>
      <output message="depws:CancelReviewedManualDepreciationResponse"/>
    </operation>
    <operation name="DeleteDepreciationSummary">
      <input message="depws:DeleteDepreciationSummaryRequest"/>
      <output message="depws:DeleteDepreciationSummaryResponse"/>
    </operation>
    <operation name="RecoverDepreciationSummary">
      <input message="depws:RecoverDepreciationSummaryRequest"/>
      <output message="depws:RecoverDepreciationSummaryResponse"/>
    </operation>
    <operation name="DepreciationSummary">
      <input message="depws:DepreciationSummaryRequest"/>
      <output message="depws:DepreciationSummaryResponse"/>
    </operation>
  </portType>
  <binding name="DepreciationServiceSOAPBinding" type="depws:DepreciationServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ManualDepreciation">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/ManualDepreciation" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Progress">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/Progress" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReviewPost">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/ReviewPost" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Start">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/Start" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReviewData">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/ReviewData" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PostReviewedManualDepreciation">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/PostReviewedManualDepreciation" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReviewManualDepreciation">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/ReviewManualDepreciation" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Review">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/Review" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelReviewedManualDepreciation">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/CancelReviewedManualDepreciation" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteDepreciationSummary">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/DeleteDepreciationSummary" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RecoverDepreciationSummary">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/RecoverDepreciationSummary" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DepreciationSummary">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/Depreciation/DepreciationSummary" style="document"/>
      <input>
        <soap:header message="depws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="depws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DepreciationService">
    <port name="DepreciationServicePort" binding="depws:DepreciationServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/assets/depreciation/depreciation-12.0"/>
    </port>
  </service>
</definitions>
