docs/Unit4 Financials HTML Documentation/wsdl/assets-assetfinder-assetfinder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/eassets/schemas/assetfinder/assetfinder-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:asfws="http://www.coda.com/eassets/schemas/assetfinder/assetfinder-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:asf="http://www.coda.com/eassets/schemas/assetfinder"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/eassets/schemas/assetfinder/assetfinder-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/assetfinder" schemaLocation="../wsdl/assets/assetfinder/assetfinder.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="asf:AssetReqKey">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            assets to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="asf:AssetKeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains a list of keys
                            identifying the assets that have been
                            returned from the asset finder.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListIntrayResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="asf:AssetKeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains a list of keys
                            identifying the assets that have been
                            returned from the asset finder.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListChildrenRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="asf:AssetKeyData">
                    <xsd:annotation>
                        <xsd:documentation>This element contains key
                            information for the list of child assets.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="asf:AssetSearchDataList">
                    <xsd:annotation>
                        <xsd:documentation>The search results.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ListIsComplete" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If true, the records returned
                            are the complete results of the search. If
                            false, the results were truncated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListIntrayRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="asf:AssetReqKey">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            assets to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Intray" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>True to search the Assets
                            Intray, false to ignore the Assets Intray.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListChildrenResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="asf:AssetKeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains a list of keys
                            identifying the child assets that have been
                            returned from the asset finder.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="asfws:Options"/>
  </message>
  <message name="SearchRequest">
    <part name="SearchRequest" element="asfws:SearchRequest"/>
  </message>
  <message name="ListChildrenResponse">
    <part name="ListChildrenResponse" element="asfws:ListChildrenResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="asfws:ListRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="asfws:ListResponse"/>
  </message>
  <message name="ListIntrayResponse">
    <part name="ListIntrayResponse" element="asfws:ListIntrayResponse"/>
  </message>
  <message name="ListChildrenRequest">
    <part name="ListChildrenRequest" element="asfws:ListChildrenRequest"/>
  </message>
  <message name="ListIntrayRequest">
    <part name="ListIntrayRequest" element="asfws:ListIntrayRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="asfws:OptionsResponse"/>
  </message>
  <message name="SearchResponse">
    <part name="SearchResponse" element="asfws:SearchResponse"/>
  </message>
  <portType name="AssetFinderServicePortTypes">
    <operation name="ListChildren">
      <input message="asfws:ListChildrenRequest"/>
      <output message="asfws:ListChildrenResponse"/>
    </operation>
    <operation name="ListIntray">
      <input message="asfws:ListIntrayRequest"/>
      <output message="asfws:ListIntrayResponse"/>
    </operation>
    <operation name="Search">
      <input message="asfws:SearchRequest"/>
      <output message="asfws:SearchResponse"/>
    </operation>
    <operation name="List">
      <input message="asfws:ListRequest"/>
      <output message="asfws:ListResponse"/>
    </operation>
  </portType>
  <binding name="AssetFinderServiceSOAPBinding" type="asfws:AssetFinderServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ListChildren">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/AssetFinder/ListChildren" style="document"/>
      <input>
        <soap:header message="asfws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="asfws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListIntray">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/AssetFinder/ListIntray" style="document"/>
      <input>
        <soap:header message="asfws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="asfws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Search">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/AssetFinder/Search" style="document"/>
      <input>
        <soap:header message="asfws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="asfws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/AssetFinder/List" style="document"/>
      <input>
        <soap:header message="asfws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="asfws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AssetFinderService">
    <port name="AssetFinderServicePort" binding="asfws:AssetFinderServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/assets/assetfinder/assetfinder-12.0"/>
    </port>
  </service>
</definitions>
