docs/Unit4 Financials HTML Documentation/wsdl/assets-bookmaster-bookmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/eassets/schemas/bookmaster/bookmaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:bkmsws="http://www.coda.com/eassets/schemas/bookmaster/bookmaster-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:bkms="http://www.coda.com/eassets/schemas/bookmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:asscom="http://www.coda.com/eassets/schemas/common"
    targetNamespace="http://www.coda.com/eassets/schemas/bookmaster/bookmaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/eassets/schemas/bookmaster" schemaLocation="../wsdl/assets/bookmaster/bookmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/eassets/schemas/common" schemaLocation="assets/common/common.xsd"/>
    <xsd:element name="ListCurrencyBooksResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed book masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to update the book master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the book master
                            that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            book master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPostingBookResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to retrieve the posting
                            book master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BookMaster" type="bkms:BookMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the book master you want to set as the
                            posting book.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPostingBookRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the posting book you want to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to delete the book master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the book master
                            that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListAssociationBooksRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="bkms:bkmsReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            book masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="bkms:bkmsReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            book masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to retrieve the book master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the book master
                            that you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BookMaster" type="bkms:BookMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the book master you want to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListAssociationBooksResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed book masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>The search results.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ListIsComplete" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If true, the records returned
                            are the complete results of the search. If
                            false, the results were truncated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BookMaster" type="bkms:BookMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the book master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed book masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchAssociationBooksResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>The search results.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ListIsComplete" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If true, the records returned
                            are the complete results of the search. If
                            false, the results were truncated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the book master you want to retrieve from
                            the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BookMaster" type="bkms:BookMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the book master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListCurrencyBooksRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="bkms:bkmsReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            book masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to create the book master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the book master
                            that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            book master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchAssociationBooksRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:SearchFilter">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the book master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListResponse">
    <part name="ListResponse" element="bkmsws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="bkmsws:UpdateRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="bkmsws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="bkmsws:Options"/>
  </message>
  <message name="SearchRequest">
    <part name="SearchRequest" element="bkmsws:SearchRequest"/>
  </message>
  <message name="SearchResponse">
    <part name="SearchResponse" element="bkmsws:SearchResponse"/>
  </message>
  <message name="ListAssociationBooksRequest">
    <part name="ListAssociationBooksRequest" element="bkmsws:ListAssociationBooksRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="bkmsws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="bkmsws:GetResponse"/>
  </message>
  <message name="SearchAssociationBooksResponse">
    <part name="SearchAssociationBooksResponse" element="bkmsws:SearchAssociationBooksResponse"/>
  </message>
  <message name="SearchAssociationBooksRequest">
    <part name="SearchAssociationBooksRequest" element="bkmsws:SearchAssociationBooksRequest"/>
  </message>
  <message name="ListCurrencyBooksResponse">
    <part name="ListCurrencyBooksResponse" element="bkmsws:ListCurrencyBooksResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="bkmsws:GetRequest"/>
  </message>
  <message name="GetPostingBookRequest">
    <part name="GetPostingBookRequest" element="bkmsws:GetPostingBookRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="bkmsws:DeleteResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="bkmsws:AddRequest"/>
  </message>
  <message name="ListCurrencyBooksRequest">
    <part name="ListCurrencyBooksRequest" element="bkmsws:ListCurrencyBooksRequest"/>
  </message>
  <message name="ListAssociationBooksResponse">
    <part name="ListAssociationBooksResponse" element="bkmsws:ListAssociationBooksResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="bkmsws:UpdateResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="bkmsws:OptionsResponse"/>
  </message>
  <message name="GetPostingBookResponse">
    <part name="GetPostingBookResponse" element="bkmsws:GetPostingBookResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="bkmsws:DeleteRequest"/>
  </message>
  <portType name="BookMasterServicePortTypes">
    <operation name="Add">
      <input message="bkmsws:AddRequest"/>
      <output message="bkmsws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="bkmsws:DeleteRequest"/>
      <output message="bkmsws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="bkmsws:GetRequest"/>
      <output message="bkmsws:GetResponse"/>
    </operation>
    <operation name="Search">
      <input message="bkmsws:SearchRequest"/>
      <output message="bkmsws:SearchResponse"/>
    </operation>
    <operation name="ListCurrencyBooks">
      <input message="bkmsws:ListCurrencyBooksRequest"/>
      <output message="bkmsws:ListCurrencyBooksResponse"/>
    </operation>
    <operation name="List">
      <input message="bkmsws:ListRequest"/>
      <output message="bkmsws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="bkmsws:UpdateRequest"/>
      <output message="bkmsws:UpdateResponse"/>
    </operation>
    <operation name="ListAssociationBooks">
      <input message="bkmsws:ListAssociationBooksRequest"/>
      <output message="bkmsws:ListAssociationBooksResponse"/>
    </operation>
    <operation name="GetPostingBook">
      <input message="bkmsws:GetPostingBookRequest"/>
      <output message="bkmsws:GetPostingBookResponse"/>
    </operation>
    <operation name="SearchAssociationBooks">
      <input message="bkmsws:SearchAssociationBooksRequest"/>
      <output message="bkmsws:SearchAssociationBooksResponse"/>
    </operation>
  </portType>
  <binding name="BookMasterServiceSOAPBinding" type="bkmsws:BookMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/BookMaster/Add" style="document"/>
      <input>
        <soap:header message="bkmsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bkmsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/BookMaster/Delete" style="document"/>
      <input>
        <soap:header message="bkmsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bkmsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/BookMaster/Get" style="document"/>
      <input>
        <soap:header message="bkmsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bkmsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Search">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/BookMaster/Search" style="document"/>
      <input>
        <soap:header message="bkmsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bkmsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListCurrencyBooks">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/BookMaster/ListCurrencyBooks" style="document"/>
      <input>
        <soap:header message="bkmsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bkmsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/BookMaster/List" style="document"/>
      <input>
        <soap:header message="bkmsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bkmsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/BookMaster/Update" style="document"/>
      <input>
        <soap:header message="bkmsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bkmsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListAssociationBooks">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/BookMaster/ListAssociationBooks" style="document"/>
      <input>
        <soap:header message="bkmsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bkmsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetPostingBook">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/BookMaster/GetPostingBook" style="document"/>
      <input>
        <soap:header message="bkmsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bkmsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SearchAssociationBooks">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/assets/BookMaster/SearchAssociationBooks" style="document"/>
      <input>
        <soap:header message="bkmsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bkmsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BookMasterService">
    <port name="BookMasterServicePort" binding="bkmsws:BookMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/assets/bookmaster/bookmaster-12.0"/>
    </port>
  </service>
</definitions>
