docs/Unit4 Financials HTML Documentation/wsdl/billing-itemmaster-itemmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/billing/schemas/itemmaster/itemmaster-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:blsitmws="http://www.coda.com/billing/schemas/itemmaster/itemmaster-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:accmask="http://www.coda.com/billing/schemas/accountmask"
    xmlns:blsitm="http://www.coda.com/billing/schemas/itemmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/billing/schemas/itemmaster/itemmaster-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/billing/schemas/itemmaster" schemaLocation="../wsdl/billing/itemmaster/itemmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/billing/schemas/accountmask" schemaLocation="billing/accountmask/accountmask.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemMaster" type="blsitm:ItemMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateItemParentsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteItemsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemsKeyList" type="blsitm:ItemMasterKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the keys identifying the
                                item masters to delete.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ItemMaster objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ItemMaster objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToggleInactiveItemsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemsKeyList" type="blsitm:ItemMasterKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the keys identifying the
                                item masters to delete.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Inactive" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Change items to inactive or
                            active.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemMasterList" type="blsitm:ItemMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToggleInactiveItemsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemMaster" type="blsitm:ItemMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemMaster" type="blsitm:ItemMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole ItemMaster object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateItemParentsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemsKeyList" type="blsitm:ItemMasterKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the keys identifying the
                                item masters to update.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Parent" minOccurs="0" type="blsitm:ItemGroupKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The parent item group.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteItemsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemMasterItemList" type="blsitm:ItemMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemMasterKey" type="blsitm:ItemMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the ItemMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemMaster" type="blsitm:ItemMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole ItemMaster object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemMaster" type="blsitm:ItemMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemMasterKey" type="blsitm:ItemMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the ItemMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetRequest">
    <part name="GetRequest" element="blsitmws:GetRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="blsitmws:DeleteResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="blsitmws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="blsitmws:UpdateResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="blsitmws:OptionsResponse"/>
  </message>
  <message name="DeleteItemsRequest">
    <part name="DeleteItemsRequest" element="blsitmws:DeleteItemsRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="blsitmws:DeleteRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="blsitmws:FindRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="blsitmws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="blsitmws:UpdateRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="blsitmws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="blsitmws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="blsitmws:FindResponse"/>
  </message>
  <message name="UpdateItemParentsRequest">
    <part name="UpdateItemParentsRequest" element="blsitmws:UpdateItemParentsRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="blsitmws:AddResponse"/>
  </message>
  <message name="UpdateItemParentsResponse">
    <part name="UpdateItemParentsResponse" element="blsitmws:UpdateItemParentsResponse"/>
  </message>
  <message name="ToggleInactiveItemsResponse">
    <part name="ToggleInactiveItemsResponse" element="blsitmws:ToggleInactiveItemsResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="blsitmws:GetResponse"/>
  </message>
  <message name="ToggleInactiveItemsRequest">
    <part name="ToggleInactiveItemsRequest" element="blsitmws:ToggleInactiveItemsRequest"/>
  </message>
  <message name="DeleteItemsResponse">
    <part name="DeleteItemsResponse" element="blsitmws:DeleteItemsResponse"/>
  </message>
  <portType name="ItemMasterServicePortTypes">
    <operation name="Delete">
      <input message="blsitmws:DeleteRequest"/>
      <output message="blsitmws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="blsitmws:AddRequest"/>
      <output message="blsitmws:AddResponse"/>
    </operation>
    <operation name="DeleteItems">
      <input message="blsitmws:DeleteItemsRequest"/>
      <output message="blsitmws:DeleteItemsResponse"/>
    </operation>
    <operation name="ToggleInactiveItems">
      <input message="blsitmws:ToggleInactiveItemsRequest"/>
      <output message="blsitmws:ToggleInactiveItemsResponse"/>
    </operation>
    <operation name="UpdateItemParents">
      <input message="blsitmws:UpdateItemParentsRequest"/>
      <output message="blsitmws:UpdateItemParentsResponse"/>
    </operation>
    <operation name="Get">
      <input message="blsitmws:GetRequest"/>
      <output message="blsitmws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="blsitmws:FindRequest"/>
      <output message="blsitmws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="blsitmws:ListRequest"/>
      <output message="blsitmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="blsitmws:UpdateRequest"/>
      <output message="blsitmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="ItemMasterServiceSOAPBinding" type="blsitmws:ItemMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemMaster/Delete" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemMaster/Add" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteItems">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemMaster/DeleteItems" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ToggleInactiveItems">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemMaster/ToggleInactiveItems" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateItemParents">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemMaster/UpdateItemParents" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemMaster/Get" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemMaster/Find" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemMaster/List" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemMaster/Update" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ItemMasterService">
    <port name="ItemMasterServicePort" binding="blsitmws:ItemMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/billing/itemmaster/itemmaster-14.0"/>
    </port>
  </service>
</definitions>
