docs/Unit4 Financials HTML Documentation/wsdl/billing-transaction-transaction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/billing/schemas/transaction/transaction-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:blstrsws="http://www.coda.com/billing/schemas/transaction/transaction-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:billtype="http://www.coda.com/billing/schemas/common"
    xmlns:elmmas="http://www.coda.com/efinance/schemas/element"
    xmlns:billingtypes="http://www.coda.com/billing/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:blstrs="http://www.coda.com/billing/schemas/transaction"
    xmlns:datatypes="http://www.coda.com/common/schemas/datatypes"
    targetNamespace="http://www.coda.com/billing/schemas/transaction/transaction-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/billing/schemas/transaction" schemaLocation="../wsdl/billing/transaction/transaction.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/datatypes" schemaLocation="common/datatypes/datatypes.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/element" schemaLocation="finance/element/element.xsd"/>
    <xsd:import namespace="http://www.coda.com/billing/schemas/common" schemaLocation="billing/common/common.xsd"/>
    <xsd:element name="AuthoriseRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transaction" type="blstrs:TransactionKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the key of the transaction
                                you want to authorise.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="WorkflowComment" minOccurs="0" type="com:typeTextB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Optional comment to use when
                                authorising the transaction.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="User" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The authorising user.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Post" type="blstrs:PostResults">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the post function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DenyResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transaction" type="blstrs:Transaction">
                    <xsd:annotation>
                        <xsd:documentation>The transaction is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AuthoriseResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Delete" type="blstrs:DeleteResults">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            delete function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateTransactionLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transaction" type="blstrs:Transaction">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The transaction that we want to
                                validate its lines</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IssueResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Issue" type="blstrs:IssueResults">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the issue function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AvailableIssueTypesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Types" minOccurs="0"
                    maxOccurs="unbounded" type="com:typeGenericOon">
                    <xsd:annotation>
                        <xsd:documentation>The types is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetTransactionHistoryRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transaction" type="blstrs:TransactionKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the key of the transaction
                                you want the history for.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CalculateTaxRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transaction" type="blstrs:Transaction">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The transaction for which tax should
                                be calculated</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResetAuthorisationStatusAndWorkflowRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transaction" type="blstrs:TransactionKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the key of the transaction
                                you want to reset.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="User" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The user resetting the authorisation
                            status.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TransactionKeyList" type="blstrs:TransactionKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the keys identifying the
                                bills that you want to post.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogTitle" type="com:typeComLogtitle">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The post log title.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogLevel" type="billtype:typeBillingLogLevel">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The post log level.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PeriodType" type="billtype:typeBillingPeriodType">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>How to set the posting period.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Period" minOccurs="0" type="com:typeHsPeriodb">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The posting period (if required).</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BackgroundTask" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Whether to start the posting process
                                as a background task.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transaction" type="blstrs:Transaction">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResetAuthorisationStatusAndWorkflowResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetTransactionHistoryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TransactionHistory" minOccurs="0"
                    maxOccurs="unbounded" type="blstrs:TransactionHistory">
                    <xsd:annotation>
                        <xsd:documentation>The transactionHistory is an
                            out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AvailableIssueTypesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TransactionKeyList" type="blstrs:TransactionKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the keys identifying the
                                transactions that we want to determine
                                the issue types for</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transaction" type="blstrs:Transaction">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The transaction to add.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="WorkflowCode" minOccurs="0" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The workflow code when submitting for
                            authorisation.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="HierarchyCode" minOccurs="0" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The position hierarchy to pass to the
                                authorisation workflow.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="UserCode" minOccurs="0" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The user to pass to the authorisation
                            workflow.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IssueRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TransactionKeyList" type="blstrs:TransactionKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the keys identifying the
                                transactions that you want to issue.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PrintOptionsMasterCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The print option master code.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="IssueType" type="billtype:typeBillingIssueType">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The issue type.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogTitle" type="com:typeComLogtitle">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The issue log title.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogLevel" type="billtype:typeBillingLogLevel">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The issue log level.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BackgroundTask" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Whether to start the issuing process
                                as a background task.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="IssueAsXml" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Whether to issue as Xml.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateTransactionLinesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ValidateTransactionLines" type="blstrs:LineValidationResults">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            validateTransactionLines function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TransactionKey" type="blstrs:TransactionKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Transaction object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DenyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transaction" type="blstrs:TransactionKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the key of the transaction
                                you want to deny.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="WorkflowComment" minOccurs="0" type="com:typeTextB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Optional comment to use when denying
                                the transaction.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="User" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The denying user.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transaction" type="blstrs:Transaction">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The transaction to add.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="WorkflowCode" minOccurs="0" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The workflow code when submitting for
                            authorisation.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="HierarchyCode" minOccurs="0" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The position hierarchy to pass to the
                                authorisation workflow.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="UserCode" minOccurs="0" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The user to pass to the authorisation
                            workflow.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transaction" type="blstrs:Transaction">
                    <xsd:annotation>
                        <xsd:documentation>The transaction is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CalculateTaxResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TaxCalculationResult" minOccurs="0"
                    maxOccurs="unbounded" type="blstrs:TaxCalculationResult">
                    <xsd:annotation>
                        <xsd:documentation>The taxCalculationResult is
                            an out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TransactionKeyList" type="blstrs:TransactionKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the keys identifying the
                                bills that you want to delete.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DenyResponse">
    <part name="DenyResponse" element="blstrsws:DenyResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="blstrsws:AddResponse"/>
  </message>
  <message name="GetTransactionHistoryResponse">
    <part name="GetTransactionHistoryResponse" element="blstrsws:GetTransactionHistoryResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="blstrsws:GetResponse"/>
  </message>
  <message name="ResetAuthorisationStatusAndWorkflowResponse">
    <part name="ResetAuthorisationStatusAndWorkflowResponse" element="blstrsws:ResetAuthorisationStatusAndWorkflowResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="blstrsws:UpdateRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="blstrsws:DeleteRequest"/>
  </message>
  <message name="PostRequest">
    <part name="PostRequest" element="blstrsws:PostRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="blstrsws:DeleteResponse"/>
  </message>
  <message name="ResetAuthorisationStatusAndWorkflowRequest">
    <part name="ResetAuthorisationStatusAndWorkflowRequest" element="blstrsws:ResetAuthorisationStatusAndWorkflowRequest"/>
  </message>
  <message name="CalculateTaxRequest">
    <part name="CalculateTaxRequest" element="blstrsws:CalculateTaxRequest"/>
  </message>
  <message name="GetTransactionHistoryRequest">
    <part name="GetTransactionHistoryRequest" element="blstrsws:GetTransactionHistoryRequest"/>
  </message>
  <message name="AvailableIssueTypesRequest">
    <part name="AvailableIssueTypesRequest" element="blstrsws:AvailableIssueTypesRequest"/>
  </message>
  <message name="AuthoriseResponse">
    <part name="AuthoriseResponse" element="blstrsws:AuthoriseResponse"/>
  </message>
  <message name="ValidateTransactionLinesRequest">
    <part name="ValidateTransactionLinesRequest" element="blstrsws:ValidateTransactionLinesRequest"/>
  </message>
  <message name="CalculateTaxResponse">
    <part name="CalculateTaxResponse" element="blstrsws:CalculateTaxResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="blstrsws:Options"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="blstrsws:OptionsResponse"/>
  </message>
  <message name="PostResponse">
    <part name="PostResponse" element="blstrsws:PostResponse"/>
  </message>
  <message name="ValidateTransactionLinesResponse">
    <part name="ValidateTransactionLinesResponse" element="blstrsws:ValidateTransactionLinesResponse"/>
  </message>
  <message name="AuthoriseRequest">
    <part name="AuthoriseRequest" element="blstrsws:AuthoriseRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="blstrsws:GetRequest"/>
  </message>
  <message name="DenyRequest">
    <part name="DenyRequest" element="blstrsws:DenyRequest"/>
  </message>
  <message name="IssueResponse">
    <part name="IssueResponse" element="blstrsws:IssueResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="blstrsws:AddRequest"/>
  </message>
  <message name="IssueRequest">
    <part name="IssueRequest" element="blstrsws:IssueRequest"/>
  </message>
  <message name="AvailableIssueTypesResponse">
    <part name="AvailableIssueTypesResponse" element="blstrsws:AvailableIssueTypesResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="blstrsws:UpdateResponse"/>
  </message>
  <portType name="TransactionServicePortTypes">
    <operation name="Add">
      <input message="blstrsws:AddRequest"/>
      <output message="blstrsws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="blstrsws:DeleteRequest"/>
      <output message="blstrsws:DeleteResponse"/>
    </operation>
    <operation name="Issue">
      <input message="blstrsws:IssueRequest"/>
      <output message="blstrsws:IssueResponse"/>
    </operation>
    <operation name="Post">
      <input message="blstrsws:PostRequest"/>
      <output message="blstrsws:PostResponse"/>
    </operation>
    <operation name="GetTransactionHistory">
      <input message="blstrsws:GetTransactionHistoryRequest"/>
      <output message="blstrsws:GetTransactionHistoryResponse"/>
    </operation>
    <operation name="AvailableIssueTypes">
      <input message="blstrsws:AvailableIssueTypesRequest"/>
      <output message="blstrsws:AvailableIssueTypesResponse"/>
    </operation>
    <operation name="Update">
      <input message="blstrsws:UpdateRequest"/>
      <output message="blstrsws:UpdateResponse"/>
    </operation>
    <operation name="Deny">
      <input message="blstrsws:DenyRequest"/>
      <output message="blstrsws:DenyResponse"/>
    </operation>
    <operation name="ResetAuthorisationStatusAndWorkflow">
      <input message="blstrsws:ResetAuthorisationStatusAndWorkflowRequest"/>
      <output message="blstrsws:ResetAuthorisationStatusAndWorkflowResponse"/>
    </operation>
    <operation name="Authorise">
      <input message="blstrsws:AuthoriseRequest"/>
      <output message="blstrsws:AuthoriseResponse"/>
    </operation>
    <operation name="Get">
      <input message="blstrsws:GetRequest"/>
      <output message="blstrsws:GetResponse"/>
    </operation>
    <operation name="CalculateTax">
      <input message="blstrsws:CalculateTaxRequest"/>
      <output message="blstrsws:CalculateTaxResponse"/>
    </operation>
    <operation name="ValidateTransactionLines">
      <input message="blstrsws:ValidateTransactionLinesRequest"/>
      <output message="blstrsws:ValidateTransactionLinesResponse"/>
    </operation>
  </portType>
  <binding name="TransactionServiceSOAPBinding" type="blstrsws:TransactionServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/Add" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/Delete" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Issue">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/Issue" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Post">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/Post" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetTransactionHistory">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/GetTransactionHistory" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AvailableIssueTypes">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/AvailableIssueTypes" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/Update" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Deny">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/Deny" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ResetAuthorisationStatusAndWorkflow">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/ResetAuthorisationStatusAndWorkflow" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Authorise">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/Authorise" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/Get" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CalculateTax">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/CalculateTax" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateTransactionLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/Transaction/ValidateTransactionLines" style="document"/>
      <input>
        <soap:header message="blstrsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blstrsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TransactionService">
    <port name="TransactionServicePort" binding="blstrsws:TransactionServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/billing/transaction/transaction-14.0"/>
    </port>
  </service>
</definitions>
