docs/Unit4 Financials HTML Documentation/wsdl/billing-vocabularyitems-vocabularyitems.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/billing/schemas/vocabularyitems/vocabularyitems-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:blsvocabsws="http://www.coda.com/billing/schemas/vocabularyitems/vocabularyitems-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:blsvocabs="http://www.coda.com/billing/schemas/vocabularyitems"
    targetNamespace="http://www.coda.com/billing/schemas/vocabularyitems/vocabularyitems-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/billing/schemas/vocabularyitems" schemaLocation="../wsdl/billing/vocabularyitems/vocabularyitems.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetVocabsRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetVocabsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Vocabs" minOccurs="0"
                    maxOccurs="unbounded" type="blsvocabs:Vocabulary">
                    <xsd:annotation>
                        <xsd:documentation>The vocabs is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="blsvocabsws:Options"/>
  </message>
  <message name="GetVocabsResponse">
    <part name="GetVocabsResponse" element="blsvocabsws:GetVocabsResponse"/>
  </message>
  <message name="GetVocabsRequest">
    <part name="GetVocabsRequest" element="blsvocabsws:GetVocabsRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="blsvocabsws:OptionsResponse"/>
  </message>
  <portType name="VocabularyItemsServicePortTypes">
    <operation name="GetVocabs">
      <input message="blsvocabsws:GetVocabsRequest"/>
      <output message="blsvocabsws:GetVocabsResponse"/>
    </operation>
  </portType>
  <binding name="VocabularyItemsServiceSOAPBinding" type="blsvocabsws:VocabularyItemsServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetVocabs">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/VocabularyItems/GetVocabs" style="document"/>
      <input>
        <soap:header message="blsvocabsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsvocabsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="VocabularyItemsService">
    <port name="VocabularyItemsServicePort" binding="blsvocabsws:VocabularyItemsServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/billing/vocabularyitems/vocabularyitems-14.0"/>
    </port>
  </service>
</definitions>
