docs/Unit4 Financials HTML Documentation/wsdl/billing-itemmaster-itemgroup.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/billing/schemas/itemmaster/itemgroup-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:blsitmws="http://www.coda.com/billing/schemas/itemmaster/itemgroup-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:accmask="http://www.coda.com/billing/schemas/accountmask"
    xmlns:blsitm="http://www.coda.com/billing/schemas/itemmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/billing/schemas/itemmaster/itemgroup-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/billing/schemas/itemmaster" schemaLocation="../wsdl/billing/itemmaster/itemmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/billing/schemas/accountmask" schemaLocation="billing/accountmask/accountmask.xsd"/>
    <xsd:element name="ListGroupRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ItemGroup objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteGroupRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemGroupKey" type="blsitm:ItemGroupKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the ItemGroup object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteGroupResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateGroupRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemGroup" type="blsitm:ItemGroup">
                    <xsd:annotation>
                        <xsd:documentation>The whole ItemGroup object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateGroupsParentsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemsKeyList" type="blsitm:ItemGroupKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the keys identifying the
                                item groups to update.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Parent" minOccurs="0" type="blsitm:ItemGroupKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The parent item group.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateGroupResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemGroup" type="blsitm:ItemGroup">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            updateGroup function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindGroupResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemGroupList" type="blsitm:ItemGroupList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            findGroup function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddGroupRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemGroup" type="blsitm:ItemGroup">
                    <xsd:annotation>
                        <xsd:documentation>The whole ItemGroup object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateGroupsParentsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListGroupResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemGroupItemList" type="blsitm:ItemGroupItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listGroup function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteGroupsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteGroupsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemsKeyList" type="blsitm:ItemGroupKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the keys identifying the
                                group masters to delete.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetGroupResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemGroup" type="blsitm:ItemGroup">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getGroup function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindGroupRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ItemGroup objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddGroupResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemGroup" type="blsitm:ItemGroup">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            addGroup function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetGroupRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemGroupKey" type="blsitm:ItemGroupKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the ItemGroup object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteGroupRequest">
    <part name="DeleteGroupRequest" element="blsitmws:DeleteGroupRequest"/>
  </message>
  <message name="DeleteGroupsRequest">
    <part name="DeleteGroupsRequest" element="blsitmws:DeleteGroupsRequest"/>
  </message>
  <message name="UpdateGroupRequest">
    <part name="UpdateGroupRequest" element="blsitmws:UpdateGroupRequest"/>
  </message>
  <message name="AddGroupResponse">
    <part name="AddGroupResponse" element="blsitmws:AddGroupResponse"/>
  </message>
  <message name="FindGroupRequest">
    <part name="FindGroupRequest" element="blsitmws:FindGroupRequest"/>
  </message>
  <message name="GetGroupRequest">
    <part name="GetGroupRequest" element="blsitmws:GetGroupRequest"/>
  </message>
  <message name="DeleteGroupsResponse">
    <part name="DeleteGroupsResponse" element="blsitmws:DeleteGroupsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="blsitmws:Options"/>
  </message>
  <message name="ListGroupResponse">
    <part name="ListGroupResponse" element="blsitmws:ListGroupResponse"/>
  </message>
  <message name="AddGroupRequest">
    <part name="AddGroupRequest" element="blsitmws:AddGroupRequest"/>
  </message>
  <message name="ListGroupRequest">
    <part name="ListGroupRequest" element="blsitmws:ListGroupRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="blsitmws:OptionsResponse"/>
  </message>
  <message name="FindGroupResponse">
    <part name="FindGroupResponse" element="blsitmws:FindGroupResponse"/>
  </message>
  <message name="GetGroupResponse">
    <part name="GetGroupResponse" element="blsitmws:GetGroupResponse"/>
  </message>
  <message name="UpdateGroupsParentsResponse">
    <part name="UpdateGroupsParentsResponse" element="blsitmws:UpdateGroupsParentsResponse"/>
  </message>
  <message name="DeleteGroupResponse">
    <part name="DeleteGroupResponse" element="blsitmws:DeleteGroupResponse"/>
  </message>
  <message name="UpdateGroupsParentsRequest">
    <part name="UpdateGroupsParentsRequest" element="blsitmws:UpdateGroupsParentsRequest"/>
  </message>
  <message name="UpdateGroupResponse">
    <part name="UpdateGroupResponse" element="blsitmws:UpdateGroupResponse"/>
  </message>
  <portType name="ItemGroupServicePortTypes">
    <operation name="GetGroup">
      <input message="blsitmws:GetGroupRequest"/>
      <output message="blsitmws:GetGroupResponse"/>
    </operation>
    <operation name="AddGroup">
      <input message="blsitmws:AddGroupRequest"/>
      <output message="blsitmws:AddGroupResponse"/>
    </operation>
    <operation name="FindGroup">
      <input message="blsitmws:FindGroupRequest"/>
      <output message="blsitmws:FindGroupResponse"/>
    </operation>
    <operation name="ListGroup">
      <input message="blsitmws:ListGroupRequest"/>
      <output message="blsitmws:ListGroupResponse"/>
    </operation>
    <operation name="UpdateGroupsParents">
      <input message="blsitmws:UpdateGroupsParentsRequest"/>
      <output message="blsitmws:UpdateGroupsParentsResponse"/>
    </operation>
    <operation name="DeleteGroups">
      <input message="blsitmws:DeleteGroupsRequest"/>
      <output message="blsitmws:DeleteGroupsResponse"/>
    </operation>
    <operation name="DeleteGroup">
      <input message="blsitmws:DeleteGroupRequest"/>
      <output message="blsitmws:DeleteGroupResponse"/>
    </operation>
    <operation name="UpdateGroup">
      <input message="blsitmws:UpdateGroupRequest"/>
      <output message="blsitmws:UpdateGroupResponse"/>
    </operation>
  </portType>
  <binding name="ItemGroupServiceSOAPBinding" type="blsitmws:ItemGroupServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetGroup">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemGroup/GetGroup" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddGroup">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemGroup/AddGroup" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FindGroup">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemGroup/FindGroup" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListGroup">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemGroup/ListGroup" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateGroupsParents">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemGroup/UpdateGroupsParents" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteGroups">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemGroup/DeleteGroups" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteGroup">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemGroup/DeleteGroup" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateGroup">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/ItemGroup/UpdateGroup" style="document"/>
      <input>
        <soap:header message="blsitmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ItemGroupService">
    <port name="ItemGroupServicePort" binding="blsitmws:ItemGroupServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/billing/itemmaster/itemgroup-14.0"/>
    </port>
  </service>
</definitions>
