docs/Unit4 Financials HTML Documentation/wsdl/billing-inputtemplatemaster-inputtemplatemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/billing/schemas/inputtemplatemaster/inputtemplatemaster-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:blsitpws="http://www.coda.com/billing/schemas/inputtemplatemaster/inputtemplatemaster-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:ffm="http://www.coda.com/common/schemas/flexifieldmaster"
    xmlns:blsitp="http://www.coda.com/billing/schemas/inputtemplatemaster"
    xmlns:blsdoc="http://www.coda.com/billing/schemas/documentmaster"
    xmlns:tra="http://www.coda.com/common/schemas/translation"
    xmlns:billingtypes="http://www.coda.com/billing/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/billing/schemas/inputtemplatemaster/inputtemplatemaster-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/translation" schemaLocation="common/translation/translation.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/billing/schemas/inputtemplatemaster" schemaLocation="../wsdl/billing/inputtemplatemaster/inputtemplatemaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/billing/schemas/documentmaster" schemaLocation="billing/documentmaster/documentmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/flexifieldmaster" schemaLocation="common/flexifieldmaster/flexifieldmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/billing/schemas/common" schemaLocation="billing/common/common.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMaster" type="blsitp:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListFlexiFieldMastersRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the FlexiFieldMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="blsitp:PickBillingTemplateQuery">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the InputTemplateMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetFlexiFieldMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMasterKey" type="ffm:FlexiFieldMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            FlexiFieldMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListFlexiFieldMastersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMasterItemList" type="ffm:FlexiFieldMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listFlexiFieldMasters function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMasterList" type="blsitp:InputTemplateMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMaster" type="blsitp:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetFlexiFieldMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMaster" type="ffm:FlexiFieldMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getFlexiFieldMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMaster" type="blsitp:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole InputTemplateMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="List" type="blsitp:BillingInputTemplatePickList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMasterKey" type="blsitp:InputTemplateMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            InputTemplateMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMaster" type="blsitp:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole InputTemplateMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMaster" type="blsitp:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMasterKey" type="blsitp:InputTemplateMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            InputTemplateMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="blsitpws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="blsitpws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="blsitpws:ListRequest"/>
  </message>
  <message name="ListFlexiFieldMastersResponse">
    <part name="ListFlexiFieldMastersResponse" element="blsitpws:ListFlexiFieldMastersResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="blsitpws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="blsitpws:ListResponse"/>
  </message>
  <message name="GetFlexiFieldMasterResponse">
    <part name="GetFlexiFieldMasterResponse" element="blsitpws:GetFlexiFieldMasterResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="blsitpws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="blsitpws:AddResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="blsitpws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="blsitpws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="blsitpws:DeleteResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="blsitpws:GetRequest"/>
  </message>
  <message name="GetFlexiFieldMasterRequest">
    <part name="GetFlexiFieldMasterRequest" element="blsitpws:GetFlexiFieldMasterRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="blsitpws:FindRequest"/>
  </message>
  <message name="ListFlexiFieldMastersRequest">
    <part name="ListFlexiFieldMastersRequest" element="blsitpws:ListFlexiFieldMastersRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="blsitpws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="blsitpws:OptionsResponse"/>
  </message>
  <portType name="InputTemplateMasterServicePortTypes">
    <operation name="Delete">
      <input message="blsitpws:DeleteRequest"/>
      <output message="blsitpws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="blsitpws:AddRequest"/>
      <output message="blsitpws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="blsitpws:GetRequest"/>
      <output message="blsitpws:GetResponse"/>
    </operation>
    <operation name="ListFlexiFieldMasters">
      <input message="blsitpws:ListFlexiFieldMastersRequest"/>
      <output message="blsitpws:ListFlexiFieldMastersResponse"/>
    </operation>
    <operation name="Find">
      <input message="blsitpws:FindRequest"/>
      <output message="blsitpws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="blsitpws:ListRequest"/>
      <output message="blsitpws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="blsitpws:UpdateRequest"/>
      <output message="blsitpws:UpdateResponse"/>
    </operation>
    <operation name="GetFlexiFieldMaster">
      <input message="blsitpws:GetFlexiFieldMasterRequest"/>
      <output message="blsitpws:GetFlexiFieldMasterResponse"/>
    </operation>
  </portType>
  <binding name="InputTemplateMasterServiceSOAPBinding" type="blsitpws:InputTemplateMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/InputTemplateMaster/Delete" style="document"/>
      <input>
        <soap:header message="blsitpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/InputTemplateMaster/Add" style="document"/>
      <input>
        <soap:header message="blsitpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/InputTemplateMaster/Get" style="document"/>
      <input>
        <soap:header message="blsitpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListFlexiFieldMasters">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/InputTemplateMaster/ListFlexiFieldMasters" style="document"/>
      <input>
        <soap:header message="blsitpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/InputTemplateMaster/Find" style="document"/>
      <input>
        <soap:header message="blsitpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/InputTemplateMaster/List" style="document"/>
      <input>
        <soap:header message="blsitpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/InputTemplateMaster/Update" style="document"/>
      <input>
        <soap:header message="blsitpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetFlexiFieldMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/InputTemplateMaster/GetFlexiFieldMaster" style="document"/>
      <input>
        <soap:header message="blsitpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsitpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="InputTemplateMasterService">
    <port name="InputTemplateMasterServicePort" binding="blsitpws:InputTemplateMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/billing/inputtemplatemaster/inputtemplatemaster-14.0"/>
    </port>
  </service>
</definitions>
