docs/Unit4 Financials HTML Documentation/wsdl/billing-tablemapping-tablemapping.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/billing/schemas/tablemapping/tablemapping-14.0/webservice" xmlns:blsmapws="http://www.coda.com/billing/schemas/tablemapping/tablemapping-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:blsmap="http://www.coda.com/billing/schemas/tablemapping"
    xmlns:map="http://www.coda.com/common/schemas/mapping"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/billing/schemas/tablemapping/tablemapping-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/billing/schemas/tablemapping" schemaLocation="../wsdl/billing/tablemapping/tablemapping.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/mapping" schemaLocation="common/mapping/mapping.xsd"/>
    <xsd:element name="PopulateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Definition" type="map:PopulateTask">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The details of a populate Link tables
                            task.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PopulateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Populate" type="map:PopulateTask">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            populate function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="PopulateRequest">
    <part name="PopulateRequest" element="blsmapws:PopulateRequest"/>
  </message>
  <message name="PopulateResponse">
    <part name="PopulateResponse" element="blsmapws:PopulateResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="blsmapws:OptionsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="blsmapws:Options"/>
  </message>
  <portType name="TableMappingServicePortTypes">
    <operation name="Populate">
      <input message="blsmapws:PopulateRequest"/>
      <output message="blsmapws:PopulateResponse"/>
    </operation>
  </portType>
  <binding name="TableMappingServiceSOAPBinding" type="blsmapws:TableMappingServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Populate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/billing/TableMapping/Populate" style="document"/>
      <input>
        <soap:header message="blsmapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blsmapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TableMappingService">
    <port name="TableMappingServicePort" binding="blsmapws:TableMappingServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/billing/tablemapping/tablemapping-14.0"/>
    </port>
  </service>
</definitions>
