docs/Unit4 Financials HTML Documentation/wsdl/common-itktask-itktask.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/itktask/itktask-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cipws="http://www.coda.com/common/schemas/itktask/itktask-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:cip="http://www.coda.com/common/schemas/itktask"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/itktask/itktask-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/itktask" schemaLocation="../wsdl/common/itktask/itktask.xsd"/>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ITKProcParamValues
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RunResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TaskId" type="com:typeDbGuid">
                    <xsd:annotation>
                        <xsd:documentation>The taskId is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ITKProcParamValuesItemList" type="cip:ITKProcParamValuesItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RunRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UsrCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ProcessId" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ProcessArgs" minOccurs="0" type="cip:Arguments">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListParamsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ITKTaskItemList" type="cip:ITKTaskItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listParams function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateParamsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Success" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The Success is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateParamsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ParametersList" type="cip:ITKTaskList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListParamsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ITKTask objects that the
                            user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListITKTaskLogsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ITKTaskLog objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListITKTaskLogsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ITKTaskLogItemList" type="cip:ITKTaskLogItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listITKTaskLogs function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListITKTaskLogsRequest">
    <part name="ListITKTaskLogsRequest" element="cipws:ListITKTaskLogsRequest"/>
  </message>
  <message name="ListParamsRequest">
    <part name="ListParamsRequest" element="cipws:ListParamsRequest"/>
  </message>
  <message name="ListITKTaskLogsResponse">
    <part name="ListITKTaskLogsResponse" element="cipws:ListITKTaskLogsResponse"/>
  </message>
  <message name="ListParamsResponse">
    <part name="ListParamsResponse" element="cipws:ListParamsResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="cipws:OptionsResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="cipws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="cipws:Options"/>
  </message>
  <message name="RunRequest">
    <part name="RunRequest" element="cipws:RunRequest"/>
  </message>
  <message name="UpdateParamsRequest">
    <part name="UpdateParamsRequest" element="cipws:UpdateParamsRequest"/>
  </message>
  <message name="RunResponse">
    <part name="RunResponse" element="cipws:RunResponse"/>
  </message>
  <message name="UpdateParamsResponse">
    <part name="UpdateParamsResponse" element="cipws:UpdateParamsResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="cipws:ListResponse"/>
  </message>
  <portType name="ITKTaskServicePortTypes">
    <operation name="ListITKTaskLogs">
      <input message="cipws:ListITKTaskLogsRequest"/>
      <output message="cipws:ListITKTaskLogsResponse"/>
    </operation>
    <operation name="UpdateParams">
      <input message="cipws:UpdateParamsRequest"/>
      <output message="cipws:UpdateParamsResponse"/>
    </operation>
    <operation name="Run">
      <input message="cipws:RunRequest"/>
      <output message="cipws:RunResponse"/>
    </operation>
    <operation name="List">
      <input message="cipws:ListRequest"/>
      <output message="cipws:ListResponse"/>
    </operation>
    <operation name="ListParams">
      <input message="cipws:ListParamsRequest"/>
      <output message="cipws:ListParamsResponse"/>
    </operation>
  </portType>
  <binding name="ITKTaskServiceSOAPBinding" type="cipws:ITKTaskServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ListITKTaskLogs">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ITKTask/ListITKTaskLogs" style="document"/>
      <input>
        <soap:header message="cipws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cipws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateParams">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ITKTask/UpdateParams" style="document"/>
      <input>
        <soap:header message="cipws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cipws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Run">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ITKTask/Run" style="document"/>
      <input>
        <soap:header message="cipws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cipws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ITKTask/List" style="document"/>
      <input>
        <soap:header message="cipws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cipws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListParams">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ITKTask/ListParams" style="document"/>
      <input>
        <soap:header message="cipws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cipws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ITKTaskService">
    <port name="ITKTaskServicePort" binding="cipws:ITKTaskServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/itktask/itktask-1.0"/>
    </port>
  </service>
</definitions>
