docs/Unit4 Financials HTML Documentation/wsdl/common-browseworkflowmaster-browseworkflowmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/browseworkflowmaster/browseworkflowmaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:brows="http://www.coda.com/common/schemas/browseworkflowmaster/browseworkflowmaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:bro="http://www.coda.com/common/schemas/browseworkflowmaster"
    targetNamespace="http://www.coda.com/common/schemas/browseworkflowmaster/browseworkflowmaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/browseworkflowmaster" schemaLocation="../wsdl/common/browseworkflowmaster/browseworkflowmaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseWorkflowMaster" type="bro:BrowseWorkflowMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            BrowseWorkflowMaster object that is to be
                            persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the BrowseWorkflowMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseWorkflowMaster" type="bro:BrowseWorkflowMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseWorkflowMasterItemList" type="bro:BrowseWorkflowMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the BrowseWorkflowMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseWorkflowMaster" type="bro:BrowseWorkflowMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseWorkflowMaster" type="bro:BrowseWorkflowMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseWorkflowMaster" type="bro:BrowseWorkflowMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            BrowseWorkflowMaster object that is to be
                            persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseWorkflowMasterKey" type="bro:BrowseWorkflowMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            BrowseWorkflowMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseWorkflowMasterKey" type="bro:BrowseWorkflowMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            BrowseWorkflowMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseWorkflowMasterList" type="bro:BrowseWorkflowMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="AddResponse">
    <part name="AddResponse" element="brows:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="brows:GetResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="brows:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="brows:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="brows:ListRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="brows:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="brows:UpdateRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="brows:FindRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="brows:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="brows:OptionsResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="brows:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="brows:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="brows:DeleteResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="brows:GetRequest"/>
  </message>
  <portType name="BrowseWorkflowMasterServicePortTypes">
    <operation name="Add">
      <input message="brows:AddRequest"/>
      <output message="brows:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="brows:DeleteRequest"/>
      <output message="brows:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="brows:GetRequest"/>
      <output message="brows:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="brows:FindRequest"/>
      <output message="brows:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="brows:ListRequest"/>
      <output message="brows:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="brows:UpdateRequest"/>
      <output message="brows:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="BrowseWorkflowMasterServiceSOAPBinding" type="brows:BrowseWorkflowMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/BrowseWorkflowMaster/Add" style="document"/>
      <input>
        <soap:header message="brows:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brows:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/BrowseWorkflowMaster/Delete" style="document"/>
      <input>
        <soap:header message="brows:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brows:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/BrowseWorkflowMaster/Get" style="document"/>
      <input>
        <soap:header message="brows:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brows:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/BrowseWorkflowMaster/Find" style="document"/>
      <input>
        <soap:header message="brows:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brows:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/BrowseWorkflowMaster/List" style="document"/>
      <input>
        <soap:header message="brows:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brows:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/BrowseWorkflowMaster/Update" style="document"/>
      <input>
        <soap:header message="brows:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brows:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BrowseWorkflowMasterService">
    <port name="BrowseWorkflowMasterServicePort" binding="brows:BrowseWorkflowMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/browseworkflowmaster/browseworkflowmaster-1.0"/>
    </port>
  </service>
</definitions>
