docs/Unit4 Financials HTML Documentation/wsdl/common-usergroupmaster-usergroupmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/usergroupmaster/usergroupmaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:usrgws="http://www.coda.com/common/schemas/usergroupmaster/usergroupmaster-1.0/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:usrg="http://www.coda.com/common/schemas/usergroupmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:usr="http://www.coda.com/common/schemas/usermaster"
    targetNamespace="http://www.coda.com/common/schemas/usergroupmaster/usergroupmaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/usergroupmaster" schemaLocation="../wsdl/common/usergroupmaster/usergroupmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/usermaster" schemaLocation="common/usermaster/usermaster.xsd"/>
    <xsd:element name="ImportRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FullUserGroupList" type="usrg:FullUserGroupList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the user group
                            master data being imported.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeUserGroupCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the user group
                            master that you updated or attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" minOccurs="0" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            user group master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListUsersRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="usrg:UserGroupKey">
                    <xsd:annotation>
                        <xsd:documentation>The User Group Master Key to
                            get the user list from.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeUserGroupCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the user group
                            master that you deleted or attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="usrg:UserGroupListFilter">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            user group masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListUsersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Users" minOccurs="0" type="usr:UserList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the users in the group.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeUserGroupCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the user group
                            master that you retrieved or attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="UserGroup" minOccurs="0" type="usrg:UserGroup">
                    <xsd:annotation>
                        <xsd:documentation>Contains the user group
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExportRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UserGroup" type="usrg:UserGroup">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the user group master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="usrg:UserGroupListFilter">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the user group masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="usrg:UserGroupList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed user group masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="usrg:UserGroupKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the user group master you want to retrieve
                            from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExportResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FullUserGroupList" minOccurs="0" type="usrg:FullUserGroupList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the user group
                            master data being exported.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UserGroup" type="usrg:UserGroup">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the user group master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeUserGroupCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the user group
                            master that you created or attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" minOccurs="0" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            user group master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ImportResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="usrg:UserGroupKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the user group master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ExportResponse">
    <part name="ExportResponse" element="usrgws:ExportResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="usrgws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="usrgws:GetResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="usrgws:Options"/>
  </message>
  <message name="ListUsersRequest">
    <part name="ListUsersRequest" element="usrgws:ListUsersRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="usrgws:ListRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="usrgws:ListResponse"/>
  </message>
  <message name="ImportRequest">
    <part name="ImportRequest" element="usrgws:ImportRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="usrgws:UpdateRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="usrgws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="usrgws:OptionsResponse"/>
  </message>
  <message name="ExportRequest">
    <part name="ExportRequest" element="usrgws:ExportRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="usrgws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="usrgws:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="usrgws:DeleteResponse"/>
  </message>
  <message name="ImportResponse">
    <part name="ImportResponse" element="usrgws:ImportResponse"/>
  </message>
  <message name="ListUsersResponse">
    <part name="ListUsersResponse" element="usrgws:ListUsersResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="usrgws:GetRequest"/>
  </message>
  <portType name="UserGroupMasterServicePortTypes">
    <operation name="Add">
      <input message="usrgws:AddRequest"/>
      <output message="usrgws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="usrgws:DeleteRequest"/>
      <output message="usrgws:DeleteResponse"/>
    </operation>
    <operation name="Import">
      <input message="usrgws:ImportRequest"/>
      <output message="usrgws:ImportResponse"/>
      <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
        <jaxws:method name="_import"/>
      </jaxws:bindings>
    </operation>
    <operation name="ListUsers">
      <input message="usrgws:ListUsersRequest"/>
      <output message="usrgws:ListUsersResponse"/>
    </operation>
    <operation name="Get">
      <input message="usrgws:GetRequest"/>
      <output message="usrgws:GetResponse"/>
    </operation>
    <operation name="Export">
      <input message="usrgws:ExportRequest"/>
      <output message="usrgws:ExportResponse"/>
    </operation>
    <operation name="List">
      <input message="usrgws:ListRequest"/>
      <output message="usrgws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="usrgws:UpdateRequest"/>
      <output message="usrgws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="UserGroupMasterServiceSOAPBinding" type="usrgws:UserGroupMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserGroupMaster/Add" style="document"/>
      <input>
        <soap:header message="usrgws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="usrgws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserGroupMaster/Delete" style="document"/>
      <input>
        <soap:header message="usrgws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="usrgws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Import">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserGroupMaster/Import" style="document"/>
      <input>
        <soap:header message="usrgws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="usrgws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListUsers">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserGroupMaster/ListUsers" style="document"/>
      <input>
        <soap:header message="usrgws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="usrgws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserGroupMaster/Get" style="document"/>
      <input>
        <soap:header message="usrgws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="usrgws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Export">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserGroupMaster/Export" style="document"/>
      <input>
        <soap:header message="usrgws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="usrgws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserGroupMaster/List" style="document"/>
      <input>
        <soap:header message="usrgws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="usrgws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserGroupMaster/Update" style="document"/>
      <input>
        <soap:header message="usrgws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="usrgws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UserGroupMasterService">
    <port name="UserGroupMasterServicePort" binding="usrgws:UserGroupMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/usergroupmaster/usergroupmaster-1.0"/>
    </port>
  </service>
</definitions>
