docs/Unit4 Financials HTML Documentation/wsdl/common-positions-positionhierarchy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/positions/positionhierarchy-11.3/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:posws="http://www.coda.com/common/schemas/positions/positionhierarchy-11.3/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:use="http://www.coda.com/common/schemas/users"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:udf="http://www.coda.com/common/schemas/udfmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:pos="http://www.coda.com/common/schemas/positions"
    targetNamespace="http://www.coda.com/common/schemas/positions/positionhierarchy-11.3/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/users" schemaLocation="common/users/users.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/positions" schemaLocation="../wsdl/common/positions/positions.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/udfmaster" schemaLocation="common/udfmaster/udfmaster.xsd"/>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateHierarchyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Hierarchy" type="pos:Hierarchy">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The position hierarchy details.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Positions" type="pos:Positions">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The position details.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListCurrentHierarchiesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the Hierarchy objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteHierarchyResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteHierarchyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HierarchyKey" type="pos:HierarchyKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Hierarchy object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddHierarchyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>The code is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Version" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The version is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Positions" type="pos:PositionReturns">
                    <xsd:annotation>
                        <xsd:documentation>The positions is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UseCurrentHierarchyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The code of the current
                                position hierarchy.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateHierarchyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>The code is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Version" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The version is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Positions" type="pos:PositionReturns">
                    <xsd:annotation>
                        <xsd:documentation>The positions is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetCurrentHierarchyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>The code is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Hierarchy" type="pos:Hierarchy">
                    <xsd:annotation>
                        <xsd:documentation>The hierarchy is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Positions" type="pos:Positions">
                    <xsd:annotation>
                        <xsd:documentation>The positions is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UseCurrentHierarchyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>The code is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Hierarchy" type="pos:Hierarchy">
                    <xsd:annotation>
                        <xsd:documentation>The hierarchy is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetCurrentHierarchyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The code of the position
                                hierarchy.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetHierarchyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>The code is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Version" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The version is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Hierarchy" type="pos:Hierarchy">
                    <xsd:annotation>
                        <xsd:documentation>The hierarchy is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Positions" type="pos:Positions">
                    <xsd:annotation>
                        <xsd:documentation>The positions is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetHierarchyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The code of the position
                                hierarchy.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Version" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The version of the position
                                hierarchy.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListCurrentHierarchiesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HierarchyItemList" type="pos:HierarchyItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listCurrentHierarchies function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListHierarchiesForPositionsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Hierarchies" type="pos:HierarchyCodeList">
                    <xsd:annotation>
                        <xsd:documentation>The hierarchies is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListHierarchiesForPositionsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Positions" type="pos:PositionCodeList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      A list of position master
                                codes.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddHierarchyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Hierarchy" type="pos:Hierarchy">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The position hierarchy details.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Positions" type="pos:Positions">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The position details.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteHierarchyRequest">
    <part name="DeleteHierarchyRequest" element="posws:DeleteHierarchyRequest"/>
  </message>
  <message name="UpdateHierarchyResponse">
    <part name="UpdateHierarchyResponse" element="posws:UpdateHierarchyResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="posws:Options"/>
  </message>
  <message name="GetHierarchyRequest">
    <part name="GetHierarchyRequest" element="posws:GetHierarchyRequest"/>
  </message>
  <message name="UseCurrentHierarchyResponse">
    <part name="UseCurrentHierarchyResponse" element="posws:UseCurrentHierarchyResponse"/>
  </message>
  <message name="UpdateHierarchyRequest">
    <part name="UpdateHierarchyRequest" element="posws:UpdateHierarchyRequest"/>
  </message>
  <message name="ListCurrentHierarchiesRequest">
    <part name="ListCurrentHierarchiesRequest" element="posws:ListCurrentHierarchiesRequest"/>
  </message>
  <message name="DeleteHierarchyResponse">
    <part name="DeleteHierarchyResponse" element="posws:DeleteHierarchyResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="posws:OptionsResponse"/>
  </message>
  <message name="GetCurrentHierarchyRequest">
    <part name="GetCurrentHierarchyRequest" element="posws:GetCurrentHierarchyRequest"/>
  </message>
  <message name="UseCurrentHierarchyRequest">
    <part name="UseCurrentHierarchyRequest" element="posws:UseCurrentHierarchyRequest"/>
  </message>
  <message name="ListCurrentHierarchiesResponse">
    <part name="ListCurrentHierarchiesResponse" element="posws:ListCurrentHierarchiesResponse"/>
  </message>
  <message name="AddHierarchyRequest">
    <part name="AddHierarchyRequest" element="posws:AddHierarchyRequest"/>
  </message>
  <message name="ListHierarchiesForPositionsRequest">
    <part name="ListHierarchiesForPositionsRequest" element="posws:ListHierarchiesForPositionsRequest"/>
  </message>
  <message name="AddHierarchyResponse">
    <part name="AddHierarchyResponse" element="posws:AddHierarchyResponse"/>
  </message>
  <message name="GetCurrentHierarchyResponse">
    <part name="GetCurrentHierarchyResponse" element="posws:GetCurrentHierarchyResponse"/>
  </message>
  <message name="GetHierarchyResponse">
    <part name="GetHierarchyResponse" element="posws:GetHierarchyResponse"/>
  </message>
  <message name="ListHierarchiesForPositionsResponse">
    <part name="ListHierarchiesForPositionsResponse" element="posws:ListHierarchiesForPositionsResponse"/>
  </message>
  <portType name="PositionHierarchyServicePortTypes">
    <operation name="AddHierarchy">
      <input message="posws:AddHierarchyRequest"/>
      <output message="posws:AddHierarchyResponse"/>
    </operation>
    <operation name="GetCurrentHierarchy">
      <input message="posws:GetCurrentHierarchyRequest"/>
      <output message="posws:GetCurrentHierarchyResponse"/>
    </operation>
    <operation name="GetHierarchy">
      <input message="posws:GetHierarchyRequest"/>
      <output message="posws:GetHierarchyResponse"/>
    </operation>
    <operation name="UseCurrentHierarchy">
      <input message="posws:UseCurrentHierarchyRequest"/>
      <output message="posws:UseCurrentHierarchyResponse"/>
    </operation>
    <operation name="ListCurrentHierarchies">
      <input message="posws:ListCurrentHierarchiesRequest"/>
      <output message="posws:ListCurrentHierarchiesResponse"/>
    </operation>
    <operation name="UpdateHierarchy">
      <input message="posws:UpdateHierarchyRequest"/>
      <output message="posws:UpdateHierarchyResponse"/>
    </operation>
    <operation name="DeleteHierarchy">
      <input message="posws:DeleteHierarchyRequest"/>
      <output message="posws:DeleteHierarchyResponse"/>
    </operation>
    <operation name="ListHierarchiesForPositions">
      <input message="posws:ListHierarchiesForPositionsRequest"/>
      <output message="posws:ListHierarchiesForPositionsResponse"/>
    </operation>
  </portType>
  <binding name="PositionHierarchyServiceSOAPBinding" type="posws:PositionHierarchyServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AddHierarchy">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PositionHierarchy/AddHierarchy" style="document"/>
      <input>
        <soap:header message="posws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="posws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetCurrentHierarchy">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PositionHierarchy/GetCurrentHierarchy" style="document"/>
      <input>
        <soap:header message="posws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="posws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetHierarchy">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PositionHierarchy/GetHierarchy" style="document"/>
      <input>
        <soap:header message="posws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="posws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UseCurrentHierarchy">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PositionHierarchy/UseCurrentHierarchy" style="document"/>
      <input>
        <soap:header message="posws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="posws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListCurrentHierarchies">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PositionHierarchy/ListCurrentHierarchies" style="document"/>
      <input>
        <soap:header message="posws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="posws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateHierarchy">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PositionHierarchy/UpdateHierarchy" style="document"/>
      <input>
        <soap:header message="posws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="posws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteHierarchy">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PositionHierarchy/DeleteHierarchy" style="document"/>
      <input>
        <soap:header message="posws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="posws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListHierarchiesForPositions">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PositionHierarchy/ListHierarchiesForPositions" style="document"/>
      <input>
        <soap:header message="posws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="posws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PositionHierarchyService">
    <port name="PositionHierarchyServicePort" binding="posws:PositionHierarchyServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/positions/positionhierarchy-11.3"/>
    </port>
  </service>
</definitions>
