docs/Unit4 Financials HTML Documentation/wsdl/common-fileattachmentsecuritymaster-fileattachmentsecuritymaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/fileattachmentsecuritymaster/fileattachmentsecuritymaster-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:fasmws="http://www.coda.com/common/schemas/fileattachmentsecuritymaster/fileattachmentsecuritymaster-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:use="http://www.coda.com/common/schemas/userextension"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:fasm="http://www.coda.com/common/schemas/fileattachmentsecuritymaster"
    targetNamespace="http://www.coda.com/common/schemas/fileattachmentsecuritymaster/fileattachmentsecuritymaster-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/userextension" schemaLocation="common/userextension/userextension.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/fileattachmentsecuritymaster" schemaLocation="../wsdl/common/fileattachmentsecuritymaster/fileattachmentsecuritymaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileAttachmentSecurityMaster" type="fasm:FileAttachmentSecurityMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            FileAttachmentSecurityMaster object that is
                            to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the
                            FileAttachmentSecurityMaster objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileAttachmentSecurityMaster" type="fasm:FileAttachmentSecurityMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileAttachmentSecurityMasterItemList" type="fasm:FileAttachmentSecurityMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the
                            FileAttachmentSecurityMaster objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileAttachmentSecurityMaster" type="fasm:FileAttachmentSecurityMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileAttachmentSecurityMaster" type="fasm:FileAttachmentSecurityMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileAttachmentSecurityMaster" type="fasm:FileAttachmentSecurityMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            FileAttachmentSecurityMaster object that is
                            to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileAttachmentSecurityMasterKey" type="fasm:FileAttachmentSecurityMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            FileAttachmentSecurityMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileAttachmentSecurityMasterKey" type="fasm:FileAttachmentSecurityMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            FileAttachmentSecurityMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileAttachmentSecurityMasterList" type="fasm:FileAttachmentSecurityMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="fasmws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="fasmws:OptionsResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="fasmws:FindRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="fasmws:GetRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="fasmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="fasmws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="fasmws:DeleteResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="fasmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="fasmws:AddResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="fasmws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="fasmws:ListResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="fasmws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="fasmws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="fasmws:ListRequest"/>
  </message>
  <portType name="FileAttachmentSecurityMasterServicePortTypes">
    <operation name="Delete">
      <input message="fasmws:DeleteRequest"/>
      <output message="fasmws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="fasmws:AddRequest"/>
      <output message="fasmws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="fasmws:GetRequest"/>
      <output message="fasmws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="fasmws:FindRequest"/>
      <output message="fasmws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="fasmws:ListRequest"/>
      <output message="fasmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="fasmws:UpdateRequest"/>
      <output message="fasmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="FileAttachmentSecurityMasterServiceSOAPBinding" type="fasmws:FileAttachmentSecurityMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FileAttachmentSecurityMaster/Delete" style="document"/>
      <input>
        <soap:header message="fasmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fasmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FileAttachmentSecurityMaster/Add" style="document"/>
      <input>
        <soap:header message="fasmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fasmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FileAttachmentSecurityMaster/Get" style="document"/>
      <input>
        <soap:header message="fasmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fasmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FileAttachmentSecurityMaster/Find" style="document"/>
      <input>
        <soap:header message="fasmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fasmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FileAttachmentSecurityMaster/List" style="document"/>
      <input>
        <soap:header message="fasmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fasmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FileAttachmentSecurityMaster/Update" style="document"/>
      <input>
        <soap:header message="fasmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fasmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FileAttachmentSecurityMasterService">
    <port name="FileAttachmentSecurityMasterServicePort" binding="fasmws:FileAttachmentSecurityMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/fileattachmentsecuritymaster/fileattachmentsecuritymaster-13.0"/>
    </port>
  </service>
</definitions>
