docs/Unit4 Financials HTML Documentation/wsdl/common-homepagetemplatemaster-homepagetemplatemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/homepagetemplatemaster/homepagetemplatemaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:htmws="http://www.coda.com/common/schemas/homepagetemplatemaster/homepagetemplatemaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:htm="http://www.coda.com/common/schemas/homepagetemplatemaster"
    xmlns:hmp="http://www.coda.com/common/schemas/homepage"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/homepagetemplatemaster/homepagetemplatemaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/homepage" schemaLocation="common/homepage/homepage.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/homepagetemplatemaster" schemaLocation="../wsdl/common/homepagetemplatemaster/homepagetemplatemaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HomePageTemplate" type="htm:HomePageTemplate">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the Home Page template master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqKeysWithShortName">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            Home Page template masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the Home Page
                            template master that you retrieved or
                            attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="HomePageTemplate" minOccurs="0" type="htm:HomePageTemplate">
                    <xsd:annotation>
                        <xsd:documentation>Contains the Home Page
                            template master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ContentProviders" minOccurs="0" type="hmp:ContentProviderList">
                    <xsd:annotation>
                        <xsd:documentation>Contains a list of content
                            providers used by this Home Page template master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqKeysWithShortName">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the Home Page template masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed Home Page template masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the Home Page
                            template master that you updated or
                            attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            Home Page template master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the Home Page
                            template master that you deleted or
                            attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetContentProviderListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContentProviders" type="hmp:ContentProviderList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the content provider
                            masters that were specified in the
                            corresponding Request.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the Home Page
                            template master that you created or
                            attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            Home Page template master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HomePageTemplate" type="htm:HomePageTemplate">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the Home Page template master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the Home Page template master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetContentProviderListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContentProviders" type="htm:ContentProviders">
                    <xsd:annotation>
                        <xsd:documentation>Contains key information
                            identifying the content provider masters you
                            want to retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the Home Page template master you want to
                            retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="AddResponse">
    <part name="AddResponse" element="htmws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="htmws:GetResponse"/>
  </message>
  <message name="GetContentProviderListResponse">
    <part name="GetContentProviderListResponse" element="htmws:GetContentProviderListResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="htmws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="htmws:UpdateRequest"/>
  </message>
  <message name="GetContentProviderListRequest">
    <part name="GetContentProviderListRequest" element="htmws:GetContentProviderListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="htmws:Options"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="htmws:ListRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="htmws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="htmws:OptionsResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="htmws:GetRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="htmws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="htmws:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="htmws:DeleteResponse"/>
  </message>
  <portType name="HomePageTemplateMasterServicePortTypes">
    <operation name="Add">
      <input message="htmws:AddRequest"/>
      <output message="htmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="htmws:DeleteRequest"/>
      <output message="htmws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="htmws:GetRequest"/>
      <output message="htmws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="htmws:ListRequest"/>
      <output message="htmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="htmws:UpdateRequest"/>
      <output message="htmws:UpdateResponse"/>
    </operation>
    <operation name="GetContentProviderList">
      <input message="htmws:GetContentProviderListRequest"/>
      <output message="htmws:GetContentProviderListResponse"/>
    </operation>
  </portType>
  <binding name="HomePageTemplateMasterServiceSOAPBinding" type="htmws:HomePageTemplateMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/HomePageTemplateMaster/Add" style="document"/>
      <input>
        <soap:header message="htmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="htmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/HomePageTemplateMaster/Delete" style="document"/>
      <input>
        <soap:header message="htmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="htmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/HomePageTemplateMaster/Get" style="document"/>
      <input>
        <soap:header message="htmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="htmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/HomePageTemplateMaster/List" style="document"/>
      <input>
        <soap:header message="htmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="htmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/HomePageTemplateMaster/Update" style="document"/>
      <input>
        <soap:header message="htmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="htmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetContentProviderList">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/HomePageTemplateMaster/GetContentProviderList" style="document"/>
      <input>
        <soap:header message="htmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="htmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="HomePageTemplateMasterService">
    <port name="HomePageTemplateMasterServicePort" binding="htmws:HomePageTemplateMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/homepagetemplatemaster/homepagetemplatemaster-1.0"/>
    </port>
  </service>
</definitions>
