docs/Unit4 Financials HTML Documentation/wsdl/common-contentprovidermaster-contentprovidermaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/contentprovidermaster/contentprovidermaster-2.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cpmws="http://www.coda.com/common/schemas/contentprovidermaster/contentprovidermaster-2.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:cpm="http://www.coda.com/common/schemas/contentprovidermaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/contentprovidermaster/contentprovidermaster-2.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/contentprovidermaster" schemaLocation="../wsdl/common/contentprovidermaster/contentprovidermaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the content
                            provider master that you updated or
                            attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            content provider master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the content
                            provider master that you deleted or
                            attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateSystemParametersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The extension master code
                            that you supplied in the Request
                            corresponding to this Response.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OldParams" type="cpm:ProviderConfiguration">
                    <xsd:annotation>
                        <xsd:documentation>The old NSV and LSV details
                            that were being used by the content providers.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="NewParams" type="cpm:ProviderConfiguration">
                    <xsd:annotation>
                        <xsd:documentation>The new NSV and LSV details
                            that the content providers have been updated
                            to use.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="UpdatedList" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains key information for
                            the content provider masters that have been updated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MatchBySystemParametersRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the extension
                            master being used by the content providers.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OldParams" type="cpm:ProviderConfiguration">
                    <xsd:annotation>
                        <xsd:documentation>The existing NSV and LSV
                            details being used by the content providers.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqKeysWithShortName">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            content provider masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListByExtensionCodeRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the extension
                            master being used by the content providers.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListByExtensionCodeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The extension master code
                            that you supplied in the Request
                            corresponding to this Response.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="List" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains key information for
                            content provider masters using the specified
                            extension master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InUseByCustomiseResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the content
                            provider master that was specified in the
                            request corresponding to this response.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="InUse" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether or not the
                            specified content provider master is used
                            within a user&apos;s customisation of their Homepage.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InUseByCustomiseRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the content
                            provider master that you want to check.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TemplateCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the Homepage
                            template that is assigned to the user, and
                            that contains the specified content provider master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the content
                            provider master that you retrieved or
                            attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ContentProvider" minOccurs="0" type="cpm:ContentProvider">
                    <xsd:annotation>
                        <xsd:documentation>Contains the content provider
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContentProvider" type="cpm:ContentProvider">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the content provider master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateSystemParametersRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the extension
                            master being used by the content providers.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OldParams" type="cpm:ProviderConfiguration">
                    <xsd:annotation>
                        <xsd:documentation>The existing NSV and LSV
                            details being used by the content providers.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="NewParams" type="cpm:ProviderConfiguration">
                    <xsd:annotation>
                        <xsd:documentation>The new NSV and LSV details
                            that the content providers will be updated
                            to use.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqKeysWithShortName">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the content provider masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed content provider masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MatchBySystemParametersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The extension master code
                            that you supplied in the Request
                            corresponding to this Response.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OldParams" type="cpm:ProviderConfiguration">
                    <xsd:annotation>
                        <xsd:documentation>The existing NSV and LSV
                            details being used by the content providers.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="List" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains key information for
                            content provider masters matching the
                            specified extension code and &apos;old&apos; parameters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the content provider master you want to
                            retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContentProvider" type="cpm:ContentProvider">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the content provider master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the content
                            provider master that you created or
                            attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            content provider master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the content provider master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UpdateSystemParametersRequest">
    <part name="UpdateSystemParametersRequest" element="cpmws:UpdateSystemParametersRequest"/>
  </message>
  <message name="InUseByCustomiseResponse">
    <part name="InUseByCustomiseResponse" element="cpmws:InUseByCustomiseResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="cpmws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="cpmws:GetResponse"/>
  </message>
  <message name="ListByExtensionCodeResponse">
    <part name="ListByExtensionCodeResponse" element="cpmws:ListByExtensionCodeResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="cpmws:Options"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="cpmws:ListRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="cpmws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="cpmws:UpdateRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="cpmws:DeleteRequest"/>
  </message>
  <message name="MatchBySystemParametersRequest">
    <part name="MatchBySystemParametersRequest" element="cpmws:MatchBySystemParametersRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="cpmws:OptionsResponse"/>
  </message>
  <message name="MatchBySystemParametersResponse">
    <part name="MatchBySystemParametersResponse" element="cpmws:MatchBySystemParametersResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="cpmws:AddRequest"/>
  </message>
  <message name="ListByExtensionCodeRequest">
    <part name="ListByExtensionCodeRequest" element="cpmws:ListByExtensionCodeRequest"/>
  </message>
  <message name="UpdateSystemParametersResponse">
    <part name="UpdateSystemParametersResponse" element="cpmws:UpdateSystemParametersResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="cpmws:UpdateResponse"/>
  </message>
  <message name="InUseByCustomiseRequest">
    <part name="InUseByCustomiseRequest" element="cpmws:InUseByCustomiseRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="cpmws:DeleteResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="cpmws:GetRequest"/>
  </message>
  <portType name="ContentProviderMasterServicePortTypes">
    <operation name="Add">
      <input message="cpmws:AddRequest"/>
      <output message="cpmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="cpmws:DeleteRequest"/>
      <output message="cpmws:DeleteResponse"/>
    </operation>
    <operation name="InUseByCustomise">
      <input message="cpmws:InUseByCustomiseRequest"/>
      <output message="cpmws:InUseByCustomiseResponse"/>
    </operation>
    <operation name="Get">
      <input message="cpmws:GetRequest"/>
      <output message="cpmws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="cpmws:ListRequest"/>
      <output message="cpmws:ListResponse"/>
    </operation>
    <operation name="ListByExtensionCode">
      <input message="cpmws:ListByExtensionCodeRequest"/>
      <output message="cpmws:ListByExtensionCodeResponse"/>
    </operation>
    <operation name="UpdateSystemParameters">
      <input message="cpmws:UpdateSystemParametersRequest"/>
      <output message="cpmws:UpdateSystemParametersResponse"/>
    </operation>
    <operation name="Update">
      <input message="cpmws:UpdateRequest"/>
      <output message="cpmws:UpdateResponse"/>
    </operation>
    <operation name="MatchBySystemParameters">
      <input message="cpmws:MatchBySystemParametersRequest"/>
      <output message="cpmws:MatchBySystemParametersResponse"/>
    </operation>
  </portType>
  <binding name="ContentProviderMasterServiceSOAPBinding" type="cpmws:ContentProviderMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ContentProviderMaster/Add" style="document"/>
      <input>
        <soap:header message="cpmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cpmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ContentProviderMaster/Delete" style="document"/>
      <input>
        <soap:header message="cpmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cpmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="InUseByCustomise">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ContentProviderMaster/InUseByCustomise" style="document"/>
      <input>
        <soap:header message="cpmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cpmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ContentProviderMaster/Get" style="document"/>
      <input>
        <soap:header message="cpmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cpmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ContentProviderMaster/List" style="document"/>
      <input>
        <soap:header message="cpmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cpmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListByExtensionCode">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ContentProviderMaster/ListByExtensionCode" style="document"/>
      <input>
        <soap:header message="cpmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cpmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateSystemParameters">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ContentProviderMaster/UpdateSystemParameters" style="document"/>
      <input>
        <soap:header message="cpmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cpmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ContentProviderMaster/Update" style="document"/>
      <input>
        <soap:header message="cpmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cpmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MatchBySystemParameters">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ContentProviderMaster/MatchBySystemParameters" style="document"/>
      <input>
        <soap:header message="cpmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cpmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ContentProviderMasterService">
    <port name="ContentProviderMasterServicePort" binding="cpmws:ContentProviderMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/contentprovidermaster/contentprovidermaster-2.0"/>
    </port>
  </service>
</definitions>
