docs/Unit4 Financials HTML Documentation/wsdl/common-emailtemplatemaster-emailtemplatemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/emailtemplatemaster/emailtemplatemaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:emtws="http://www.coda.com/common/schemas/emailtemplatemaster/emailtemplatemaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:emt="http://www.coda.com/common/schemas/emailtemplatemaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/emailtemplatemaster/emailtemplatemaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/emailtemplatemaster" schemaLocation="../wsdl/common/emailtemplatemaster/emailtemplatemaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EmailTemplateMaster" type="emt:EmailTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole EmailTemplateMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the EmailTemplateMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EmailTemplateMaster" type="emt:EmailTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EmailTemplateMasterItemList" type="emt:EmailTemplateMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the EmailTemplateMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EmailTemplateMaster" type="emt:EmailTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EmailTemplateMaster" type="emt:EmailTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EmailTemplateMaster" type="emt:EmailTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole EmailTemplateMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EmailTemplateMasterKey" type="emt:EmailTemplateMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            EmailTemplateMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EmailTemplateMasterKey" type="emt:EmailTemplateMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            EmailTemplateMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EmailTemplateMasterList" type="emt:EmailTemplateMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="emtws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="emtws:OptionsResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="emtws:FindRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="emtws:GetRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="emtws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="emtws:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="emtws:DeleteResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="emtws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="emtws:GetResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="emtws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="emtws:UpdateRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="emtws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="emtws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="emtws:ListRequest"/>
  </message>
  <portType name="EmailTemplateMasterServicePortTypes">
    <operation name="Delete">
      <input message="emtws:DeleteRequest"/>
      <output message="emtws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="emtws:AddRequest"/>
      <output message="emtws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="emtws:GetRequest"/>
      <output message="emtws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="emtws:FindRequest"/>
      <output message="emtws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="emtws:ListRequest"/>
      <output message="emtws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="emtws:UpdateRequest"/>
      <output message="emtws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="EmailTemplateMasterServiceSOAPBinding" type="emtws:EmailTemplateMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/EmailTemplateMaster/Delete" style="document"/>
      <input>
        <soap:header message="emtws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="emtws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/EmailTemplateMaster/Add" style="document"/>
      <input>
        <soap:header message="emtws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="emtws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/EmailTemplateMaster/Get" style="document"/>
      <input>
        <soap:header message="emtws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="emtws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/EmailTemplateMaster/Find" style="document"/>
      <input>
        <soap:header message="emtws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="emtws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/EmailTemplateMaster/List" style="document"/>
      <input>
        <soap:header message="emtws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="emtws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/EmailTemplateMaster/Update" style="document"/>
      <input>
        <soap:header message="emtws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="emtws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EmailTemplateMasterService">
    <port name="EmailTemplateMasterServicePort" binding="emtws:EmailTemplateMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/emailtemplatemaster/emailtemplatemaster-1.0"/>
    </port>
  </service>
</definitions>
