docs/Unit4 Financials HTML Documentation/wsdl/common-repositoryfolder-repositoryfolder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/repositoryfolder/repositoryfolder-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:fldws="http://www.coda.com/common/schemas/repositoryfolder/repositoryfolder-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:fld="http://www.coda.com/common/schemas/repositoryfolder"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/repositoryfolder/repositoryfolder-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/repositoryfolder" schemaLocation="../wsdl/common/repositoryfolder/repositoryfolder.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RepositoryFolder" type="fld:RepositoryFolder">
                    <xsd:annotation>
                        <xsd:documentation>The whole RepositoryFolder
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the RepositoryFolder objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RepositoryFolder" type="fld:RepositoryFolder">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RepositoryFolderItemList" type="fld:RepositoryFolderItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the RepositoryFolder objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RepositoryFolder" type="fld:RepositoryFolder">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RepositoryFolder" type="fld:RepositoryFolder">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RepositoryFolder" type="fld:RepositoryFolder">
                    <xsd:annotation>
                        <xsd:documentation>The whole RepositoryFolder
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RepositoryFolderKey" type="fld:RepositoryFolderKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            RepositoryFolder object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RepositoryFolderKey" type="fld:RepositoryFolderKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            RepositoryFolder object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RepositoryFolderList" type="fld:RepositoryFolderList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetResponse">
    <part name="GetResponse" element="fldws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="fldws:AddResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="fldws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="fldws:ListResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="fldws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="fldws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="fldws:ListRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="fldws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="fldws:OptionsResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="fldws:FindRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="fldws:GetRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="fldws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="fldws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="fldws:DeleteResponse"/>
  </message>
  <portType name="RepositoryFolderServicePortTypes">
    <operation name="Delete">
      <input message="fldws:DeleteRequest"/>
      <output message="fldws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="fldws:AddRequest"/>
      <output message="fldws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="fldws:GetRequest"/>
      <output message="fldws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="fldws:FindRequest"/>
      <output message="fldws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="fldws:ListRequest"/>
      <output message="fldws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="fldws:UpdateRequest"/>
      <output message="fldws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="RepositoryFolderServiceSOAPBinding" type="fldws:RepositoryFolderServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/RepositoryFolder/Delete" style="document"/>
      <input>
        <soap:header message="fldws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fldws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/RepositoryFolder/Add" style="document"/>
      <input>
        <soap:header message="fldws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fldws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/RepositoryFolder/Get" style="document"/>
      <input>
        <soap:header message="fldws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fldws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/RepositoryFolder/Find" style="document"/>
      <input>
        <soap:header message="fldws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fldws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/RepositoryFolder/List" style="document"/>
      <input>
        <soap:header message="fldws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fldws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/RepositoryFolder/Update" style="document"/>
      <input>
        <soap:header message="fldws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fldws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RepositoryFolderService">
    <port name="RepositoryFolderServicePort" binding="fldws:RepositoryFolderServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/repositoryfolder/repositoryfolder-13.0"/>
    </port>
  </service>
</definitions>
