docs/Unit4 Financials HTML Documentation/wsdl/common-capabilitymaster-capabilitymaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/capabilitymaster/capabilitymaster-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:capws="http://www.coda.com/common/schemas/capabilitymaster/capabilitymaster-14.0/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:secv="http://www.coda.com/common/schemas/securityvariables"
    xmlns:mes="http://www.coda.com/common/schemas/messagetransport"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:cap="http://www.coda.com/common/schemas/capabilitymaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/capabilitymaster/capabilitymaster-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/securityvariables" schemaLocation="common/securityvariables/securityvariables.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/capabilitymaster" schemaLocation="../wsdl/common/capabilitymaster/capabilitymaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/messagetransport" schemaLocation="common/messagetransport/messagetransport.xsd"/>
    <xsd:element name="ImportRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FullCapabilityList" type="cap:FullCapabilityList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the capability
                            master data being imported.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the capability
                            master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            capability master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the capability
                            master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetMessageTransportsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>A key to a message transport master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ListFilter">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            capability masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the capability
                            master you attempted to retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CapabilityMaster" minOccurs="0" type="cap:CapabilityMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains a capability master
                            you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExportRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CapabilityMaster" type="cap:CapabilityMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the capability master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ListFilter">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the capability masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed capability masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the capability master you want to retrieve
                            from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExportResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FullCapabilityList" minOccurs="0" type="cap:FullCapabilityList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the capability
                            master data being exported.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CapabilityMaster" type="cap:CapabilityMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the capability master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the capability
                            master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            capability master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ImportResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetMessageTransportsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of a message
                            transport master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TransportList" minOccurs="0" type="cap:TransportList">
                    <xsd:annotation>
                        <xsd:documentation>A list of message transport masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the capability master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="capws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="capws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="capws:DeleteResponse"/>
  </message>
  <message name="GetMessageTransportsRequest">
    <part name="GetMessageTransportsRequest" element="capws:GetMessageTransportsRequest"/>
  </message>
  <message name="ImportResponse">
    <part name="ImportResponse" element="capws:ImportResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="capws:GetRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="capws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="capws:OptionsResponse"/>
  </message>
  <message name="ExportRequest">
    <part name="ExportRequest" element="capws:ExportRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="capws:Options"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="capws:ListRequest"/>
  </message>
  <message name="ImportRequest">
    <part name="ImportRequest" element="capws:ImportRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="capws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="capws:ListResponse"/>
  </message>
  <message name="ExportResponse">
    <part name="ExportResponse" element="capws:ExportResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="capws:GetResponse"/>
  </message>
  <message name="GetMessageTransportsResponse">
    <part name="GetMessageTransportsResponse" element="capws:GetMessageTransportsResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="capws:AddResponse"/>
  </message>
  <portType name="CapabilityMasterServicePortTypes">
    <operation name="Add">
      <input message="capws:AddRequest"/>
      <output message="capws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="capws:DeleteRequest"/>
      <output message="capws:DeleteResponse"/>
    </operation>
    <operation name="Import">
      <input message="capws:ImportRequest"/>
      <output message="capws:ImportResponse"/>
      <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
        <jaxws:method name="_import"/>
      </jaxws:bindings>
    </operation>
    <operation name="Get">
      <input message="capws:GetRequest"/>
      <output message="capws:GetResponse"/>
    </operation>
    <operation name="GetMessageTransports">
      <input message="capws:GetMessageTransportsRequest"/>
      <output message="capws:GetMessageTransportsResponse"/>
    </operation>
    <operation name="Export">
      <input message="capws:ExportRequest"/>
      <output message="capws:ExportResponse"/>
    </operation>
    <operation name="List">
      <input message="capws:ListRequest"/>
      <output message="capws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="capws:UpdateRequest"/>
      <output message="capws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="CapabilityMasterServiceSOAPBinding" type="capws:CapabilityMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/CapabilityMaster/Add" style="document"/>
      <input>
        <soap:header message="capws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="capws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/CapabilityMaster/Delete" style="document"/>
      <input>
        <soap:header message="capws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="capws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Import">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/CapabilityMaster/Import" style="document"/>
      <input>
        <soap:header message="capws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="capws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/CapabilityMaster/Get" style="document"/>
      <input>
        <soap:header message="capws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="capws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetMessageTransports">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/CapabilityMaster/GetMessageTransports" style="document"/>
      <input>
        <soap:header message="capws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="capws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Export">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/CapabilityMaster/Export" style="document"/>
      <input>
        <soap:header message="capws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="capws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/CapabilityMaster/List" style="document"/>
      <input>
        <soap:header message="capws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="capws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/CapabilityMaster/Update" style="document"/>
      <input>
        <soap:header message="capws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="capws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CapabilityMasterService">
    <port name="CapabilityMasterServicePort" binding="capws:CapabilityMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/capabilitymaster/capabilitymaster-14.0"/>
    </port>
  </service>
</definitions>
