docs/Unit4 Financials HTML Documentation/wsdl/common-extensionmaster-extensionmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/extensionmaster/extensionmaster-2.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:exmws="http://www.coda.com/common/schemas/extensionmaster/extensionmaster-2.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:exm="http://www.coda.com/common/schemas/extensionmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/extensionmaster/extensionmaster-2.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/extensionmaster" schemaLocation="../wsdl/common/extensionmaster/extensionmaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Extension" type="exm:Extension">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the extension master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="exm:ExtensionKey">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            extension masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the extension
                            master that you retrieved or attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Extension" minOccurs="0" type="exm:Extension">
                    <xsd:annotation>
                        <xsd:documentation>Contains the extension master
                            you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="exm:ExtensionKey">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the extension masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed extension masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the extension
                            master that you updated or attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            extension master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the extension
                            master that you deleted or attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the extension
                            master that you created or attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            extension master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Extension" type="exm:Extension">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the extension master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the element master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the extension master you want to retrieve
                            from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="exmws:Options"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="exmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="exmws:AddRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="exmws:ListRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="exmws:DeleteResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="exmws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="exmws:ListResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="exmws:GetRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="exmws:DeleteRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="exmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="exmws:AddResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="exmws:OptionsResponse"/>
  </message>
  <portType name="ExtensionMasterServicePortTypes">
    <operation name="Add">
      <input message="exmws:AddRequest"/>
      <output message="exmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="exmws:DeleteRequest"/>
      <output message="exmws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="exmws:GetRequest"/>
      <output message="exmws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="exmws:ListRequest"/>
      <output message="exmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="exmws:UpdateRequest"/>
      <output message="exmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="ExtensionMasterServiceSOAPBinding" type="exmws:ExtensionMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ExtensionMaster/Add" style="document"/>
      <input>
        <soap:header message="exmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="exmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ExtensionMaster/Delete" style="document"/>
      <input>
        <soap:header message="exmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="exmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ExtensionMaster/Get" style="document"/>
      <input>
        <soap:header message="exmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="exmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ExtensionMaster/List" style="document"/>
      <input>
        <soap:header message="exmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="exmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ExtensionMaster/Update" style="document"/>
      <input>
        <soap:header message="exmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="exmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ExtensionMasterService">
    <port name="ExtensionMasterServicePort" binding="exmws:ExtensionMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/extensionmaster/extensionmaster-2.0"/>
    </port>
  </service>
</definitions>
