docs/Unit4 Financials HTML Documentation/wsdl/common-workflowselection-workflowselection.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/workflowselection/workflowselection-1.0/webservice" xmlns:browsews="http://www.coda.com/common/schemas/workflowselection/workflowselection-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:log="http://www.coda.com/common/schemas/logging"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:browse="http://www.coda.com/common/schemas/workflowselection"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/workflowselection/workflowselection-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/workflowselection" schemaLocation="../wsdl/common/workflowselection/workflowselection.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/logging" schemaLocation="common/logging/logging.xsd"/>
    <xsd:element name="SelectRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelType" type="gsl:SelectorType">
                    <xsd:annotation>
                        <xsd:documentation>Specifies the source of the
                            data from which the selection is made. The
                            data source is determined by the combination
                            of data class and data location.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="GslCode" type="com:typeGeneralCodeB">
                    <xsd:annotation>
                        <xsd:documentation>The code of the selector
                            master you want to use. GslCode is used to
                            look up hints, and also overrides the
                            SelType above</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RowLimit" minOccurs="0" type="com:typeULong">
                    <xsd:annotation>
                        <xsd:documentation>The maximum number of rows
                            you want your search to return.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ApplicationFilters" minOccurs="0" type="sel:VocListDataList">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria to be
                            applied by the application when selecting
                            the data. These are as set up in the
                            selector master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="UserFilter" type="gsl:VocListData">
                    <xsd:annotation>
                        <xsd:documentation>The additional search
                            criteria specified by the user, to be
                            applied when selecting the data.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Columns" type="sel:CellList">
                    <xsd:annotation>
                        <xsd:documentation>The columns representing
                            vocabulary items that you want the server to return.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" minOccurs="0" type="sel:Selection">
                    <xsd:annotation>
                        <xsd:documentation>The selected data returned to
                            you for browsing.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetWorkflowLogsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LineList" type="log:LineData">
                    <xsd:annotation>
                        <xsd:documentation>The workflow log data.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetWorkflowLogsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="WorkflowIds" type="browse:WorkflowIds">
                    <xsd:annotation>
                        <xsd:documentation>A list of workflow instance IDs.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="browsews:Options"/>
  </message>
  <message name="GetWorkflowLogsRequest">
    <part name="GetWorkflowLogsRequest" element="browsews:GetWorkflowLogsRequest"/>
  </message>
  <message name="GetWorkflowLogsResponse">
    <part name="GetWorkflowLogsResponse" element="browsews:GetWorkflowLogsResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="browsews:OptionsResponse"/>
  </message>
  <message name="SelectRequest">
    <part name="SelectRequest" element="browsews:SelectRequest"/>
  </message>
  <message name="SelectResponse">
    <part name="SelectResponse" element="browsews:SelectResponse"/>
  </message>
  <portType name="WorkflowSelectionServicePortTypes">
    <operation name="GetWorkflowLogs">
      <input message="browsews:GetWorkflowLogsRequest"/>
      <output message="browsews:GetWorkflowLogsResponse"/>
    </operation>
    <operation name="Select">
      <input message="browsews:SelectRequest"/>
      <output message="browsews:SelectResponse"/>
    </operation>
  </portType>
  <binding name="WorkflowSelectionServiceSOAPBinding" type="browsews:WorkflowSelectionServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetWorkflowLogs">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowSelection/GetWorkflowLogs" style="document"/>
      <input>
        <soap:header message="browsews:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="browsews:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Select">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowSelection/Select" style="document"/>
      <input>
        <soap:header message="browsews:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="browsews:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WorkflowSelectionService">
    <port name="WorkflowSelectionServicePort" binding="browsews:WorkflowSelectionServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/workflowselection/workflowselection-1.0"/>
    </port>
  </service>
</definitions>
