docs/Unit4 Financials HTML Documentation/wsdl/common-changeloggingmaster-changeloggingmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/changeloggingmaster/changeloggingmaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:clmws="http://www.coda.com/common/schemas/changeloggingmaster/changeloggingmaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:clm="http://www.coda.com/common/schemas/changeloggingmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/changeloggingmaster/changeloggingmaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/changeloggingmaster" schemaLocation="../wsdl/common/changeloggingmaster/changeloggingmaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ChangeLoggingMaster" type="clm:ChangeLoggingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole ChangeLoggingMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ChangeLoggingMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ChangeLoggingMaster" type="clm:ChangeLoggingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AuditObject" type="clm:AuditObject">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>An audit object.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ChangeLoggingMasterItemList" type="clm:ChangeLoggingMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ChangeLoggingMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ChangeLoggingMaster" type="clm:ChangeLoggingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ChangeLoggingMaster" type="clm:ChangeLoggingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ChangeLoggingMaster" type="clm:ChangeLoggingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole ChangeLoggingMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ChangeLoggingMasterKey" type="clm:ChangeLoggingMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            ChangeLoggingMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ChangeLoggingMasterKey" type="clm:ChangeLoggingMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            ChangeLoggingMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ChangeLoggingMasterList" type="clm:ChangeLoggingMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="clmws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="clmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="clmws:AddRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="clmws:GetRequest"/>
  </message>
  <message name="ValidateRequest">
    <part name="ValidateRequest" element="clmws:ValidateRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="clmws:FindRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="clmws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="clmws:DeleteRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="clmws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="clmws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="clmws:FindResponse"/>
  </message>
  <message name="ValidateResponse">
    <part name="ValidateResponse" element="clmws:ValidateResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="clmws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="clmws:ListResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="clmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="clmws:AddResponse"/>
  </message>
  <portType name="ChangeLoggingMasterServicePortTypes">
    <operation name="Add">
      <input message="clmws:AddRequest"/>
      <output message="clmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="clmws:DeleteRequest"/>
      <output message="clmws:DeleteResponse"/>
    </operation>
    <operation name="Validate">
      <input message="clmws:ValidateRequest"/>
      <output message="clmws:ValidateResponse"/>
    </operation>
    <operation name="Get">
      <input message="clmws:GetRequest"/>
      <output message="clmws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="clmws:FindRequest"/>
      <output message="clmws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="clmws:ListRequest"/>
      <output message="clmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="clmws:UpdateRequest"/>
      <output message="clmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="ChangeLoggingMasterServiceSOAPBinding" type="clmws:ChangeLoggingMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ChangeLoggingMaster/Add" style="document"/>
      <input>
        <soap:header message="clmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="clmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ChangeLoggingMaster/Delete" style="document"/>
      <input>
        <soap:header message="clmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="clmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Validate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ChangeLoggingMaster/Validate" style="document"/>
      <input>
        <soap:header message="clmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="clmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ChangeLoggingMaster/Get" style="document"/>
      <input>
        <soap:header message="clmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="clmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ChangeLoggingMaster/Find" style="document"/>
      <input>
        <soap:header message="clmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="clmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ChangeLoggingMaster/List" style="document"/>
      <input>
        <soap:header message="clmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="clmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ChangeLoggingMaster/Update" style="document"/>
      <input>
        <soap:header message="clmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="clmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ChangeLoggingMasterService">
    <port name="ChangeLoggingMasterServicePort" binding="clmws:ChangeLoggingMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/changeloggingmaster/changeloggingmaster-1.0"/>
    </port>
  </service>
</definitions>
