docs/Unit4 Financials HTML Documentation/wsdl/common-tasks-taskinformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/tasks/taskinformation-11.2/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tasksws="http://www.coda.com/common/schemas/tasks/taskinformation-11.2/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:tasks="http://www.coda.com/common/schemas/tasks"
    targetNamespace="http://www.coda.com/common/schemas/tasks/taskinformation-11.2/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/tasks" schemaLocation="../wsdl/common/tasks/tasks.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Task" type="tasks:Task">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Task" minOccurs="0"
                    maxOccurs="unbounded" type="tasks:Task">
                    <xsd:annotation>
                        <xsd:documentation>The task is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListMyTasksResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Task" minOccurs="0"
                    maxOccurs="unbounded" type="tasks:Task">
                    <xsd:annotation>
                        <xsd:documentation>The task is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Task" type="tasks:TaskKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A key identifying the task.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListMyTasksRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TaskKey" type="tasks:TaskKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Task object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="tasksws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="tasksws:DeleteRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="tasksws:GetResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="tasksws:ListRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="tasksws:DeleteResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="tasksws:Options"/>
  </message>
  <message name="ListMyTasksRequest">
    <part name="ListMyTasksRequest" element="tasksws:ListMyTasksRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="tasksws:GetRequest"/>
  </message>
  <message name="ListMyTasksResponse">
    <part name="ListMyTasksResponse" element="tasksws:ListMyTasksResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="tasksws:ListResponse"/>
  </message>
  <portType name="TaskInformationServicePortTypes">
    <operation name="Delete">
      <input message="tasksws:DeleteRequest"/>
      <output message="tasksws:DeleteResponse"/>
    </operation>
    <operation name="ListMyTasks">
      <input message="tasksws:ListMyTasksRequest"/>
      <output message="tasksws:ListMyTasksResponse"/>
    </operation>
    <operation name="Get">
      <input message="tasksws:GetRequest"/>
      <output message="tasksws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="tasksws:ListRequest"/>
      <output message="tasksws:ListResponse"/>
    </operation>
  </portType>
  <binding name="TaskInformationServiceSOAPBinding" type="tasksws:TaskInformationServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TaskInformation/Delete" style="document"/>
      <input>
        <soap:header message="tasksws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tasksws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListMyTasks">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TaskInformation/ListMyTasks" style="document"/>
      <input>
        <soap:header message="tasksws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tasksws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TaskInformation/Get" style="document"/>
      <input>
        <soap:header message="tasksws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tasksws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TaskInformation/List" style="document"/>
      <input>
        <soap:header message="tasksws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tasksws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TaskInformationService">
    <port name="TaskInformationServicePort" binding="tasksws:TaskInformationServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/tasks/taskinformation-11.2"/>
    </port>
  </service>
</definitions>
