docs/Unit4 Financials HTML Documentation/wsdl/common-tablemaintenance-tablemaintenance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/tablemaintenance/tablemaintenance-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tabws="http://www.coda.com/common/schemas/tablemaintenance/tablemaintenance-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:tab="http://www.coda.com/common/schemas/tablemaintenance"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/tablemaintenance/tablemaintenance-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/tablemaintenance" schemaLocation="../wsdl/common/tablemaintenance/tablemaintenance.xsd"/>
    <xsd:element name="UpdateLinkTableRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Presenter" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The code for a metadata
                            presenter.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DataList" type="tab:TableMaintenanceUpdateLinkTableDataList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A list of data items in a Link
                            table.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OriginalKeyList" type="tab:TableMaintenanceUpdateLinkTableOriginalKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A list of original data items in a
                                Link table.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateLinkTableResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteLinkTableLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Presenter" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The code for a metadata
                            presenter.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OriginalKeyList" type="tab:TableMaintenanceDeleteLinkTableLinesOriginalKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A list of original data items in a
                                Link table.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateMultipleLinkTableLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Presenter" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The code for a metadata
                            presenter.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DataList" type="tab:TableMaintenanceUpdateMultipleLinkTableLinesDataList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A list of data items in a Link
                            table.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OriginalKeyList" type="tab:TableMaintenanceUpdateMultipleLinkTableLinesOriginalKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A list of original data items in a
                                Link table.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateMultipleLinkTableLinesResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteLinkTableLinesResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="tabws:Options"/>
  </message>
  <message name="UpdateLinkTableRequest">
    <part name="UpdateLinkTableRequest" element="tabws:UpdateLinkTableRequest"/>
  </message>
  <message name="UpdateMultipleLinkTableLinesRequest">
    <part name="UpdateMultipleLinkTableLinesRequest" element="tabws:UpdateMultipleLinkTableLinesRequest"/>
  </message>
  <message name="UpdateMultipleLinkTableLinesResponse">
    <part name="UpdateMultipleLinkTableLinesResponse" element="tabws:UpdateMultipleLinkTableLinesResponse"/>
  </message>
  <message name="DeleteLinkTableLinesRequest">
    <part name="DeleteLinkTableLinesRequest" element="tabws:DeleteLinkTableLinesRequest"/>
  </message>
  <message name="DeleteLinkTableLinesResponse">
    <part name="DeleteLinkTableLinesResponse" element="tabws:DeleteLinkTableLinesResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="tabws:OptionsResponse"/>
  </message>
  <message name="UpdateLinkTableResponse">
    <part name="UpdateLinkTableResponse" element="tabws:UpdateLinkTableResponse"/>
  </message>
  <portType name="TableMaintenanceServicePortTypes">
    <operation name="UpdateLinkTable">
      <input message="tabws:UpdateLinkTableRequest"/>
      <output message="tabws:UpdateLinkTableResponse"/>
    </operation>
    <operation name="DeleteLinkTableLines">
      <input message="tabws:DeleteLinkTableLinesRequest"/>
      <output message="tabws:DeleteLinkTableLinesResponse"/>
    </operation>
    <operation name="UpdateMultipleLinkTableLines">
      <input message="tabws:UpdateMultipleLinkTableLinesRequest"/>
      <output message="tabws:UpdateMultipleLinkTableLinesResponse"/>
    </operation>
  </portType>
  <binding name="TableMaintenanceServiceSOAPBinding" type="tabws:TableMaintenanceServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateLinkTable">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMaintenance/UpdateLinkTable" style="document"/>
      <input>
        <soap:header message="tabws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tabws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteLinkTableLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMaintenance/DeleteLinkTableLines" style="document"/>
      <input>
        <soap:header message="tabws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tabws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateMultipleLinkTableLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMaintenance/UpdateMultipleLinkTableLines" style="document"/>
      <input>
        <soap:header message="tabws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tabws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TableMaintenanceService">
    <port name="TableMaintenanceServicePort" binding="tabws:TableMaintenanceServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/tablemaintenance/tablemaintenance-13.0"/>
    </port>
  </service>
</definitions>
