docs/Unit4 Financials HTML Documentation/wsdl/common-sessioninfo-sessioninfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/sessioninfo/sessioninfo-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:sesws="http://www.coda.com/common/schemas/sessioninfo/sessioninfo-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ses="http://www.coda.com/common/schemas/sessioninfo"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/sessioninfo/sessioninfo-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/sessioninfo" schemaLocation="../wsdl/common/sessioninfo/sessioninfo.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SessionInfo" type="ses:SessionInfo">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SessionInfoKey" type="ses:SessionInfoKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the SessionInfo object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetResponse">
    <part name="GetResponse" element="sesws:GetResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="sesws:OptionsResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="sesws:GetRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="sesws:Options"/>
  </message>
  <portType name="SessionInfoServicePortTypes">
    <operation name="Get">
      <input message="sesws:GetRequest"/>
      <output message="sesws:GetResponse"/>
    </operation>
  </portType>
  <binding name="SessionInfoServiceSOAPBinding" type="sesws:SessionInfoServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/SessionInfo/Get" style="document"/>
      <input>
        <soap:header message="sesws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="sesws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SessionInfoService">
    <port name="SessionInfoServicePort" binding="sesws:SessionInfoServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/sessioninfo/sessioninfo-1.0"/>
    </port>
  </service>
</definitions>
