docs/Unit4 Financials HTML Documentation/wsdl/common-script-script.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/script/script-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:scrws="http://www.coda.com/common/schemas/script/script-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:scr="http://www.coda.com/common/schemas/script"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/script/script-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/script" schemaLocation="../wsdl/common/script/script.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateScriptRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Name" type="com:typeName">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The name of a script.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Script" type="com:typeTextAnyUnlimitedQuotes">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The script details.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateScriptResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ValidateScriptRequest">
    <part name="ValidateScriptRequest" element="scrws:ValidateScriptRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="scrws:Options"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="scrws:OptionsResponse"/>
  </message>
  <message name="ValidateScriptResponse">
    <part name="ValidateScriptResponse" element="scrws:ValidateScriptResponse"/>
  </message>
  <portType name="ScriptServicePortTypes">
    <operation name="ValidateScript">
      <input message="scrws:ValidateScriptRequest"/>
      <output message="scrws:ValidateScriptResponse"/>
    </operation>
  </portType>
  <binding name="ScriptServiceSOAPBinding" type="scrws:ScriptServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ValidateScript">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Script/ValidateScript" style="document"/>
      <input>
        <soap:header message="scrws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="scrws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ScriptService">
    <port name="ScriptServicePort" binding="scrws:ScriptServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/script/script-1.0"/>
    </port>
  </service>
</definitions>
