docs/Unit4 Financials HTML Documentation/wsdl/common-mapping-tablemappingmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/mapping/tablemappingmaster-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:mapws="http://www.coda.com/common/schemas/mapping/tablemappingmaster-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:fld="http://www.coda.com/common/schemas/repositoryfolder"
    xmlns:rep="http://www.coda.com/common/schemas/repository"
    xmlns:map="http://www.coda.com/common/schemas/mapping"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/mapping/tablemappingmaster-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/repositoryfolder" schemaLocation="common/repositoryfolder/repositoryfolder.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/repository" schemaLocation="common/repository/repository.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/mapping" schemaLocation="../wsdl/common/mapping/mapping.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TableMappingMaster" type="map:TableMappingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CreateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      A table mapping master code.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Table" type="com:typeTableName">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      A database table name.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PopulateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Populate" type="map:PopulateTask">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            populate function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PopulateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Definition" type="map:PopulateTask">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The details of a populate Link tables
                            task.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UploadFileRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileUploadData" type="map:FileUploadData">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The details of the file data to
                            upload.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the TableMappingMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the TableMappingMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TableMappingMasterList" type="map:TableMappingMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CreateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Create" type="map:TableMappingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            create function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TableMappingMaster" type="map:TableMappingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPopulateTaskRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Id" type="com:typeDbGuid">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A unique identifier for the
                            object.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPopulateTaskResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetPopulateTask" type="map:PopulateTask">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getPopulateTask function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TableMappingMaster" type="map:TableMappingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole TableMappingMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TableMappingMasterItemList" type="map:TableMappingMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TableMappingMasterKey" type="map:TableMappingMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            TableMappingMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TableMappingMaster" type="map:TableMappingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole TableMappingMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UploadFileResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RepositoryObjectTreeData" type="rep:RepoTreeItem">
                    <xsd:annotation>
                        <xsd:documentation>The repositoryObjectTreeData
                            is an out argument, so the server will put
                            it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TableMappingMaster" type="map:TableMappingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TableMappingMasterKey" type="map:TableMappingMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            TableMappingMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListResponse">
    <part name="ListResponse" element="mapws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="mapws:UpdateRequest"/>
  </message>
  <message name="CreateRequest">
    <part name="CreateRequest" element="mapws:CreateRequest"/>
  </message>
  <message name="CreateResponse">
    <part name="CreateResponse" element="mapws:CreateResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="mapws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="mapws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="mapws:ListRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="mapws:AddResponse"/>
  </message>
  <message name="UploadFileResponse">
    <part name="UploadFileResponse" element="mapws:UploadFileResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="mapws:GetResponse"/>
  </message>
  <message name="PopulateRequest">
    <part name="PopulateRequest" element="mapws:PopulateRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="mapws:GetRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="mapws:AddRequest"/>
  </message>
  <message name="UploadFileRequest">
    <part name="UploadFileRequest" element="mapws:UploadFileRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="mapws:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="mapws:DeleteResponse"/>
  </message>
  <message name="GetPopulateTaskResponse">
    <part name="GetPopulateTaskResponse" element="mapws:GetPopulateTaskResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="mapws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="mapws:OptionsResponse"/>
  </message>
  <message name="PopulateResponse">
    <part name="PopulateResponse" element="mapws:PopulateResponse"/>
  </message>
  <message name="GetPopulateTaskRequest">
    <part name="GetPopulateTaskRequest" element="mapws:GetPopulateTaskRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="mapws:FindRequest"/>
  </message>
  <portType name="TableMappingMasterServicePortTypes">
    <operation name="Add">
      <input message="mapws:AddRequest"/>
      <output message="mapws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="mapws:DeleteRequest"/>
      <output message="mapws:DeleteResponse"/>
    </operation>
    <operation name="UploadFile">
      <input message="mapws:UploadFileRequest"/>
      <output message="mapws:UploadFileResponse"/>
    </operation>
    <operation name="Create">
      <input message="mapws:CreateRequest"/>
      <output message="mapws:CreateResponse"/>
    </operation>
    <operation name="GetPopulateTask">
      <input message="mapws:GetPopulateTaskRequest"/>
      <output message="mapws:GetPopulateTaskResponse"/>
    </operation>
    <operation name="Get">
      <input message="mapws:GetRequest"/>
      <output message="mapws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="mapws:FindRequest"/>
      <output message="mapws:FindResponse"/>
    </operation>
    <operation name="Populate">
      <input message="mapws:PopulateRequest"/>
      <output message="mapws:PopulateResponse"/>
    </operation>
    <operation name="List">
      <input message="mapws:ListRequest"/>
      <output message="mapws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="mapws:UpdateRequest"/>
      <output message="mapws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="TableMappingMasterServiceSOAPBinding" type="mapws:TableMappingMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMappingMaster/Add" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMappingMaster/Delete" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UploadFile">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMappingMaster/UploadFile" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Create">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMappingMaster/Create" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetPopulateTask">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMappingMaster/GetPopulateTask" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMappingMaster/Get" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMappingMaster/Find" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Populate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMappingMaster/Populate" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMappingMaster/List" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TableMappingMaster/Update" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TableMappingMasterService">
    <port name="TableMappingMasterServicePort" binding="mapws:TableMappingMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/mapping/tablemappingmaster-13.0"/>
    </port>
  </service>
</definitions>
