docs/Unit4 Financials HTML Documentation/wsdl/common-appparams-appparams.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/appparams/appparams-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:appws="http://www.coda.com/common/schemas/appparams/appparams-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:app="http://www.coda.com/common/schemas/appparams"
    targetNamespace="http://www.coda.com/common/schemas/appparams/appparams-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/appparams" schemaLocation="../wsdl/common/appparams/appparams.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CommonAppParams" type="app:CommonAppParams">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CommonAppParams" type="app:CommonAppParams">
                    <xsd:annotation>
                        <xsd:documentation>The whole CommonAppParams
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CommonAppParams" type="app:CommonAppParams">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CommonAppParamsKey" type="app:CommonAppParamsKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            CommonAppParams object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="appws:Options"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="appws:UpdateResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="appws:UpdateRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="appws:GetRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="appws:GetResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="appws:OptionsResponse"/>
  </message>
  <portType name="AppParamsServicePortTypes">
    <operation name="Get">
      <input message="appws:GetRequest"/>
      <output message="appws:GetResponse"/>
    </operation>
    <operation name="Update">
      <input message="appws:UpdateRequest"/>
      <output message="appws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="AppParamsServiceSOAPBinding" type="appws:AppParamsServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/AppParams/Get" style="document"/>
      <input>
        <soap:header message="appws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="appws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/AppParams/Update" style="document"/>
      <input>
        <soap:header message="appws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="appws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AppParamsService">
    <port name="AppParamsServicePort" binding="appws:AppParamsServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/appparams/appparams-14.0"/>
    </port>
  </service>
</definitions>
