docs/Unit4 Financials HTML Documentation/wsdl/common-alerts-alert.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/alerts/alert-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:alews="http://www.coda.com/common/schemas/alerts/alert-1.0/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:use="http://www.coda.com/common/schemas/users"
    xmlns:ale="http://www.coda.com/common/schemas/alerts"
    xmlns:mes="http://www.coda.com/common/schemas/messagetransport"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/alerts/alert-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/alerts" schemaLocation="../wsdl/common/alerts/alerts.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/users" schemaLocation="common/users/users.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/messagetransport" schemaLocation="common/messagetransport/messagetransport.xsd"/>
    <xsd:element name="SendResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Send" type="com:typeDbGuid">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the send function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SendRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Alert" type="ale:Alert">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Users" type="use:Users">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="alews:OptionsResponse"/>
  </message>
  <message name="SendRequest">
    <part name="SendRequest" element="alews:SendRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="alews:Options"/>
  </message>
  <message name="SendResponse">
    <part name="SendResponse" element="alews:SendResponse"/>
  </message>
  <portType name="AlertServicePortTypes">
    <operation name="Send">
      <input message="alews:SendRequest"/>
      <output message="alews:SendResponse"/>
    </operation>
  </portType>
  <binding name="AlertServiceSOAPBinding" type="alews:AlertServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Send">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Alert/Send" style="document"/>
      <input>
        <soap:header message="alews:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="alews:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AlertService">
    <port name="AlertServicePort" binding="alews:AlertServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/alerts/alert-1.0"/>
    </port>
  </service>
</definitions>
