docs/Unit4 Financials HTML Documentation/wsdl/common-printingoptionsmaster-printingoptionsmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/printingoptionsmaster/printingoptionsmaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:priws="http://www.coda.com/common/schemas/printingoptionsmaster/printingoptionsmaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pri="http://www.coda.com/common/schemas/printingoptionsmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/printingoptionsmaster/printingoptionsmaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/printingoptionsmaster" schemaLocation="../wsdl/common/printingoptionsmaster/printingoptionsmaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PrintingOptionsMaster" type="pri:PrintingOptionsMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            PrintingOptionsMaster object that is to be
                            persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the PrintingOptionsMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PrintingOptionsMaster" type="pri:PrintingOptionsMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PrintingOptionsMasterItemList" type="pri:PrintingOptionsMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the PrintingOptionsMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PrintingOptionsMaster" type="pri:PrintingOptionsMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PrintingOptionsMaster" type="pri:PrintingOptionsMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PrintingOptionsMaster" type="pri:PrintingOptionsMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            PrintingOptionsMaster object that is to be
                            persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PrintingOptionsMasterKey" type="pri:PrintingOptionsMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            PrintingOptionsMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PrintingOptionsMasterKey" type="pri:PrintingOptionsMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            PrintingOptionsMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PrintingOptionsMasterList" type="pri:PrintingOptionsMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="priws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="priws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="priws:DeleteResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="priws:GetRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="priws:FindRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="priws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="priws:OptionsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="priws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="priws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="priws:ListRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="priws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="priws:ListResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="priws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="priws:AddResponse"/>
  </message>
  <portType name="PrintingOptionsMasterServicePortTypes">
    <operation name="Add">
      <input message="priws:AddRequest"/>
      <output message="priws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="priws:DeleteRequest"/>
      <output message="priws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="priws:GetRequest"/>
      <output message="priws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="priws:FindRequest"/>
      <output message="priws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="priws:ListRequest"/>
      <output message="priws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="priws:UpdateRequest"/>
      <output message="priws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="PrintingOptionsMasterServiceSOAPBinding" type="priws:PrintingOptionsMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PrintingOptionsMaster/Add" style="document"/>
      <input>
        <soap:header message="priws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="priws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PrintingOptionsMaster/Delete" style="document"/>
      <input>
        <soap:header message="priws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="priws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PrintingOptionsMaster/Get" style="document"/>
      <input>
        <soap:header message="priws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="priws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PrintingOptionsMaster/Find" style="document"/>
      <input>
        <soap:header message="priws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="priws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PrintingOptionsMaster/List" style="document"/>
      <input>
        <soap:header message="priws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="priws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/PrintingOptionsMaster/Update" style="document"/>
      <input>
        <soap:header message="priws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="priws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PrintingOptionsMasterService">
    <port name="PrintingOptionsMasterServicePort" binding="priws:PrintingOptionsMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/printingoptionsmaster/printingoptionsmaster-1.0"/>
    </port>
  </service>
</definitions>
