docs/Unit4 Financials HTML Documentation/wsdl/common-audittrail-audittrail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/audittrail/audittrail-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:atlws="http://www.coda.com/common/schemas/audittrail/audittrail-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:atl="http://www.coda.com/common/schemas/audittrail"
    targetNamespace="http://www.coda.com/common/schemas/audittrail/audittrail-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/audittrail" schemaLocation="../wsdl/common/audittrail/audittrail.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="DeleteQueryRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the AuditTrail objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListInReverseDateOrderResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AuditTrailList" type="atl:AuditTrailList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listInReverseDateOrder function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the AuditTrail objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AuditTrail" type="atl:AuditTrail">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AuditTrailList" type="atl:AuditTrailList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the AuditTrail objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BulkDeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BulkDeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AuditTrailKeyList" type="atl:AuditTrailKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The list of keys AuditTrail objects
                                to delete.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AuditTrailKey" type="atl:AuditTrailKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the AuditTrail object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListInReverseDateOrderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the AuditTrail objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AuditTrailKey" type="atl:AuditTrailKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the AuditTrail object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteQueryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AuditTrailList" type="atl:AuditTrailList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            deleteQuery function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AuditTrailList" type="atl:AuditTrailList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListResponse">
    <part name="ListResponse" element="atlws:ListResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="atlws:Options"/>
  </message>
  <message name="BulkDeleteRequest">
    <part name="BulkDeleteRequest" element="atlws:BulkDeleteRequest"/>
  </message>
  <message name="DeleteQueryRequest">
    <part name="DeleteQueryRequest" element="atlws:DeleteQueryRequest"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="atlws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="atlws:ListRequest"/>
  </message>
  <message name="BulkDeleteResponse">
    <part name="BulkDeleteResponse" element="atlws:BulkDeleteResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="atlws:GetResponse"/>
  </message>
  <message name="DeleteQueryResponse">
    <part name="DeleteQueryResponse" element="atlws:DeleteQueryResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="atlws:GetRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="atlws:DeleteResponse"/>
  </message>
  <message name="ListInReverseDateOrderResponse">
    <part name="ListInReverseDateOrderResponse" element="atlws:ListInReverseDateOrderResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="atlws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="atlws:OptionsResponse"/>
  </message>
  <message name="ListInReverseDateOrderRequest">
    <part name="ListInReverseDateOrderRequest" element="atlws:ListInReverseDateOrderRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="atlws:FindRequest"/>
  </message>
  <portType name="AuditTrailServicePortTypes">
    <operation name="Delete">
      <input message="atlws:DeleteRequest"/>
      <output message="atlws:DeleteResponse"/>
    </operation>
    <operation name="ListInReverseDateOrder">
      <input message="atlws:ListInReverseDateOrderRequest"/>
      <output message="atlws:ListInReverseDateOrderResponse"/>
    </operation>
    <operation name="BulkDelete">
      <input message="atlws:BulkDeleteRequest"/>
      <output message="atlws:BulkDeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="atlws:GetRequest"/>
      <output message="atlws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="atlws:FindRequest"/>
      <output message="atlws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="atlws:ListRequest"/>
      <output message="atlws:ListResponse"/>
    </operation>
    <operation name="DeleteQuery">
      <input message="atlws:DeleteQueryRequest"/>
      <output message="atlws:DeleteQueryResponse"/>
    </operation>
  </portType>
  <binding name="AuditTrailServiceSOAPBinding" type="atlws:AuditTrailServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/AuditTrail/Delete" style="document"/>
      <input>
        <soap:header message="atlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="atlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListInReverseDateOrder">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/AuditTrail/ListInReverseDateOrder" style="document"/>
      <input>
        <soap:header message="atlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="atlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="BulkDelete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/AuditTrail/BulkDelete" style="document"/>
      <input>
        <soap:header message="atlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="atlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/AuditTrail/Get" style="document"/>
      <input>
        <soap:header message="atlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="atlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/AuditTrail/Find" style="document"/>
      <input>
        <soap:header message="atlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="atlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/AuditTrail/List" style="document"/>
      <input>
        <soap:header message="atlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="atlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteQuery">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/AuditTrail/DeleteQuery" style="document"/>
      <input>
        <soap:header message="atlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="atlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AuditTrailService">
    <port name="AuditTrailServicePort" binding="atlws:AuditTrailServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/audittrail/audittrail-12.0"/>
    </port>
  </service>
</definitions>
