docs/Unit4 Financials HTML Documentation/wsdl/common-formtypemaster-formtypemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/formtypemaster/formtypemaster-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:forws="http://www.coda.com/common/schemas/formtypemaster/formtypemaster-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:for="http://www.coda.com/common/schemas/formtypemaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/formtypemaster/formtypemaster-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/formtypemaster" schemaLocation="../wsdl/common/formtypemaster/formtypemaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FormType" type="for:FormType">
                    <xsd:annotation>
                        <xsd:documentation>The whole FormType object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the FormType objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FormType" type="for:FormType">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FormTypeItemList" type="for:FormTypeItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the FormType objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FormType" type="for:FormType">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FormType" type="for:FormType">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FormType" type="for:FormType">
                    <xsd:annotation>
                        <xsd:documentation>The whole FormType object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FormTypeKey" type="for:FormTypeKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the FormType object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FormTypeKey" type="for:FormTypeKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the FormType object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FormTypeList" type="for:FormTypeList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetRequest">
    <part name="GetRequest" element="forws:GetRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="forws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="forws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="forws:DeleteResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="forws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="forws:OptionsResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="forws:FindRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="forws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="forws:ListResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="forws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="forws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="forws:ListRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="forws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="forws:AddResponse"/>
  </message>
  <portType name="FormTypeMasterServicePortTypes">
    <operation name="Add">
      <input message="forws:AddRequest"/>
      <output message="forws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="forws:DeleteRequest"/>
      <output message="forws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="forws:GetRequest"/>
      <output message="forws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="forws:FindRequest"/>
      <output message="forws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="forws:ListRequest"/>
      <output message="forws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="forws:UpdateRequest"/>
      <output message="forws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="FormTypeMasterServiceSOAPBinding" type="forws:FormTypeMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FormTypeMaster/Add" style="document"/>
      <input>
        <soap:header message="forws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="forws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FormTypeMaster/Delete" style="document"/>
      <input>
        <soap:header message="forws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="forws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FormTypeMaster/Get" style="document"/>
      <input>
        <soap:header message="forws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="forws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FormTypeMaster/Find" style="document"/>
      <input>
        <soap:header message="forws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="forws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FormTypeMaster/List" style="document"/>
      <input>
        <soap:header message="forws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="forws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FormTypeMaster/Update" style="document"/>
      <input>
        <soap:header message="forws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="forws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FormTypeMasterService">
    <port name="FormTypeMasterServicePort" binding="forws:FormTypeMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/formtypemaster/formtypemaster-13.0"/>
    </port>
  </service>
</definitions>
