docs/Unit4 Financials HTML Documentation/wsdl/common-outputdevice-outputdevicemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/outputdevice/outputdevicemaster-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:odmws="http://www.coda.com/common/schemas/outputdevice/outputdevicemaster-14.0/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:mes="http://www.coda.com/common/schemas/messagetransport"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:fld="http://www.coda.com/common/schemas/repositoryfolder"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:odm="http://www.coda.com/common/schemas/outputdevice"
    targetNamespace="http://www.coda.com/common/schemas/outputdevice/outputdevicemaster-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/repositoryfolder" schemaLocation="common/repositoryfolder/repositoryfolder.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/outputdevice" schemaLocation="../wsdl/common/outputdevice/outputdevice.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/messagetransport" schemaLocation="common/messagetransport/messagetransport.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutputDeviceMaster" type="odm:OutputDeviceMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole OutputDeviceMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the OutputDeviceMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutputDeviceMaster" type="odm:OutputDeviceMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CreateTestOutputRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutputDeviceMaster" type="odm:OutputDeviceMaster">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The output device master to
                                use.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutputDeviceMasterItemList" type="odm:OutputDeviceMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the OutputDeviceMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutputDeviceMaster" type="odm:OutputDeviceMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutputDeviceMaster" type="odm:OutputDeviceMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutputDeviceMaster" type="odm:OutputDeviceMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole OutputDeviceMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutputDeviceMasterKey" type="odm:OutputDeviceMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            OutputDeviceMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CreateTestOutputResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutputDeviceMasterKey" type="odm:OutputDeviceMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            OutputDeviceMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutputDeviceMasterList" type="odm:OutputDeviceMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetRequest">
    <part name="GetRequest" element="odmws:GetRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="odmws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="odmws:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="odmws:DeleteResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="odmws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="odmws:OptionsResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="odmws:FindRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="odmws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="odmws:UpdateRequest"/>
  </message>
  <message name="CreateTestOutputRequest">
    <part name="CreateTestOutputRequest" element="odmws:CreateTestOutputRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="odmws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="odmws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="odmws:ListRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="odmws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="odmws:GetResponse"/>
  </message>
  <message name="CreateTestOutputResponse">
    <part name="CreateTestOutputResponse" element="odmws:CreateTestOutputResponse"/>
  </message>
  <portType name="OutputDeviceMasterServicePortTypes">
    <operation name="Delete">
      <input message="odmws:DeleteRequest"/>
      <output message="odmws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="odmws:AddRequest"/>
      <output message="odmws:AddResponse"/>
    </operation>
    <operation name="CreateTestOutput">
      <input message="odmws:CreateTestOutputRequest"/>
      <output message="odmws:CreateTestOutputResponse"/>
    </operation>
    <operation name="Get">
      <input message="odmws:GetRequest"/>
      <output message="odmws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="odmws:FindRequest"/>
      <output message="odmws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="odmws:ListRequest"/>
      <output message="odmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="odmws:UpdateRequest"/>
      <output message="odmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="OutputDeviceMasterServiceSOAPBinding" type="odmws:OutputDeviceMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/OutputDeviceMaster/Delete" style="document"/>
      <input>
        <soap:header message="odmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="odmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/OutputDeviceMaster/Add" style="document"/>
      <input>
        <soap:header message="odmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="odmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateTestOutput">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/OutputDeviceMaster/CreateTestOutput" style="document"/>
      <input>
        <soap:header message="odmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="odmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/OutputDeviceMaster/Get" style="document"/>
      <input>
        <soap:header message="odmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="odmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/OutputDeviceMaster/Find" style="document"/>
      <input>
        <soap:header message="odmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="odmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/OutputDeviceMaster/List" style="document"/>
      <input>
        <soap:header message="odmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="odmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/OutputDeviceMaster/Update" style="document"/>
      <input>
        <soap:header message="odmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="odmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OutputDeviceMasterService">
    <port name="OutputDeviceMasterServicePort" binding="odmws:OutputDeviceMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/outputdevice/outputdevicemaster-14.0"/>
    </port>
  </service>
</definitions>
