docs/Unit4 Financials HTML Documentation/wsdl/common-flexifieldmaster-flexifieldmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/flexifieldmaster/flexifieldmaster-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ffmws="http://www.coda.com/common/schemas/flexifieldmaster/flexifieldmaster-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:ffm="http://www.coda.com/common/schemas/flexifieldmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/flexifieldmaster/flexifieldmaster-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/flexifieldmaster" schemaLocation="../wsdl/common/flexifieldmaster/flexifieldmaster.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMaster" type="ffm:FlexiFieldMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExportMastersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexifieldMasterForExport"
                    minOccurs="0" maxOccurs="unbounded" type="ffm:FlexiFieldMaster">
                    <xsd:annotation>
                        <xsd:documentation>The flexifieldMasterForExport
                            is an out argument, so the server will put
                            it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ExportErrors" minOccurs="0"
                    maxOccurs="unbounded" type="ffm:ExportError">
                    <xsd:annotation>
                        <xsd:documentation>The ExportErrors is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the FlexiFieldMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the FlexiFieldMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMasterList" type="ffm:FlexiFieldMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExportMastersRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexifieldMasterKeyList" type="ffm:FlexiFieldMasterKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       Flexi-field master keys.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ImportMastersRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexifieldMasterList" type="ffm:FlexiFieldMasterList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       Flexi-field masters to be
                                imported. They will be added by default
                                (and hence fail if they already exist),
                                but if the key is passed in the
                                mastersToUpdate arg then they will
                                be updated instead (and hence fail if
                                they do not exist).       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MastersToUpdateKeyList" type="ffm:FlexiFieldMasterKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       Flexi-field master keys,
                                represent the masters that are to be
                                updated rather than added.      </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMaster" type="ffm:FlexiFieldMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMaster" type="ffm:FlexiFieldMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole FlexiFieldMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMasterItemList" type="ffm:FlexiFieldMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListTypesRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMasterKey" type="ffm:FlexiFieldMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            FlexiFieldMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListTypesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Types" type="ffm:Types">
                    <xsd:annotation>
                        <xsd:documentation>The types is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMaster" type="ffm:FlexiFieldMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole FlexiFieldMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ImportMastersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Errors" minOccurs="0"
                    maxOccurs="unbounded" type="ffm:ImportError">
                    <xsd:annotation>
                        <xsd:documentation>The errors is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMaster" type="ffm:FlexiFieldMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMasterKey" type="ffm:FlexiFieldMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            FlexiFieldMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListTypesResponse">
    <part name="ListTypesResponse" element="ffmws:ListTypesResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="ffmws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="ffmws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="ffmws:FindResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="ffmws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="ffmws:UpdateRequest"/>
  </message>
  <message name="ListTypesRequest">
    <part name="ListTypesRequest" element="ffmws:ListTypesRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="ffmws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="ffmws:GetResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="ffmws:DeleteResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="ffmws:AddRequest"/>
  </message>
  <message name="ExportMastersRequest">
    <part name="ExportMastersRequest" element="ffmws:ExportMastersRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="ffmws:UpdateResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="ffmws:GetRequest"/>
  </message>
  <message name="ImportMastersRequest">
    <part name="ImportMastersRequest" element="ffmws:ImportMastersRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="ffmws:FindRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="ffmws:OptionsResponse"/>
  </message>
  <message name="ExportMastersResponse">
    <part name="ExportMastersResponse" element="ffmws:ExportMastersResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="ffmws:DeleteRequest"/>
  </message>
  <message name="ImportMastersResponse">
    <part name="ImportMastersResponse" element="ffmws:ImportMastersResponse"/>
  </message>
  <portType name="FlexiFieldMasterServicePortTypes">
    <operation name="Delete">
      <input message="ffmws:DeleteRequest"/>
      <output message="ffmws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="ffmws:AddRequest"/>
      <output message="ffmws:AddResponse"/>
    </operation>
    <operation name="ExportMasters">
      <input message="ffmws:ExportMastersRequest"/>
      <output message="ffmws:ExportMastersResponse"/>
    </operation>
    <operation name="ImportMasters">
      <input message="ffmws:ImportMastersRequest"/>
      <output message="ffmws:ImportMastersResponse"/>
    </operation>
    <operation name="Get">
      <input message="ffmws:GetRequest"/>
      <output message="ffmws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="ffmws:FindRequest"/>
      <output message="ffmws:FindResponse"/>
    </operation>
    <operation name="ListTypes">
      <input message="ffmws:ListTypesRequest"/>
      <output message="ffmws:ListTypesResponse"/>
    </operation>
    <operation name="List">
      <input message="ffmws:ListRequest"/>
      <output message="ffmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="ffmws:UpdateRequest"/>
      <output message="ffmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="FlexiFieldMasterServiceSOAPBinding" type="ffmws:FlexiFieldMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FlexiFieldMaster/Delete" style="document"/>
      <input>
        <soap:header message="ffmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ffmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FlexiFieldMaster/Add" style="document"/>
      <input>
        <soap:header message="ffmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ffmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ExportMasters">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FlexiFieldMaster/ExportMasters" style="document"/>
      <input>
        <soap:header message="ffmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ffmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ImportMasters">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FlexiFieldMaster/ImportMasters" style="document"/>
      <input>
        <soap:header message="ffmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ffmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FlexiFieldMaster/Get" style="document"/>
      <input>
        <soap:header message="ffmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ffmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FlexiFieldMaster/Find" style="document"/>
      <input>
        <soap:header message="ffmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ffmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListTypes">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FlexiFieldMaster/ListTypes" style="document"/>
      <input>
        <soap:header message="ffmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ffmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FlexiFieldMaster/List" style="document"/>
      <input>
        <soap:header message="ffmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ffmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FlexiFieldMaster/Update" style="document"/>
      <input>
        <soap:header message="ffmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ffmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FlexiFieldMasterService">
    <port name="FlexiFieldMasterServicePort" binding="ffmws:FlexiFieldMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/flexifieldmaster/flexifieldmaster-14.0"/>
    </port>
  </service>
</definitions>
