docs/Unit4 Financials HTML Documentation/wsdl/common-workflowapi-processdefinition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/workflowapi/processdefinition-11.3/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:worws="http://www.coda.com/common/schemas/workflowapi/processdefinition-11.3/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:use="http://www.coda.com/common/schemas/userextension"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:wor="http://www.coda.com/common/schemas/workflowapi"
    xmlns:atc="http://www.coda.com/common/schemas/attachment"
    xmlns:wsd="http://www.coda.com/common/schemas/wsdl"
    xmlns:gra="http://www.coda.com/common/schemas/graphlayout"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:spec="http://www.coda.com/common/schemas/workflow"
    xmlns:datatypes="http://www.coda.com/common/schemas/datatypes"
    targetNamespace="http://www.coda.com/common/schemas/workflowapi/processdefinition-11.3/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/workflow" schemaLocation="common/workflow/workflow.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/graphlayout" schemaLocation="common/graphlayout/graphlayout.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/userextension" schemaLocation="common/userextension/userextension.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/workflowapi" schemaLocation="../wsdl/common/workflowapi/workflowapi.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/attachment" schemaLocation="common/attachment/attachment.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/wsdl" schemaLocation="common/wsdl/wsdl.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/datatypes" schemaLocation="common/datatypes/datatypes.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Definition" type="wor:ProcessDefinition">
                    <xsd:annotation>
                        <xsd:documentation>The definition is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLatestResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetLatest" type="wor:ProcessDefinition">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getLatest function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Definition" type="wor:ProcessDefinition">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The workflow process definition
                            details.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Current" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Specifies whether to retrieve only
                                the current versions.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeCodeWild">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A workflow process definition
                            code.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ShortName" type="com:typeShortNameWild">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A workflow process short name.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RowLimit" type="com:typeLong">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The maximum number of workflow
                                process definitions to retrieve.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Get" type="wor:ProcessDefinition">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetVersionedWebServiceInfoRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ScopeCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The code for the Web service.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ScopeVersion" type="com:typeLong">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The version of the Web service.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Definition" type="wor:ProcessDefinition">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The workflow process definition.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Definitions" type="wor:ProcessDefinitionItems">
                    <xsd:annotation>
                        <xsd:documentation>The definitions is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListActiveRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Date" type="com:typeHard">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A specific date.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RowLimit" type="com:typeLong">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The maximum number of workflow
                                process definitions to retrieve.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The workflow process definition
                            code.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Version" type="com:typeLong">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The workflow process definition
                                version number.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListActiveResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Definitions" type="wor:ProcessDefinitionItems">
                    <xsd:annotation>
                        <xsd:documentation>The definitions is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLatestRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A workflow process definition
                            code.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Definition" type="wor:ProcessDefinition">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The workflow process definition.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Definition" type="wor:ProcessDefinition">
                    <xsd:annotation>
                        <xsd:documentation>The definition is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetWebServiceInfoRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ScopeCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The code of the Web service.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetWebServiceInfoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Information" type="wsd:TypeScope">
                    <xsd:annotation>
                        <xsd:documentation>The information is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetVersionedWebServiceInfoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Information" type="wsd:TypeScope">
                    <xsd:annotation>
                        <xsd:documentation>The information is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The code of the workflow process
                            definition.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Version" type="com:typeLong">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The version of the workflow process
                            definition.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ValidateRequest">
    <part name="ValidateRequest" element="worws:ValidateRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="worws:GetRequest"/>
  </message>
  <message name="GetWebServiceInfoRequest">
    <part name="GetWebServiceInfoRequest" element="worws:GetWebServiceInfoRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="worws:AddRequest"/>
  </message>
  <message name="GetLatestRequest">
    <part name="GetLatestRequest" element="worws:GetLatestRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="worws:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="worws:DeleteResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="worws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="worws:OptionsResponse"/>
  </message>
  <message name="ListActiveRequest">
    <part name="ListActiveRequest" element="worws:ListActiveRequest"/>
  </message>
  <message name="ListActiveResponse">
    <part name="ListActiveResponse" element="worws:ListActiveResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="worws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="worws:UpdateRequest"/>
  </message>
  <message name="ValidateResponse">
    <part name="ValidateResponse" element="worws:ValidateResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="worws:Options"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="worws:ListRequest"/>
  </message>
  <message name="GetLatestResponse">
    <part name="GetLatestResponse" element="worws:GetLatestResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="worws:AddResponse"/>
  </message>
  <message name="GetVersionedWebServiceInfoRequest">
    <part name="GetVersionedWebServiceInfoRequest" element="worws:GetVersionedWebServiceInfoRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="worws:GetResponse"/>
  </message>
  <message name="GetWebServiceInfoResponse">
    <part name="GetWebServiceInfoResponse" element="worws:GetWebServiceInfoResponse"/>
  </message>
  <message name="GetVersionedWebServiceInfoResponse">
    <part name="GetVersionedWebServiceInfoResponse" element="worws:GetVersionedWebServiceInfoResponse"/>
  </message>
  <portType name="ProcessDefinitionServicePortTypes">
    <operation name="Add">
      <input message="worws:AddRequest"/>
      <output message="worws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="worws:DeleteRequest"/>
      <output message="worws:DeleteResponse"/>
    </operation>
    <operation name="Validate">
      <input message="worws:ValidateRequest"/>
      <output message="worws:ValidateResponse"/>
    </operation>
    <operation name="Get">
      <input message="worws:GetRequest"/>
      <output message="worws:GetResponse"/>
    </operation>
    <operation name="ListActive">
      <input message="worws:ListActiveRequest"/>
      <output message="worws:ListActiveResponse"/>
    </operation>
    <operation name="List">
      <input message="worws:ListRequest"/>
      <output message="worws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="worws:UpdateRequest"/>
      <output message="worws:UpdateResponse"/>
    </operation>
    <operation name="GetLatest">
      <input message="worws:GetLatestRequest"/>
      <output message="worws:GetLatestResponse"/>
    </operation>
    <operation name="GetWebServiceInfo">
      <input message="worws:GetWebServiceInfoRequest"/>
      <output message="worws:GetWebServiceInfoResponse"/>
    </operation>
    <operation name="GetVersionedWebServiceInfo">
      <input message="worws:GetVersionedWebServiceInfoRequest"/>
      <output message="worws:GetVersionedWebServiceInfoResponse"/>
    </operation>
  </portType>
  <binding name="ProcessDefinitionServiceSOAPBinding" type="worws:ProcessDefinitionServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ProcessDefinition/Add" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ProcessDefinition/Delete" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Validate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ProcessDefinition/Validate" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ProcessDefinition/Get" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListActive">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ProcessDefinition/ListActive" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ProcessDefinition/List" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ProcessDefinition/Update" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetLatest">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ProcessDefinition/GetLatest" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetWebServiceInfo">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ProcessDefinition/GetWebServiceInfo" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetVersionedWebServiceInfo">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/ProcessDefinition/GetVersionedWebServiceInfo" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProcessDefinitionService">
    <port name="ProcessDefinitionServicePort" binding="worws:ProcessDefinitionServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/workflowapi/processdefinition-11.3"/>
    </port>
  </service>
</definitions>
