docs/Unit4 Financials HTML Documentation/wsdl/common-usercapability-usercapability.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/usercapability/usercapability-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:usercapabilityws="http://www.coda.com/common/schemas/usercapability/usercapability-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:usercapability="http://www.coda.com/common/schemas/usercapability"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/usercapability/usercapability-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/usercapability" schemaLocation="../wsdl/common/usercapability/usercapability.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateUserResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateUserRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UserCode" type="com:typeCodeB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The user master that you want to
                            update.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DefaultCapabilityCode" type="com:typeCodeB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The new default capability master for
                                the user.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CompanyCode" type="com:typeCodeB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The new company code for the
                            capability.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CompanyCapabilityCode" type="com:typeCodeB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The new capability master for the
                                user for the specified company.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="GroupCode" type="com:typeCodeB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The new company group code for the
                            capability.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="GroupCapabilityCode" type="com:typeCodeB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The new capability master for the
                                user for the specified company
                            group.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UpdateUserResponse">
    <part name="UpdateUserResponse" element="usercapabilityws:UpdateUserResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="usercapabilityws:OptionsResponse"/>
  </message>
  <message name="UpdateUserRequest">
    <part name="UpdateUserRequest" element="usercapabilityws:UpdateUserRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="usercapabilityws:Options"/>
  </message>
  <portType name="UserCapabilityServicePortTypes">
    <operation name="UpdateUser">
      <input message="usercapabilityws:UpdateUserRequest"/>
      <output message="usercapabilityws:UpdateUserResponse"/>
    </operation>
  </portType>
  <binding name="UserCapabilityServiceSOAPBinding" type="usercapabilityws:UserCapabilityServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateUser">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserCapability/UpdateUser" style="document"/>
      <input>
        <soap:header message="usercapabilityws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="usercapabilityws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UserCapabilityService">
    <port name="UserCapabilityServicePort" binding="usercapabilityws:UserCapabilityServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/usercapability/usercapability-14.0"/>
    </port>
  </service>
</definitions>
