docs/Unit4 Financials HTML Documentation/wsdl/common-datasecuritymaster-datasecuritymaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/datasecuritymaster/datasecuritymaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:secsysws="http://www.coda.com/common/schemas/datasecuritymaster/datasecuritymaster-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:use="http://www.coda.com/common/schemas/userextension"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:secsys="http://www.coda.com/common/schemas/datasecuritymaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/datasecuritymaster/datasecuritymaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/userextension" schemaLocation="common/userextension/userextension.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/datasecuritymaster" schemaLocation="../wsdl/common/datasecuritymaster/datasecuritymaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DataSecurityMaster" type="secsys:DataSecurityMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole DataSecurityMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IsDataSecurityReferencedRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TargetDataSecurityMaster" type="secsys:DataSecurityMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The target DataSecurityMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the DataSecurityMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DataSecurityMaster" type="secsys:DataSecurityMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DataSecurityMasterItemList" type="secsys:DataSecurityMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the DataSecurityMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DataSecurityMaster" type="secsys:DataSecurityMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DataSecurityMaster" type="secsys:DataSecurityMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DataSecurityMaster" type="secsys:DataSecurityMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole DataSecurityMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DataSecurityMasterKey" type="secsys:DataSecurityMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            DataSecurityMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IsDataSecurityReferencedResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsDataSecurityReferenced" type="secsys:MasterReferencedInfo">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            isDataSecurityReferenced function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DataSecurityMasterKey" type="secsys:DataSecurityMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            DataSecurityMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DataSecurityMasterList" type="secsys:DataSecurityMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="secsysws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="secsysws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="secsysws:AddRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="secsysws:GetRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="secsysws:FindRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="secsysws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="secsysws:DeleteRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="secsysws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="secsysws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="secsysws:FindResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="secsysws:UpdateRequest"/>
  </message>
  <message name="IsDataSecurityReferencedRequest">
    <part name="IsDataSecurityReferencedRequest" element="secsysws:IsDataSecurityReferencedRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="secsysws:ListResponse"/>
  </message>
  <message name="IsDataSecurityReferencedResponse">
    <part name="IsDataSecurityReferencedResponse" element="secsysws:IsDataSecurityReferencedResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="secsysws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="secsysws:AddResponse"/>
  </message>
  <portType name="DataSecurityMasterServicePortTypes">
    <operation name="Delete">
      <input message="secsysws:DeleteRequest"/>
      <output message="secsysws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="secsysws:AddRequest"/>
      <output message="secsysws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="secsysws:GetRequest"/>
      <output message="secsysws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="secsysws:FindRequest"/>
      <output message="secsysws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="secsysws:ListRequest"/>
      <output message="secsysws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="secsysws:UpdateRequest"/>
      <output message="secsysws:UpdateResponse"/>
    </operation>
    <operation name="IsDataSecurityReferenced">
      <input message="secsysws:IsDataSecurityReferencedRequest"/>
      <output message="secsysws:IsDataSecurityReferencedResponse"/>
    </operation>
  </portType>
  <binding name="DataSecurityMasterServiceSOAPBinding" type="secsysws:DataSecurityMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/DataSecurityMaster/Delete" style="document"/>
      <input>
        <soap:header message="secsysws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="secsysws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/DataSecurityMaster/Add" style="document"/>
      <input>
        <soap:header message="secsysws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="secsysws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/DataSecurityMaster/Get" style="document"/>
      <input>
        <soap:header message="secsysws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="secsysws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/DataSecurityMaster/Find" style="document"/>
      <input>
        <soap:header message="secsysws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="secsysws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/DataSecurityMaster/List" style="document"/>
      <input>
        <soap:header message="secsysws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="secsysws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/DataSecurityMaster/Update" style="document"/>
      <input>
        <soap:header message="secsysws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="secsysws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IsDataSecurityReferenced">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/DataSecurityMaster/IsDataSecurityReferenced" style="document"/>
      <input>
        <soap:header message="secsysws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="secsysws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DataSecurityMasterService">
    <port name="DataSecurityMasterServicePort" binding="secsysws:DataSecurityMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/datasecuritymaster/datasecuritymaster-12.0"/>
    </port>
  </service>
</definitions>
