docs/Unit4 Financials HTML Documentation/wsdl/common-tasks-taskmanager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/tasks/taskmanager-11.2/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tasksws="http://www.coda.com/common/schemas/tasks/taskmanager-11.2/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:tasks="http://www.coda.com/common/schemas/tasks"
    targetNamespace="http://www.coda.com/common/schemas/tasks/taskmanager-11.2/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/tasks" schemaLocation="../wsdl/common/tasks/tasks.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="ListTaskTypesRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListTaskTypesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Type" minOccurs="0"
                    maxOccurs="unbounded" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>The type is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListTaskInfoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Task" minOccurs="0"
                    maxOccurs="unbounded" type="tasks:TaskInfo">
                    <xsd:annotation>
                        <xsd:documentation>The task is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetTaskInfoRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Type" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The type of task.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RunResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Run" type="com:typeDbGuid">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            run function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StopResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RunRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Type" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The type of task to run.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Parameters" type="tasks:Parameters"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetTaskInfoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetTaskInfo" type="tasks:TaskInfo">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getTaskInfo function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListTaskInfoRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SendControlRequestRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TargetTask" type="tasks:TaskKey">
                    <xsd:annotation>
                        <xsd:documentation>The target Task object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ControlRequest" type="com:typeULongB">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SendControlRequestResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StopRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Task" type="tasks:TaskKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The task that is to be stopped.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="StopRequest">
    <part name="StopRequest" element="tasksws:StopRequest"/>
  </message>
  <message name="SendControlRequestRequest">
    <part name="SendControlRequestRequest" element="tasksws:SendControlRequestRequest"/>
  </message>
  <message name="GetTaskInfoRequest">
    <part name="GetTaskInfoRequest" element="tasksws:GetTaskInfoRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="tasksws:Options"/>
  </message>
  <message name="RunResponse">
    <part name="RunResponse" element="tasksws:RunResponse"/>
  </message>
  <message name="SendControlRequestResponse">
    <part name="SendControlRequestResponse" element="tasksws:SendControlRequestResponse"/>
  </message>
  <message name="ListTaskTypesRequest">
    <part name="ListTaskTypesRequest" element="tasksws:ListTaskTypesRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="tasksws:OptionsResponse"/>
  </message>
  <message name="RunRequest">
    <part name="RunRequest" element="tasksws:RunRequest"/>
  </message>
  <message name="GetTaskInfoResponse">
    <part name="GetTaskInfoResponse" element="tasksws:GetTaskInfoResponse"/>
  </message>
  <message name="StopResponse">
    <part name="StopResponse" element="tasksws:StopResponse"/>
  </message>
  <message name="ListTaskInfoResponse">
    <part name="ListTaskInfoResponse" element="tasksws:ListTaskInfoResponse"/>
  </message>
  <message name="ListTaskInfoRequest">
    <part name="ListTaskInfoRequest" element="tasksws:ListTaskInfoRequest"/>
  </message>
  <message name="ListTaskTypesResponse">
    <part name="ListTaskTypesResponse" element="tasksws:ListTaskTypesResponse"/>
  </message>
  <portType name="TaskManagerServicePortTypes">
    <operation name="GetTaskInfo">
      <input message="tasksws:GetTaskInfoRequest"/>
      <output message="tasksws:GetTaskInfoResponse"/>
    </operation>
    <operation name="Stop">
      <input message="tasksws:StopRequest"/>
      <output message="tasksws:StopResponse"/>
    </operation>
    <operation name="SendControlRequest">
      <input message="tasksws:SendControlRequestRequest"/>
      <output message="tasksws:SendControlRequestResponse"/>
    </operation>
    <operation name="Run">
      <input message="tasksws:RunRequest"/>
      <output message="tasksws:RunResponse"/>
    </operation>
    <operation name="ListTaskInfo">
      <input message="tasksws:ListTaskInfoRequest"/>
      <output message="tasksws:ListTaskInfoResponse"/>
    </operation>
    <operation name="ListTaskTypes">
      <input message="tasksws:ListTaskTypesRequest"/>
      <output message="tasksws:ListTaskTypesResponse"/>
    </operation>
  </portType>
  <binding name="TaskManagerServiceSOAPBinding" type="tasksws:TaskManagerServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetTaskInfo">
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TaskManager/GetTaskInfo" style="document"/>
      <input>
        <soap:header message="tasksws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tasksws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Stop">
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TaskManager/Stop" style="document"/>
      <input>
        <soap:header message="tasksws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tasksws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SendControlRequest">
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TaskManager/SendControlRequest" style="document"/>
      <input>
        <soap:header message="tasksws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tasksws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Run">
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TaskManager/Run" style="document"/>
      <input>
        <soap:header message="tasksws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tasksws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListTaskInfo">
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TaskManager/ListTaskInfo" style="document"/>
      <input>
        <soap:header message="tasksws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tasksws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListTaskTypes">
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/TaskManager/ListTaskTypes" style="document"/>
      <input>
        <soap:header message="tasksws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tasksws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TaskManagerService">
    <port name="TaskManagerServicePort" binding="tasksws:TaskManagerServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/tasks/taskmanager-11.2"/>
    </port>
  </service>
</definitions>
