docs/Unit4 Financials HTML Documentation/wsdl/common-messageboard-messageboard.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/messageboard/messageboard-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:msgboardws="http://www.coda.com/common/schemas/messageboard/messageboard-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:msgboard="http://www.coda.com/common/schemas/messageboard"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/messageboard/messageboard-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/messageboard" schemaLocation="../wsdl/common/messageboard/messageboard.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TextList" type="msgboard:MessageBoardAddTextList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A list of text messages.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the Message objects that the
                            user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Message" type="msgboard:Message">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Message" type="msgboard:Message">
                    <xsd:annotation>
                        <xsd:documentation>The whole Message object that
                            is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MessageKey" type="msgboard:MessageKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Message object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MessageList" type="msgboard:MessageList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="msgboardws:DeleteRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="msgboardws:AddResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="msgboardws:OptionsResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="msgboardws:FindRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="msgboardws:UpdateRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="msgboardws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="msgboardws:FindResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="msgboardws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="msgboardws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="msgboardws:DeleteResponse"/>
  </message>
  <portType name="MessageBoardServicePortTypes">
    <operation name="Add">
      <input message="msgboardws:AddRequest"/>
      <output message="msgboardws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="msgboardws:DeleteRequest"/>
      <output message="msgboardws:DeleteResponse"/>
    </operation>
    <operation name="Find">
      <input message="msgboardws:FindRequest"/>
      <output message="msgboardws:FindResponse"/>
    </operation>
    <operation name="Update">
      <input message="msgboardws:UpdateRequest"/>
      <output message="msgboardws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="MessageBoardServiceSOAPBinding" type="msgboardws:MessageBoardServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/MessageBoard/Add" style="document"/>
      <input>
        <soap:header message="msgboardws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="msgboardws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/MessageBoard/Delete" style="document"/>
      <input>
        <soap:header message="msgboardws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="msgboardws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/MessageBoard/Find" style="document"/>
      <input>
        <soap:header message="msgboardws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="msgboardws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/MessageBoard/Update" style="document"/>
      <input>
        <soap:header message="msgboardws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="msgboardws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MessageBoardService">
    <port name="MessageBoardServicePort" binding="msgboardws:MessageBoardServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/messageboard/messageboard-12.0"/>
    </port>
  </service>
</definitions>
