docs/Unit4 Financials HTML Documentation/wsdl/common-history-favourite.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/history/favourite-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:hisws="http://www.coda.com/common/schemas/history/favourite-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:use="http://www.coda.com/common/schemas/users"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:his="http://www.coda.com/common/schemas/history"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/history/favourite-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/history" schemaLocation="../wsdl/common/history/history.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/users" schemaLocation="common/users/users.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="UpdateFavouriteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListFavouritesRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteFavouriteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccessId" type="com:typeTextB">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddFavouriteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Favourite" type="his:FavouriteEntry">
                    <xsd:annotation>
                        <xsd:documentation>The favourite is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteFavouriteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListFavouritesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Data" type="his:FavouriteEntries">
                    <xsd:annotation>
                        <xsd:documentation>The data is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddFavouriteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Favourite" type="his:FavouriteEntry">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateFavouriteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Favourite" type="his:FavouriteEntry">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="hisws:OptionsResponse"/>
  </message>
  <message name="UpdateFavouriteRequest">
    <part name="UpdateFavouriteRequest" element="hisws:UpdateFavouriteRequest"/>
  </message>
  <message name="ListFavouritesResponse">
    <part name="ListFavouritesResponse" element="hisws:ListFavouritesResponse"/>
  </message>
  <message name="UpdateFavouriteResponse">
    <part name="UpdateFavouriteResponse" element="hisws:UpdateFavouriteResponse"/>
  </message>
  <message name="DeleteFavouriteRequest">
    <part name="DeleteFavouriteRequest" element="hisws:DeleteFavouriteRequest"/>
  </message>
  <message name="DeleteFavouriteResponse">
    <part name="DeleteFavouriteResponse" element="hisws:DeleteFavouriteResponse"/>
  </message>
  <message name="AddFavouriteRequest">
    <part name="AddFavouriteRequest" element="hisws:AddFavouriteRequest"/>
  </message>
  <message name="ListFavouritesRequest">
    <part name="ListFavouritesRequest" element="hisws:ListFavouritesRequest"/>
  </message>
  <message name="AddFavouriteResponse">
    <part name="AddFavouriteResponse" element="hisws:AddFavouriteResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="hisws:Options"/>
  </message>
  <portType name="FavouriteServicePortTypes">
    <operation name="AddFavourite">
      <input message="hisws:AddFavouriteRequest"/>
      <output message="hisws:AddFavouriteResponse"/>
    </operation>
    <operation name="UpdateFavourite">
      <input message="hisws:UpdateFavouriteRequest"/>
      <output message="hisws:UpdateFavouriteResponse"/>
    </operation>
    <operation name="DeleteFavourite">
      <input message="hisws:DeleteFavouriteRequest"/>
      <output message="hisws:DeleteFavouriteResponse"/>
    </operation>
    <operation name="ListFavourites">
      <input message="hisws:ListFavouritesRequest"/>
      <output message="hisws:ListFavouritesResponse"/>
    </operation>
  </portType>
  <binding name="FavouriteServiceSOAPBinding" type="hisws:FavouriteServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AddFavourite">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Favourite/AddFavourite" style="document"/>
      <input>
        <soap:header message="hisws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hisws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateFavourite">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Favourite/UpdateFavourite" style="document"/>
      <input>
        <soap:header message="hisws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hisws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteFavourite">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Favourite/DeleteFavourite" style="document"/>
      <input>
        <soap:header message="hisws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hisws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListFavourites">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Favourite/ListFavourites" style="document"/>
      <input>
        <soap:header message="hisws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hisws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FavouriteService">
    <port name="FavouriteServicePort" binding="hisws:FavouriteServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/history/favourite-13.0"/>
    </port>
  </service>
</definitions>
