docs/Unit4 Financials HTML Documentation/wsdl/common-translation-translation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/translation/translation-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:traws="http://www.coda.com/common/schemas/translation/translation-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:tra="http://www.coda.com/common/schemas/translation"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/translation/translation-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/translation" schemaLocation="../wsdl/common/translation/translation.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UndoNonStructuralChangesResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateTranslatableFieldRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TranslatableField" type="tra:TranslatableField">
                    <xsd:annotation>
                        <xsd:documentation>The whole TranslatableField
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateTranslatableFieldResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TranslatableField" type="tra:TranslatableField">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            updateTranslatableField function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindTranslatableFieldResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TranslatableFieldList" type="tra:TranslatableFieldList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            findTranslatableField function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindTranslatableFieldRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the TranslatableField
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateTranslationsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Translations" type="tra:MultiObjectTranslations">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>This element contains details of
                                multiple text translations.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindTranslationsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ObjectType" type="com:typeGenericOon">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The type of object.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ObjectCodePattern" type="com:typeTranslatableObjectCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The code of the translatable
                            object.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Field" type="com:typeGenericOon">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The field ID.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReferenceLanguage" type="com:typeLocale">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The language of the original
                            text.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TargetLanguage" type="com:typeLocale">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The language of the translated
                            text.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindTranslationsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FindTranslations" type="tra:MultiObjectTranslations">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            findTranslations function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateTranslationsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UpdateTranslations" type="tra:MultiObjectTranslations">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            updateTranslations function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UndoNonStructuralChangesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ChangeSet" type="tra:TranslatableTextChanges">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>This element contains details of
                                translatable text changes.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="traws:OptionsResponse"/>
  </message>
  <message name="UndoNonStructuralChangesResponse">
    <part name="UndoNonStructuralChangesResponse" element="traws:UndoNonStructuralChangesResponse"/>
  </message>
  <message name="FindTranslatableFieldRequest">
    <part name="FindTranslatableFieldRequest" element="traws:FindTranslatableFieldRequest"/>
  </message>
  <message name="UndoNonStructuralChangesRequest">
    <part name="UndoNonStructuralChangesRequest" element="traws:UndoNonStructuralChangesRequest"/>
  </message>
  <message name="UpdateTranslationsResponse">
    <part name="UpdateTranslationsResponse" element="traws:UpdateTranslationsResponse"/>
  </message>
  <message name="FindTranslatableFieldResponse">
    <part name="FindTranslatableFieldResponse" element="traws:FindTranslatableFieldResponse"/>
  </message>
  <message name="UpdateTranslationsRequest">
    <part name="UpdateTranslationsRequest" element="traws:UpdateTranslationsRequest"/>
  </message>
  <message name="UpdateTranslatableFieldRequest">
    <part name="UpdateTranslatableFieldRequest" element="traws:UpdateTranslatableFieldRequest"/>
  </message>
  <message name="UpdateTranslatableFieldResponse">
    <part name="UpdateTranslatableFieldResponse" element="traws:UpdateTranslatableFieldResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="traws:Options"/>
  </message>
  <message name="FindTranslationsRequest">
    <part name="FindTranslationsRequest" element="traws:FindTranslationsRequest"/>
  </message>
  <message name="FindTranslationsResponse">
    <part name="FindTranslationsResponse" element="traws:FindTranslationsResponse"/>
  </message>
  <portType name="TranslationServicePortTypes">
    <operation name="UpdateTranslatableField">
      <input message="traws:UpdateTranslatableFieldRequest"/>
      <output message="traws:UpdateTranslatableFieldResponse"/>
    </operation>
    <operation name="UpdateTranslations">
      <input message="traws:UpdateTranslationsRequest"/>
      <output message="traws:UpdateTranslationsResponse"/>
    </operation>
    <operation name="FindTranslations">
      <input message="traws:FindTranslationsRequest"/>
      <output message="traws:FindTranslationsResponse"/>
    </operation>
    <operation name="UndoNonStructuralChanges">
      <input message="traws:UndoNonStructuralChangesRequest"/>
      <output message="traws:UndoNonStructuralChangesResponse"/>
    </operation>
    <operation name="FindTranslatableField">
      <input message="traws:FindTranslatableFieldRequest"/>
      <output message="traws:FindTranslatableFieldResponse"/>
    </operation>
  </portType>
  <binding name="TranslationServiceSOAPBinding" type="traws:TranslationServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateTranslatableField">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Translation/UpdateTranslatableField" style="document"/>
      <input>
        <soap:header message="traws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="traws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateTranslations">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Translation/UpdateTranslations" style="document"/>
      <input>
        <soap:header message="traws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="traws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FindTranslations">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Translation/FindTranslations" style="document"/>
      <input>
        <soap:header message="traws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="traws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UndoNonStructuralChanges">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Translation/UndoNonStructuralChanges" style="document"/>
      <input>
        <soap:header message="traws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="traws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FindTranslatableField">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Translation/FindTranslatableField" style="document"/>
      <input>
        <soap:header message="traws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="traws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TranslationService">
    <port name="TranslationServicePort" binding="traws:TranslationServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/translation/translation-1.0"/>
    </port>
  </service>
</definitions>
