docs/Unit4 Financials HTML Documentation/wsdl/common-relatedinformationpanel-relatedinformationpanel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/relatedinformationpanel/relatedinformationpanel-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ripws="http://www.coda.com/common/schemas/relatedinformationpanel/relatedinformationpanel-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:rip="http://www.coda.com/common/schemas/relatedinformationpanel"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/relatedinformationpanel/relatedinformationpanel-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/relatedinformationpanel" schemaLocation="../wsdl/common/relatedinformationpanel/relatedinformationpanel.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RelatedInformationPanel" type="rip:RelatedInformationPanel">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SaveResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RelatedInformationPanelKey" type="rip:RelatedInformationPanelKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            RelatedInformationPanel object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SaveRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PanelPreferences" type="rip:RelatedInformationPanel">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      This element holds information
                                about a related information panel.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetResponse">
    <part name="GetResponse" element="ripws:GetResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="ripws:OptionsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="ripws:Options"/>
  </message>
  <message name="SaveRequest">
    <part name="SaveRequest" element="ripws:SaveRequest"/>
  </message>
  <message name="SaveResponse">
    <part name="SaveResponse" element="ripws:SaveResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="ripws:GetRequest"/>
  </message>
  <portType name="RelatedInformationPanelServicePortTypes">
    <operation name="Get">
      <input message="ripws:GetRequest"/>
      <output message="ripws:GetResponse"/>
    </operation>
    <operation name="Save">
      <input message="ripws:SaveRequest"/>
      <output message="ripws:SaveResponse"/>
    </operation>
  </portType>
  <binding name="RelatedInformationPanelServiceSOAPBinding" type="ripws:RelatedInformationPanelServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/RelatedInformationPanel/Get" style="document"/>
      <input>
        <soap:header message="ripws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ripws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Save">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/RelatedInformationPanel/Save" style="document"/>
      <input>
        <soap:header message="ripws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ripws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RelatedInformationPanelService">
    <port name="RelatedInformationPanelServicePort" binding="ripws:RelatedInformationPanelServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/relatedinformationpanel/relatedinformationpanel-13.0"/>
    </port>
  </service>
</definitions>
