docs/Unit4 Financials HTML Documentation/wsdl/common-workflowapi-workflowadministration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/workflowapi/workflowadministration-11.1/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:worws="http://www.coda.com/common/schemas/workflowapi/workflowadministration-11.1/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:use="http://www.coda.com/common/schemas/userextension"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:wor="http://www.coda.com/common/schemas/workflowapi"
    xmlns:atc="http://www.coda.com/common/schemas/attachment"
    xmlns:wsd="http://www.coda.com/common/schemas/wsdl"
    xmlns:gra="http://www.coda.com/common/schemas/graphlayout"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:spec="http://www.coda.com/common/schemas/workflow"
    xmlns:datatypes="http://www.coda.com/common/schemas/datatypes"
    targetNamespace="http://www.coda.com/common/schemas/workflowapi/workflowadministration-11.1/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/workflow" schemaLocation="common/workflow/workflow.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/graphlayout" schemaLocation="common/graphlayout/graphlayout.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/userextension" schemaLocation="common/userextension/userextension.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/workflowapi" schemaLocation="../wsdl/common/workflowapi/workflowapi.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/attachment" schemaLocation="common/attachment/attachment.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/wsdl" schemaLocation="common/wsdl/wsdl.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/datatypes" schemaLocation="common/datatypes/datatypes.xsd"/>
    <xsd:element name="GetWorkflowSettingsRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ModifyWorkflowInstanceRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Id" type="com:typeDbGuid">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The workflow instance ID.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Priority" type="com:typeComWorkflowPriority">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The new priority for the workflow
                            instance.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Status" type="com:typeComWorkflowInstanceStatus">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The new status for the workflow
                            instance.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Comment" type="com:typeText">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A comment describing the
                            modification.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReassignRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Id" type="com:typeDbGuid">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The workflow instance ID.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="User" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The new user for the workflow
                            instance.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Comment" type="com:typeText">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A comment describing the
                            reassignment.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResumeWorkflowApplicationResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateWorkflowSettingsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Settings" type="wor:ApplicationSettings">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>This element contains details of
                                workflow application settings.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PauseWorkflowApplicationResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PauseWorkflowApplicationRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetScopeRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The code of the scope.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateScopeRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Scope" type="wor:WSDLScope">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The details of a WSDL scope.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DisableNewInstancesRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateScopeResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ModifyWorkflowInstanceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutId" type="com:typeDbGuid">
                    <xsd:annotation>
                        <xsd:documentation>The outId is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetScopeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Scope" type="wor:WSDLScope">
                    <xsd:annotation>
                        <xsd:documentation>The scope is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EnableNewInstancesRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateScopeAsyncResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UpdateScopeAsync" type="com:typeDbGuid">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            updateScopeAsync function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateScopeAsyncRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Scope" type="wor:WSDLScope">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The details of a WSDL scope.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateWorkflowSettingsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResumeWorkflowApplicationRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReassignResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OutId" type="com:typeDbGuid">
                    <xsd:annotation>
                        <xsd:documentation>The outId is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EnableNewInstancesResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DisableNewInstancesResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetWorkflowSettingsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Settings" type="wor:ApplicationSettings">
                    <xsd:annotation>
                        <xsd:documentation>The settings is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="PauseWorkflowApplicationResponse">
    <part name="PauseWorkflowApplicationResponse" element="worws:PauseWorkflowApplicationResponse"/>
  </message>
  <message name="ReassignResponse">
    <part name="ReassignResponse" element="worws:ReassignResponse"/>
  </message>
  <message name="GetWorkflowSettingsRequest">
    <part name="GetWorkflowSettingsRequest" element="worws:GetWorkflowSettingsRequest"/>
  </message>
  <message name="PauseWorkflowApplicationRequest">
    <part name="PauseWorkflowApplicationRequest" element="worws:PauseWorkflowApplicationRequest"/>
  </message>
  <message name="UpdateWorkflowSettingsRequest">
    <part name="UpdateWorkflowSettingsRequest" element="worws:UpdateWorkflowSettingsRequest"/>
  </message>
  <message name="EnableNewInstancesRequest">
    <part name="EnableNewInstancesRequest" element="worws:EnableNewInstancesRequest"/>
  </message>
  <message name="DisableNewInstancesResponse">
    <part name="DisableNewInstancesResponse" element="worws:DisableNewInstancesResponse"/>
  </message>
  <message name="UpdateScopeAsyncRequest">
    <part name="UpdateScopeAsyncRequest" element="worws:UpdateScopeAsyncRequest"/>
  </message>
  <message name="UpdateScopeRequest">
    <part name="UpdateScopeRequest" element="worws:UpdateScopeRequest"/>
  </message>
  <message name="EnableNewInstancesResponse">
    <part name="EnableNewInstancesResponse" element="worws:EnableNewInstancesResponse"/>
  </message>
  <message name="ModifyWorkflowInstanceResponse">
    <part name="ModifyWorkflowInstanceResponse" element="worws:ModifyWorkflowInstanceResponse"/>
  </message>
  <message name="ReassignRequest">
    <part name="ReassignRequest" element="worws:ReassignRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="worws:Options"/>
  </message>
  <message name="ResumeWorkflowApplicationRequest">
    <part name="ResumeWorkflowApplicationRequest" element="worws:ResumeWorkflowApplicationRequest"/>
  </message>
  <message name="UpdateScopeAsyncResponse">
    <part name="UpdateScopeAsyncResponse" element="worws:UpdateScopeAsyncResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="worws:OptionsResponse"/>
  </message>
  <message name="GetScopeRequest">
    <part name="GetScopeRequest" element="worws:GetScopeRequest"/>
  </message>
  <message name="DisableNewInstancesRequest">
    <part name="DisableNewInstancesRequest" element="worws:DisableNewInstancesRequest"/>
  </message>
  <message name="ResumeWorkflowApplicationResponse">
    <part name="ResumeWorkflowApplicationResponse" element="worws:ResumeWorkflowApplicationResponse"/>
  </message>
  <message name="GetWorkflowSettingsResponse">
    <part name="GetWorkflowSettingsResponse" element="worws:GetWorkflowSettingsResponse"/>
  </message>
  <message name="ModifyWorkflowInstanceRequest">
    <part name="ModifyWorkflowInstanceRequest" element="worws:ModifyWorkflowInstanceRequest"/>
  </message>
  <message name="UpdateWorkflowSettingsResponse">
    <part name="UpdateWorkflowSettingsResponse" element="worws:UpdateWorkflowSettingsResponse"/>
  </message>
  <message name="UpdateScopeResponse">
    <part name="UpdateScopeResponse" element="worws:UpdateScopeResponse"/>
  </message>
  <message name="GetScopeResponse">
    <part name="GetScopeResponse" element="worws:GetScopeResponse"/>
  </message>
  <portType name="WorkflowAdministrationServicePortTypes">
    <operation name="UpdateScope">
      <input message="worws:UpdateScopeRequest"/>
      <output message="worws:UpdateScopeResponse"/>
    </operation>
    <operation name="PauseWorkflowApplication">
      <input message="worws:PauseWorkflowApplicationRequest"/>
      <output message="worws:PauseWorkflowApplicationResponse"/>
    </operation>
    <operation name="EnableNewInstances">
      <input message="worws:EnableNewInstancesRequest"/>
      <output message="worws:EnableNewInstancesResponse"/>
    </operation>
    <operation name="Reassign">
      <input message="worws:ReassignRequest"/>
      <output message="worws:ReassignResponse"/>
    </operation>
    <operation name="GetWorkflowSettings">
      <input message="worws:GetWorkflowSettingsRequest"/>
      <output message="worws:GetWorkflowSettingsResponse"/>
    </operation>
    <operation name="UpdateScopeAsync">
      <input message="worws:UpdateScopeAsyncRequest"/>
      <output message="worws:UpdateScopeAsyncResponse"/>
    </operation>
    <operation name="GetScope">
      <input message="worws:GetScopeRequest"/>
      <output message="worws:GetScopeResponse"/>
    </operation>
    <operation name="ModifyWorkflowInstance">
      <input message="worws:ModifyWorkflowInstanceRequest"/>
      <output message="worws:ModifyWorkflowInstanceResponse"/>
    </operation>
    <operation name="UpdateWorkflowSettings">
      <input message="worws:UpdateWorkflowSettingsRequest"/>
      <output message="worws:UpdateWorkflowSettingsResponse"/>
    </operation>
    <operation name="ResumeWorkflowApplication">
      <input message="worws:ResumeWorkflowApplicationRequest"/>
      <output message="worws:ResumeWorkflowApplicationResponse"/>
    </operation>
    <operation name="DisableNewInstances">
      <input message="worws:DisableNewInstancesRequest"/>
      <output message="worws:DisableNewInstancesResponse"/>
    </operation>
  </portType>
  <binding name="WorkflowAdministrationServiceSOAPBinding" type="worws:WorkflowAdministrationServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateScope">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowAdministration/UpdateScope" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PauseWorkflowApplication">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowAdministration/PauseWorkflowApplication" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="EnableNewInstances">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowAdministration/EnableNewInstances" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Reassign">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowAdministration/Reassign" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetWorkflowSettings">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowAdministration/GetWorkflowSettings" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateScopeAsync">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowAdministration/UpdateScopeAsync" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetScope">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowAdministration/GetScope" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ModifyWorkflowInstance">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowAdministration/ModifyWorkflowInstance" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateWorkflowSettings">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowAdministration/UpdateWorkflowSettings" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ResumeWorkflowApplication">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowAdministration/ResumeWorkflowApplication" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DisableNewInstances">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/WorkflowAdministration/DisableNewInstances" style="document"/>
      <input>
        <soap:header message="worws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="worws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WorkflowAdministrationService">
    <port name="WorkflowAdministrationServicePort" binding="worws:WorkflowAdministrationServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/workflowapi/workflowadministration-11.1"/>
    </port>
  </service>
</definitions>
