docs/Unit4 Financials HTML Documentation/wsdl/common-functionalsecurity-functionalsecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/functionalsecurity/functionalsecurity-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:fsecws="http://www.coda.com/common/schemas/functionalsecurity/functionalsecurity-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:cap="http://www.coda.com/common/schemas/capabilitymaster"
    xmlns:fsec="http://www.coda.com/common/schemas/functionalsecurity"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/functionalsecurity/functionalsecurity-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/functionalsecurity" schemaLocation="../wsdl/common/functionalsecurity/functionalsecurity.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/capabilitymaster" schemaLocation="common/capabilitymaster/capabilitymaster.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FunctionalSecurityUnion" type="fsec:FunctionalSecurityUnion">
                    <xsd:annotation>
                        <xsd:documentation>A list of functional security
                            items combined from the user capability and
                            associated roles.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetResponse">
    <part name="GetResponse" element="fsecws:GetResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="fsecws:OptionsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="fsecws:Options"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="fsecws:GetRequest"/>
  </message>
  <portType name="FunctionalSecurityServicePortTypes">
    <operation name="Get">
      <input message="fsecws:GetRequest"/>
      <output message="fsecws:GetResponse"/>
    </operation>
  </portType>
  <binding name="FunctionalSecurityServiceSOAPBinding" type="fsecws:FunctionalSecurityServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/FunctionalSecurity/Get" style="document"/>
      <input>
        <soap:header message="fsecws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="fsecws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FunctionalSecurityService">
    <port name="FunctionalSecurityServicePort" binding="fsecws:FunctionalSecurityServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/functionalsecurity/functionalsecurity-1.0"/>
    </port>
  </service>
</definitions>
