docs/Unit4 Financials HTML Documentation/wsdl/common-history-history.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/history/history-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:hisws="http://www.coda.com/common/schemas/history/history-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:use="http://www.coda.com/common/schemas/users"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:his="http://www.coda.com/common/schemas/history"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/history/history-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/history" schemaLocation="../wsdl/common/history/history.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/users" schemaLocation="common/users/users.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HistoryEntry" type="his:HistoryEntry">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListActivityHistoryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Data" type="his:ActivityHistoryItems">
                    <xsd:annotation>
                        <xsd:documentation>The data is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListActivityHistoryRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Limit" type="com:typeLong">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="AddResponse">
    <part name="AddResponse" element="hisws:AddResponse"/>
  </message>
  <message name="ListActivityHistoryResponse">
    <part name="ListActivityHistoryResponse" element="hisws:ListActivityHistoryResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="hisws:OptionsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="hisws:Options"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="hisws:AddRequest"/>
  </message>
  <message name="ListActivityHistoryRequest">
    <part name="ListActivityHistoryRequest" element="hisws:ListActivityHistoryRequest"/>
  </message>
  <portType name="HistoryServicePortTypes">
    <operation name="Add">
      <input message="hisws:AddRequest"/>
      <output message="hisws:AddResponse"/>
    </operation>
    <operation name="ListActivityHistory">
      <input message="hisws:ListActivityHistoryRequest"/>
      <output message="hisws:ListActivityHistoryResponse"/>
    </operation>
  </portType>
  <binding name="HistoryServiceSOAPBinding" type="hisws:HistoryServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/History/Add" style="document"/>
      <input>
        <soap:header message="hisws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hisws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListActivityHistory">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/History/ListActivityHistory" style="document"/>
      <input>
        <soap:header message="hisws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hisws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="HistoryService">
    <port name="HistoryServicePort" binding="hisws:HistoryServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/history/history-13.0"/>
    </port>
  </service>
</definitions>
