docs/Unit4 Financials HTML Documentation/wsdl/common-genericbrowsemaster-genericbrowsemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/genericbrowsemaster/genericbrowsemaster-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:gbmws="http://www.coda.com/common/schemas/genericbrowsemaster/genericbrowsemaster-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:gbm="http://www.coda.com/common/schemas/genericbrowsemaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/genericbrowsemaster/genericbrowsemaster-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/genericbrowsemaster" schemaLocation="../wsdl/common/genericbrowsemaster/genericbrowsemaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenericBrowseMaster" type="gbm:GenericBrowseMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole GenericBrowseMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the GenericBrowseMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenericBrowseMaster" type="gbm:GenericBrowseMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Master" type="gbm:GenericBrowseMaster">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The master that you want to
                            validate.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TemporaryMaster" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Specifies whether the master is an
                                immediate master (which has no code,
                                name or short name).</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenericBrowseMasterItemList" type="gbm:GenericBrowseMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the GenericBrowseMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenericBrowseMaster" type="gbm:GenericBrowseMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenericBrowseMaster" type="gbm:GenericBrowseMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenericBrowseMaster" type="gbm:GenericBrowseMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole GenericBrowseMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenericBrowseMasterKey" type="gbm:GenericBrowseMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            GenericBrowseMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenericBrowseMasterKey" type="gbm:GenericBrowseMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            GenericBrowseMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenericBrowseMasterList" type="gbm:GenericBrowseMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListRequest">
    <part name="ListRequest" element="gbmws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="gbmws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="gbmws:FindResponse"/>
  </message>
  <message name="ValidateResponse">
    <part name="ValidateResponse" element="gbmws:ValidateResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="gbmws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="gbmws:ListResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="gbmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="gbmws:AddResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="gbmws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="gbmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="gbmws:AddRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="gbmws:GetRequest"/>
  </message>
  <message name="ValidateRequest">
    <part name="ValidateRequest" element="gbmws:ValidateRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="gbmws:FindRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="gbmws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="gbmws:DeleteRequest"/>
  </message>
  <portType name="GenericBrowseMasterServicePortTypes">
    <operation name="Delete">
      <input message="gbmws:DeleteRequest"/>
      <output message="gbmws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="gbmws:AddRequest"/>
      <output message="gbmws:AddResponse"/>
    </operation>
    <operation name="Validate">
      <input message="gbmws:ValidateRequest"/>
      <output message="gbmws:ValidateResponse"/>
    </operation>
    <operation name="Get">
      <input message="gbmws:GetRequest"/>
      <output message="gbmws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="gbmws:FindRequest"/>
      <output message="gbmws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="gbmws:ListRequest"/>
      <output message="gbmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="gbmws:UpdateRequest"/>
      <output message="gbmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="GenericBrowseMasterServiceSOAPBinding" type="gbmws:GenericBrowseMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/GenericBrowseMaster/Delete" style="document"/>
      <input>
        <soap:header message="gbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="gbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/GenericBrowseMaster/Add" style="document"/>
      <input>
        <soap:header message="gbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="gbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Validate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/GenericBrowseMaster/Validate" style="document"/>
      <input>
        <soap:header message="gbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="gbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/GenericBrowseMaster/Get" style="document"/>
      <input>
        <soap:header message="gbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="gbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/GenericBrowseMaster/Find" style="document"/>
      <input>
        <soap:header message="gbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="gbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/GenericBrowseMaster/List" style="document"/>
      <input>
        <soap:header message="gbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="gbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/GenericBrowseMaster/Update" style="document"/>
      <input>
        <soap:header message="gbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="gbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GenericBrowseMasterService">
    <port name="GenericBrowseMasterServicePort" binding="gbmws:GenericBrowseMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/genericbrowsemaster/genericbrowsemaster-13.0"/>
    </port>
  </service>
</definitions>
