docs/Unit4 Financials HTML Documentation/wsdl/common-mapping-databaseinformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/mapping/databaseinformation-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:mapws="http://www.coda.com/common/schemas/mapping/databaseinformation-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:fld="http://www.coda.com/common/schemas/repositoryfolder"
    xmlns:rep="http://www.coda.com/common/schemas/repository"
    xmlns:map="http://www.coda.com/common/schemas/mapping"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/mapping/databaseinformation-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/repositoryfolder" schemaLocation="common/repositoryfolder/repositoryfolder.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/repository" schemaLocation="common/repository/repository.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/mapping" schemaLocation="../wsdl/common/mapping/mapping.xsd"/>
    <xsd:element name="ListDatabaseInformationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the DatabaseTable objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDatabaseInformationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DatabaseTable" type="map:DatabaseTable">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getDatabaseInformation function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListDatabaseInformationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DatabaseTableItemList" type="map:DatabaseTableItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listDatabaseInformation function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDatabaseInformationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DatabaseTableKey" type="map:DatabaseTableKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the DatabaseTable object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetDatabaseInformationRequest">
    <part name="GetDatabaseInformationRequest" element="mapws:GetDatabaseInformationRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="mapws:Options"/>
  </message>
  <message name="ListDatabaseInformationRequest">
    <part name="ListDatabaseInformationRequest" element="mapws:ListDatabaseInformationRequest"/>
  </message>
  <message name="ListDatabaseInformationResponse">
    <part name="ListDatabaseInformationResponse" element="mapws:ListDatabaseInformationResponse"/>
  </message>
  <message name="GetDatabaseInformationResponse">
    <part name="GetDatabaseInformationResponse" element="mapws:GetDatabaseInformationResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="mapws:OptionsResponse"/>
  </message>
  <portType name="DatabaseInformationServicePortTypes">
    <operation name="ListDatabaseInformation">
      <input message="mapws:ListDatabaseInformationRequest"/>
      <output message="mapws:ListDatabaseInformationResponse"/>
    </operation>
    <operation name="GetDatabaseInformation">
      <input message="mapws:GetDatabaseInformationRequest"/>
      <output message="mapws:GetDatabaseInformationResponse"/>
    </operation>
  </portType>
  <binding name="DatabaseInformationServiceSOAPBinding" type="mapws:DatabaseInformationServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ListDatabaseInformation">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/DatabaseInformation/ListDatabaseInformation" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetDatabaseInformation">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/DatabaseInformation/GetDatabaseInformation" style="document"/>
      <input>
        <soap:header message="mapws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="mapws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DatabaseInformationService">
    <port name="DatabaseInformationServicePort" binding="mapws:DatabaseInformationServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/mapping/databaseinformation-13.0"/>
    </port>
  </service>
</definitions>
