docs/Unit4 Financials HTML Documentation/wsdl/common-licensing-licensing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/licensing/licensing-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:licws="http://www.coda.com/common/schemas/licensing/licensing-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:lic="http://www.coda.com/common/schemas/licensing"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/licensing/licensing-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/licensing" schemaLocation="../wsdl/common/licensing/licensing.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListBatchSlotsRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TakeOutLicenceRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Product" type="com:typeApplicationName">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="FailOnMissing" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListBatchSlotsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BatchSlots" minOccurs="0"
                    maxOccurs="unbounded" type="lic:BatchSlot">
                    <xsd:annotation>
                        <xsd:documentation>The BatchSlots is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TakeOutLicenceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Product" type="com:typeApplicationName">
                    <xsd:annotation>
                        <xsd:documentation>The product is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FailOnMissing" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The failOnMissing is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CurrentUsage" minOccurs="0"
                    maxOccurs="unbounded" type="com:typeApplicationName">
                    <xsd:annotation>
                        <xsd:documentation>The CurrentUsage is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="licws:OptionsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="licws:Options"/>
  </message>
  <message name="ListBatchSlotsRequest">
    <part name="ListBatchSlotsRequest" element="licws:ListBatchSlotsRequest"/>
  </message>
  <message name="ListBatchSlotsResponse">
    <part name="ListBatchSlotsResponse" element="licws:ListBatchSlotsResponse"/>
  </message>
  <message name="TakeOutLicenceResponse">
    <part name="TakeOutLicenceResponse" element="licws:TakeOutLicenceResponse"/>
  </message>
  <message name="TakeOutLicenceRequest">
    <part name="TakeOutLicenceRequest" element="licws:TakeOutLicenceRequest"/>
  </message>
  <portType name="LicensingServicePortTypes">
    <operation name="TakeOutLicence">
      <input message="licws:TakeOutLicenceRequest"/>
      <output message="licws:TakeOutLicenceResponse"/>
    </operation>
    <operation name="ListBatchSlots">
      <input message="licws:ListBatchSlotsRequest"/>
      <output message="licws:ListBatchSlotsResponse"/>
    </operation>
  </portType>
  <binding name="LicensingServiceSOAPBinding" type="licws:LicensingServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="TakeOutLicence">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Licensing/TakeOutLicence" style="document"/>
      <input>
        <soap:header message="licws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="licws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListBatchSlots">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/Licensing/ListBatchSlots" style="document"/>
      <input>
        <soap:header message="licws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="licws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LicensingService">
    <port name="LicensingServicePort" binding="licws:LicensingServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/licensing/licensing-1.0"/>
    </port>
  </service>
</definitions>
