docs/Unit4 Financials HTML Documentation/wsdl/common-udfmaster-udfmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/udfmaster/udfmaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:udfws="http://www.coda.com/common/schemas/udfmaster/udfmaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:udf="http://www.coda.com/common/schemas/udfmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/udfmaster/udfmaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/udfmaster" schemaLocation="../wsdl/common/udfmaster/udfmaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UDFMaster" type="udf:UDFMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole UDFMaster object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the UDFMaster objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UDFMaster" type="udf:UDFMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UDFMasterItemList" type="udf:UDFMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the UDFMaster objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UDFMaster" type="udf:UDFMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UDFMaster" type="udf:UDFMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UDFMaster" type="udf:UDFMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole UDFMaster object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UDFMasterKey" type="udf:UDFMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the UDFMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UDFMasterKey" type="udf:UDFMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the UDFMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UDFMasterList" type="udf:UDFMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="udfws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="udfws:ListResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="udfws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="udfws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="udfws:FindResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="udfws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="udfws:AddResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="udfws:GetRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="udfws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="udfws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="udfws:AddRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="udfws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="udfws:DeleteRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="udfws:FindRequest"/>
  </message>
  <portType name="UDFMasterServicePortTypes">
    <operation name="Delete">
      <input message="udfws:DeleteRequest"/>
      <output message="udfws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="udfws:AddRequest"/>
      <output message="udfws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="udfws:GetRequest"/>
      <output message="udfws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="udfws:FindRequest"/>
      <output message="udfws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="udfws:ListRequest"/>
      <output message="udfws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="udfws:UpdateRequest"/>
      <output message="udfws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="UDFMasterServiceSOAPBinding" type="udfws:UDFMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UDFMaster/Delete" style="document"/>
      <input>
        <soap:header message="udfws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="udfws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UDFMaster/Add" style="document"/>
      <input>
        <soap:header message="udfws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="udfws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UDFMaster/Get" style="document"/>
      <input>
        <soap:header message="udfws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="udfws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UDFMaster/Find" style="document"/>
      <input>
        <soap:header message="udfws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="udfws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UDFMaster/List" style="document"/>
      <input>
        <soap:header message="udfws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="udfws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UDFMaster/Update" style="document"/>
      <input>
        <soap:header message="udfws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="udfws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UDFMasterService">
    <port name="UDFMasterServicePort" binding="udfws:UDFMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/udfmaster/udfmaster-1.0"/>
    </port>
  </service>
</definitions>
