docs/Unit4 Financials HTML Documentation/wsdl/common-uisnapshot-userinterfacesnapshot.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/uisnapshot/userinterfacesnapshot-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:uisws="http://www.coda.com/common/schemas/uisnapshot/userinterfacesnapshot-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:uis="http://www.coda.com/common/schemas/uisnapshot"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/uisnapshot/userinterfacesnapshot-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/uisnapshot" schemaLocation="../wsdl/common/uisnapshot/uisnapshot.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the UserInterfaceSnapshot
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SaveResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UserInterfaceSnapshot" type="uis:UserInterfaceSnapshot">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the save function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="uis:DeleteKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>This element holds a key to the
                                information being deleted.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SaveRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UserInterfaceSnapshot" type="uis:UserInterfaceSnapshot">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            UserInterfaceSnapshot object that is to be
                            persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UserInterfaceSnapshotItemList" type="uis:UserInterfaceSnapshotItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListRequest">
    <part name="ListRequest" element="uisws:ListRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="uisws:DeleteResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="uisws:Options"/>
  </message>
  <message name="SaveRequest">
    <part name="SaveRequest" element="uisws:SaveRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="uisws:ListResponse"/>
  </message>
  <message name="SaveResponse">
    <part name="SaveResponse" element="uisws:SaveResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="uisws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="uisws:DeleteRequest"/>
  </message>
  <portType name="UserInterfaceSnapshotServicePortTypes">
    <operation name="Delete">
      <input message="uisws:DeleteRequest"/>
      <output message="uisws:DeleteResponse"/>
    </operation>
    <operation name="Save">
      <input message="uisws:SaveRequest"/>
      <output message="uisws:SaveResponse"/>
    </operation>
    <operation name="List">
      <input message="uisws:ListRequest"/>
      <output message="uisws:ListResponse"/>
    </operation>
  </portType>
  <binding name="UserInterfaceSnapshotServiceSOAPBinding" type="uisws:UserInterfaceSnapshotServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserInterfaceSnapshot/Delete" style="document"/>
      <input>
        <soap:header message="uisws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="uisws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Save">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserInterfaceSnapshot/Save" style="document"/>
      <input>
        <soap:header message="uisws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="uisws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/UserInterfaceSnapshot/List" style="document"/>
      <input>
        <soap:header message="uisws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="uisws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UserInterfaceSnapshotService">
    <port name="UserInterfaceSnapshotServicePort" binding="uisws:UserInterfaceSnapshotServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/uisnapshot/userinterfacesnapshot-13.0"/>
    </port>
  </service>
</definitions>
