docs/Unit4 Financials HTML Documentation/wsdl/common-systeminfo-systeminformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/common/schemas/systeminfo/systeminformation-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:sysinfows="http://www.coda.com/common/schemas/systeminfo/systeminformation-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:sysinfo="http://www.coda.com/common/schemas/systeminfo"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/common/schemas/systeminfo/systeminformation-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/systeminfo" schemaLocation="../wsdl/common/systeminfo/systeminfo.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="GetDatabaseLimitsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TargetSystemInformation" type="sysinfo:SystemInformationKey">
                    <xsd:annotation>
                        <xsd:documentation>The target SystemInformation object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetWebApplicationsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetWebApplications" type="sysinfo:WebApplicationTreeNode">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getWebApplications function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetWebApplicationsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TargetSystemInformation" type="sysinfo:SystemInformationKey">
                    <xsd:annotation>
                        <xsd:documentation>The target SystemInformation object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDatabaseLimitsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetDatabaseLimits" type="sysinfo:DatabaseLimits">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getDatabaseLimits function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="sysinfows:Options"/>
  </message>
  <message name="GetDatabaseLimitsRequest">
    <part name="GetDatabaseLimitsRequest" element="sysinfows:GetDatabaseLimitsRequest"/>
  </message>
  <message name="GetWebApplicationsRequest">
    <part name="GetWebApplicationsRequest" element="sysinfows:GetWebApplicationsRequest"/>
  </message>
  <message name="GetDatabaseLimitsResponse">
    <part name="GetDatabaseLimitsResponse" element="sysinfows:GetDatabaseLimitsResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="sysinfows:OptionsResponse"/>
  </message>
  <message name="GetWebApplicationsResponse">
    <part name="GetWebApplicationsResponse" element="sysinfows:GetWebApplicationsResponse"/>
  </message>
  <portType name="SystemInformationServicePortTypes">
    <operation name="GetDatabaseLimits">
      <input message="sysinfows:GetDatabaseLimitsRequest"/>
      <output message="sysinfows:GetDatabaseLimitsResponse"/>
    </operation>
    <operation name="GetWebApplications">
      <input message="sysinfows:GetWebApplicationsRequest"/>
      <output message="sysinfows:GetWebApplicationsResponse"/>
    </operation>
  </portType>
  <binding name="SystemInformationServiceSOAPBinding" type="sysinfows:SystemInformationServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetDatabaseLimits">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/SystemInformation/GetDatabaseLimits" style="document"/>
      <input>
        <soap:header message="sysinfows:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="sysinfows:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetWebApplications">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/common/SystemInformation/GetWebApplications" style="document"/>
      <input>
        <soap:header message="sysinfows:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="sysinfows:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SystemInformationService">
    <port name="SystemInformationServicePort" binding="sysinfows:SystemInformationServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/common/systeminfo/systeminformation-1.0"/>
    </port>
  </service>
</definitions>
