docs/Unit4 Financials HTML Documentation/wsdl/finance-elementfiltermaster-elementfiltermaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/elementfiltermaster/elementfiltermaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:efmws="http://www.coda.com/efinance/schemas/elementfiltermaster/elementfiltermaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:efm="http://www.coda.com/efinance/schemas/elementfiltermaster"
    xmlns:elm="http://www.coda.com/efinance/schemas/elementmaster"
    targetNamespace="http://www.coda.com/efinance/schemas/elementfiltermaster/elementfiltermaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/elementmaster" schemaLocation="finance/elementmaster/elementmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/elementfiltermaster" schemaLocation="../wsdl/finance/elementfiltermaster/elementfiltermaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="ElementFilterMaster" type="efm:ElementFilterMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the element filter master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="efm:ElementFilterListFilter">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            element filters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company from
                            which you attempted to retrieve the
                            specified element filter master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Level" type="com:typeElmLevel">
                    <xsd:annotation>
                        <xsd:documentation>The element level to which
                            the element filter master applies.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the element
                            master that you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ElementFilterMaster" minOccurs="0" type="efm:ElementFilterMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the element filter
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="efm:ElementFilterListFilter">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the element filter masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains key information for
                            the listed element filter masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to update the element
                            filter master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Level" type="com:typeElmLevel">
                    <xsd:annotation>
                        <xsd:documentation>The element level to which
                            the updated element filter master applies.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the element
                            filter master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" minOccurs="0" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            element filter master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to delete the element
                            filter master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Level" type="com:typeElmLevel">
                    <xsd:annotation>
                        <xsd:documentation>The element level to which
                            the element filter master applies.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the element
                            filter master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TestRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ElementFilterMaster" type="efm:ElementFilterMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the element filter
                            master you want to test.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MaxKeys" minOccurs="0" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>The maximum number of
                            elements to be returned.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TestResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which the element filter master is maintained.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Level" type="com:typeElmLevel">
                    <xsd:annotation>
                        <xsd:documentation>The element level to which
                            the element filter master applies.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the element
                            filter master that you have attempted to test.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MaxKeys" minOccurs="0" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>The maximum number of
                            elements to be returned.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="elm:elmKeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains extended key
                            information for the listed element.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to create the element
                            filter master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Level" type="com:typeElmLevel">
                    <xsd:annotation>
                        <xsd:documentation>The element level to which
                            the new element filter master applies.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the element
                            filter master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" minOccurs="0" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            element filter master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="ElementFilterMaster" type="efm:ElementFilterMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the element filter master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="efm:ElementFilterKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the element filter master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="efm:ElementFilterKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the element filter master you want to
                            retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="efmws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="efmws:DeleteRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="efmws:GetRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="efmws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="efmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="efmws:AddRequest"/>
  </message>
  <message name="TestRequest">
    <part name="TestRequest" element="efmws:TestRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="efmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="efmws:AddResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="efmws:UpdateRequest"/>
  </message>
  <message name="TestResponse">
    <part name="TestResponse" element="efmws:TestResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="efmws:ListResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="efmws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="efmws:Options"/>
  </message>
  <portType name="ElementFilterMasterServicePortTypes">
    <operation name="Add">
      <input message="efmws:AddRequest"/>
      <output message="efmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="efmws:DeleteRequest"/>
      <output message="efmws:DeleteResponse"/>
    </operation>
    <operation name="Test">
      <input message="efmws:TestRequest"/>
      <output message="efmws:TestResponse"/>
    </operation>
    <operation name="Get">
      <input message="efmws:GetRequest"/>
      <output message="efmws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="efmws:ListRequest"/>
      <output message="efmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="efmws:UpdateRequest"/>
      <output message="efmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="ElementFilterMasterServiceSOAPBinding" type="efmws:ElementFilterMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ElementFilterMaster/Add" style="document"/>
      <input>
        <soap:header message="efmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="efmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ElementFilterMaster/Delete" style="document"/>
      <input>
        <soap:header message="efmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="efmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Test">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ElementFilterMaster/Test" style="document"/>
      <input>
        <soap:header message="efmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="efmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ElementFilterMaster/Get" style="document"/>
      <input>
        <soap:header message="efmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="efmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ElementFilterMaster/List" style="document"/>
      <input>
        <soap:header message="efmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="efmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ElementFilterMaster/Update" style="document"/>
      <input>
        <soap:header message="efmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="efmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ElementFilterMasterService">
    <port name="ElementFilterMasterServicePort" binding="efmws:ElementFilterMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/elementfiltermaster/elementfiltermaster-1.0"/>
    </port>
  </service>
</definitions>
