docs/Unit4 Financials HTML Documentation/wsdl/finance-browsebalancemaster-browsebalancemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/browsebalancemaster/browsebalancemaster-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:bbmws="http://www.coda.com/efinance/schemas/browsebalancemaster/browsebalancemaster-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:bbm="http://www.coda.com/efinance/schemas/browsebalancemaster"
    xmlns:pre="http://www.coda.com/efinance/schemas/presenter"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/browsebalancemaster/browsebalancemaster-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/browsebalancemaster" schemaLocation="../wsdl/finance/browsebalancemaster/browsebalancemaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrsBalMaster" type="bbm:BrsBalMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the browse balance master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqGlobalKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            browse balance masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the browse
                            balance master you retrieved or attempted to
                            retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BrsBalMaster" minOccurs="0" type="bbm:BrsBalMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the browse balance
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqGlobalKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that was used to
                            select the browse balance masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed browse balance masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the browse
                            balance master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            browse balance master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the browse
                            balance master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the browse
                            balance master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            browse balance master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrsBalMaster" type="bbm:BrsBalMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the browse balance master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the browse balance master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the browse balance master you want to
                            retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListRequest">
    <part name="ListRequest" element="bbmws:ListRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="bbmws:DeleteResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="bbmws:Options"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="bbmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="bbmws:AddRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="bbmws:GetRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="bbmws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="bbmws:ListResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="bbmws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="bbmws:DeleteRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="bbmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="bbmws:AddResponse"/>
  </message>
  <portType name="BrowseBalanceMasterServicePortTypes">
    <operation name="Add">
      <input message="bbmws:AddRequest"/>
      <output message="bbmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="bbmws:DeleteRequest"/>
      <output message="bbmws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="bbmws:GetRequest"/>
      <output message="bbmws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="bbmws:ListRequest"/>
      <output message="bbmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="bbmws:UpdateRequest"/>
      <output message="bbmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="BrowseBalanceMasterServiceSOAPBinding" type="bbmws:BrowseBalanceMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseBalanceMaster/Add" style="document"/>
      <input>
        <soap:header message="bbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseBalanceMaster/Delete" style="document"/>
      <input>
        <soap:header message="bbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseBalanceMaster/Get" style="document"/>
      <input>
        <soap:header message="bbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseBalanceMaster/List" style="document"/>
      <input>
        <soap:header message="bbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseBalanceMaster/Update" style="document"/>
      <input>
        <soap:header message="bbmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="bbmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BrowseBalanceMasterService">
    <port name="BrowseBalanceMasterServicePort" binding="bbmws:BrowseBalanceMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/browsebalancemaster/browsebalancemaster-13.0"/>
    </port>
  </service>
</definitions>
