docs/Unit4 Financials HTML Documentation/wsdl/finance-intercompany-intercompany.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/intercompany/intercompany-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:icrws="http://www.coda.com/efinance/schemas/intercompany/intercompany-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:icr="http://www.coda.com/efinance/schemas/intercompany"
    xmlns:prg="http://www.coda.com/efinance/schemas/progress"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/intercompany/intercompany-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/progress" schemaLocation="finance/progress/progress.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/intercompany" schemaLocation="../wsdl/finance/intercompany/intercompany.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StartResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReceiverProgressKey" type="prg:ProgressKey">
                    <xsd:annotation>
                        <xsd:documentation>This key contains information
                            about the progress of the receiver process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AbortingProgressKey" type="prg:ProgressKey">
                    <xsd:annotation>
                        <xsd:documentation>This key contains information
                            for aborting (stopping) the InterCompany process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StartRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessData" type="icr:ProcessData">
                    <xsd:annotation>
                        <xsd:documentation>This element specifies the
                            data you want to process. The two
                            InterCompany processes are Receiver and Cross-database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="icrws:Options"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="icrws:OptionsResponse"/>
  </message>
  <message name="StartResponse">
    <part name="StartResponse" element="icrws:StartResponse"/>
  </message>
  <message name="StartRequest">
    <part name="StartRequest" element="icrws:StartRequest"/>
  </message>
  <portType name="InterCompanyServicePortTypes">
    <operation name="Start">
      <input message="icrws:StartRequest"/>
      <output message="icrws:StartResponse"/>
    </operation>
  </portType>
  <binding name="InterCompanyServiceSOAPBinding" type="icrws:InterCompanyServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Start">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/InterCompany/Start" style="document"/>
      <input>
        <soap:header message="icrws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="icrws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="InterCompanyService">
    <port name="InterCompanyServicePort" binding="icrws:InterCompanyServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/intercompany/intercompany-1.0"/>
    </port>
  </service>
</definitions>
