docs/Unit4 Financials HTML Documentation/wsdl/finance-browsetransactions-browsetransactions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/browsetransactions/browsetransactions-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:brtws="http://www.coda.com/efinance/schemas/browsetransactions/browsetransactions-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:ffm="http://www.coda.com/common/schemas/flexifieldmaster"
    xmlns:brt="http://www.coda.com/efinance/schemas/browsetransactions"
    xmlns:txn="http://www.coda.com/efinance/schemas/transaction"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:pre="http://www.coda.com/efinance/schemas/presenter"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/browsetransactions/browsetransactions-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/transaction" schemaLocation="finance/transaction/transaction.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/flexifieldmaster" schemaLocation="common/flexifieldmaster/flexifieldmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/browsetransactions" schemaLocation="../wsdl/finance/browsetransactions/browsetransactions.xsd"/>
    <xsd:element name="GetRelatedDocumentsForTransactionsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="sel:Selection">
                    <xsd:annotation>
                        <xsd:documentation>This element holds your data.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetFlexiFieldMastersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlexiFieldMasterList" type="ffm:FlexiFieldMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getFlexiFieldMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetFlexiFieldMastersRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="KeyList" type="com:KeyList">
                    <xsd:annotation>
                        <xsd:documentation>The list of document master keys.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRelatedDocumentsForTransactionsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TxnKey" type="txn:txnKey">
                    <xsd:annotation>
                        <xsd:documentation>A key to a transaction.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DataClass" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Specifies the type of data required.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PresenterCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the presenter
                            master to use.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetRelatedDocumentsForTransactionsRequest">
    <part name="GetRelatedDocumentsForTransactionsRequest" element="brtws:GetRelatedDocumentsForTransactionsRequest"/>
  </message>
  <message name="GetRelatedDocumentsForTransactionsResponse">
    <part name="GetRelatedDocumentsForTransactionsResponse" element="brtws:GetRelatedDocumentsForTransactionsResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="brtws:OptionsResponse"/>
  </message>
  <message name="GetFlexiFieldMastersResponse">
    <part name="GetFlexiFieldMastersResponse" element="brtws:GetFlexiFieldMastersResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="brtws:Options"/>
  </message>
  <message name="GetFlexiFieldMastersRequest">
    <part name="GetFlexiFieldMastersRequest" element="brtws:GetFlexiFieldMastersRequest"/>
  </message>
  <portType name="BrowseTransactionsServicePortTypes">
    <operation name="GetRelatedDocumentsForTransactions">
      <input message="brtws:GetRelatedDocumentsForTransactionsRequest"/>
      <output message="brtws:GetRelatedDocumentsForTransactionsResponse"/>
    </operation>
    <operation name="GetFlexiFieldMasters">
      <input message="brtws:GetFlexiFieldMastersRequest"/>
      <output message="brtws:GetFlexiFieldMastersResponse"/>
    </operation>
  </portType>
  <binding name="BrowseTransactionsServiceSOAPBinding" type="brtws:BrowseTransactionsServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetRelatedDocumentsForTransactions">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseTransactions/GetRelatedDocumentsForTransactions" style="document"/>
      <input>
        <soap:header message="brtws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brtws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetFlexiFieldMasters">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseTransactions/GetFlexiFieldMasters" style="document"/>
      <input>
        <soap:header message="brtws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brtws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BrowseTransactionsService">
    <port name="BrowseTransactionsServicePort" binding="brtws:BrowseTransactionsServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/browsetransactions/browsetransactions-14.0"/>
    </port>
  </service>
</definitions>
