docs/Unit4 Financials HTML Documentation/wsdl/finance-accountgroupmaster-accountgroupmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/accountgroupmaster/accountgroupmaster-3.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:agmws="http://www.coda.com/efinance/schemas/accountgroupmaster/accountgroupmaster-3.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:agm="http://www.coda.com/efinance/schemas/accountgroupmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/accountgroupmaster/accountgroupmaster-3.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/accountgroupmaster" schemaLocation="../wsdl/finance/accountgroupmaster/accountgroupmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccountGroupMaster" type="agm:AccountGroupMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the account group master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="agm:AccountGroupListFilter">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            account groups to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" minOccurs="0" type="com:typeGeneralCodeB">
                    <xsd:annotation>
                        <xsd:documentation>The code for the account
                            group master that is being returned.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AccountGroupMaster" minOccurs="0" type="agm:AccountGroupMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains an account group
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="agm:AccountGroupListFilter">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the account groups to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed account group masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the account
                            group master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            account group master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the account
                            group master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckAccountRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccountCheckData" type="agm:AccountCheckData">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            account check data.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the account
                            group master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            account group master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccountGroupMaster" type="agm:AccountGroupMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the account group master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckAccountResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccountCheckData" type="agm:AccountCheckData">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            account check data.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AccountIsInGroup" minOccurs="0" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If set, indicates the account
                            is a member of an account group.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the account group master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the account group master you want to
                            retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="AddResponse">
    <part name="AddResponse" element="agmws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="agmws:GetResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="agmws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="agmws:UpdateRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="agmws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="agmws:Options"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="agmws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="agmws:DeleteRequest"/>
  </message>
  <message name="CheckAccountResponse">
    <part name="CheckAccountResponse" element="agmws:CheckAccountResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="agmws:GetRequest"/>
  </message>
  <message name="CheckAccountRequest">
    <part name="CheckAccountRequest" element="agmws:CheckAccountRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="agmws:DeleteResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="agmws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="agmws:UpdateResponse"/>
  </message>
  <portType name="AccountGroupMasterServicePortTypes">
    <operation name="Add">
      <input message="agmws:AddRequest"/>
      <output message="agmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="agmws:DeleteRequest"/>
      <output message="agmws:DeleteResponse"/>
    </operation>
    <operation name="CheckAccount">
      <input message="agmws:CheckAccountRequest"/>
      <output message="agmws:CheckAccountResponse"/>
    </operation>
    <operation name="Get">
      <input message="agmws:GetRequest"/>
      <output message="agmws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="agmws:ListRequest"/>
      <output message="agmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="agmws:UpdateRequest"/>
      <output message="agmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="AccountGroupMasterServiceSOAPBinding" type="agmws:AccountGroupMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AccountGroupMaster/Add" style="document"/>
      <input>
        <soap:header message="agmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="agmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AccountGroupMaster/Delete" style="document"/>
      <input>
        <soap:header message="agmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="agmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CheckAccount">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AccountGroupMaster/CheckAccount" style="document"/>
      <input>
        <soap:header message="agmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="agmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AccountGroupMaster/Get" style="document"/>
      <input>
        <soap:header message="agmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="agmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AccountGroupMaster/List" style="document"/>
      <input>
        <soap:header message="agmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="agmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AccountGroupMaster/Update" style="document"/>
      <input>
        <soap:header message="agmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="agmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AccountGroupMasterService">
    <port name="AccountGroupMasterServicePort" binding="agmws:AccountGroupMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/accountgroupmaster/accountgroupmaster-3.0"/>
    </port>
  </service>
</definitions>
