docs/Unit4 Financials HTML Documentation/wsdl/finance-detectflexifield-detectflexifield.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/detectflexifield/detectflexifield-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:dffws="http://www.coda.com/efinance/schemas/detectflexifield/detectflexifield-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:dff="http://www.coda.com/efinance/schemas/detectflexifield"
    targetNamespace="http://www.coda.com/efinance/schemas/detectflexifield/detectflexifield-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/detectflexifield" schemaLocation="../wsdl/finance/detectflexifield/detectflexifield.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="DetectFlexiFieldMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains a key identifying
                            the flexi-field master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="InUse" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If true, indicates that the
                            flexi-field master is in use.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DetectFlexiFieldMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains a key identifying
                            the flexi-field master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DetectFlexiFieldMasterRequest">
    <part name="DetectFlexiFieldMasterRequest" element="dffws:DetectFlexiFieldMasterRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="dffws:OptionsResponse"/>
  </message>
  <message name="DetectFlexiFieldMasterResponse">
    <part name="DetectFlexiFieldMasterResponse" element="dffws:DetectFlexiFieldMasterResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="dffws:Options"/>
  </message>
  <portType name="DetectFlexiFieldServicePortTypes">
    <operation name="DetectFlexiFieldMaster">
      <input message="dffws:DetectFlexiFieldMasterRequest"/>
      <output message="dffws:DetectFlexiFieldMasterResponse"/>
    </operation>
  </portType>
  <binding name="DetectFlexiFieldServiceSOAPBinding" type="dffws:DetectFlexiFieldServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DetectFlexiFieldMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DetectFlexiField/DetectFlexiFieldMaster" style="document"/>
      <input>
        <soap:header message="dffws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dffws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DetectFlexiFieldService">
    <port name="DetectFlexiFieldServicePort" binding="dffws:DetectFlexiFieldServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/detectflexifield/detectflexifield-13.0"/>
    </port>
  </service>
</definitions>
