docs/Unit4 Financials HTML Documentation/wsdl/finance-diarymaster-diarymaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/diarymaster/diarymaster-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:dmws="http://www.coda.com/efinance/schemas/diarymaster/diarymaster-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:dm="http://www.coda.com/efinance/schemas/diarymaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/diarymaster/diarymaster-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/diarymaster" schemaLocation="../wsdl/finance/diarymaster/diarymaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DiaryMaster" type="dm:DiaryMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole DiaryMaster object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the DiaryMaster objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DiaryMaster" type="dm:DiaryMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DiaryMasterItemList" type="dm:DiaryMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the DiaryMaster objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DiaryMaster" type="dm:DiaryMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DiaryMaster" type="dm:DiaryMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DiaryMaster" type="dm:DiaryMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole DiaryMaster object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DiaryMasterKey" type="dm:DiaryMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the DiaryMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DiaryMasterKey" type="dm:DiaryMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the DiaryMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DiaryMasterList" type="dm:DiaryMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListRequest">
    <part name="ListRequest" element="dmws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="dmws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="dmws:FindResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="dmws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="dmws:ListResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="dmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="dmws:AddResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="dmws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="dmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="dmws:AddRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="dmws:GetRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="dmws:FindRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="dmws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="dmws:DeleteRequest"/>
  </message>
  <portType name="DiaryMasterServicePortTypes">
    <operation name="Delete">
      <input message="dmws:DeleteRequest"/>
      <output message="dmws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="dmws:AddRequest"/>
      <output message="dmws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="dmws:GetRequest"/>
      <output message="dmws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="dmws:FindRequest"/>
      <output message="dmws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="dmws:ListRequest"/>
      <output message="dmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="dmws:UpdateRequest"/>
      <output message="dmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="DiaryMasterServiceSOAPBinding" type="dmws:DiaryMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DiaryMaster/Delete" style="document"/>
      <input>
        <soap:header message="dmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DiaryMaster/Add" style="document"/>
      <input>
        <soap:header message="dmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DiaryMaster/Get" style="document"/>
      <input>
        <soap:header message="dmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DiaryMaster/Find" style="document"/>
      <input>
        <soap:header message="dmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DiaryMaster/List" style="document"/>
      <input>
        <soap:header message="dmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DiaryMaster/Update" style="document"/>
      <input>
        <soap:header message="dmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DiaryMasterService">
    <port name="DiaryMasterServicePort" binding="dmws:DiaryMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/diarymaster/diarymaster-13.0"/>
    </port>
  </service>
</definitions>
