docs/Unit4 Financials HTML Documentation/wsdl/finance-groupmaster-groupmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/groupmaster/groupmaster-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:grpws="http://www.coda.com/efinance/schemas/groupmaster/groupmaster-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:grp="http://www.coda.com/efinance/schemas/groupmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:elm="http://www.coda.com/efinance/schemas/elementmaster"
    targetNamespace="http://www.coda.com/efinance/schemas/groupmaster/groupmaster-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/elementmaster" schemaLocation="finance/elementmaster/elementmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/groupmaster" schemaLocation="../wsdl/finance/groupmaster/groupmaster.xsd"/>
    <xsd:element name="ListUserGroupCompaniesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="grp:grpUserCompanyKey">
                    <xsd:annotation>
                        <xsd:documentation>The filter used to produce
                            the list of company groups.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CompanyGroups" minOccurs="0" type="grp:UserCompanyList">
                    <xsd:annotation>
                        <xsd:documentation>A list of company groups
                            with, for each group, a list of the
                            companies that are visible to the specified user.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="GroupMaster" type="grp:GroupMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the group master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="grp:grpReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            groups to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the group master
                            you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to retrieve the group master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Level" type="com:typeCtGroupLevelValues">
                    <xsd:annotation>
                        <xsd:documentation>The element level at which
                            the group you attempted to retrieve exists.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="GroupMaster" minOccurs="0" type="grp:GroupMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the group master you
                            have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListGroupsOnElementRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="elm:elmFullKey">
                    <xsd:annotation>
                        <xsd:documentation>An element key for filtering
                            the list of groups.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="grp:grpReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the groups to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="grp:grpKeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed group masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to update the group master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the group master
                            that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            group master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to delete the group master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the group master
                            that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to create the group master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the group master
                            that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            group master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListUserGroupCompaniesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="grp:grpUserCompanyKey">
                    <xsd:annotation>
                        <xsd:documentation>A key for filtering the list
                            of company groups and the companies in them.
                            Only companies visible to the specified user
                            are listed. The optional company code allows
                            you to filter a particular company out of
                            the response data.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="GroupMaster" type="grp:GroupMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the group master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="grp:grpKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the group master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListGroupsOnElementResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="elm:elmFullKey">
                    <xsd:annotation>
                        <xsd:documentation>The element for which groups
                            are returned.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Groups" minOccurs="0" type="elm:GroupData">
                    <xsd:annotation>
                        <xsd:documentation>A list of groups on the
                            specified element.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="grp:grpKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the group master you want to retrieve from
                            the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="grpws:Options"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="grpws:ListRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="grpws:UpdateRequest"/>
  </message>
  <message name="ListUserGroupCompaniesResponse">
    <part name="ListUserGroupCompaniesResponse" element="grpws:ListUserGroupCompaniesResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="grpws:ListResponse"/>
  </message>
  <message name="ListGroupsOnElementRequest">
    <part name="ListGroupsOnElementRequest" element="grpws:ListGroupsOnElementRequest"/>
  </message>
  <message name="ListUserGroupCompaniesRequest">
    <part name="ListUserGroupCompaniesRequest" element="grpws:ListUserGroupCompaniesRequest"/>
  </message>
  <message name="ListGroupsOnElementResponse">
    <part name="ListGroupsOnElementResponse" element="grpws:ListGroupsOnElementResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="grpws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="grpws:AddResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="grpws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="grpws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="grpws:DeleteResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="grpws:GetRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="grpws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="grpws:OptionsResponse"/>
  </message>
  <portType name="GroupMasterServicePortTypes">
    <operation name="Add">
      <input message="grpws:AddRequest"/>
      <output message="grpws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="grpws:DeleteRequest"/>
      <output message="grpws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="grpws:GetRequest"/>
      <output message="grpws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="grpws:ListRequest"/>
      <output message="grpws:ListResponse"/>
    </operation>
    <operation name="ListUserGroupCompanies">
      <input message="grpws:ListUserGroupCompaniesRequest"/>
      <output message="grpws:ListUserGroupCompaniesResponse"/>
    </operation>
    <operation name="Update">
      <input message="grpws:UpdateRequest"/>
      <output message="grpws:UpdateResponse"/>
    </operation>
    <operation name="ListGroupsOnElement">
      <input message="grpws:ListGroupsOnElementRequest"/>
      <output message="grpws:ListGroupsOnElementResponse"/>
    </operation>
  </portType>
  <binding name="GroupMasterServiceSOAPBinding" type="grpws:GroupMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/GroupMaster/Add" style="document"/>
      <input>
        <soap:header message="grpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="grpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/GroupMaster/Delete" style="document"/>
      <input>
        <soap:header message="grpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="grpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/GroupMaster/Get" style="document"/>
      <input>
        <soap:header message="grpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="grpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/GroupMaster/List" style="document"/>
      <input>
        <soap:header message="grpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="grpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListUserGroupCompanies">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/GroupMaster/ListUserGroupCompanies" style="document"/>
      <input>
        <soap:header message="grpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="grpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/GroupMaster/Update" style="document"/>
      <input>
        <soap:header message="grpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="grpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListGroupsOnElement">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/GroupMaster/ListGroupsOnElement" style="document"/>
      <input>
        <soap:header message="grpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="grpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GroupMasterService">
    <port name="GroupMasterServicePort" binding="grpws:GroupMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/groupmaster/groupmaster-14.0"/>
    </port>
  </service>
</definitions>
