docs/Unit4 Financials HTML Documentation/wsdl/finance-accountsummarymaster-accountsummarymaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/accountsummarymaster/accountsummarymaster-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:asmws="http://www.coda.com/efinance/schemas/accountsummarymaster/accountsummarymaster-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:blr="http://www.coda.com/efinance/schemas/browseledger"
    xmlns:asm="http://www.coda.com/efinance/schemas/accountsummarymaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:elm="http://www.coda.com/efinance/schemas/elementmaster"
    targetNamespace="http://www.coda.com/efinance/schemas/accountsummarymaster/accountsummarymaster-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/elementmaster" schemaLocation="finance/elementmaster/elementmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/browseledger" schemaLocation="finance/browseledger/browseledger.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/accountsummarymaster" schemaLocation="../wsdl/finance/accountsummarymaster/accountsummarymaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccountSummaryMaster" type="asm:AccountSummaryMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the account summary master you want to
                            create.        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqGlobalKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            account summary masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the account summary master retrieved from
                            the database.        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AccountSummaryMaster" minOccurs="0" type="asm:AccountSummaryMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the account summary
                            master retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqGlobalKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the account summary masters to be
                            listed.        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed account summary masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the account
                            summary master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            account summary master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the account
                            summary master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the account
                            summary master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            account summary master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccountSummaryMaster" type="asm:AccountSummaryMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the account summary master you want to
                            update.        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the account summary master you want to
                            delete.        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the account summary master you want to
                            retrieve from the         database.        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListRequest">
    <part name="ListRequest" element="asmws:ListRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="asmws:DeleteResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="asmws:Options"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="asmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="asmws:AddRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="asmws:GetRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="asmws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="asmws:ListResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="asmws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="asmws:DeleteRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="asmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="asmws:AddResponse"/>
  </message>
  <portType name="AccountSummaryMasterServicePortTypes">
    <operation name="Add">
      <input message="asmws:AddRequest"/>
      <output message="asmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="asmws:DeleteRequest"/>
      <output message="asmws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="asmws:GetRequest"/>
      <output message="asmws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="asmws:ListRequest"/>
      <output message="asmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="asmws:UpdateRequest"/>
      <output message="asmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="AccountSummaryMasterServiceSOAPBinding" type="asmws:AccountSummaryMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AccountSummaryMaster/Add" style="document"/>
      <input>
        <soap:header message="asmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="asmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AccountSummaryMaster/Delete" style="document"/>
      <input>
        <soap:header message="asmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="asmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AccountSummaryMaster/Get" style="document"/>
      <input>
        <soap:header message="asmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="asmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AccountSummaryMaster/List" style="document"/>
      <input>
        <soap:header message="asmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="asmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AccountSummaryMaster/Update" style="document"/>
      <input>
        <soap:header message="asmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="asmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AccountSummaryMasterService">
    <port name="AccountSummaryMasterServicePort" binding="asmws:AccountSummaryMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/accountsummarymaster/accountsummarymaster-13.0"/>
    </port>
  </service>
</definitions>
