docs/Unit4 Financials HTML Documentation/wsdl/finance-ledgerupdate-ledgerupdate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/ledgerupdate/ledgerupdate-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ultws="http://www.coda.com/efinance/schemas/ledgerupdate/ledgerupdate-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:ult="http://www.coda.com/efinance/schemas/ledgerupdate"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/ledgerupdate/ledgerupdate-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/ledgerupdate" schemaLocation="../wsdl/finance/ledgerupdate/ledgerupdate.xsd"/>
    <xsd:element name="AbortRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProgressRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProgressResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProgressStatistics" minOccurs="0" type="ult:ProgressStatistics">
                    <xsd:annotation>
                        <xsd:documentation>This element contains
                            statistical information about the progress
                            of the ledger update process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StartResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company for
                            which ledger updates are currently running.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="UpdateMode" type="com:typeCtUpdateMode">
                    <xsd:annotation>
                        <xsd:documentation>Specifies the update method
                            being used. The available values are Single
                            update (ledger information is updated only
                            once) or Continuous update (ledger
                            information is updated repeatedly at
                            intervals specified in the IdleInterval field).</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="IdleInterval" minOccurs="0" type="com:typeULong">
                    <xsd:annotation>
                        <xsd:documentation>The interval in hours between
                            each ledger update. This option is available
                            only when the UpdateMode is Continuous.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AllCompanies" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Specifies whether you are
                            updating all ledgers for all companies to
                            which you have access.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LedgerSelection" minOccurs="0" type="com:typeGeneralCodeB">
                    <xsd:annotation>
                        <xsd:documentation>The code for the ledger
                            master to update. This field is blank if all
                            ledger masters for the current company are
                            being updated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AllLedgers" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Specifies whether you are
                            updating all ledgers for the current company.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IsOneRunningResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsOneRunningStatistics" minOccurs="0" type="ult:IsOneRunningStatistics">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether a ledger
                            update process is running and returns
                            statistical information about the parameters
                            used to start the last, or currently
                            running, update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StopResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StartRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Params" type="ult:StartParams">
                    <xsd:annotation>
                        <xsd:documentation>Contains the parameters
                            needed to select the ledgers to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AbortResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ClearLocksRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ClearLocksResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IsOneRunningRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StopRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ClearLocksRequest">
    <part name="ClearLocksRequest" element="ultws:ClearLocksRequest"/>
  </message>
  <message name="IsOneRunningResponse">
    <part name="IsOneRunningResponse" element="ultws:IsOneRunningResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="ultws:OptionsResponse"/>
  </message>
  <message name="StartRequest">
    <part name="StartRequest" element="ultws:StartRequest"/>
  </message>
  <message name="IsOneRunningRequest">
    <part name="IsOneRunningRequest" element="ultws:IsOneRunningRequest"/>
  </message>
  <message name="AbortRequest">
    <part name="AbortRequest" element="ultws:AbortRequest"/>
  </message>
  <message name="ClearLocksResponse">
    <part name="ClearLocksResponse" element="ultws:ClearLocksResponse"/>
  </message>
  <message name="StopResponse">
    <part name="StopResponse" element="ultws:StopResponse"/>
  </message>
  <message name="GetProgressResponse">
    <part name="GetProgressResponse" element="ultws:GetProgressResponse"/>
  </message>
  <message name="StopRequest">
    <part name="StopRequest" element="ultws:StopRequest"/>
  </message>
  <message name="StartResponse">
    <part name="StartResponse" element="ultws:StartResponse"/>
  </message>
  <message name="AbortResponse">
    <part name="AbortResponse" element="ultws:AbortResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="ultws:Options"/>
  </message>
  <message name="GetProgressRequest">
    <part name="GetProgressRequest" element="ultws:GetProgressRequest"/>
  </message>
  <portType name="LedgerUpdateServicePortTypes">
    <operation name="Abort">
      <input message="ultws:AbortRequest"/>
      <output message="ultws:AbortResponse"/>
    </operation>
    <operation name="Start">
      <input message="ultws:StartRequest"/>
      <output message="ultws:StartResponse"/>
    </operation>
    <operation name="Stop">
      <input message="ultws:StopRequest"/>
      <output message="ultws:StopResponse"/>
    </operation>
    <operation name="IsOneRunning">
      <input message="ultws:IsOneRunningRequest"/>
      <output message="ultws:IsOneRunningResponse"/>
    </operation>
    <operation name="GetProgress">
      <input message="ultws:GetProgressRequest"/>
      <output message="ultws:GetProgressResponse"/>
    </operation>
    <operation name="ClearLocks">
      <input message="ultws:ClearLocksRequest"/>
      <output message="ultws:ClearLocksResponse"/>
    </operation>
  </portType>
  <binding name="LedgerUpdateServiceSOAPBinding" type="ultws:LedgerUpdateServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Abort">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/LedgerUpdate/Abort" style="document"/>
      <input>
        <soap:header message="ultws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ultws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Start">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/LedgerUpdate/Start" style="document"/>
      <input>
        <soap:header message="ultws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ultws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Stop">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/LedgerUpdate/Stop" style="document"/>
      <input>
        <soap:header message="ultws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ultws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IsOneRunning">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/LedgerUpdate/IsOneRunning" style="document"/>
      <input>
        <soap:header message="ultws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ultws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetProgress">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/LedgerUpdate/GetProgress" style="document"/>
      <input>
        <soap:header message="ultws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ultws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ClearLocks">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/LedgerUpdate/ClearLocks" style="document"/>
      <input>
        <soap:header message="ultws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ultws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LedgerUpdateService">
    <port name="LedgerUpdateServicePort" binding="ultws:LedgerUpdateServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/ledgerupdate/ledgerupdate-13.0"/>
    </port>
  </service>
</definitions>
