docs/Unit4 Financials HTML Documentation/wsdl/finance-undomatching-undomatching.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/undomatching/undomatching-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:umaws="http://www.coda.com/efinance/schemas/undomatching/undomatching-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:umm="http://www.coda.com/efinance/schemas/undomatchingmaster"
    xmlns:uma="http://www.coda.com/efinance/schemas/undomatching"
    xmlns:txn="http://www.coda.com/efinance/schemas/transaction"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/undomatching/undomatching-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/undomatchingmaster" schemaLocation="finance/undomatchingmaster/undomatchingmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/undomatching" schemaLocation="../wsdl/finance/undomatching/undomatching.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/transaction" schemaLocation="finance/transaction/transaction.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="SelectSuppressedLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UndoMatchingParams" type="uma:UndoMatchingParams">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            performing undomatching.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SelectionFilter" type="gsl:VocListData">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of the selector vocabulary that determines
                            which lines are selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FlexiFieldSelectionFilter" type="gsl:FlexiFieldVocListData">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of the selector flexi-fields that determines
                            which matches are selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UndoMatchesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UndoMatchingParams" type="uma:UndoMatchingParams">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            performing undomatching.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Matches" type="uma:MatchesToUndo">
                    <xsd:annotation>
                        <xsd:documentation>This element contains details
                            of the matches that will be undone.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateParamsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Warning" minOccurs="0" type="com:Warning">
                    <xsd:annotation>
                        <xsd:documentation>Contains a warning message.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="UndoMatchingParams" type="uma:UndoMatchingParams">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters you specified in the
                            ValidateParamsRequest corresponding to this Response.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectMatchesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UndoMatchingParams" type="uma:UndoMatchingParams">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            performing undomatching.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SelectionFilter" type="gsl:VocListData">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of the selector vocabulary that determines
                            which matches are selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FlexiFieldSelectionFilter" type="gsl:FlexiFieldVocListData">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of the selector flexi-fields that determines
                            which matches are selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateParamsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UndoMatchingParams" type="uma:UndoMatchingParams">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            performing undomatching.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UndoMatchesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UndoMatchingParams" type="uma:UndoMatchingParams">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters you specified in the
                            UndoMatchesRequest corresponding to this Response.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Matches" type="uma:UndoResults">
                    <xsd:annotation>
                        <xsd:documentation>This element contains details
                            of the matches that have been undone.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectSuppressedLinesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UndoMatchingParams" type="uma:UndoMatchingParams">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters you specified in the
                            SelectSuppressedLinesRequest corresponding
                            to this Response.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Header" type="sel:HeaderColumnList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains
                            vocabulary item names, identifying the
                            columns of data returned in the Lines element.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Lines" type="uma:SuppressedLines">
                    <xsd:annotation>
                        <xsd:documentation>This element contains details
                            of the lines that have been undone.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UndoSuppressedLinesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UndoMatchingParams" type="uma:UndoMatchingParams">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters you specified in the
                            UndoSuppressedLinesRequest corresponding to
                            this Response.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Lines" type="uma:UndoSuppressedResults">
                    <xsd:annotation>
                        <xsd:documentation>This element contains details
                            of the lines that have been undone.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UndoSuppressedLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UndoMatchingParams" type="uma:UndoMatchingParams">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified when
                            performing undomatching.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Lines" type="uma:SuppressedLinesToUndo">
                    <xsd:annotation>
                        <xsd:documentation>This element contains details
                            of the suppressed lines that will be undone.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectMatchesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UndoMatchingParams" type="uma:UndoMatchingParams">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters you specified in the
                            SelectMatchesRequest corresponding to this Response.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Header" type="sel:HeaderColumnList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains
                            vocabulary item names, identifying the
                            columns of data returned in the Matches element.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Matches" type="uma:SelectedMatches">
                    <xsd:annotation>
                        <xsd:documentation>This element contains details
                            of the matches that are selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UndoMatchesRequest">
    <part name="UndoMatchesRequest" element="umaws:UndoMatchesRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="umaws:OptionsResponse"/>
  </message>
  <message name="SelectMatchesRequest">
    <part name="SelectMatchesRequest" element="umaws:SelectMatchesRequest"/>
  </message>
  <message name="SelectMatchesResponse">
    <part name="SelectMatchesResponse" element="umaws:SelectMatchesResponse"/>
  </message>
  <message name="UndoSuppressedLinesResponse">
    <part name="UndoSuppressedLinesResponse" element="umaws:UndoSuppressedLinesResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="umaws:Options"/>
  </message>
  <message name="SelectSuppressedLinesRequest">
    <part name="SelectSuppressedLinesRequest" element="umaws:SelectSuppressedLinesRequest"/>
  </message>
  <message name="UndoMatchesResponse">
    <part name="UndoMatchesResponse" element="umaws:UndoMatchesResponse"/>
  </message>
  <message name="UndoSuppressedLinesRequest">
    <part name="UndoSuppressedLinesRequest" element="umaws:UndoSuppressedLinesRequest"/>
  </message>
  <message name="ValidateParamsRequest">
    <part name="ValidateParamsRequest" element="umaws:ValidateParamsRequest"/>
  </message>
  <message name="ValidateParamsResponse">
    <part name="ValidateParamsResponse" element="umaws:ValidateParamsResponse"/>
  </message>
  <message name="SelectSuppressedLinesResponse">
    <part name="SelectSuppressedLinesResponse" element="umaws:SelectSuppressedLinesResponse"/>
  </message>
  <portType name="UndoMatchingServicePortTypes">
    <operation name="UndoSuppressedLines">
      <input message="umaws:UndoSuppressedLinesRequest"/>
      <output message="umaws:UndoSuppressedLinesResponse"/>
    </operation>
    <operation name="SelectSuppressedLines">
      <input message="umaws:SelectSuppressedLinesRequest"/>
      <output message="umaws:SelectSuppressedLinesResponse"/>
    </operation>
    <operation name="SelectMatches">
      <input message="umaws:SelectMatchesRequest"/>
      <output message="umaws:SelectMatchesResponse"/>
    </operation>
    <operation name="UndoMatches">
      <input message="umaws:UndoMatchesRequest"/>
      <output message="umaws:UndoMatchesResponse"/>
    </operation>
    <operation name="ValidateParams">
      <input message="umaws:ValidateParamsRequest"/>
      <output message="umaws:ValidateParamsResponse"/>
    </operation>
  </portType>
  <binding name="UndoMatchingServiceSOAPBinding" type="umaws:UndoMatchingServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UndoSuppressedLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/UndoMatching/UndoSuppressedLines" style="document"/>
      <input>
        <soap:header message="umaws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="umaws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SelectSuppressedLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/UndoMatching/SelectSuppressedLines" style="document"/>
      <input>
        <soap:header message="umaws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="umaws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SelectMatches">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/UndoMatching/SelectMatches" style="document"/>
      <input>
        <soap:header message="umaws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="umaws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UndoMatches">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/UndoMatching/UndoMatches" style="document"/>
      <input>
        <soap:header message="umaws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="umaws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateParams">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/UndoMatching/ValidateParams" style="document"/>
      <input>
        <soap:header message="umaws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="umaws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UndoMatchingService">
    <port name="UndoMatchingServicePort" binding="umaws:UndoMatchingServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/undomatching/undomatching-13.0"/>
    </port>
  </service>
</definitions>
