docs/Unit4 Financials HTML Documentation/wsdl/finance-entitymaster-entitymaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/entitymaster/entitymaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:entws="http://www.coda.com/efinance/schemas/entitymaster/entitymaster-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:ent="http://www.coda.com/efinance/schemas/entitymaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/entitymaster/entitymaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/entitymaster" schemaLocation="../wsdl/finance/entitymaster/entitymaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EntityMaster" type="ent:Entity">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the entity master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="ent:entReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            entity masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the entity master
                            you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="EntityMaster" minOccurs="0" type="ent:Entity">
                    <xsd:annotation>
                        <xsd:documentation>Contains the entity master
                            you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="ent:entReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the entity masters for listing.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="ent:EntityKeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed entity masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the entity master
                            you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            entity master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the entity master
                            that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the entity
                            master you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            entity master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EntityMaster" type="ent:Entity">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the entity master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the entity master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetCmpEntitiesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Company" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company for
                            which you want the list of entities.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="EntityList" minOccurs="0" type="ent:CmpEntityList">
                    <xsd:annotation>
                        <xsd:documentation>The list of entities which
                            you attempted to retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetCmpEntitiesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Company" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company for
                            which you want the list of entities.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the entity master you want to retrieve from
                            the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="entws:Options"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="entws:ListRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="entws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="entws:UpdateRequest"/>
  </message>
  <message name="GetCmpEntitiesResponse">
    <part name="GetCmpEntitiesResponse" element="entws:GetCmpEntitiesResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="entws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="entws:GetResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="entws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="entws:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="entws:DeleteResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="entws:GetRequest"/>
  </message>
  <message name="GetCmpEntitiesRequest">
    <part name="GetCmpEntitiesRequest" element="entws:GetCmpEntitiesRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="entws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="entws:OptionsResponse"/>
  </message>
  <portType name="EntityMasterServicePortTypes">
    <operation name="Add">
      <input message="entws:AddRequest"/>
      <output message="entws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="entws:DeleteRequest"/>
      <output message="entws:DeleteResponse"/>
    </operation>
    <operation name="GetCmpEntities">
      <input message="entws:GetCmpEntitiesRequest"/>
      <output message="entws:GetCmpEntitiesResponse"/>
    </operation>
    <operation name="Get">
      <input message="entws:GetRequest"/>
      <output message="entws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="entws:ListRequest"/>
      <output message="entws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="entws:UpdateRequest"/>
      <output message="entws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="EntityMasterServiceSOAPBinding" type="entws:EntityMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/EntityMaster/Add" style="document"/>
      <input>
        <soap:header message="entws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="entws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/EntityMaster/Delete" style="document"/>
      <input>
        <soap:header message="entws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="entws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetCmpEntities">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/EntityMaster/GetCmpEntities" style="document"/>
      <input>
        <soap:header message="entws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="entws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/EntityMaster/Get" style="document"/>
      <input>
        <soap:header message="entws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="entws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/EntityMaster/List" style="document"/>
      <input>
        <soap:header message="entws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="entws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/EntityMaster/Update" style="document"/>
      <input>
        <soap:header message="entws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="entws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EntityMasterService">
    <port name="EntityMasterServicePort" binding="entws:EntityMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/entitymaster/entitymaster-12.0"/>
    </port>
  </service>
</definitions>
