docs/Unit4 Financials HTML Documentation/wsdl/finance-country-country.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/country/country-3.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ctyws="http://www.coda.com/efinance/schemas/country/country-3.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:cty="http://www.coda.com/efinance/schemas/country"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/country/country-3.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/country" schemaLocation="../wsdl/finance/country/country.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CountryMaster" type="cty:CountryMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the country master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="cty:ctyReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            country masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the country
                            master you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CountryMaster" minOccurs="0" type="cty:CountryMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the country master
                            details you have retrieved.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="cty:ctyReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the country masters for listing.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="cty:ctyKeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed country masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the country
                            master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="xsd:short">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            country master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the country
                            master you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the country
                            master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="xsd:short">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            country master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CountryMaster" type="cty:CountryMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the country master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="cty:ctyKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the country master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="cty:ctyKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the country master you want to retrieve from
                            the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="ctyws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="ctyws:DeleteRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="ctyws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="ctyws:AddResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="ctyws:GetRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="ctyws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="ctyws:ListResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="ctyws:ListRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="ctyws:DeleteResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="ctyws:Options"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="ctyws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="ctyws:AddRequest"/>
  </message>
  <portType name="CountryServicePortTypes">
    <operation name="Add">
      <input message="ctyws:AddRequest"/>
      <output message="ctyws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="ctyws:DeleteRequest"/>
      <output message="ctyws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="ctyws:GetRequest"/>
      <output message="ctyws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="ctyws:ListRequest"/>
      <output message="ctyws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="ctyws:UpdateRequest"/>
      <output message="ctyws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="CountryServiceSOAPBinding" type="ctyws:CountryServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Country/Add" style="document"/>
      <input>
        <soap:header message="ctyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ctyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Country/Delete" style="document"/>
      <input>
        <soap:header message="ctyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ctyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Country/Get" style="document"/>
      <input>
        <soap:header message="ctyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ctyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Country/List" style="document"/>
      <input>
        <soap:header message="ctyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ctyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Country/Update" style="document"/>
      <input>
        <soap:header message="ctyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ctyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CountryService">
    <port name="CountryServicePort" binding="ctyws:CountryServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/country/country-3.0"/>
    </port>
  </service>
</definitions>
