docs/Unit4 Financials HTML Documentation/wsdl/finance-tax-tax.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/tax/tax-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:taxws="http://www.coda.com/efinance/schemas/tax/tax-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:tax="http://www.coda.com/efinance/schemas/tax"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/tax/tax-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/tax" schemaLocation="../wsdl/finance/tax/tax.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="Tax" type="tax:Tax">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the tax master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CalculateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="NetDocValue" type="com:typeMoney">
                    <xsd:annotation>
                        <xsd:documentation>The net value in documetn currency.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TaxCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The tax master to use.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocCurrency" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The currency of the document.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Date" type="com:typeDate">
                    <xsd:annotation>
                        <xsd:documentation>The date for the tax rate.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the tax
                            masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TaxTypes" minOccurs="0" type="tax:TaxTypes">
                    <xsd:annotation>
                        <xsd:documentation>This element holds tax master
                            attribute details.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>Contains the code for the
                            company from which this tax master was retrieved.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the tax master
                            you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Tax" minOccurs="0" type="tax:Tax">
                    <xsd:annotation>
                        <xsd:documentation>Contains the tax master you
                            have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CalculateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocValue" type="com:typeMoney">
                    <xsd:annotation>
                        <xsd:documentation>The document currecy value.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>Contains key information for
                            the listed tax masters. This information
                            includes the code, company code, and maximum
                            number of masters to be returned.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TaxTypes" minOccurs="0" type="tax:TaxTypes">
                    <xsd:annotation>
                        <xsd:documentation>This element holds tax master
                            attribute details.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed tax masters. This information
                            consists of the tax master&apos;s code and
                            short name.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to update the tax master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the tax master
                            that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            tax master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to delete the tax master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the tax master
                            you attempted to delete from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to create the tax master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the tax master
                            that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            tax master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="Tax" type="tax:Tax">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the tax master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the tax master you want to delete from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the tax master you want to retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="taxws:DeleteResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="taxws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="taxws:UpdateResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="taxws:GetRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="taxws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="taxws:DeleteRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="taxws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="taxws:Options"/>
  </message>
  <message name="CalculateRequest">
    <part name="CalculateRequest" element="taxws:CalculateRequest"/>
  </message>
  <message name="CalculateResponse">
    <part name="CalculateResponse" element="taxws:CalculateResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="taxws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="taxws:UpdateRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="taxws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="taxws:GetResponse"/>
  </message>
  <portType name="TaxServicePortTypes">
    <operation name="Add">
      <input message="taxws:AddRequest"/>
      <output message="taxws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="taxws:DeleteRequest"/>
      <output message="taxws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="taxws:GetRequest"/>
      <output message="taxws:GetResponse"/>
    </operation>
    <operation name="Calculate">
      <input message="taxws:CalculateRequest"/>
      <output message="taxws:CalculateResponse"/>
    </operation>
    <operation name="List">
      <input message="taxws:ListRequest"/>
      <output message="taxws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="taxws:UpdateRequest"/>
      <output message="taxws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="TaxServiceSOAPBinding" type="taxws:TaxServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Tax/Add" style="document"/>
      <input>
        <soap:header message="taxws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="taxws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Tax/Delete" style="document"/>
      <input>
        <soap:header message="taxws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="taxws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Tax/Get" style="document"/>
      <input>
        <soap:header message="taxws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="taxws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Calculate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Tax/Calculate" style="document"/>
      <input>
        <soap:header message="taxws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="taxws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Tax/List" style="document"/>
      <input>
        <soap:header message="taxws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="taxws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Tax/Update" style="document"/>
      <input>
        <soap:header message="taxws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="taxws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TaxService">
    <port name="TaxServicePort" binding="taxws:TaxServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/tax/tax-14.0"/>
    </port>
  </service>
</definitions>
