docs/Unit4 Financials HTML Documentation/wsdl/finance-ten99-ten99.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/ten99/ten99-2.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tenws="http://www.coda.com/efinance/schemas/ten99/ten99-2.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ten="http://www.coda.com/efinance/schemas/ten99"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/ten99/ten99-2.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/ten99" schemaLocation="../wsdl/finance/ten99/ten99.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="Ten99" type="ten:Ten99">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the 1099 master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            1099 masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>Contains the code for the
                            company from which this 1099 master was retrieved.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="ten:Ten99Code">
                    <xsd:annotation>
                        <xsd:documentation>The code for the 1099 master
                            you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Ten99" minOccurs="0" type="ten:Ten99">
                    <xsd:annotation>
                        <xsd:documentation>Contains the 1099 master you
                            have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the 1099 masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed 1099 masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to update the 1099 master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="ten:Ten99Code">
                    <xsd:annotation>
                        <xsd:documentation>The code for the 1099 master
                            that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            1099 master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to delete the 1099 master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="ten:Ten99Code">
                    <xsd:annotation>
                        <xsd:documentation>The code for the 1099 master
                            you attempted to delete from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to create the 1099 master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="ten:Ten99Code">
                    <xsd:annotation>
                        <xsd:documentation>The code for the 1099 master
                            that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            1099 master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="Ten99" type="ten:Ten99">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the 1099 master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the 1099 master you want to delete from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the 1099 master you want to retrieve from
                            the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="tenws:OptionsResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="tenws:AddResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="tenws:DeleteRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="tenws:GetResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="tenws:ListRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="tenws:DeleteResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="tenws:AddRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="tenws:Options"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="tenws:UpdateResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="tenws:GetRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="tenws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="tenws:UpdateRequest"/>
  </message>
  <portType name="Ten99ServicePortTypes">
    <operation name="Add">
      <input message="tenws:AddRequest"/>
      <output message="tenws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="tenws:DeleteRequest"/>
      <output message="tenws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="tenws:GetRequest"/>
      <output message="tenws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="tenws:ListRequest"/>
      <output message="tenws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="tenws:UpdateRequest"/>
      <output message="tenws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="Ten99ServiceSOAPBinding" type="tenws:Ten99ServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Ten99/Add" style="document"/>
      <input>
        <soap:header message="tenws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tenws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Ten99/Delete" style="document"/>
      <input>
        <soap:header message="tenws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tenws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Ten99/Get" style="document"/>
      <input>
        <soap:header message="tenws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tenws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Ten99/List" style="document"/>
      <input>
        <soap:header message="tenws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tenws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Ten99/Update" style="document"/>
      <input>
        <soap:header message="tenws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tenws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Ten99Service">
    <port name="Ten99ServicePort" binding="tenws:Ten99ServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/ten99/ten99-2.0"/>
    </port>
  </service>
</definitions>
