docs/Unit4 Financials HTML Documentation/wsdl/finance-documentmaster-documentmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/documentmaster/documentmaster-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:docws="http://www.coda.com/efinance/schemas/documentmaster/documentmaster-14.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:doc="http://www.coda.com/efinance/schemas/documentmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/documentmaster/documentmaster-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/documentmaster" schemaLocation="../wsdl/finance/documentmaster/documentmaster.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to update the document master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the document
                            master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="xsd:short">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            document master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to delete the document master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the document
                            master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="doc:docSelectKey">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            document masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetNoListsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMasterNoLists" minOccurs="0" type="doc:Master">
                    <xsd:annotation>
                        <xsd:documentation>Contains the number range
                            lists for this document master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetNoListsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the number range list you want to retrieve
                            from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReserveResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="doc:DocReserveKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains a key to a reserved document.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReleaseReservationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="doc:DocReserveKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains a key to a reserved document.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReleaseReservationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="doc:DocReserveKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains a key to a reserved document.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company from
                            which you attempted to retrieve the
                            specified document master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the document
                            master that you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentMaster" minOccurs="0" type="doc:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the document master
                            you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="DocumentMaster" type="doc:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the document master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="doc:PrintDocSelectKey">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the document masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed document masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the document master you want to retrieve
                            from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReserveRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="doc:DocReserveKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains a key to a reserved document.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="DocumentMaster" type="doc:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the document master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to create the document master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the document
                            master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="xsd:short">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            document master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the document master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ReleaseReservationResponse">
    <part name="ReleaseReservationResponse" element="docws:ReleaseReservationResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="docws:GetRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="docws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="docws:UpdateResponse"/>
  </message>
  <message name="ReserveRequest">
    <part name="ReserveRequest" element="docws:ReserveRequest"/>
  </message>
  <message name="GetNoListsResponse">
    <part name="GetNoListsResponse" element="docws:GetNoListsResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="docws:DeleteResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="docws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="docws:OptionsResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="docws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="docws:UpdateRequest"/>
  </message>
  <message name="ReleaseReservationRequest">
    <part name="ReleaseReservationRequest" element="docws:ReleaseReservationRequest"/>
  </message>
  <message name="GetNoListsRequest">
    <part name="GetNoListsRequest" element="docws:GetNoListsRequest"/>
  </message>
  <message name="ReserveResponse">
    <part name="ReserveResponse" element="docws:ReserveResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="docws:Options"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="docws:ListRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="docws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="docws:GetResponse"/>
  </message>
  <portType name="DocumentMasterServicePortTypes">
    <operation name="Add">
      <input message="docws:AddRequest"/>
      <output message="docws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="docws:DeleteRequest"/>
      <output message="docws:DeleteResponse"/>
    </operation>
    <operation name="Reserve">
      <input message="docws:ReserveRequest"/>
      <output message="docws:ReserveResponse"/>
    </operation>
    <operation name="ReleaseReservation">
      <input message="docws:ReleaseReservationRequest"/>
      <output message="docws:ReleaseReservationResponse"/>
    </operation>
    <operation name="Get">
      <input message="docws:GetRequest"/>
      <output message="docws:GetResponse"/>
    </operation>
    <operation name="GetNoLists">
      <input message="docws:GetNoListsRequest"/>
      <output message="docws:GetNoListsResponse"/>
    </operation>
    <operation name="List">
      <input message="docws:ListRequest"/>
      <output message="docws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="docws:UpdateRequest"/>
      <output message="docws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="DocumentMasterServiceSOAPBinding" type="docws:DocumentMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DocumentMaster/Add" style="document"/>
      <input>
        <soap:header message="docws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DocumentMaster/Delete" style="document"/>
      <input>
        <soap:header message="docws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Reserve">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DocumentMaster/Reserve" style="document"/>
      <input>
        <soap:header message="docws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReleaseReservation">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DocumentMaster/ReleaseReservation" style="document"/>
      <input>
        <soap:header message="docws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DocumentMaster/Get" style="document"/>
      <input>
        <soap:header message="docws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetNoLists">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DocumentMaster/GetNoLists" style="document"/>
      <input>
        <soap:header message="docws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DocumentMaster/List" style="document"/>
      <input>
        <soap:header message="docws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/DocumentMaster/Update" style="document"/>
      <input>
        <soap:header message="docws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DocumentMasterService">
    <port name="DocumentMasterServicePort" binding="docws:DocumentMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/documentmaster/documentmaster-14.0"/>
    </port>
  </service>
</definitions>
