docs/Unit4 Financials HTML Documentation/wsdl/finance-expandedhierarchybuilder-expandedhierarchybuilder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/expandedhierarchybuilder/expandedhierarchybuilder-2.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:hibws="http://www.coda.com/efinance/schemas/expandedhierarchybuilder/expandedhierarchybuilder-2.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:hib="http://www.coda.com/efinance/schemas/expandedhierarchybuilder"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/expandedhierarchybuilder/expandedhierarchybuilder-2.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/expandedhierarchybuilder" schemaLocation="../wsdl/finance/expandedhierarchybuilder/expandedhierarchybuilder.xsd"/>
    <xsd:element name="AbortRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HierarchyCodes" type="hib:HierarchyCodeList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of hierarchy codes.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListHierarchiesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HierarchyList" type="hib:HierarchyList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains a list
                            of hierarchies which are available for
                            inclusion in the table build.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListBuildProgressResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProgressList" type="hib:BuildProgressList">
                    <xsd:annotation>
                        <xsd:documentation>This element contains
                            information about the progress of the build,
                            and lists the hierarchy currently being
                            processed, and the hierarchies waiting to be processed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListBuildProgressRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AbortResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResetBuildListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LogTitle" type="com:typeLogTitle">
                    <xsd:annotation>
                        <xsd:documentation>The title of the log that
                            will be generated by the audit process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BuildRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Params" type="hib:Params">
                    <xsd:annotation>
                        <xsd:documentation>This element stores the
                            parameters that can be specified for a table build.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResetBuildListResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BuildResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Params" type="hib:Params">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            parameters which can be specified for a
                            table build.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListHierarchiesRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="hibws:OptionsResponse"/>
  </message>
  <message name="ListBuildProgressRequest">
    <part name="ListBuildProgressRequest" element="hibws:ListBuildProgressRequest"/>
  </message>
  <message name="BuildRequest">
    <part name="BuildRequest" element="hibws:BuildRequest"/>
  </message>
  <message name="ResetBuildListResponse">
    <part name="ResetBuildListResponse" element="hibws:ResetBuildListResponse"/>
  </message>
  <message name="ListHierarchiesResponse">
    <part name="ListHierarchiesResponse" element="hibws:ListHierarchiesResponse"/>
  </message>
  <message name="AbortResponse">
    <part name="AbortResponse" element="hibws:AbortResponse"/>
  </message>
  <message name="AbortRequest">
    <part name="AbortRequest" element="hibws:AbortRequest"/>
  </message>
  <message name="ListBuildProgressResponse">
    <part name="ListBuildProgressResponse" element="hibws:ListBuildProgressResponse"/>
  </message>
  <message name="ListHierarchiesRequest">
    <part name="ListHierarchiesRequest" element="hibws:ListHierarchiesRequest"/>
  </message>
  <message name="ResetBuildListRequest">
    <part name="ResetBuildListRequest" element="hibws:ResetBuildListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="hibws:Options"/>
  </message>
  <message name="BuildResponse">
    <part name="BuildResponse" element="hibws:BuildResponse"/>
  </message>
  <portType name="ExpandedHierarchyBuilderServicePortTypes">
    <operation name="ListBuildProgress">
      <input message="hibws:ListBuildProgressRequest"/>
      <output message="hibws:ListBuildProgressResponse"/>
    </operation>
    <operation name="Abort">
      <input message="hibws:AbortRequest"/>
      <output message="hibws:AbortResponse"/>
    </operation>
    <operation name="ListHierarchies">
      <input message="hibws:ListHierarchiesRequest"/>
      <output message="hibws:ListHierarchiesResponse"/>
    </operation>
    <operation name="ResetBuildList">
      <input message="hibws:ResetBuildListRequest"/>
      <output message="hibws:ResetBuildListResponse"/>
    </operation>
    <operation name="Build">
      <input message="hibws:BuildRequest"/>
      <output message="hibws:BuildResponse"/>
    </operation>
  </portType>
  <binding name="ExpandedHierarchyBuilderServiceSOAPBinding" type="hibws:ExpandedHierarchyBuilderServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ListBuildProgress">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ExpandedHierarchyBuilder/ListBuildProgress" style="document"/>
      <input>
        <soap:header message="hibws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hibws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Abort">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ExpandedHierarchyBuilder/Abort" style="document"/>
      <input>
        <soap:header message="hibws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hibws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListHierarchies">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ExpandedHierarchyBuilder/ListHierarchies" style="document"/>
      <input>
        <soap:header message="hibws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hibws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ResetBuildList">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ExpandedHierarchyBuilder/ResetBuildList" style="document"/>
      <input>
        <soap:header message="hibws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hibws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Build">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ExpandedHierarchyBuilder/Build" style="document"/>
      <input>
        <soap:header message="hibws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hibws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ExpandedHierarchyBuilderService">
    <port name="ExpandedHierarchyBuilderServicePort" binding="hibws:ExpandedHierarchyBuilderServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/expandedhierarchybuilder/expandedhierarchybuilder-2.0"/>
    </port>
  </service>
</definitions>
