docs/Unit4 Financials HTML Documentation/wsdl/finance-statementload-statementloadmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/statementload/statementloadmaster-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:stlws="http://www.coda.com/efinance/schemas/statementload/statementloadmaster-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:stl="http://www.coda.com/efinance/schemas/statementload"
    xmlns:fld="http://www.coda.com/common/schemas/repositoryfolder"
    xmlns:rep="http://www.coda.com/common/schemas/repository"
    xmlns:map="http://www.coda.com/common/schemas/mapping"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/statementload/statementloadmaster-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/statementload" schemaLocation="../wsdl/finance/statementload/statementload.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/repositoryfolder" schemaLocation="common/repositoryfolder/repositoryfolder.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/repository" schemaLocation="common/repository/repository.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/mapping" schemaLocation="common/mapping/mapping.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatementLoadMaster" type="stl:StatementLoadMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CreateFromConfiguratorFileRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FormatData" minOccurs="0" type="stl:ConfiguratorFormatData">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The contents of the Configurator
                                format file</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UploadFileRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileUploadData" type="stl:FileUploadData">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The data to upload</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the StatementLoadMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the StatementLoadMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CreateFromConfiguratorFileResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatementLoadMaster" type="stl:StatementLoadMaster">
                    <xsd:annotation>
                        <xsd:documentation>The StatementLoadMaster is an
                            out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatementLoadMasterList" type="stl:StatementLoadMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatementLoadMaster" type="stl:StatementLoadMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatementLoadMaster" type="stl:StatementLoadMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole StatementLoadMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StartLoadResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LogID" type="com:typeLong">
                    <xsd:annotation>
                        <xsd:documentation>The logID is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatementLoadMasterItemList" type="stl:StatementLoadMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatementLoadMasterKey" type="stl:StatementLoadMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            StatementLoadMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatementLoadMaster" type="stl:StatementLoadMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole StatementLoadMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UploadFileResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RepositoryObjectTreeData" type="rep:RepoTreeItem">
                    <xsd:annotation>
                        <xsd:documentation>The repositoryObjectTreeData
                            is an out argument, so the server will put
                            it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatementLoadMaster" type="stl:StatementLoadMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StartLoadRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatementLoad" type="stl:StatementLoad">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Statement load data</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatementLoadMasterKey" type="stl:StatementLoadMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            StatementLoadMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="stlws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="stlws:DeleteRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="stlws:FindRequest"/>
  </message>
  <message name="CreateFromConfiguratorFileResponse">
    <part name="CreateFromConfiguratorFileResponse" element="stlws:CreateFromConfiguratorFileResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="stlws:GetRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="stlws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="stlws:UpdateResponse"/>
  </message>
  <message name="StartLoadResponse">
    <part name="StartLoadResponse" element="stlws:StartLoadResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="stlws:AddRequest"/>
  </message>
  <message name="UploadFileRequest">
    <part name="UploadFileRequest" element="stlws:UploadFileRequest"/>
  </message>
  <message name="UploadFileResponse">
    <part name="UploadFileResponse" element="stlws:UploadFileResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="stlws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="stlws:AddResponse"/>
  </message>
  <message name="StartLoadRequest">
    <part name="StartLoadRequest" element="stlws:StartLoadRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="stlws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="stlws:ListResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="stlws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="stlws:Options"/>
  </message>
  <message name="CreateFromConfiguratorFileRequest">
    <part name="CreateFromConfiguratorFileRequest" element="stlws:CreateFromConfiguratorFileRequest"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="stlws:FindResponse"/>
  </message>
  <portType name="StatementLoadMasterServicePortTypes">
    <operation name="Delete">
      <input message="stlws:DeleteRequest"/>
      <output message="stlws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="stlws:AddRequest"/>
      <output message="stlws:AddResponse"/>
    </operation>
    <operation name="UploadFile">
      <input message="stlws:UploadFileRequest"/>
      <output message="stlws:UploadFileResponse"/>
    </operation>
    <operation name="CreateFromConfiguratorFile">
      <input message="stlws:CreateFromConfiguratorFileRequest"/>
      <output message="stlws:CreateFromConfiguratorFileResponse"/>
    </operation>
    <operation name="Get">
      <input message="stlws:GetRequest"/>
      <output message="stlws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="stlws:FindRequest"/>
      <output message="stlws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="stlws:ListRequest"/>
      <output message="stlws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="stlws:UpdateRequest"/>
      <output message="stlws:UpdateResponse"/>
    </operation>
    <operation name="StartLoad">
      <input message="stlws:StartLoadRequest"/>
      <output message="stlws:StartLoadResponse"/>
    </operation>
  </portType>
  <binding name="StatementLoadMasterServiceSOAPBinding" type="stlws:StatementLoadMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/StatementLoadMaster/Delete" style="document"/>
      <input>
        <soap:header message="stlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="stlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/StatementLoadMaster/Add" style="document"/>
      <input>
        <soap:header message="stlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="stlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UploadFile">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/StatementLoadMaster/UploadFile" style="document"/>
      <input>
        <soap:header message="stlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="stlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateFromConfiguratorFile">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/StatementLoadMaster/CreateFromConfiguratorFile" style="document"/>
      <input>
        <soap:header message="stlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="stlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/StatementLoadMaster/Get" style="document"/>
      <input>
        <soap:header message="stlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="stlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/StatementLoadMaster/Find" style="document"/>
      <input>
        <soap:header message="stlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="stlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/StatementLoadMaster/List" style="document"/>
      <input>
        <soap:header message="stlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="stlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/StatementLoadMaster/Update" style="document"/>
      <input>
        <soap:header message="stlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="stlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StartLoad">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/StatementLoadMaster/StartLoad" style="document"/>
      <input>
        <soap:header message="stlws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="stlws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="StatementLoadMasterService">
    <port name="StatementLoadMasterServicePort" binding="stlws:StatementLoadMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/statementload/statementloadmaster-13.0"/>
    </port>
  </service>
</definitions>
