docs/Unit4 Financials HTML Documentation/wsdl/finance-inputtemplate-inputtemplate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/inputtemplate/inputtemplate-14.0/webservice" xmlns:itmws="http://www.coda.com/efinance/schemas/inputtemplate/inputtemplate-14.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:itm="http://www.coda.com/efinance/schemas/inputtemplate"
    targetNamespace="http://www.coda.com/efinance/schemas/inputtemplate/inputtemplate-14.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/inputtemplate" schemaLocation="../wsdl/finance/inputtemplate/inputtemplate.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="InputTemplate" type="itm:InputTemplate">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the input template master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="itm:itmReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            input templates to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to retrieve an input
                            template master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the input
                            template master that you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="InputTemplate" minOccurs="0" type="itm:InputTemplate">
                    <xsd:annotation>
                        <xsd:documentation>Contains a input template
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="itm:PrintListKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the input template masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed input template masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to update the input
                            template master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the input
                            template master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            input template master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to delete the input
                            template master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the input
                            template master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to create the input
                            template master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the input
                            template master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            input template master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="InputTemplate" type="itm:InputTemplate">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the input template master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the input template master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListFilterControlResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="itm:ListFilterControlKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the input template masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed input template masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListFilterControlRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="itm:ListFilterControlKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            input templates to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the input template master you want to
                            retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="itmws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="itmws:DeleteRequest"/>
  </message>
  <message name="ListFilterControlRequest">
    <part name="ListFilterControlRequest" element="itmws:ListFilterControlRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="itmws:GetRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="itmws:DeleteResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="itmws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="itmws:UpdateResponse"/>
  </message>
  <message name="ListFilterControlResponse">
    <part name="ListFilterControlResponse" element="itmws:ListFilterControlResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="itmws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="itmws:GetResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="itmws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="itmws:UpdateRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="itmws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="itmws:Options"/>
  </message>
  <portType name="InputTemplateServicePortTypes">
    <operation name="Add">
      <input message="itmws:AddRequest"/>
      <output message="itmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="itmws:DeleteRequest"/>
      <output message="itmws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="itmws:GetRequest"/>
      <output message="itmws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="itmws:ListRequest"/>
      <output message="itmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="itmws:UpdateRequest"/>
      <output message="itmws:UpdateResponse"/>
    </operation>
    <operation name="ListFilterControl">
      <input message="itmws:ListFilterControlRequest"/>
      <output message="itmws:ListFilterControlResponse"/>
    </operation>
  </portType>
  <binding name="InputTemplateServiceSOAPBinding" type="itmws:InputTemplateServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/InputTemplate/Add" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/InputTemplate/Delete" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/InputTemplate/Get" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/InputTemplate/List" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/InputTemplate/Update" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListFilterControl">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/InputTemplate/ListFilterControl" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="InputTemplateService">
    <port name="InputTemplateServicePort" binding="itmws:InputTemplateServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/inputtemplate/inputtemplate-14.0"/>
    </port>
  </service>
</definitions>
