docs/Unit4 Financials HTML Documentation/wsdl/finance-archivemaster-archiveheadermaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/archivemaster/archiveheadermaster-6.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:acmws="http://www.coda.com/efinance/schemas/archivemaster/archiveheadermaster-6.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:acm="http://www.coda.com/efinance/schemas/archivemaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/archivemaster/archiveheadermaster-6.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/archivemaster" schemaLocation="../wsdl/finance/archivemaster/archivemaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="ArchiveHeaderMaster" type="acm:ArchiveHeaderMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the archive header master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetStatusRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the archive header master whose status you
                            are requesting.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqKeysWithShortName">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            archive header masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ExcludeInternal" minOccurs="0" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If TRUE, specifies that
                            archive header masters set for external
                            archiving are not selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ExcludeExternal" minOccurs="0" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If TRUE, specifies that
                            archive header masters set for internal
                            archiving are not selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company from
                            which you attempted to retrieve the archive
                            header master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the archive
                            header master that you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ArchiveHeaderMaster" minOccurs="0" type="acm:ArchiveHeaderMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the archive header
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqKeysWithShortName">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the archive header masters for listing.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed archive header masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to update the archive
                            header master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the archive
                            header master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            archive header master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to delete the archive
                            header master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the archive
                            header master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetStatusResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which the archive header master exists.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the archive
                            header master whose status you have requested.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ArchiveHeaderMasterStatus"
                    minOccurs="0" type="acm:ArchiveHeaderMasterStatus">
                    <xsd:annotation>
                        <xsd:documentation>Contains information about
                            the current status of the header, for
                            example Idle, Active, Selecting, Posting,
                            and the documents which have been archived
                            using this archive         header master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to create the archive
                            header master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the archive
                            header master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            archive header master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="ArchiveHeaderMaster" type="acm:ArchiveHeaderMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the archive header master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the archive header master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the archive header master you want to
                            retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="acmws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="acmws:OptionsResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="acmws:GetRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="acmws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="acmws:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="acmws:DeleteResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="acmws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="acmws:GetResponse"/>
  </message>
  <message name="GetStatusRequest">
    <part name="GetStatusRequest" element="acmws:GetStatusRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="acmws:ListResponse"/>
  </message>
  <message name="GetStatusResponse">
    <part name="GetStatusResponse" element="acmws:GetStatusResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="acmws:UpdateRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="acmws:Options"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="acmws:ListRequest"/>
  </message>
  <portType name="ArchiveHeaderMasterServicePortTypes">
    <operation name="Add">
      <input message="acmws:AddRequest"/>
      <output message="acmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="acmws:DeleteRequest"/>
      <output message="acmws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="acmws:GetRequest"/>
      <output message="acmws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="acmws:ListRequest"/>
      <output message="acmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="acmws:UpdateRequest"/>
      <output message="acmws:UpdateResponse"/>
    </operation>
    <operation name="GetStatus">
      <input message="acmws:GetStatusRequest"/>
      <output message="acmws:GetStatusResponse"/>
    </operation>
  </portType>
  <binding name="ArchiveHeaderMasterServiceSOAPBinding" type="acmws:ArchiveHeaderMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ArchiveHeaderMaster/Add" style="document"/>
      <input>
        <soap:header message="acmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="acmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ArchiveHeaderMaster/Delete" style="document"/>
      <input>
        <soap:header message="acmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="acmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ArchiveHeaderMaster/Get" style="document"/>
      <input>
        <soap:header message="acmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="acmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ArchiveHeaderMaster/List" style="document"/>
      <input>
        <soap:header message="acmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="acmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ArchiveHeaderMaster/Update" style="document"/>
      <input>
        <soap:header message="acmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="acmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetStatus">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/ArchiveHeaderMaster/GetStatus" style="document"/>
      <input>
        <soap:header message="acmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="acmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ArchiveHeaderMasterService">
    <port name="ArchiveHeaderMasterServicePort" binding="acmws:ArchiveHeaderMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/archivemaster/archiveheadermaster-6.0"/>
    </port>
  </service>
</definitions>
