docs/Unit4 Financials HTML Documentation/wsdl/finance-balancemaster-balancemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/balancemaster/balancemaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:blmws="http://www.coda.com/efinance/schemas/balancemaster/balancemaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:blm="http://www.coda.com/efinance/schemas/balancemaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/balancemaster/balancemaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/balancemaster" schemaLocation="../wsdl/finance/balancemaster/balancemaster.xsd"/>
    <xsd:element name="ListCommitmentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="blm:ReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            balance masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="BalanceMaster" type="blm:BalanceMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the balance master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="blm:ReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            balance masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which the balance master exists.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the balance master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BalanceMaster" minOccurs="0" type="blm:BalanceMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the balance master
                            you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="blm:ReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the balance masters for listing.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed balance masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListCommitmentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="blm:ReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter used to select the
                            listed balance masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed balance masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to update the balance master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the balance
                            master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            balance master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to delete the balance master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the balance
                            master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the company in
                            which you attempted to create the balance master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the balance
                            master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            balance master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="BalanceMaster" type="blm:BalanceMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the balance master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListAllResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqAllKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select all the balance masters for listing.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="blm:AllKeysData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for all listed balance masters, subject the
                            maximum number specified in the Filter.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListAllRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="com:ReqAllKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects all the
                            balance masters for listing. It includes
                            only the maximum number of records to be retrieved.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the balance master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the balance master you want to retrieve from
                            the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListResponse">
    <part name="ListResponse" element="blmws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="blmws:UpdateRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="blmws:Options"/>
  </message>
  <message name="ListAllRequest">
    <part name="ListAllRequest" element="blmws:ListAllRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="blmws:ListRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="blmws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="blmws:GetResponse"/>
  </message>
  <message name="ListCommitmentRequest">
    <part name="ListCommitmentRequest" element="blmws:ListCommitmentRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="blmws:GetRequest"/>
  </message>
  <message name="ListAllResponse">
    <part name="ListAllResponse" element="blmws:ListAllResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="blmws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="blmws:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="blmws:DeleteResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="blmws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="blmws:OptionsResponse"/>
  </message>
  <message name="ListCommitmentResponse">
    <part name="ListCommitmentResponse" element="blmws:ListCommitmentResponse"/>
  </message>
  <portType name="BalanceMasterServicePortTypes">
    <operation name="Add">
      <input message="blmws:AddRequest"/>
      <output message="blmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="blmws:DeleteRequest"/>
      <output message="blmws:DeleteResponse"/>
    </operation>
    <operation name="ListCommitment">
      <input message="blmws:ListCommitmentRequest"/>
      <output message="blmws:ListCommitmentResponse"/>
    </operation>
    <operation name="ListAll">
      <input message="blmws:ListAllRequest"/>
      <output message="blmws:ListAllResponse"/>
    </operation>
    <operation name="Get">
      <input message="blmws:GetRequest"/>
      <output message="blmws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="blmws:ListRequest"/>
      <output message="blmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="blmws:UpdateRequest"/>
      <output message="blmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="BalanceMasterServiceSOAPBinding" type="blmws:BalanceMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BalanceMaster/Add" style="document"/>
      <input>
        <soap:header message="blmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BalanceMaster/Delete" style="document"/>
      <input>
        <soap:header message="blmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListCommitment">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BalanceMaster/ListCommitment" style="document"/>
      <input>
        <soap:header message="blmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListAll">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BalanceMaster/ListAll" style="document"/>
      <input>
        <soap:header message="blmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BalanceMaster/Get" style="document"/>
      <input>
        <soap:header message="blmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BalanceMaster/List" style="document"/>
      <input>
        <soap:header message="blmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BalanceMaster/Update" style="document"/>
      <input>
        <soap:header message="blmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="blmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BalanceMasterService">
    <port name="BalanceMasterServicePort" binding="blmws:BalanceMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/balancemaster/balancemaster-1.0"/>
    </port>
  </service>
</definitions>
