docs/Unit4 Financials HTML Documentation/wsdl/finance-auditbalance-auditbalance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/auditbalance/auditbalance-3.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:adbws="http://www.coda.com/efinance/schemas/auditbalance/auditbalance-3.0/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:prg="http://www.coda.com/efinance/schemas/progress"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:adb="http://www.coda.com/efinance/schemas/auditbalance"
    targetNamespace="http://www.coda.com/efinance/schemas/auditbalance/auditbalance-3.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/auditbalance" schemaLocation="../wsdl/finance/auditbalance/auditbalance.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/progress" schemaLocation="finance/progress/progress.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="GetProgressResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="prg:ProgressKey">
                    <xsd:annotation>
                        <xsd:documentation>The key, or special
                            reference, which identifies the process you
                            are sending the request to. This is given to
                            you when you start the process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Progress" minOccurs="0" type="prg:ProgressData">
                    <xsd:annotation>
                        <xsd:documentation>Contains information about
                            the status and progress of the process you
                            are running.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ProgressStatistics" minOccurs="0" type="adb:ProgressStatistics">
                    <xsd:annotation>
                        <xsd:documentation>This element contains
                            statistical information about the progress
                            of the audit.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProgressRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="prg:ProgressKey">
                    <xsd:annotation>
                        <xsd:documentation>The key, or special
                            reference, which identifies the process you
                            started. This is given to you when you start
                            the process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StartResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Params" type="adb:StartParams">
                    <xsd:annotation>
                        <xsd:documentation>The parameters used to select
                            the balances to audit.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ProgressKey" minOccurs="0" type="prg:ProgressKey">
                    <xsd:annotation>
                        <xsd:documentation>The key used to request
                            information about the progress of this
                            Balance Audit or Toolbox process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogID" minOccurs="0" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>The ID of the log for this
                            Balance Audit or Toolbox process (if a log exists).</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StartRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Params" type="adb:StartParams">
                    <xsd:annotation>
                        <xsd:documentation>Contains the parameters
                            needed to select the balances to audit.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="StartResponse">
    <part name="StartResponse" element="adbws:StartResponse"/>
  </message>
  <message name="StartRequest">
    <part name="StartRequest" element="adbws:StartRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="adbws:OptionsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="adbws:Options"/>
  </message>
  <message name="GetProgressRequest">
    <part name="GetProgressRequest" element="adbws:GetProgressRequest"/>
  </message>
  <message name="GetProgressResponse">
    <part name="GetProgressResponse" element="adbws:GetProgressResponse"/>
  </message>
  <portType name="AuditBalanceServicePortTypes">
    <operation name="Start">
      <input message="adbws:StartRequest"/>
      <output message="adbws:StartResponse"/>
    </operation>
    <operation name="GetProgress">
      <input message="adbws:GetProgressRequest"/>
      <output message="adbws:GetProgressResponse"/>
    </operation>
  </portType>
  <binding name="AuditBalanceServiceSOAPBinding" type="adbws:AuditBalanceServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Start">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AuditBalance/Start" style="document"/>
      <input>
        <soap:header message="adbws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="adbws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetProgress">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/AuditBalance/GetProgress" style="document"/>
      <input>
        <soap:header message="adbws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="adbws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AuditBalanceService">
    <port name="AuditBalanceServicePort" binding="adbws:AuditBalanceServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/auditbalance/auditbalance-3.0"/>
    </port>
  </service>
</definitions>
