docs/Unit4 Financials HTML Documentation/wsdl/finance-creditmanagermaint-creditmanagermaint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/creditmanagermaint/creditmanagermaint-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cmmws="http://www.coda.com/efinance/schemas/creditmanagermaint/creditmanagermaint-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:cmm="http://www.coda.com/efinance/schemas/creditmanagermaint"
    targetNamespace="http://www.coda.com/efinance/schemas/creditmanagermaint/creditmanagermaint-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/creditmanagermaint" schemaLocation="../wsdl/finance/creditmanagermaint/creditmanagermaint.xsd"/>
    <xsd:element name="SelectAvailableElementsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelectAvailableElements" type="cmm:ElementList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            selectAvailableElements function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectElementsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="User" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The user that you are interested
                            in</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Company" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The company that you are interested
                            in.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Level" type="com:typeLong">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The element level at which customer
                                elements are held in the specified
                            company.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectAvailableElementsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="User" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The user that you are interested
                            in.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Company" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The company that you are interested
                            in.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Level" type="com:typeLong">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The element level at which customer
                                elements are held in the specified
                            company.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateElementsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UpdateElements" type="cmm:CreditManagerMaint">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            updateElements function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectElementsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelectElements" type="cmm:CreditManagerMaint">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            selectElements function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateElementsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Original" type="cmm:CreditManagerMaint">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains details of the user and the
                                customer elements that he is currently
                                responsible for.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Modified" type="cmm:ElementList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the updated list of customer
                                elements that the user will be
                                responsible for.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UpdateElementsRequest">
    <part name="UpdateElementsRequest" element="cmmws:UpdateElementsRequest"/>
  </message>
  <message name="SelectAvailableElementsResponse">
    <part name="SelectAvailableElementsResponse" element="cmmws:SelectAvailableElementsResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="cmmws:OptionsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="cmmws:Options"/>
  </message>
  <message name="SelectElementsRequest">
    <part name="SelectElementsRequest" element="cmmws:SelectElementsRequest"/>
  </message>
  <message name="SelectAvailableElementsRequest">
    <part name="SelectAvailableElementsRequest" element="cmmws:SelectAvailableElementsRequest"/>
  </message>
  <message name="UpdateElementsResponse">
    <part name="UpdateElementsResponse" element="cmmws:UpdateElementsResponse"/>
  </message>
  <message name="SelectElementsResponse">
    <part name="SelectElementsResponse" element="cmmws:SelectElementsResponse"/>
  </message>
  <portType name="CreditManagerMaintServicePortTypes">
    <operation name="UpdateElements">
      <input message="cmmws:UpdateElementsRequest"/>
      <output message="cmmws:UpdateElementsResponse"/>
    </operation>
    <operation name="SelectElements">
      <input message="cmmws:SelectElementsRequest"/>
      <output message="cmmws:SelectElementsResponse"/>
    </operation>
    <operation name="SelectAvailableElements">
      <input message="cmmws:SelectAvailableElementsRequest"/>
      <output message="cmmws:SelectAvailableElementsResponse"/>
    </operation>
  </portType>
  <binding name="CreditManagerMaintServiceSOAPBinding" type="cmmws:CreditManagerMaintServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateElements">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/CreditManagerMaint/UpdateElements" style="document"/>
      <input>
        <soap:header message="cmmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cmmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SelectElements">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/CreditManagerMaint/SelectElements" style="document"/>
      <input>
        <soap:header message="cmmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cmmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SelectAvailableElements">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/CreditManagerMaint/SelectAvailableElements" style="document"/>
      <input>
        <soap:header message="cmmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cmmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CreditManagerMaintService">
    <port name="CreditManagerMaintServicePort" binding="cmmws:CreditManagerMaintServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/creditmanagermaint/creditmanagermaint-13.0"/>
    </port>
  </service>
</definitions>
