docs/Unit4 Financials HTML Documentation/wsdl/finance-period-period.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/period/period-1.0/webservice" xmlns:perws="http://www.coda.com/efinance/schemas/period/period-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:per="http://www.coda.com/efinance/schemas/period"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/period/period-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/period" schemaLocation="../wsdl/finance/period/period.xsd"/>
    <xsd:element name="GetPeriodFromDateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PeriodData" minOccurs="0" type="per:PeriodForDate">
                    <xsd:annotation>
                        <xsd:documentation>Identifies the period that
                            contains the specified date.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPeriodFromDateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="per:DateKey">
                    <xsd:annotation>
                        <xsd:documentation>Key data that identifies the
                            company and date for which you want to
                            retrieve the containing period.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="perws:Options"/>
  </message>
  <message name="GetPeriodFromDateRequest">
    <part name="GetPeriodFromDateRequest" element="perws:GetPeriodFromDateRequest"/>
  </message>
  <message name="GetPeriodFromDateResponse">
    <part name="GetPeriodFromDateResponse" element="perws:GetPeriodFromDateResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="perws:OptionsResponse"/>
  </message>
  <portType name="PeriodServicePortTypes">
    <operation name="GetPeriodFromDate">
      <input message="perws:GetPeriodFromDateRequest"/>
      <output message="perws:GetPeriodFromDateResponse"/>
    </operation>
  </portType>
  <binding name="PeriodServiceSOAPBinding" type="perws:PeriodServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetPeriodFromDate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Period/GetPeriodFromDate" style="document"/>
      <input>
        <soap:header message="perws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="perws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PeriodService">
    <port name="PeriodServicePort" binding="perws:PeriodServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/period/period-1.0"/>
    </port>
  </service>
</definitions>
