docs/Unit4 Financials HTML Documentation/wsdl/finance-payformatmaster-payformatmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/payformatmaster/payformatmaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:pfmws="http://www.coda.com/efinance/schemas/payformatmaster/payformatmaster-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:cmsc="http://www.coda.com/common/schemas/misc"
    xmlns:atc="http://www.coda.com/common/schemas/attachment"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:pfm="http://www.coda.com/efinance/schemas/payformatmaster"
    targetNamespace="http://www.coda.com/efinance/schemas/payformatmaster/payformatmaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/payformatmaster" schemaLocation="../wsdl/finance/payformatmaster/payformatmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/attachment" schemaLocation="common/attachment/attachment.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PayFormatMaster" type="pfm:PayFormatMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            a pay format master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ListFilter" type="pfm:ListFilter">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the pay
                            format masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the pay format
                            master that you retrieved or attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PayFormatMaster" minOccurs="0" type="pfm:PayFormatMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the pay format
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ListFilter" type="pfm:ListFilter">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            obtain the list of masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>A list of codes and
                            descriptions of the pay format masters in
                            database that match the criteria in request.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the pay format
                            master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            pay format master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the pay format
                            master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the pay format
                            master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            pay format master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PayFormatMaster" type="pfm:PayFormatMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            a pay format master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            a pay format master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:GlobalKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            a pay format master you want to retrieve
                            from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListRequest">
    <part name="ListRequest" element="pfmws:ListRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="pfmws:DeleteResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="pfmws:Options"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="pfmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="pfmws:AddRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="pfmws:GetRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="pfmws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="pfmws:ListResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="pfmws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="pfmws:DeleteRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="pfmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="pfmws:AddResponse"/>
  </message>
  <portType name="PayFormatMasterServicePortTypes">
    <operation name="Add">
      <input message="pfmws:AddRequest"/>
      <output message="pfmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="pfmws:DeleteRequest"/>
      <output message="pfmws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="pfmws:GetRequest"/>
      <output message="pfmws:GetResponse"/>
    </operation>
    <operation name="List">
      <input message="pfmws:ListRequest"/>
      <output message="pfmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="pfmws:UpdateRequest"/>
      <output message="pfmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="PayFormatMasterServiceSOAPBinding" type="pfmws:PayFormatMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/PayFormatMaster/Add" style="document"/>
      <input>
        <soap:header message="pfmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pfmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/PayFormatMaster/Delete" style="document"/>
      <input>
        <soap:header message="pfmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pfmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/PayFormatMaster/Get" style="document"/>
      <input>
        <soap:header message="pfmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pfmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/PayFormatMaster/List" style="document"/>
      <input>
        <soap:header message="pfmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pfmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/PayFormatMaster/Update" style="document"/>
      <input>
        <soap:header message="pfmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pfmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PayFormatMasterService">
    <port name="PayFormatMasterServicePort" binding="pfmws:PayFormatMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/payformatmaster/payformatmaster-12.0"/>
    </port>
  </service>
</definitions>
