docs/Unit4 Financials HTML Documentation/wsdl/finance-balance-balance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/balance/balance-3.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:balws="http://www.coda.com/efinance/schemas/balance/balance-3.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:bal="http://www.coda.com/efinance/schemas/balance"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/balance/balance-3.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/balance" schemaLocation="../wsdl/finance/balance/balance.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="SaveRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Balance" type="bal:balance">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the balance you want to save.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Balance" type="bal:balance">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the balance you want to add.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AmendRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Balance" type="bal:balance">
                    <xsd:annotation>
                        <xsd:documentation>Contains the amended balance information.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="bal:balanceKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the balance information you wanted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Balance" type="bal:balance">
                    <xsd:annotation>
                        <xsd:documentation>The balance information you
                            have retrieved.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SaveResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="bal:balanceKey">
                    <xsd:annotation>
                        <xsd:documentation>The balance key for the
                            balance you attempted to save.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Added" minOccurs="0" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If TRUE, indicates that the
                            balance information did not exist, and a new
                            balance has been added.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AmendResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="bal:balanceKey">
                    <xsd:annotation>
                        <xsd:documentation>The balance key for the
                            balance you attempted to amend.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Added" minOccurs="0" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>If TRUE, indicates that the
                            amended balance information has been added.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="bal:balanceKey">
                    <xsd:annotation>
                        <xsd:documentation>The balance key for the
                            balance you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="bal:balanceKey">
                    <xsd:annotation>
                        <xsd:documentation>The balance key for the
                            balance you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Balance" type="bal:balance">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            updating the balance.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="bal:balanceKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the balance information you want to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetRequest">
    <part name="GetRequest" element="balws:GetRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="balws:UpdateRequest"/>
  </message>
  <message name="SaveResponse">
    <part name="SaveResponse" element="balws:SaveResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="balws:AddRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="balws:Options"/>
  </message>
  <message name="SaveRequest">
    <part name="SaveRequest" element="balws:SaveRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="balws:UpdateResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="balws:OptionsResponse"/>
  </message>
  <message name="AmendResponse">
    <part name="AmendResponse" element="balws:AmendResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="balws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="balws:GetResponse"/>
  </message>
  <message name="AmendRequest">
    <part name="AmendRequest" element="balws:AmendRequest"/>
  </message>
  <portType name="BalanceServicePortTypes">
    <operation name="Add">
      <input message="balws:AddRequest"/>
      <output message="balws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="balws:GetRequest"/>
      <output message="balws:GetResponse"/>
    </operation>
    <operation name="Amend">
      <input message="balws:AmendRequest"/>
      <output message="balws:AmendResponse"/>
    </operation>
    <operation name="Save">
      <input message="balws:SaveRequest"/>
      <output message="balws:SaveResponse"/>
    </operation>
    <operation name="Update">
      <input message="balws:UpdateRequest"/>
      <output message="balws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="BalanceServiceSOAPBinding" type="balws:BalanceServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Balance/Add" style="document"/>
      <input>
        <soap:header message="balws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="balws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Balance/Get" style="document"/>
      <input>
        <soap:header message="balws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="balws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Amend">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Balance/Amend" style="document"/>
      <input>
        <soap:header message="balws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="balws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Save">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Balance/Save" style="document"/>
      <input>
        <soap:header message="balws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="balws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Balance/Update" style="document"/>
      <input>
        <soap:header message="balws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="balws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BalanceService">
    <port name="BalanceServicePort" binding="balws:BalanceServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/balance/balance-3.0"/>
    </port>
  </service>
</definitions>
