docs/Unit4 Financials HTML Documentation/wsdl/finance-diary-diary.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/diary/diary-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:dryws="http://www.coda.com/efinance/schemas/diary/diary-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:selmas="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:pre="http://www.coda.com/efinance/schemas/presenter"
    xmlns:brsm="http://www.coda.com/common/schemas/browsemetadata"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:txn="http://www.coda.com/efinance/schemas/transaction"
    xmlns:dry="http://www.coda.com/efinance/schemas/diary"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:gnb="http://www.coda.com/common/schemas/genericbrowse"
    targetNamespace="http://www.coda.com/efinance/schemas/diary/diary-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/diary" schemaLocation="../wsdl/finance/diary/diary.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/transaction" schemaLocation="finance/transaction/transaction.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/genericbrowse" schemaLocation="common/genericbrowse/genericbrowse.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/browsemetadata" schemaLocation="common/browsemetadata/browsemetadata.xsd"/>
    <xsd:element name="GetInfoRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="dry:Key">
                    <xsd:annotation>
                        <xsd:documentation>The key identifying the diary
                            event you want to retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="dry:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the diary event you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDefaultSelectorRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDefaultSelectorResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selector" type="selmas:SelectorMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains a selector with
                            default selection criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDiaryRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="dry:Key">
                    <xsd:annotation>
                        <xsd:documentation>The key identifying the diary
                            event that you are interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BrowseRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PresenterCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the metadata
                            presenter master to be used to display the data.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Selector" type="selmas:SelectorMaster">
                    <xsd:annotation>
                        <xsd:documentation>The code for the metadata
                            selector master to be used to retrieve data.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ExtraVocabs" minOccurs="0" type="gnb:VocabIdList">
                    <xsd:annotation>
                        <xsd:documentation>A list of extra vocabulary
                            items to return in the presentation results.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ActionDateFrom" minOccurs="0" type="com:typeDateB">
                    <xsd:annotation>
                        <xsd:documentation>The start date of the
                            selection date range.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ActionDateTo" minOccurs="0" type="com:typeDateB">
                    <xsd:annotation>
                        <xsd:documentation>The end date of the selection
                            date range.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="dry:SelectInfo">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            diary events to be listed</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDiaryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Entry" minOccurs="0" type="dry:Entry">
                    <xsd:annotation>
                        <xsd:documentation>Contains the details of the
                            diary event you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddCommentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="dry:Key">
                    <xsd:annotation>
                        <xsd:documentation>The key identifying the diary
                            event to which you want to add comments.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Comment" type="dry:Comment">
                    <xsd:annotation>
                        <xsd:documentation>Contains the comment text
                            that you want to add to the diary event.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddCommentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="dry:Key">
                    <xsd:annotation>
                        <xsd:documentation>The key identifying the diary
                            event to which the comment was added.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CommentData" minOccurs="0" type="dry:CommentData">
                    <xsd:annotation>
                        <xsd:documentation>Contains details about when
                            the diary event comment was created, and by
                            which user.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetCommentsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="dry:Key">
                    <xsd:annotation>
                        <xsd:documentation>The key identifying the diary
                            event for which comments have been retrieved.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Comments" minOccurs="0" type="dry:EntryCommentList">
                    <xsd:annotation>
                        <xsd:documentation>Contains a list comments
                            associated with the selected diary events.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Entry" type="dry:UpdateEntry">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the diary event you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="dry:SelectInfo">
                    <xsd:annotation>
                        <xsd:documentation>This element holds the filter
                            criteria used to determine which diary
                            events are selected from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Entries" minOccurs="0" type="dry:EntryList">
                    <xsd:annotation>
                        <xsd:documentation>Lists the diary events you
                            have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetCommentsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="dry:Key">
                    <xsd:annotation>
                        <xsd:documentation>The key identifying the diary
                            event for which you want to retrieve comments.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BrowseResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="sel:Selection">
                    <xsd:annotation>
                        <xsd:documentation>This element holds your diary data.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PrimaryKeyVocabs" type="pre:VocabList">
                    <xsd:annotation>
                        <xsd:documentation>A list of the vocabulary
                            items that describe the primary key of the
                            primary object of the dataview.  This is for
                            the benefit of generic printing.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Entry" type="dry:Entry">
                    <xsd:annotation>
                        <xsd:documentation>This element contains details
                            about the diary event you want to add.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Phasing" minOccurs="0" type="dry:Phasing">
                    <xsd:annotation>
                        <xsd:documentation>This element contains details
                            about the rules applied when the diary event
                            is replicated, and set to recur at regular intervals.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Comment" minOccurs="0" type="dry:Comment">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            comments for the diary event you want to add.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetInfoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="dry:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the diary event you have retrieved.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="EntryInfo" minOccurs="0" type="dry:EntryInfo">
                    <xsd:annotation>
                        <xsd:documentation>Contains information about
                            the diary event you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Keys" type="dry:AddKeyList">
                    <xsd:annotation>
                        <xsd:documentation>The keys identifying the
                            diary events added to the database by the
                            &apos;Adddry&apos; request.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetDefaultSelectorResponse">
    <part name="GetDefaultSelectorResponse" element="dryws:GetDefaultSelectorResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="dryws:OptionsResponse"/>
  </message>
  <message name="AddCommentResponse">
    <part name="AddCommentResponse" element="dryws:AddCommentResponse"/>
  </message>
  <message name="GetDiaryResponse">
    <part name="GetDiaryResponse" element="dryws:GetDiaryResponse"/>
  </message>
  <message name="GetDiaryRequest">
    <part name="GetDiaryRequest" element="dryws:GetDiaryRequest"/>
  </message>
  <message name="GetCommentsRequest">
    <part name="GetCommentsRequest" element="dryws:GetCommentsRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="dryws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="dryws:AddRequest"/>
  </message>
  <message name="AddCommentRequest">
    <part name="AddCommentRequest" element="dryws:AddCommentRequest"/>
  </message>
  <message name="GetInfoRequest">
    <part name="GetInfoRequest" element="dryws:GetInfoRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="dryws:AddResponse"/>
  </message>
  <message name="BrowseRequest">
    <part name="BrowseRequest" element="dryws:BrowseRequest"/>
  </message>
  <message name="GetCommentsResponse">
    <part name="GetCommentsResponse" element="dryws:GetCommentsResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="dryws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="dryws:ListResponse"/>
  </message>
  <message name="GetDefaultSelectorRequest">
    <part name="GetDefaultSelectorRequest" element="dryws:GetDefaultSelectorRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="dryws:ListRequest"/>
  </message>
  <message name="GetInfoResponse">
    <part name="GetInfoResponse" element="dryws:GetInfoResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="dryws:Options"/>
  </message>
  <message name="BrowseResponse">
    <part name="BrowseResponse" element="dryws:BrowseResponse"/>
  </message>
  <portType name="DiaryServicePortTypes">
    <operation name="Add">
      <input message="dryws:AddRequest"/>
      <output message="dryws:AddResponse"/>
    </operation>
    <operation name="Browse">
      <input message="dryws:BrowseRequest"/>
      <output message="dryws:BrowseResponse"/>
    </operation>
    <operation name="GetComments">
      <input message="dryws:GetCommentsRequest"/>
      <output message="dryws:GetCommentsResponse"/>
    </operation>
    <operation name="GetDiary">
      <input message="dryws:GetDiaryRequest"/>
      <output message="dryws:GetDiaryResponse"/>
    </operation>
    <operation name="GetDefaultSelector">
      <input message="dryws:GetDefaultSelectorRequest"/>
      <output message="dryws:GetDefaultSelectorResponse"/>
    </operation>
    <operation name="List">
      <input message="dryws:ListRequest"/>
      <output message="dryws:ListResponse"/>
    </operation>
    <operation name="AddComment">
      <input message="dryws:AddCommentRequest"/>
      <output message="dryws:AddCommentResponse"/>
    </operation>
    <operation name="Update">
      <input message="dryws:UpdateRequest"/>
      <output message="dryws:UpdateResponse"/>
    </operation>
    <operation name="GetInfo">
      <input message="dryws:GetInfoRequest"/>
      <output message="dryws:GetInfoResponse"/>
    </operation>
  </portType>
  <binding name="DiaryServiceSOAPBinding" type="dryws:DiaryServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Diary/Add" style="document"/>
      <input>
        <soap:header message="dryws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dryws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Browse">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Diary/Browse" style="document"/>
      <input>
        <soap:header message="dryws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dryws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetComments">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Diary/GetComments" style="document"/>
      <input>
        <soap:header message="dryws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dryws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetDiary">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Diary/GetDiary" style="document"/>
      <input>
        <soap:header message="dryws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dryws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetDefaultSelector">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Diary/GetDefaultSelector" style="document"/>
      <input>
        <soap:header message="dryws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dryws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Diary/List" style="document"/>
      <input>
        <soap:header message="dryws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dryws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddComment">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Diary/AddComment" style="document"/>
      <input>
        <soap:header message="dryws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dryws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Diary/Update" style="document"/>
      <input>
        <soap:header message="dryws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dryws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetInfo">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/Diary/GetInfo" style="document"/>
      <input>
        <soap:header message="dryws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dryws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DiaryService">
    <port name="DiaryServicePort" binding="dryws:DiaryServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/diary/diary-13.0"/>
    </port>
  </service>
</definitions>
