docs/Unit4 Financials HTML Documentation/wsdl/finance-browsereportmaster-browsereportmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/efinance/schemas/browsereportmaster/browsereportmaster-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:brmws="http://www.coda.com/efinance/schemas/browsereportmaster/browsereportmaster-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:brm="http://www.coda.com/efinance/schemas/browsereportmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/efinance/schemas/browsereportmaster/browsereportmaster-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/browsereportmaster" schemaLocation="../wsdl/finance/browsereportmaster/browsereportmaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="BrowseReportMaster" type="brm:BrowseReportMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the browse report master you want to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListFullKeysRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="brm:BrmReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            browse report masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="brm:BrmReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            browse report masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to retrieve the browse
                            report master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code of the browse report
                            master that you attempted to retrieve.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Validate" minOccurs="0" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Indicates whether the
                            contents of the browse report master are
                            validated when the information is retrieved
                            from the database. This is False when you
                            open a master for editing (validation occurs
                            when you save it), and True when a master is
                            retrieved when you run browse reports. In
                            the latter case, the master is validated
                            before it is used.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BrowseReportMaster" minOccurs="0" type="brm:BrowseReportMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the browse report
                            master you have retrieved from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="brm:BrmReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the browse report masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="brm:BrmKeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed browse report masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to update the browse
                            report master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the browse
                            report master that you attempted to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            browse report master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to delete the browse
                            report master</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the browse
                            report master that you attempted to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListFullKeysResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="brm:BrmReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the browse report masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FullKeys" minOccurs="0" type="brm:BrmFullKeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed browse report masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CmpCode" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the company in
                            which you attempted to create the browse
                            report master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Code" type="com:typeGeneralCode">
                    <xsd:annotation>
                        <xsd:documentation>The code for the browse
                            report master that you attempted to create.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp" type="com:typeWord">
                    <xsd:annotation>
                        <xsd:documentation>The TimeStamp value for this
                            browse report master in the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="BrowseReportMaster" type="brm:BrowseReportMaster">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the browse report master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="com:Key">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the browse report master you want to delete.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Key" type="brm:BrmGetKey">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key identifying
                            the browse report master you want to
                            retrieve from the database.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="brmws:OptionsResponse"/>
  </message>
  <message name="ListFullKeysResponse">
    <part name="ListFullKeysResponse" element="brmws:ListFullKeysResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="brmws:DeleteRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="brmws:GetRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="brmws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="brmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="brmws:AddRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="brmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="brmws:AddResponse"/>
  </message>
  <message name="ListFullKeysRequest">
    <part name="ListFullKeysRequest" element="brmws:ListFullKeysRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="brmws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="brmws:ListResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="brmws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="brmws:Options"/>
  </message>
  <portType name="BrowseReportMasterServicePortTypes">
    <operation name="Add">
      <input message="brmws:AddRequest"/>
      <output message="brmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="brmws:DeleteRequest"/>
      <output message="brmws:DeleteResponse"/>
    </operation>
    <operation name="Get">
      <input message="brmws:GetRequest"/>
      <output message="brmws:GetResponse"/>
    </operation>
    <operation name="ListFullKeys">
      <input message="brmws:ListFullKeysRequest"/>
      <output message="brmws:ListFullKeysResponse"/>
    </operation>
    <operation name="List">
      <input message="brmws:ListRequest"/>
      <output message="brmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="brmws:UpdateRequest"/>
      <output message="brmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="BrowseReportMasterServiceSOAPBinding" type="brmws:BrowseReportMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseReportMaster/Add" style="document"/>
      <input>
        <soap:header message="brmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseReportMaster/Delete" style="document"/>
      <input>
        <soap:header message="brmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseReportMaster/Get" style="document"/>
      <input>
        <soap:header message="brmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListFullKeys">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseReportMaster/ListFullKeys" style="document"/>
      <input>
        <soap:header message="brmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseReportMaster/List" style="document"/>
      <input>
        <soap:header message="brmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/finance/BrowseReportMaster/Update" style="document"/>
      <input>
        <soap:header message="brmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BrowseReportMasterService">
    <port name="BrowseReportMasterServicePort" binding="brmws:BrowseReportMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/finance/browsereportmaster/browsereportmaster-13.0"/>
    </port>
  </service>
</definitions>
