docs/Unit4 Financials HTML Documentation/wsdl/pim-appparams-pimappparams.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/appparams/pimappparams-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:pimappparamsws="http://www.coda.com/pim/schemas/appparams/pimappparams-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pimappparams="http://www.coda.com/pim/schemas/appparams"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:app="http://www.coda.com/common/schemas/appparams"
    targetNamespace="http://www.coda.com/pim/schemas/appparams/pimappparams-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/appparams" schemaLocation="../wsdl/pim/appparams/appparams.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/appparams" schemaLocation="common/appparams/appparams.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PimAppParams" type="pimappparams:PimAppParams">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PimAppParams" type="pimappparams:PimAppParams">
                    <xsd:annotation>
                        <xsd:documentation>The whole PimAppParams object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PimAppParams" type="pimappparams:PimAppParams">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PimAppParamsKey" type="pimappparams:PimAppParamsKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the PimAppParams object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetResponse">
    <part name="GetResponse" element="pimappparamsws:GetResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="pimappparamsws:OptionsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="pimappparamsws:Options"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="pimappparamsws:UpdateResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="pimappparamsws:UpdateRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="pimappparamsws:GetRequest"/>
  </message>
  <portType name="PIMAppParamsServicePortTypes">
    <operation name="Get">
      <input message="pimappparamsws:GetRequest"/>
      <output message="pimappparamsws:GetResponse"/>
    </operation>
    <operation name="Update">
      <input message="pimappparamsws:UpdateRequest"/>
      <output message="pimappparamsws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="PIMAppParamsServiceSOAPBinding" type="pimappparamsws:PIMAppParamsServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMAppParams/Get" style="document"/>
      <input>
        <soap:header message="pimappparamsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pimappparamsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMAppParams/Update" style="document"/>
      <input>
        <soap:header message="pimappparamsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pimappparamsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMAppParamsService">
    <port name="PIMAppParamsServicePort" binding="pimappparamsws:PIMAppParamsServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/appparams/pimappparams-1.0"/>
    </port>
  </service>
</definitions>
