docs/Unit4 Financials HTML Documentation/wsdl/pim-selector-pimselector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/selector/pimselector-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:pimselws="http://www.coda.com/pim/schemas/selector/pimselector-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:pimsel="http://www.coda.com/pim/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:comsel="http://www.coda.com/efinance/schemas/selector"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/selector/pimselector-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/selector" schemaLocation="../wsdl/pim/selector/selector.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selector" type="pimsel:Selector">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelectorKey" type="pimsel:SelectorKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Selector object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="pimselws:OptionsResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="pimselws:GetResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="pimselws:Options"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="pimselws:GetRequest"/>
  </message>
  <portType name="PIMSelectorServicePortTypes">
    <operation name="Get">
      <input message="pimselws:GetRequest"/>
      <output message="pimselws:GetResponse"/>
    </operation>
  </portType>
  <binding name="PIMSelectorServiceSOAPBinding" type="pimselws:PIMSelectorServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSelector/Get" style="document"/>
      <input>
        <soap:header message="pimselws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pimselws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMSelectorService">
    <port name="PIMSelectorServicePort" binding="pimselws:PIMSelectorServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/selector/pimselector-1.0"/>
    </port>
  </service>
</definitions>
