docs/Unit4 Financials HTML Documentation/wsdl/pim-accrualsmaster-pimaccrualsmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/accrualsmaster/pimaccrualsmaster-11.3/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:accmasws="http://www.coda.com/pim/schemas/accrualsmaster/pimaccrualsmaster-11.3/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:pimsel="http://www.coda.com/pim/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:accmas="http://www.coda.com/pim/schemas/accrualsmaster"
    targetNamespace="http://www.coda.com/pim/schemas/accrualsmaster/pimaccrualsmaster-11.3/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/accrualsmaster" schemaLocation="../wsdl/pim/accrualsmaster/accrualsmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/selector" schemaLocation="pim/selector/selector.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="AccrualsMaster" type="accmas:AccrualsMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole AccrualsMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the AccrualsMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccrualsMaster" type="accmas:AccrualsMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccrualsMasterItemList" type="accmas:AccrualsMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the AccrualsMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="AccrualsMaster" type="accmas:AccrualsMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="AccrualsMaster" type="accmas:AccrualsMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="AccrualsMaster" type="accmas:AccrualsMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole AccrualsMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccrualsMasterKey" type="accmas:AccrualsMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the AccrualsMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateMasterResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Master" type="accmas:AccrualsMaster">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccrualsMasterKey" type="accmas:AccrualsMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the AccrualsMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccrualsMasterList" type="accmas:AccrualsMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListRequest">
    <part name="ListRequest" element="accmasws:ListRequest"/>
  </message>
  <message name="ValidateMasterResponse">
    <part name="ValidateMasterResponse" element="accmasws:ValidateMasterResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="accmasws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="accmasws:FindResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="accmasws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="accmasws:ListResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="accmasws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="accmasws:AddResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="accmasws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="accmasws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="accmasws:AddRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="accmasws:GetRequest"/>
  </message>
  <message name="ValidateMasterRequest">
    <part name="ValidateMasterRequest" element="accmasws:ValidateMasterRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="accmasws:FindRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="accmasws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="accmasws:DeleteRequest"/>
  </message>
  <portType name="PIMAccrualsMasterServicePortTypes">
    <operation name="Delete">
      <input message="accmasws:DeleteRequest"/>
      <output message="accmasws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="accmasws:AddRequest"/>
      <output message="accmasws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="accmasws:GetRequest"/>
      <output message="accmasws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="accmasws:FindRequest"/>
      <output message="accmasws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="accmasws:ListRequest"/>
      <output message="accmasws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="accmasws:UpdateRequest"/>
      <output message="accmasws:UpdateResponse"/>
    </operation>
    <operation name="ValidateMaster">
      <input message="accmasws:ValidateMasterRequest"/>
      <output message="accmasws:ValidateMasterResponse"/>
    </operation>
  </portType>
  <binding name="PIMAccrualsMasterServiceSOAPBinding" type="accmasws:PIMAccrualsMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMAccrualsMaster/Delete" style="document"/>
      <input>
        <soap:header message="accmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="accmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMAccrualsMaster/Add" style="document"/>
      <input>
        <soap:header message="accmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="accmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMAccrualsMaster/Get" style="document"/>
      <input>
        <soap:header message="accmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="accmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMAccrualsMaster/Find" style="document"/>
      <input>
        <soap:header message="accmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="accmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMAccrualsMaster/List" style="document"/>
      <input>
        <soap:header message="accmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="accmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMAccrualsMaster/Update" style="document"/>
      <input>
        <soap:header message="accmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="accmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMAccrualsMaster/ValidateMaster" style="document"/>
      <input>
        <soap:header message="accmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="accmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMAccrualsMasterService">
    <port name="PIMAccrualsMasterServicePort" binding="accmasws:PIMAccrualsMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/accrualsmaster/pimaccrualsmaster-11.3"/>
    </port>
  </service>
</definitions>
