docs/Unit4 Financials HTML Documentation/wsdl/pim-lrnhousekeepingmaster-pimlrnhousekeepingmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/lrnhousekeepingmaster/pimlrnhousekeepingmaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:lrnhkeepws="http://www.coda.com/pim/schemas/lrnhousekeepingmaster/pimlrnhousekeepingmaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:pimsel="http://www.coda.com/pim/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:lrnhkeep="http://www.coda.com/pim/schemas/lrnhousekeepingmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/lrnhousekeepingmaster/pimlrnhousekeepingmaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/selector" schemaLocation="pim/selector/selector.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/lrnhousekeepingmaster" schemaLocation="../wsdl/pim/lrnhousekeepingmaster/lrnhousekeepingmaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="LRNHousekeepingMaster" type="lrnhkeep:LRNHousekeepingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            LRNHousekeepingMaster object that is to be
                            persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the LRNHousekeepingMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRNHousekeepingMaster" type="lrnhkeep:LRNHousekeepingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRNHousekeepingMasterItemList" type="lrnhkeep:LRNHousekeepingMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the LRNHousekeepingMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="LRNHousekeepingMaster" type="lrnhkeep:LRNHousekeepingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="LRNHousekeepingMaster" type="lrnhkeep:LRNHousekeepingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="LRNHousekeepingMaster" type="lrnhkeep:LRNHousekeepingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            LRNHousekeepingMaster object that is to be
                            persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRNHousekeepingMasterKey" type="lrnhkeep:LRNHousekeepingMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            LRNHousekeepingMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRNHousekeepingMasterKey" type="lrnhkeep:LRNHousekeepingMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            LRNHousekeepingMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRNHousekeepingMasterList" type="lrnhkeep:LRNHousekeepingMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="lrnhkeepws:DeleteResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="lrnhkeepws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="lrnhkeepws:UpdateResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="lrnhkeepws:GetRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="lrnhkeepws:FindRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="lrnhkeepws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="lrnhkeepws:DeleteRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="lrnhkeepws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="lrnhkeepws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="lrnhkeepws:FindResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="lrnhkeepws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="lrnhkeepws:UpdateRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="lrnhkeepws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="lrnhkeepws:GetResponse"/>
  </message>
  <portType name="PIMLRNHousekeepingMasterServicePortTypes">
    <operation name="Delete">
      <input message="lrnhkeepws:DeleteRequest"/>
      <output message="lrnhkeepws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="lrnhkeepws:AddRequest"/>
      <output message="lrnhkeepws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="lrnhkeepws:GetRequest"/>
      <output message="lrnhkeepws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="lrnhkeepws:FindRequest"/>
      <output message="lrnhkeepws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="lrnhkeepws:ListRequest"/>
      <output message="lrnhkeepws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="lrnhkeepws:UpdateRequest"/>
      <output message="lrnhkeepws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="PIMLRNHousekeepingMasterServiceSOAPBinding" type="lrnhkeepws:PIMLRNHousekeepingMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLRNHousekeepingMaster/Delete" style="document"/>
      <input>
        <soap:header message="lrnhkeepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnhkeepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLRNHousekeepingMaster/Add" style="document"/>
      <input>
        <soap:header message="lrnhkeepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnhkeepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLRNHousekeepingMaster/Get" style="document"/>
      <input>
        <soap:header message="lrnhkeepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnhkeepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLRNHousekeepingMaster/Find" style="document"/>
      <input>
        <soap:header message="lrnhkeepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnhkeepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLRNHousekeepingMaster/List" style="document"/>
      <input>
        <soap:header message="lrnhkeepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnhkeepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLRNHousekeepingMaster/Update" style="document"/>
      <input>
        <soap:header message="lrnhkeepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnhkeepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMLRNHousekeepingMasterService">
    <port name="PIMLRNHousekeepingMasterServicePort" binding="lrnhkeepws:PIMLRNHousekeepingMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/lrnhousekeepingmaster/pimlrnhousekeepingmaster-1.0"/>
    </port>
  </service>
</definitions>
