docs/Unit4 Financials HTML Documentation/wsdl/pim-selfbillingmaster-pimselfbillingmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/selfbillingmaster/pimselfbillingmaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slfbillmasws="http://www.coda.com/pim/schemas/selfbillingmaster/pimselfbillingmaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:slfbillmas="http://www.coda.com/pim/schemas/selfbillingmaster"
    xmlns:pimsel="http://www.coda.com/pim/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:itm="http://www.coda.com/pim/schemas/inputtemplatemaster"
    targetNamespace="http://www.coda.com/pim/schemas/selfbillingmaster/pimselfbillingmaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/inputtemplatemaster" schemaLocation="pim/inputtemplatemaster/inputtemplatemaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/selector" schemaLocation="pim/selector/selector.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/selfbillingmaster" schemaLocation="../wsdl/pim/selfbillingmaster/selfbillingmaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="SelfBillingMaster" type="slfbillmas:SelfBillingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole SelfBillingMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the SelfBillingMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelfBillingMaster" type="slfbillmas:SelfBillingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelfBillingMasterItemList" type="slfbillmas:SelfBillingMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the SelfBillingMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="SelfBillingMaster" type="slfbillmas:SelfBillingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="SelfBillingMaster" type="slfbillmas:SelfBillingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="SelfBillingMaster" type="slfbillmas:SelfBillingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole SelfBillingMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelfBillingMasterKey" type="slfbillmas:SelfBillingMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            SelfBillingMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelfBillingMasterKey" type="slfbillmas:SelfBillingMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            SelfBillingMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelfBillingMasterList" type="slfbillmas:SelfBillingMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListRequest">
    <part name="ListRequest" element="slfbillmasws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="slfbillmasws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="slfbillmasws:FindResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="slfbillmasws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="slfbillmasws:ListResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="slfbillmasws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="slfbillmasws:AddResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="slfbillmasws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="slfbillmasws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="slfbillmasws:AddRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="slfbillmasws:GetRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="slfbillmasws:FindRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="slfbillmasws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="slfbillmasws:DeleteRequest"/>
  </message>
  <portType name="PIMSelfBillingMasterServicePortTypes">
    <operation name="Delete">
      <input message="slfbillmasws:DeleteRequest"/>
      <output message="slfbillmasws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="slfbillmasws:AddRequest"/>
      <output message="slfbillmasws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="slfbillmasws:GetRequest"/>
      <output message="slfbillmasws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="slfbillmasws:FindRequest"/>
      <output message="slfbillmasws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="slfbillmasws:ListRequest"/>
      <output message="slfbillmasws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="slfbillmasws:UpdateRequest"/>
      <output message="slfbillmasws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="PIMSelfBillingMasterServiceSOAPBinding" type="slfbillmasws:PIMSelfBillingMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSelfBillingMaster/Delete" style="document"/>
      <input>
        <soap:header message="slfbillmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="slfbillmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSelfBillingMaster/Add" style="document"/>
      <input>
        <soap:header message="slfbillmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="slfbillmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSelfBillingMaster/Get" style="document"/>
      <input>
        <soap:header message="slfbillmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="slfbillmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSelfBillingMaster/Find" style="document"/>
      <input>
        <soap:header message="slfbillmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="slfbillmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSelfBillingMaster/List" style="document"/>
      <input>
        <soap:header message="slfbillmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="slfbillmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSelfBillingMaster/Update" style="document"/>
      <input>
        <soap:header message="slfbillmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="slfbillmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMSelfBillingMasterService">
    <port name="PIMSelfBillingMasterServicePort" binding="slfbillmasws:PIMSelfBillingMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/selfbillingmaster/pimselfbillingmaster-1.0"/>
    </port>
  </service>
</definitions>
