docs/Unit4 Financials HTML Documentation/wsdl/pim-presenter-pimpresenter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/presenter/pimpresenter-11.1/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:presws="http://www.coda.com/pim/schemas/presenter/pimpresenter-11.1/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:pres="http://www.coda.com/pim/schemas/presenter"
    targetNamespace="http://www.coda.com/pim/schemas/presenter/pimpresenter-11.1/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/presenter" schemaLocation="../wsdl/pim/presenter/presenter.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Presenter" type="pres:Presenter">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PresenterKey" type="pres:PresenterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Presenter object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="presws:OptionsResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="presws:GetResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="presws:Options"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="presws:GetRequest"/>
  </message>
  <portType name="PIMPresenterServicePortTypes">
    <operation name="Get">
      <input message="presws:GetRequest"/>
      <output message="presws:GetResponse"/>
    </operation>
  </portType>
  <binding name="PIMPresenterServiceSOAPBinding" type="presws:PIMPresenterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMPresenter/Get" style="document"/>
      <input>
        <soap:header message="presws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="presws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMPresenterService">
    <port name="PIMPresenterServicePort" binding="presws:PIMPresenterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/presenter/pimpresenter-11.1"/>
    </port>
  </service>
</definitions>
