docs/Unit4 Financials HTML Documentation/wsdl/pim-capability-pimcapability.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/capability/pimcapability-11.2/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:capws="http://www.coda.com/pim/schemas/capability/pimcapability-11.2/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tolmas="http://www.coda.com/pim/schemas/tolerancemaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:cap="http://www.coda.com/pim/schemas/capability"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/capability/pimcapability-11.2/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/tolerancemaster" schemaLocation="pim/tolerancemaster/tolerancemaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/capability" schemaLocation="../wsdl/pim/capability/capability.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Capability" type="cap:Capability">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CapabilityKey" type="cap:CapabilityKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Capability object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="capws:OptionsResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="capws:GetResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="capws:Options"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="capws:GetRequest"/>
  </message>
  <portType name="PIMCapabilityServicePortTypes">
    <operation name="Get">
      <input message="capws:GetRequest"/>
      <output message="capws:GetResponse"/>
    </operation>
  </portType>
  <binding name="PIMCapabilityServiceSOAPBinding" type="capws:PIMCapabilityServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMCapability/Get" style="document"/>
      <input>
        <soap:header message="capws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="capws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMCapabilityService">
    <port name="PIMCapabilityServicePort" binding="capws:PIMCapabilityServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/capability/pimcapability-11.2"/>
    </port>
  </service>
</definitions>
