docs/Unit4 Financials HTML Documentation/wsdl/pim-purchaseinvoice-pimpurchaseinvoice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/purchaseinvoice/pimpurchaseinvoice-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:pinvws="http://www.coda.com/pim/schemas/purchaseinvoice/pimpurchaseinvoice-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:inv="http://www.coda.com/pim/schemas/invoice"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pinv="http://www.coda.com/pim/schemas/purchaseinvoice"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/purchaseinvoice/pimpurchaseinvoice-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/purchaseinvoice" schemaLocation="../wsdl/pim/purchaseinvoice/purchaseinvoice.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/invoice" schemaLocation="pim/invoice/invoice.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoice" type="pinv:PurchaseInvoice">
                    <xsd:annotation>
                        <xsd:documentation>The whole PurchaseInvoice
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoice" type="pinv:PurchaseInvoice">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the PurchaseInvoice objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoice" type="pinv:PurchaseInvoice">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoice" type="pinv:PurchaseInvoice">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoice" type="pinv:PurchaseInvoice">
                    <xsd:annotation>
                        <xsd:documentation>The whole PurchaseInvoice
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoiceKey" type="pinv:PurchaseInvoiceKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            PurchaseInvoice object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoiceKey" type="pinv:PurchaseInvoiceKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            PurchaseInvoice object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoiceList" type="pinv:PurchaseInvoiceList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="pinvws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="pinvws:DeleteRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="pinvws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="pinvws:AddResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="pinvws:FindRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="pinvws:GetRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="pinvws:UpdateRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="pinvws:DeleteResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="pinvws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="pinvws:FindResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="pinvws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="pinvws:AddRequest"/>
  </message>
  <portType name="PIMPurchaseInvoiceServicePortTypes">
    <operation name="Delete">
      <input message="pinvws:DeleteRequest"/>
      <output message="pinvws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="pinvws:AddRequest"/>
      <output message="pinvws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="pinvws:GetRequest"/>
      <output message="pinvws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="pinvws:FindRequest"/>
      <output message="pinvws:FindResponse"/>
    </operation>
    <operation name="Update">
      <input message="pinvws:UpdateRequest"/>
      <output message="pinvws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="PIMPurchaseInvoiceServiceSOAPBinding" type="pinvws:PIMPurchaseInvoiceServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMPurchaseInvoice/Delete" style="document"/>
      <input>
        <soap:header message="pinvws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pinvws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMPurchaseInvoice/Add" style="document"/>
      <input>
        <soap:header message="pinvws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pinvws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMPurchaseInvoice/Get" style="document"/>
      <input>
        <soap:header message="pinvws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pinvws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMPurchaseInvoice/Find" style="document"/>
      <input>
        <soap:header message="pinvws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pinvws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMPurchaseInvoice/Update" style="document"/>
      <input>
        <soap:header message="pinvws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pinvws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMPurchaseInvoiceService">
    <port name="PIMPurchaseInvoiceServicePort" binding="pinvws:PIMPurchaseInvoiceServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/purchaseinvoice/pimpurchaseinvoice-13.0"/>
    </port>
  </service>
</definitions>
