docs/Unit4 Financials HTML Documentation/wsdl/pim-creditnote-pimcreditnote.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/creditnote/pimcreditnote-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:crnws="http://www.coda.com/pim/schemas/creditnote/pimcreditnote-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:inv="http://www.coda.com/pim/schemas/invoice"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:crn="http://www.coda.com/pim/schemas/creditnote"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/creditnote/pimcreditnote-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/creditnote" schemaLocation="../wsdl/pim/creditnote/creditnote.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/invoice" schemaLocation="pim/invoice/invoice.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNote" type="crn:CreditNote">
                    <xsd:annotation>
                        <xsd:documentation>The whole CreditNote object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNote" type="crn:CreditNote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the CreditNote objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNote" type="crn:CreditNote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNote" type="crn:CreditNote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNote" type="crn:CreditNote">
                    <xsd:annotation>
                        <xsd:documentation>The whole CreditNote object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNoteKey" type="crn:CreditNoteKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the CreditNote object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNoteKey" type="crn:CreditNoteKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the CreditNote object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNoteList" type="crn:CreditNoteList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="crnws:UpdateRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="crnws:GetRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="crnws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="crnws:FindResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="crnws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="crnws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="crnws:DeleteResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="crnws:DeleteRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="crnws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="crnws:AddResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="crnws:OptionsResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="crnws:FindRequest"/>
  </message>
  <portType name="PIMCreditNoteServicePortTypes">
    <operation name="Delete">
      <input message="crnws:DeleteRequest"/>
      <output message="crnws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="crnws:AddRequest"/>
      <output message="crnws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="crnws:GetRequest"/>
      <output message="crnws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="crnws:FindRequest"/>
      <output message="crnws:FindResponse"/>
    </operation>
    <operation name="Update">
      <input message="crnws:UpdateRequest"/>
      <output message="crnws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="PIMCreditNoteServiceSOAPBinding" type="crnws:PIMCreditNoteServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMCreditNote/Delete" style="document"/>
      <input>
        <soap:header message="crnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="crnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMCreditNote/Add" style="document"/>
      <input>
        <soap:header message="crnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="crnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMCreditNote/Get" style="document"/>
      <input>
        <soap:header message="crnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="crnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMCreditNote/Find" style="document"/>
      <input>
        <soap:header message="crnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="crnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMCreditNote/Update" style="document"/>
      <input>
        <soap:header message="crnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="crnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMCreditNoteService">
    <port name="PIMCreditNoteServicePort" binding="crnws:PIMCreditNoteServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/creditnote/pimcreditnote-13.0"/>
    </port>
  </service>
</definitions>
