docs/Unit4 Financials HTML Documentation/wsdl/pim-logicalreceiptnote-pimlogicalreceiptnote.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/logicalreceiptnote/pimlogicalreceiptnote-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:lrnws="http://www.coda.com/pim/schemas/logicalreceiptnote/pimlogicalreceiptnote-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:lrn="http://www.coda.com/pim/schemas/logicalreceiptnote"
    xmlns:procsys="http://www.coda.com/pim/schemas/procsystem"
    xmlns:elmmas="http://www.coda.com/pim/schemas/elementmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pimusr="http://www.coda.com/pim/schemas/user"
    xmlns:inv="http://www.coda.com/pim/schemas/invoice"
    xmlns:cmt="http://www.coda.com/pim/schemas/comment"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:doc="http://www.coda.com/pim/schemas/document"
    xmlns:group="http://www.coda.com/pim/schemas/group"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:datatypes="http://www.coda.com/common/schemas/datatypes"
    xmlns:curr="http://www.coda.com/pim/schemas/currency"
    targetNamespace="http://www.coda.com/pim/schemas/logicalreceiptnote/pimlogicalreceiptnote-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/datatypes" schemaLocation="common/datatypes/datatypes.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/invoice" schemaLocation="pim/invoice/invoice.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/group" schemaLocation="pim/group/group.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/elementmaster" schemaLocation="pim/elementmaster/elementmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/user" schemaLocation="pim/user/user.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/comment" schemaLocation="pim/comment/comment.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/procsystem" schemaLocation="pim/procsystem/procsystem.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/logicalreceiptnote" schemaLocation="../wsdl/pim/logicalreceiptnote/logicalreceiptnote.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/currency" schemaLocation="pim/currency/currency.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/document" schemaLocation="pim/document/document.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRN" type="lrn:LRN">
                    <xsd:annotation>
                        <xsd:documentation>The whole LRN object that is
                            to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRN" type="lrn:LRN">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the LRN objects that the
                            user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRN" type="lrn:LRN">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRN" type="lrn:LRN">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRN" type="lrn:LRN">
                    <xsd:annotation>
                        <xsd:documentation>The whole LRN object that is
                            to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteLineResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRNKey" type="lrn:LRNKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the LRN object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRNKey" type="lrn:LRNKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the LRN object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRNList" type="lrn:LRNList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteLineRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LRNLinesList" type="lrn:LRNLineList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The list of LRN lines that you want
                                to delete.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="lrnws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="lrnws:DeleteRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="lrnws:FindRequest"/>
  </message>
  <message name="DeleteLineResponse">
    <part name="DeleteLineResponse" element="lrnws:DeleteLineResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="lrnws:GetRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="lrnws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="lrnws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="lrnws:AddRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="lrnws:GetResponse"/>
  </message>
  <message name="DeleteLineRequest">
    <part name="DeleteLineRequest" element="lrnws:DeleteLineRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="lrnws:AddResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="lrnws:UpdateRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="lrnws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="lrnws:FindResponse"/>
  </message>
  <portType name="PIMLogicalReceiptNoteServicePortTypes">
    <operation name="Delete">
      <input message="lrnws:DeleteRequest"/>
      <output message="lrnws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="lrnws:AddRequest"/>
      <output message="lrnws:AddResponse"/>
    </operation>
    <operation name="DeleteLine">
      <input message="lrnws:DeleteLineRequest"/>
      <output message="lrnws:DeleteLineResponse"/>
    </operation>
    <operation name="Get">
      <input message="lrnws:GetRequest"/>
      <output message="lrnws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="lrnws:FindRequest"/>
      <output message="lrnws:FindResponse"/>
    </operation>
    <operation name="Update">
      <input message="lrnws:UpdateRequest"/>
      <output message="lrnws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="PIMLogicalReceiptNoteServiceSOAPBinding" type="lrnws:PIMLogicalReceiptNoteServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLogicalReceiptNote/Delete" style="document"/>
      <input>
        <soap:header message="lrnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLogicalReceiptNote/Add" style="document"/>
      <input>
        <soap:header message="lrnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteLine">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLogicalReceiptNote/DeleteLine" style="document"/>
      <input>
        <soap:header message="lrnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLogicalReceiptNote/Get" style="document"/>
      <input>
        <soap:header message="lrnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLogicalReceiptNote/Find" style="document"/>
      <input>
        <soap:header message="lrnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMLogicalReceiptNote/Update" style="document"/>
      <input>
        <soap:header message="lrnws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="lrnws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMLogicalReceiptNoteService">
    <port name="PIMLogicalReceiptNoteServicePort" binding="lrnws:PIMLogicalReceiptNoteServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/logicalreceiptnote/pimlogicalreceiptnote-13.0"/>
    </port>
  </service>
</definitions>
