docs/Unit4 Financials HTML Documentation/wsdl/pim-company-pimcompanymaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/company/pimcompanymaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cmpws="http://www.coda.com/pim/schemas/company/pimcompanymaster-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:cmp="http://www.coda.com/pim/schemas/company"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/company/pimcompanymaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pim/schemas/company" schemaLocation="../wsdl/pim/company/company.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the Company objects that the
                            user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the Company objects that the
                            user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Company" type="cmp:Company">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CompanyList" type="cmp:CompanyList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CompanyKey" type="cmp:CompanyKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Company object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CompanyItemList" type="cmp:CompanyItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetRequest">
    <part name="GetRequest" element="cmpws:GetRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="cmpws:ListResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="cmpws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="cmpws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="cmpws:FindResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="cmpws:OptionsResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="cmpws:GetResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="cmpws:FindRequest"/>
  </message>
  <portType name="PIMCompanyMasterServicePortTypes">
    <operation name="Get">
      <input message="cmpws:GetRequest"/>
      <output message="cmpws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="cmpws:FindRequest"/>
      <output message="cmpws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="cmpws:ListRequest"/>
      <output message="cmpws:ListResponse"/>
    </operation>
  </portType>
  <binding name="PIMCompanyMasterServiceSOAPBinding" type="cmpws:PIMCompanyMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMCompanyMaster/Get" style="document"/>
      <input>
        <soap:header message="cmpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cmpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMCompanyMaster/Find" style="document"/>
      <input>
        <soap:header message="cmpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cmpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMCompanyMaster/List" style="document"/>
      <input>
        <soap:header message="cmpws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cmpws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMCompanyMasterService">
    <port name="PIMCompanyMasterServicePort" binding="cmpws:PIMCompanyMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/company/pimcompanymaster-12.0"/>
    </port>
  </service>
</definitions>
