docs/Unit4 Financials HTML Documentation/wsdl/pim-documentmaster-pimdocumentmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/documentmaster/pimdocumentmaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:docmasws="http://www.coda.com/pim/schemas/documentmaster/pimdocumentmaster-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:pri="http://www.coda.com/common/schemas/printformatmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:docmas="http://www.coda.com/pim/schemas/documentmaster"
    xmlns:pimusr="http://www.coda.com/pim/schemas/user"
    xmlns:pres="http://www.coda.com/pim/schemas/presenter"
    xmlns:odm="http://www.coda.com/common/schemas/outputdevice"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/documentmaster/pimdocumentmaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/printformatmaster" schemaLocation="common/printformatmaster/printformatmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/documentmaster" schemaLocation="../wsdl/pim/documentmaster/documentmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/presenter" schemaLocation="pim/presenter/presenter.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/outputdevice" schemaLocation="common/outputdevice/outputdevice.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/user" schemaLocation="pim/user/user.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMaster" type="docmas:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IsReferencedRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMaster" type="docmas:DocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The document master you want to check
                                for references.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateInvoiceValidationWorkflowParamsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputDocumentMaster" type="docmas:InputDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the information for the
                                document master whose parameters you
                                wish to validate.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListCreditNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the CreditNoteDocumentMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListPurchaseInvoiceDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    name="PurchaseInvoiceDocumentMasterItemList" type="docmas:PurchaseInvoiceDocumentMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listPurchaseInvoiceDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the DocumentMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="DocumentMaster" type="docmas:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole DocumentMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the DocumentMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateCreditNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="CreditNoteDocumentMaster" type="docmas:CreditNoteDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            CreditNoteDocumentMaster object that is to
                            be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddPurchaseInvoiceDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="PurchaseInvoiceDocumentMaster" type="docmas:PurchaseInvoiceDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            addPurchaseInvoiceDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddPurchaseInvoiceDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="PurchaseInvoiceDocumentMaster" type="docmas:PurchaseInvoiceDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            PurchaseInvoiceDocumentMaster object that is
                            to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteCreditNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNoteDocumentMasterKey" type="docmas:CreditNoteDocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            CreditNoteDocumentMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IsReferencedResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsReferenced" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            isReferenced function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateDebitNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="DebitNoteDocumentMaster" type="docmas:DebitNoteDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            DebitNoteDocumentMaster object that is to be
                            persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListDebitNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the DebitNoteDocumentMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdatePurchaseInvoiceDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="PurchaseInvoiceDocumentMaster" type="docmas:PurchaseInvoiceDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            PurchaseInvoiceDocumentMaster object that is
                            to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteDebitNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DebitNoteDocumentMasterKey" type="docmas:DebitNoteDocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            DebitNoteDocumentMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdatePurchaseInvoiceDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="PurchaseInvoiceDocumentMaster" type="docmas:PurchaseInvoiceDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            updatePurchaseInvoiceDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddCreditNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="CreditNoteDocumentMaster" type="docmas:CreditNoteDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            CreditNoteDocumentMaster object that is to
                            be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateWorkflowParamsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateInvoiceValidationWorkflowParamsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateWorkflowParamsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputDocumentMaster" type="docmas:InputDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Contains the information for the
                                document master whose parameters you
                                wish to validate.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDebitNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DebitNoteDocumentMasterKey" type="docmas:DebitNoteDocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            DebitNoteDocumentMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPurchaseInvoiceDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoiceDocumentMaster" type="docmas:PurchaseInvoiceDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getPurchaseInvoiceDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="DocumentMaster" type="docmas:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateCreditNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CreditNoteDocumentMaster" type="docmas:CreditNoteDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            updateCreditNoteDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindPurchaseInvoiceDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the
                            PurchaseInvoiceDocumentMaster objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindCreditNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNoteDocumentMasterList" type="docmas:CreditNoteDocumentMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            findCreditNoteDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMasterKey" type="docmas:DocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the DocumentMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindDebitNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the DebitNoteDocumentMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDebitNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DebitNoteDocumentMaster" type="docmas:DebitNoteDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getDebitNoteDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeletePurchaseInvoiceDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMasterList" type="docmas:DocumentMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetCreditNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNoteDocumentMaster" type="docmas:CreditNoteDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getCreditNoteDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListCreditNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNoteDocumentMasterItemList" type="docmas:CreditNoteDocumentMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listCreditNoteDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindDebitNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DebitNoteDocumentMasterList" type="docmas:DebitNoteDocumentMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            findDebitNoteDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListDebitNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DebitNoteDocumentMasterItemList" type="docmas:DebitNoteDocumentMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listDebitNoteDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindPurchaseInvoiceDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoiceDocumentMasterList" type="docmas:PurchaseInvoiceDocumentMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            findPurchaseInvoiceDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPurchaseInvoiceDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoiceDocumentMasterKey" type="docmas:PurchaseInvoiceDocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            PurchaseInvoiceDocumentMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMasterItemList" type="docmas:DocumentMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateDebitNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="DebitNoteDocumentMaster" type="docmas:DebitNoteDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            updateDebitNoteDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddCreditNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CreditNoteDocumentMaster" type="docmas:CreditNoteDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            addCreditNoteDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteDebitNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMasterKey" type="docmas:DocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the DocumentMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteCreditNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListPurchaseInvoiceDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the
                            PurchaseInvoiceDocumentMaster objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetCreditNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CreditNoteDocumentMasterKey" type="docmas:CreditNoteDocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            CreditNoteDocumentMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeletePurchaseInvoiceDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseInvoiceDocumentMasterKey" type="docmas:PurchaseInvoiceDocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            PurchaseInvoiceDocumentMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddDebitNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="DebitNoteDocumentMaster" type="docmas:DebitNoteDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole
                            DebitNoteDocumentMaster object that is to be
                            persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindCreditNoteDocumentMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the CreditNoteDocumentMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddDebitNoteDocumentMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="DebitNoteDocumentMaster" type="docmas:DebitNoteDocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            addDebitNoteDocumentMaster function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="AddDebitNoteDocumentMasterRequest">
    <part name="AddDebitNoteDocumentMasterRequest" element="docmasws:AddDebitNoteDocumentMasterRequest"/>
  </message>
  <message name="ListPurchaseInvoiceDocumentMasterRequest">
    <part name="ListPurchaseInvoiceDocumentMasterRequest" element="docmasws:ListPurchaseInvoiceDocumentMasterRequest"/>
  </message>
  <message name="DeleteCreditNoteDocumentMasterResponse">
    <part name="DeleteCreditNoteDocumentMasterResponse" element="docmasws:DeleteCreditNoteDocumentMasterResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="docmasws:ListRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="docmasws:UpdateRequest"/>
  </message>
  <message name="UpdateDebitNoteDocumentMasterRequest">
    <part name="UpdateDebitNoteDocumentMasterRequest" element="docmasws:UpdateDebitNoteDocumentMasterRequest"/>
  </message>
  <message name="UpdateCreditNoteDocumentMasterResponse">
    <part name="UpdateCreditNoteDocumentMasterResponse" element="docmasws:UpdateCreditNoteDocumentMasterResponse"/>
  </message>
  <message name="UpdateCreditNoteDocumentMasterRequest">
    <part name="UpdateCreditNoteDocumentMasterRequest" element="docmasws:UpdateCreditNoteDocumentMasterRequest"/>
  </message>
  <message name="GetCreditNoteDocumentMasterResponse">
    <part name="GetCreditNoteDocumentMasterResponse" element="docmasws:GetCreditNoteDocumentMasterResponse"/>
  </message>
  <message name="GetCreditNoteDocumentMasterRequest">
    <part name="GetCreditNoteDocumentMasterRequest" element="docmasws:GetCreditNoteDocumentMasterRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="docmasws:DeleteResponse"/>
  </message>
  <message name="FindCreditNoteDocumentMasterRequest">
    <part name="FindCreditNoteDocumentMasterRequest" element="docmasws:FindCreditNoteDocumentMasterRequest"/>
  </message>
  <message name="UpdatePurchaseInvoiceDocumentMasterRequest">
    <part name="UpdatePurchaseInvoiceDocumentMasterRequest" element="docmasws:UpdatePurchaseInvoiceDocumentMasterRequest"/>
  </message>
  <message name="IsReferencedRequest">
    <part name="IsReferencedRequest" element="docmasws:IsReferencedRequest"/>
  </message>
  <message name="ListCreditNoteDocumentMasterResponse">
    <part name="ListCreditNoteDocumentMasterResponse" element="docmasws:ListCreditNoteDocumentMasterResponse"/>
  </message>
  <message name="AddPurchaseInvoiceDocumentMasterRequest">
    <part name="AddPurchaseInvoiceDocumentMasterRequest" element="docmasws:AddPurchaseInvoiceDocumentMasterRequest"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="docmasws:FindResponse"/>
  </message>
  <message name="ListCreditNoteDocumentMasterRequest">
    <part name="ListCreditNoteDocumentMasterRequest" element="docmasws:ListCreditNoteDocumentMasterRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="docmasws:ListResponse"/>
  </message>
  <message name="DeleteDebitNoteDocumentMasterResponse">
    <part name="DeleteDebitNoteDocumentMasterResponse" element="docmasws:DeleteDebitNoteDocumentMasterResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="docmasws:UpdateResponse"/>
  </message>
  <message name="ListDebitNoteDocumentMasterRequest">
    <part name="ListDebitNoteDocumentMasterRequest" element="docmasws:ListDebitNoteDocumentMasterRequest"/>
  </message>
  <message name="UpdateDebitNoteDocumentMasterResponse">
    <part name="UpdateDebitNoteDocumentMasterResponse" element="docmasws:UpdateDebitNoteDocumentMasterResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="docmasws:GetRequest"/>
  </message>
  <message name="FindDebitNoteDocumentMasterRequest">
    <part name="FindDebitNoteDocumentMasterRequest" element="docmasws:FindDebitNoteDocumentMasterRequest"/>
  </message>
  <message name="DeleteDebitNoteDocumentMasterRequest">
    <part name="DeleteDebitNoteDocumentMasterRequest" element="docmasws:DeleteDebitNoteDocumentMasterRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="docmasws:GetResponse"/>
  </message>
  <message name="AddDebitNoteDocumentMasterResponse">
    <part name="AddDebitNoteDocumentMasterResponse" element="docmasws:AddDebitNoteDocumentMasterResponse"/>
  </message>
  <message name="DeletePurchaseInvoiceDocumentMasterRequest">
    <part name="DeletePurchaseInvoiceDocumentMasterRequest" element="docmasws:DeletePurchaseInvoiceDocumentMasterRequest"/>
  </message>
  <message name="IsReferencedResponse">
    <part name="IsReferencedResponse" element="docmasws:IsReferencedResponse"/>
  </message>
  <message name="FindPurchaseInvoiceDocumentMasterResponse">
    <part name="FindPurchaseInvoiceDocumentMasterResponse" element="docmasws:FindPurchaseInvoiceDocumentMasterResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="docmasws:FindRequest"/>
  </message>
  <message name="ValidateInvoiceValidationWorkflowParamsRequest">
    <part name="ValidateInvoiceValidationWorkflowParamsRequest" element="docmasws:ValidateInvoiceValidationWorkflowParamsRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="docmasws:DeleteRequest"/>
  </message>
  <message name="DeleteCreditNoteDocumentMasterRequest">
    <part name="DeleteCreditNoteDocumentMasterRequest" element="docmasws:DeleteCreditNoteDocumentMasterRequest"/>
  </message>
  <message name="AddCreditNoteDocumentMasterRequest">
    <part name="AddCreditNoteDocumentMasterRequest" element="docmasws:AddCreditNoteDocumentMasterRequest"/>
  </message>
  <message name="AddPurchaseInvoiceDocumentMasterResponse">
    <part name="AddPurchaseInvoiceDocumentMasterResponse" element="docmasws:AddPurchaseInvoiceDocumentMasterResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="docmasws:Options"/>
  </message>
  <message name="DeletePurchaseInvoiceDocumentMasterResponse">
    <part name="DeletePurchaseInvoiceDocumentMasterResponse" element="docmasws:DeletePurchaseInvoiceDocumentMasterResponse"/>
  </message>
  <message name="GetDebitNoteDocumentMasterRequest">
    <part name="GetDebitNoteDocumentMasterRequest" element="docmasws:GetDebitNoteDocumentMasterRequest"/>
  </message>
  <message name="FindPurchaseInvoiceDocumentMasterRequest">
    <part name="FindPurchaseInvoiceDocumentMasterRequest" element="docmasws:FindPurchaseInvoiceDocumentMasterRequest"/>
  </message>
  <message name="UpdatePurchaseInvoiceDocumentMasterResponse">
    <part name="UpdatePurchaseInvoiceDocumentMasterResponse" element="docmasws:UpdatePurchaseInvoiceDocumentMasterResponse"/>
  </message>
  <message name="AddCreditNoteDocumentMasterResponse">
    <part name="AddCreditNoteDocumentMasterResponse" element="docmasws:AddCreditNoteDocumentMasterResponse"/>
  </message>
  <message name="ValidateInvoiceValidationWorkflowParamsResponse">
    <part name="ValidateInvoiceValidationWorkflowParamsResponse" element="docmasws:ValidateInvoiceValidationWorkflowParamsResponse"/>
  </message>
  <message name="FindDebitNoteDocumentMasterResponse">
    <part name="FindDebitNoteDocumentMasterResponse" element="docmasws:FindDebitNoteDocumentMasterResponse"/>
  </message>
  <message name="GetPurchaseInvoiceDocumentMasterRequest">
    <part name="GetPurchaseInvoiceDocumentMasterRequest" element="docmasws:GetPurchaseInvoiceDocumentMasterRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="docmasws:OptionsResponse"/>
  </message>
  <message name="ValidateWorkflowParamsRequest">
    <part name="ValidateWorkflowParamsRequest" element="docmasws:ValidateWorkflowParamsRequest"/>
  </message>
  <message name="GetPurchaseInvoiceDocumentMasterResponse">
    <part name="GetPurchaseInvoiceDocumentMasterResponse" element="docmasws:GetPurchaseInvoiceDocumentMasterResponse"/>
  </message>
  <message name="ListDebitNoteDocumentMasterResponse">
    <part name="ListDebitNoteDocumentMasterResponse" element="docmasws:ListDebitNoteDocumentMasterResponse"/>
  </message>
  <message name="ValidateWorkflowParamsResponse">
    <part name="ValidateWorkflowParamsResponse" element="docmasws:ValidateWorkflowParamsResponse"/>
  </message>
  <message name="ListPurchaseInvoiceDocumentMasterResponse">
    <part name="ListPurchaseInvoiceDocumentMasterResponse" element="docmasws:ListPurchaseInvoiceDocumentMasterResponse"/>
  </message>
  <message name="FindCreditNoteDocumentMasterResponse">
    <part name="FindCreditNoteDocumentMasterResponse" element="docmasws:FindCreditNoteDocumentMasterResponse"/>
  </message>
  <message name="GetDebitNoteDocumentMasterResponse">
    <part name="GetDebitNoteDocumentMasterResponse" element="docmasws:GetDebitNoteDocumentMasterResponse"/>
  </message>
  <portType name="PIMDocumentMasterServicePortTypes">
    <operation name="UpdatePurchaseInvoiceDocumentMaster">
      <input message="docmasws:UpdatePurchaseInvoiceDocumentMasterRequest"/>
      <output message="docmasws:UpdatePurchaseInvoiceDocumentMasterResponse"/>
    </operation>
    <operation name="Delete">
      <input message="docmasws:DeleteRequest"/>
      <output message="docmasws:DeleteResponse"/>
    </operation>
    <operation name="AddDebitNoteDocumentMaster">
      <input message="docmasws:AddDebitNoteDocumentMasterRequest"/>
      <output message="docmasws:AddDebitNoteDocumentMasterResponse"/>
    </operation>
    <operation name="UpdateDebitNoteDocumentMaster">
      <input message="docmasws:UpdateDebitNoteDocumentMasterRequest"/>
      <output message="docmasws:UpdateDebitNoteDocumentMasterResponse"/>
    </operation>
    <operation name="DeleteDebitNoteDocumentMaster">
      <input message="docmasws:DeleteDebitNoteDocumentMasterRequest"/>
      <output message="docmasws:DeleteDebitNoteDocumentMasterResponse"/>
    </operation>
    <operation name="AddCreditNoteDocumentMaster">
      <input message="docmasws:AddCreditNoteDocumentMasterRequest"/>
      <output message="docmasws:AddCreditNoteDocumentMasterResponse"/>
    </operation>
    <operation name="Update">
      <input message="docmasws:UpdateRequest"/>
      <output message="docmasws:UpdateResponse"/>
    </operation>
    <operation name="ListCreditNoteDocumentMaster">
      <input message="docmasws:ListCreditNoteDocumentMasterRequest"/>
      <output message="docmasws:ListCreditNoteDocumentMasterResponse"/>
    </operation>
    <operation name="UpdateCreditNoteDocumentMaster">
      <input message="docmasws:UpdateCreditNoteDocumentMasterRequest"/>
      <output message="docmasws:UpdateCreditNoteDocumentMasterResponse"/>
    </operation>
    <operation name="List">
      <input message="docmasws:ListRequest"/>
      <output message="docmasws:ListResponse"/>
    </operation>
    <operation name="DeleteCreditNoteDocumentMaster">
      <input message="docmasws:DeleteCreditNoteDocumentMasterRequest"/>
      <output message="docmasws:DeleteCreditNoteDocumentMasterResponse"/>
    </operation>
    <operation name="FindDebitNoteDocumentMaster">
      <input message="docmasws:FindDebitNoteDocumentMasterRequest"/>
      <output message="docmasws:FindDebitNoteDocumentMasterResponse"/>
    </operation>
    <operation name="IsReferenced">
      <input message="docmasws:IsReferencedRequest"/>
      <output message="docmasws:IsReferencedResponse"/>
    </operation>
    <operation name="DeletePurchaseInvoiceDocumentMaster">
      <input message="docmasws:DeletePurchaseInvoiceDocumentMasterRequest"/>
      <output message="docmasws:DeletePurchaseInvoiceDocumentMasterResponse"/>
    </operation>
    <operation name="GetPurchaseInvoiceDocumentMaster">
      <input message="docmasws:GetPurchaseInvoiceDocumentMasterRequest"/>
      <output message="docmasws:GetPurchaseInvoiceDocumentMasterResponse"/>
    </operation>
    <operation name="FindPurchaseInvoiceDocumentMaster">
      <input message="docmasws:FindPurchaseInvoiceDocumentMasterRequest"/>
      <output message="docmasws:FindPurchaseInvoiceDocumentMasterResponse"/>
    </operation>
    <operation name="ListPurchaseInvoiceDocumentMaster">
      <input message="docmasws:ListPurchaseInvoiceDocumentMasterRequest"/>
      <output message="docmasws:ListPurchaseInvoiceDocumentMasterResponse"/>
    </operation>
    <operation name="GetCreditNoteDocumentMaster">
      <input message="docmasws:GetCreditNoteDocumentMasterRequest"/>
      <output message="docmasws:GetCreditNoteDocumentMasterResponse"/>
    </operation>
    <operation name="ValidateInvoiceValidationWorkflowParams">
      <input message="docmasws:ValidateInvoiceValidationWorkflowParamsRequest"/>
      <output message="docmasws:ValidateInvoiceValidationWorkflowParamsResponse"/>
    </operation>
    <operation name="AddPurchaseInvoiceDocumentMaster">
      <input message="docmasws:AddPurchaseInvoiceDocumentMasterRequest"/>
      <output message="docmasws:AddPurchaseInvoiceDocumentMasterResponse"/>
    </operation>
    <operation name="ListDebitNoteDocumentMaster">
      <input message="docmasws:ListDebitNoteDocumentMasterRequest"/>
      <output message="docmasws:ListDebitNoteDocumentMasterResponse"/>
    </operation>
    <operation name="ValidateWorkflowParams">
      <input message="docmasws:ValidateWorkflowParamsRequest"/>
      <output message="docmasws:ValidateWorkflowParamsResponse"/>
    </operation>
    <operation name="Get">
      <input message="docmasws:GetRequest"/>
      <output message="docmasws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="docmasws:FindRequest"/>
      <output message="docmasws:FindResponse"/>
    </operation>
    <operation name="GetDebitNoteDocumentMaster">
      <input message="docmasws:GetDebitNoteDocumentMasterRequest"/>
      <output message="docmasws:GetDebitNoteDocumentMasterResponse"/>
    </operation>
    <operation name="FindCreditNoteDocumentMaster">
      <input message="docmasws:FindCreditNoteDocumentMasterRequest"/>
      <output message="docmasws:FindCreditNoteDocumentMasterResponse"/>
    </operation>
  </portType>
  <binding name="PIMDocumentMasterServiceSOAPBinding" type="docmasws:PIMDocumentMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdatePurchaseInvoiceDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/UpdatePurchaseInvoiceDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/Delete" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddDebitNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/AddDebitNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateDebitNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/UpdateDebitNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteDebitNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/DeleteDebitNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddCreditNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/AddCreditNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/Update" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListCreditNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/ListCreditNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateCreditNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/UpdateCreditNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/List" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteCreditNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/DeleteCreditNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FindDebitNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/FindDebitNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IsReferenced">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/IsReferenced" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeletePurchaseInvoiceDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/DeletePurchaseInvoiceDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetPurchaseInvoiceDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/GetPurchaseInvoiceDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FindPurchaseInvoiceDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/FindPurchaseInvoiceDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListPurchaseInvoiceDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/ListPurchaseInvoiceDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetCreditNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/GetCreditNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateInvoiceValidationWorkflowParams">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/ValidateInvoiceValidationWorkflowParams" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddPurchaseInvoiceDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/AddPurchaseInvoiceDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListDebitNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/ListDebitNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateWorkflowParams">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/ValidateWorkflowParams" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/Get" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/Find" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetDebitNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/GetDebitNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FindCreditNoteDocumentMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDocumentMaster/FindCreditNoteDocumentMaster" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMDocumentMasterService">
    <port name="PIMDocumentMasterServicePort" binding="docmasws:PIMDocumentMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/documentmaster/pimdocumentmaster-12.0"/>
    </port>
  </service>
</definitions>
