docs/Unit4 Financials HTML Documentation/wsdl/pim-tolerancemaster-pimtolerancemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/tolerancemaster/pimtolerancemaster-11.2/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tolmasws="http://www.coda.com/pim/schemas/tolerancemaster/pimtolerancemaster-11.2/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tolmas="http://www.coda.com/pim/schemas/tolerancemaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/tolerancemaster/pimtolerancemaster-11.2/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/tolerancemaster" schemaLocation="../wsdl/pim/tolerancemaster/tolerancemaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="ToleranceMaster" type="tolmas:ToleranceMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole ToleranceMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExistsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ToleranceMaster" type="tolmas:ToleranceMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      Tolerance master key     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExistsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Exists" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            exists function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ToleranceMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ToleranceMaster" type="tolmas:ToleranceMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ToleranceMasterItemList" type="tolmas:ToleranceMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ToleranceMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ToleranceMaster" type="tolmas:ToleranceMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ToleranceMaster" type="tolmas:ToleranceMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="ToleranceMaster" type="tolmas:ToleranceMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole ToleranceMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ToleranceMasterKey" type="tolmas:ToleranceMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            ToleranceMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ToleranceMasterKey" type="tolmas:ToleranceMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            ToleranceMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ToleranceMasterList" type="tolmas:ToleranceMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="tolmasws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="tolmasws:ListResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="tolmasws:Options"/>
  </message>
  <message name="ExistsRequest">
    <part name="ExistsRequest" element="tolmasws:ExistsRequest"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="tolmasws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="tolmasws:ListRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="tolmasws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="tolmasws:AddResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="tolmasws:GetRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="tolmasws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="tolmasws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="tolmasws:DeleteResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="tolmasws:DeleteRequest"/>
  </message>
  <message name="ExistsResponse">
    <part name="ExistsResponse" element="tolmasws:ExistsResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="tolmasws:OptionsResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="tolmasws:FindRequest"/>
  </message>
  <portType name="PIMToleranceMasterServicePortTypes">
    <operation name="Delete">
      <input message="tolmasws:DeleteRequest"/>
      <output message="tolmasws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="tolmasws:AddRequest"/>
      <output message="tolmasws:AddResponse"/>
    </operation>
    <operation name="Exists">
      <input message="tolmasws:ExistsRequest"/>
      <output message="tolmasws:ExistsResponse"/>
    </operation>
    <operation name="Get">
      <input message="tolmasws:GetRequest"/>
      <output message="tolmasws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="tolmasws:FindRequest"/>
      <output message="tolmasws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="tolmasws:ListRequest"/>
      <output message="tolmasws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="tolmasws:UpdateRequest"/>
      <output message="tolmasws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="PIMToleranceMasterServiceSOAPBinding" type="tolmasws:PIMToleranceMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMToleranceMaster/Delete" style="document"/>
      <input>
        <soap:header message="tolmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tolmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMToleranceMaster/Add" style="document"/>
      <input>
        <soap:header message="tolmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tolmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Exists">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMToleranceMaster/Exists" style="document"/>
      <input>
        <soap:header message="tolmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tolmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMToleranceMaster/Get" style="document"/>
      <input>
        <soap:header message="tolmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tolmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMToleranceMaster/Find" style="document"/>
      <input>
        <soap:header message="tolmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tolmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMToleranceMaster/List" style="document"/>
      <input>
        <soap:header message="tolmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tolmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMToleranceMaster/Update" style="document"/>
      <input>
        <soap:header message="tolmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="tolmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMToleranceMasterService">
    <port name="PIMToleranceMasterServicePort" binding="tolmasws:PIMToleranceMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/tolerancemaster/pimtolerancemaster-11.2"/>
    </port>
  </service>
</definitions>
