docs/Unit4 Financials HTML Documentation/wsdl/pim-invoicehousekeeping-piminvoicehousekeeping.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/invoicehousekeeping/piminvoicehousekeeping-11.1/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:hkeepws="http://www.coda.com/pim/schemas/invoicehousekeeping/piminvoicehousekeeping-11.1/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:invhkeep="http://www.coda.com/pim/schemas/invoicehousekeepingmaster"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:selmas="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:invoicehousekeeping="http://www.coda.com/pim/schemas/invoicehousekeeping"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:doc="http://www.coda.com/pim/schemas/document"
    xmlns:presmas="http://www.coda.com/efinance/schemas/presenter"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:hkeep="http://www.coda.com/pim/schemas/invoicehousekeeping"
    targetNamespace="http://www.coda.com/pim/schemas/invoicehousekeeping/piminvoicehousekeeping-11.1/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/invoicehousekeeping" schemaLocation="../wsdl/pim/invoicehousekeeping/invoicehousekeeping.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/document" schemaLocation="pim/document/document.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/invoicehousekeepingmaster" schemaLocation="pim/invoicehousekeepingmaster/invoicehousekeepingmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:element name="RunHouseKeepingRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InvoiceHouseKeepingMaster" type="invhkeep:InvoiceHousekeepingMaster">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The runtime Invoice house
                                keeping master to use.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogTitle" type="pimtypes:typePimLogtitle">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The log title to record the
                                results or errors.      </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogDetailLevel" type="pimtypes:typePimLogDetailLevel">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The detail level to use for
                                logging      </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="InvoiceKeyList" type="doc:DocumentKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The selected invoices to run
                                the Invoice house keeping process on.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RunHouseKeepingResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="RunHouseKeepingResponse">
    <part name="RunHouseKeepingResponse" element="hkeepws:RunHouseKeepingResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="hkeepws:Options"/>
  </message>
  <message name="RunHouseKeepingRequest">
    <part name="RunHouseKeepingRequest" element="hkeepws:RunHouseKeepingRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="hkeepws:OptionsResponse"/>
  </message>
  <portType name="PIMInvoiceHouseKeepingServicePortTypes">
    <operation name="RunHouseKeeping">
      <input message="hkeepws:RunHouseKeepingRequest"/>
      <output message="hkeepws:RunHouseKeepingResponse"/>
    </operation>
  </portType>
  <binding name="PIMInvoiceHouseKeepingServiceSOAPBinding" type="hkeepws:PIMInvoiceHouseKeepingServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="RunHouseKeeping">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMInvoiceHouseKeeping/RunHouseKeeping" style="document"/>
      <input>
        <soap:header message="hkeepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hkeepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMInvoiceHouseKeepingService">
    <port name="PIMInvoiceHouseKeepingServicePort" binding="hkeepws:PIMInvoiceHouseKeepingServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/invoicehousekeeping/piminvoicehousekeeping-11.1"/>
    </port>
  </service>
</definitions>
