docs/Unit4 Financials HTML Documentation/wsdl/pim-undomatching-pimundomatching.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/undomatching/pimundomatching-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:undomatchingws="http://www.coda.com/pim/schemas/undomatching/pimundomatching-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:inv="http://www.coda.com/pim/schemas/invoice"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:undomatching="http://www.coda.com/pim/schemas/undomatching"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/undomatching/pimundomatching-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pim/schemas/undomatching" schemaLocation="../wsdl/pim/undomatching/undomatching.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/invoice" schemaLocation="pim/invoice/invoice.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UndoMatchResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UndoMatchRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Invoice" type="inv:InvoiceKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The invoice to be unmatched.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="undomatchingws:OptionsResponse"/>
  </message>
  <message name="UndoMatchResponse">
    <part name="UndoMatchResponse" element="undomatchingws:UndoMatchResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="undomatchingws:Options"/>
  </message>
  <message name="UndoMatchRequest">
    <part name="UndoMatchRequest" element="undomatchingws:UndoMatchRequest"/>
  </message>
  <portType name="PIMUndoMatchingServicePortTypes">
    <operation name="UndoMatch">
      <input message="undomatchingws:UndoMatchRequest"/>
      <output message="undomatchingws:UndoMatchResponse"/>
    </operation>
  </portType>
  <binding name="PIMUndoMatchingServiceSOAPBinding" type="undomatchingws:PIMUndoMatchingServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UndoMatch">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMUndoMatching/UndoMatch" style="document"/>
      <input>
        <soap:header message="undomatchingws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="undomatchingws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMUndoMatchingService">
    <port name="PIMUndoMatchingServicePort" binding="undomatchingws:PIMUndoMatchingServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/undomatching/pimundomatching-13.0"/>
    </port>
  </service>
</definitions>
