docs/Unit4 Financials HTML Documentation/wsdl/pim-deferredmatch-pimdeferredmatchselector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/deferredmatch/pimdeferredmatchselector-11.2/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:deferws="http://www.coda.com/pim/schemas/deferredmatch/pimdeferredmatchselector-11.2/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:defmatmas="http://www.coda.com/pim/schemas/deferredmatchmaster"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:presmas="http://www.coda.com/efinance/schemas/presenter"
    xmlns:selmas="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:defer="http://www.coda.com/pim/schemas/deferredmatch"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/deferredmatch/pimdeferredmatchselector-11.2/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/deferredmatch" schemaLocation="../wsdl/pim/deferredmatch/deferredmatch.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/deferredmatchmaster" schemaLocation="pim/deferredmatchmaster/deferredmatchmaster.xsd"/>
    <xsd:element name="SelectRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DeferredMatchMaster" type="defmatmas:DeferredMatchMaster">
                    <xsd:annotation>
                        <xsd:documentation>The deferred matching master
                            to use.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SelectorMaster" type="selmas:SelectorMaster">
                    <xsd:annotation>
                        <xsd:documentation>The selector defining the
                            search criteria for invoice documents to be
                            included in the deferred matching process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PresenterMaster" type="presmas:Presenter">
                    <xsd:annotation>
                        <xsd:documentation>The presenter used to display
                            the selected documents.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="sel:Selection">
                    <xsd:annotation>
                        <xsd:documentation>The documents selected by the request.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="deferws:OptionsResponse"/>
  </message>
  <message name="SelectRequest">
    <part name="SelectRequest" element="deferws:SelectRequest"/>
  </message>
  <message name="SelectResponse">
    <part name="SelectResponse" element="deferws:SelectResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="deferws:Options"/>
  </message>
  <portType name="PIMDeferredMatchSelectorServicePortTypes">
    <operation name="Select">
      <input message="deferws:SelectRequest"/>
      <output message="deferws:SelectResponse"/>
    </operation>
  </portType>
  <binding name="PIMDeferredMatchSelectorServiceSOAPBinding" type="deferws:PIMDeferredMatchSelectorServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Select">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMDeferredMatchSelector/Select" style="document"/>
      <input>
        <soap:header message="deferws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="deferws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMDeferredMatchSelectorService">
    <port name="PIMDeferredMatchSelectorServicePort" binding="deferws:PIMDeferredMatchSelectorServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/deferredmatch/pimdeferredmatchselector-11.2"/>
    </port>
  </service>
</definitions>
