docs/Unit4 Financials HTML Documentation/wsdl/pim-post-pimpost.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/post/pimpost-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:pimpostws="http://www.coda.com/pim/schemas/post/pimpost-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pre="http://www.coda.com/efinance/schemas/presenter"
    xmlns:pimpost="http://www.coda.com/pim/schemas/post"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:doc="http://www.coda.com/pim/schemas/document"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/post/pimpost-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/post" schemaLocation="../wsdl/pim/post/post.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/document" schemaLocation="pim/document/document.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostBySelectorResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostBySelectorRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LogTitle" type="pimtypes:typePimLogtitle">
                    <xsd:annotation>
                        <xsd:documentation>A title for the log file that
                            stores details of the posting process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogDetailLevel" type="pimtypes:typePimLogDetailLevel">
                    <xsd:annotation>
                        <xsd:documentation>The level of detail to be
                            recorded in the log file.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SelectorMaster" type="gsl:SelectorMaster">
                    <xsd:annotation>
                        <xsd:documentation>The selector defining the
                            search criteria for documents to be posted.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PostToCurrentYearPeriod" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Determines whether each
                            document will be posted to the current
                            year/period rather than the year/period
                            specified on the document itself.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostByKeysRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LogTitle" type="pimtypes:typePimLogtitle">
                    <xsd:annotation>
                        <xsd:documentation>A title for the log file that
                            stores details of the posting process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogDetailLevel" type="pimtypes:typePimLogDetailLevel">
                    <xsd:annotation>
                        <xsd:documentation>The level of detail to be
                            recorded in the log file.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="InvoiceKeyList" type="doc:DocumentKeyList">
                    <xsd:annotation>
                        <xsd:documentation>Contains key information
                            identifying the documents to be posted.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PostToCurrentYearPeriod" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Determines whether each
                            document will be posted to the current
                            year/period rather than the year/period
                            specified on the document itself.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PostByKeysResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="PostByKeysRequest">
    <part name="PostByKeysRequest" element="pimpostws:PostByKeysRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="pimpostws:Options"/>
  </message>
  <message name="PostBySelectorRequest">
    <part name="PostBySelectorRequest" element="pimpostws:PostBySelectorRequest"/>
  </message>
  <message name="PostByKeysResponse">
    <part name="PostByKeysResponse" element="pimpostws:PostByKeysResponse"/>
  </message>
  <message name="PostBySelectorResponse">
    <part name="PostBySelectorResponse" element="pimpostws:PostBySelectorResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="pimpostws:OptionsResponse"/>
  </message>
  <portType name="PIMPostServicePortTypes">
    <operation name="PostBySelector">
      <input message="pimpostws:PostBySelectorRequest"/>
      <output message="pimpostws:PostBySelectorResponse"/>
    </operation>
    <operation name="PostByKeys">
      <input message="pimpostws:PostByKeysRequest"/>
      <output message="pimpostws:PostByKeysResponse"/>
    </operation>
  </portType>
  <binding name="PIMPostServiceSOAPBinding" type="pimpostws:PIMPostServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="PostBySelector">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMPost/PostBySelector" style="document"/>
      <input>
        <soap:header message="pimpostws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pimpostws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PostByKeys">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMPost/PostByKeys" style="document"/>
      <input>
        <soap:header message="pimpostws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pimpostws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMPostService">
    <port name="PIMPostServicePort" binding="pimpostws:PIMPostServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/post/pimpost-1.0"/>
    </port>
  </service>
</definitions>
