docs/Unit4 Financials HTML Documentation/wsdl/pim-group-pimgroup.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/group/pimgroup-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:groupws="http://www.coda.com/pim/schemas/group/pimgroup-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:lrn="http://www.coda.com/pim/schemas/logicalreceiptnote"
    xmlns:elmmas="http://www.coda.com/pim/schemas/elementmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pimusr="http://www.coda.com/pim/schemas/user"
    xmlns:inv="http://www.coda.com/pim/schemas/invoice"
    xmlns:tolmas="http://www.coda.com/pim/schemas/tolerancemaster"
    xmlns:matmas="http://www.coda.com/pim/schemas/matchingmaster"
    xmlns:taxmas="http://www.coda.com/pim/schemas/taxmaster"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:doc="http://www.coda.com/pim/schemas/document"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:group="http://www.coda.com/pim/schemas/group"
    xmlns:datatypes="http://www.coda.com/common/schemas/datatypes"
    xmlns:curr="http://www.coda.com/pim/schemas/currency"
    targetNamespace="http://www.coda.com/pim/schemas/group/pimgroup-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/datatypes" schemaLocation="common/datatypes/datatypes.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/taxmaster" schemaLocation="pim/taxmaster/taxmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/tolerancemaster" schemaLocation="pim/tolerancemaster/tolerancemaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/group" schemaLocation="../wsdl/pim/group/group.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/invoice" schemaLocation="pim/invoice/invoice.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/elementmaster" schemaLocation="pim/elementmaster/elementmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/user" schemaLocation="pim/user/user.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/matchingmaster" schemaLocation="pim/matchingmaster/matchingmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/logicalreceiptnote" schemaLocation="pim/logicalreceiptnote/logicalreceiptnote.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/currency" schemaLocation="pim/currency/currency.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/document" schemaLocation="pim/document/document.xsd"/>
    <xsd:element name="GetMLineResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MLine" type="group:MLine">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getMLine function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetMLineRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MLineKey" type="group:MLineKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the MLine object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetMLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Company" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>The MLine company code.</p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MLineId" type="group:MLineIdData">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>The MLine ids.</p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetMLinesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Mline" minOccurs="0"
                    maxOccurs="unbounded" type="group:MLine">
                    <xsd:annotation>
                        <xsd:documentation>The mline is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetMLineResponse">
    <part name="GetMLineResponse" element="groupws:GetMLineResponse"/>
  </message>
  <message name="GetMLineRequest">
    <part name="GetMLineRequest" element="groupws:GetMLineRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="groupws:Options"/>
  </message>
  <message name="GetMLinesRequest">
    <part name="GetMLinesRequest" element="groupws:GetMLinesRequest"/>
  </message>
  <message name="GetMLinesResponse">
    <part name="GetMLinesResponse" element="groupws:GetMLinesResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="groupws:OptionsResponse"/>
  </message>
  <portType name="PIMGroupServicePortTypes">
    <operation name="GetMLines">
      <input message="groupws:GetMLinesRequest"/>
      <output message="groupws:GetMLinesResponse"/>
    </operation>
    <operation name="GetMLine">
      <input message="groupws:GetMLineRequest"/>
      <output message="groupws:GetMLineResponse"/>
    </operation>
  </portType>
  <binding name="PIMGroupServiceSOAPBinding" type="groupws:PIMGroupServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetMLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMGroup/GetMLines" style="document"/>
      <input>
        <soap:header message="groupws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="groupws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetMLine">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMGroup/GetMLine" style="document"/>
      <input>
        <soap:header message="groupws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="groupws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMGroupService">
    <port name="PIMGroupServicePort" binding="groupws:PIMGroupServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/group/pimgroup-13.0"/>
    </port>
  </service>
</definitions>
