docs/Unit4 Financials HTML Documentation/wsdl/pim-browsereportmaster-pimbrowsereportmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/browsereportmaster/pimbrowsereportmaster-11.2/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:brepws="http://www.coda.com/pim/schemas/browsereportmaster/pimbrowsereportmaster-11.2/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:brep="http://www.coda.com/pim/schemas/browsereportmaster"
    targetNamespace="http://www.coda.com/pim/schemas/browsereportmaster/pimbrowsereportmaster-11.2/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/browsereportmaster" schemaLocation="../wsdl/pim/browsereportmaster/browsereportmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="BrowseReportMaster" type="brep:BrowseReportMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProcurementSystemInformationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcurementSystemInformation"
                    minOccurs="0" maxOccurs="unbounded" type="brep:ProcurementSystemInformation">
                    <xsd:annotation>
                        <xsd:documentation>The
                            ProcurementSystemInformation is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequisitionDocumentCodesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="brep:Filter">
                    <xsd:annotation>
                        <xsd:documentation>The Filter is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Codes" type="brep:DocumentCodes">
                    <xsd:annotation>
                        <xsd:documentation>The Codes is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequisitionDocumentCodesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="brep:Filter">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the BrowseReportMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the BrowseReportMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListPurchaseOrderDocumentCodesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="brep:Filter">
                    <xsd:annotation>
                        <xsd:documentation>The Filter is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Codes" type="brep:DocumentCodes">
                    <xsd:annotation>
                        <xsd:documentation>The Codes is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseReportMasterList" type="brep:BrowseReportMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseReportMaster" type="brep:BrowseReportMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="BrowseReportMaster" type="brep:BrowseReportMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole BrowseReportMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListPurchaseOrderDocumentCodesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="brep:Filter">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>A filter that selects the document
                                codes to be listed.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseReportMasterItemList" type="brep:BrowseReportMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateDataSourcesResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseReportMasterKey" type="brep:BrowseReportMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            BrowseReportMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="BrowseReportMaster" type="brep:BrowseReportMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole BrowseReportMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="BrowseReportMaster" type="brep:BrowseReportMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateDataSourcesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseReportMaster" type="brep:BrowseReportMaster">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>             A browse report master
                                to validate.           </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProcurementSystemInformationRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BrowseReportMasterKey" type="brep:BrowseReportMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            BrowseReportMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="FindRequest">
    <part name="FindRequest" element="brepws:FindRequest"/>
  </message>
  <message name="ListRequisitionDocumentCodesResponse">
    <part name="ListRequisitionDocumentCodesResponse" element="brepws:ListRequisitionDocumentCodesResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="brepws:DeleteRequest"/>
  </message>
  <message name="ListRequisitionDocumentCodesRequest">
    <part name="ListRequisitionDocumentCodesRequest" element="brepws:ListRequisitionDocumentCodesRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="brepws:OptionsResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="brepws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="brepws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="brepws:DeleteResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="brepws:GetRequest"/>
  </message>
  <message name="ValidateDataSourcesRequest">
    <part name="ValidateDataSourcesRequest" element="brepws:ValidateDataSourcesRequest"/>
  </message>
  <message name="ListPurchaseOrderDocumentCodesRequest">
    <part name="ListPurchaseOrderDocumentCodesRequest" element="brepws:ListPurchaseOrderDocumentCodesRequest"/>
  </message>
  <message name="ListPurchaseOrderDocumentCodesResponse">
    <part name="ListPurchaseOrderDocumentCodesResponse" element="brepws:ListPurchaseOrderDocumentCodesResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="brepws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="brepws:AddResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="brepws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="brepws:FindResponse"/>
  </message>
  <message name="ValidateDataSourcesResponse">
    <part name="ValidateDataSourcesResponse" element="brepws:ValidateDataSourcesResponse"/>
  </message>
  <message name="GetProcurementSystemInformationRequest">
    <part name="GetProcurementSystemInformationRequest" element="brepws:GetProcurementSystemInformationRequest"/>
  </message>
  <message name="GetProcurementSystemInformationResponse">
    <part name="GetProcurementSystemInformationResponse" element="brepws:GetProcurementSystemInformationResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="brepws:ListRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="brepws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="brepws:ListResponse"/>
  </message>
  <portType name="PIMBrowseReportMasterServicePortTypes">
    <operation name="Add">
      <input message="brepws:AddRequest"/>
      <output message="brepws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="brepws:DeleteRequest"/>
      <output message="brepws:DeleteResponse"/>
    </operation>
    <operation name="ListPurchaseOrderDocumentCodes">
      <input message="brepws:ListPurchaseOrderDocumentCodesRequest"/>
      <output message="brepws:ListPurchaseOrderDocumentCodesResponse"/>
    </operation>
    <operation name="Get">
      <input message="brepws:GetRequest"/>
      <output message="brepws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="brepws:FindRequest"/>
      <output message="brepws:FindResponse"/>
    </operation>
    <operation name="GetProcurementSystemInformation">
      <input message="brepws:GetProcurementSystemInformationRequest"/>
      <output message="brepws:GetProcurementSystemInformationResponse"/>
    </operation>
    <operation name="List">
      <input message="brepws:ListRequest"/>
      <output message="brepws:ListResponse"/>
    </operation>
    <operation name="ValidateDataSources">
      <input message="brepws:ValidateDataSourcesRequest"/>
      <output message="brepws:ValidateDataSourcesResponse"/>
    </operation>
    <operation name="Update">
      <input message="brepws:UpdateRequest"/>
      <output message="brepws:UpdateResponse"/>
    </operation>
    <operation name="ListRequisitionDocumentCodes">
      <input message="brepws:ListRequisitionDocumentCodesRequest"/>
      <output message="brepws:ListRequisitionDocumentCodesResponse"/>
    </operation>
  </portType>
  <binding name="PIMBrowseReportMasterServiceSOAPBinding" type="brepws:PIMBrowseReportMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMBrowseReportMaster/Add" style="document"/>
      <input>
        <soap:header message="brepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMBrowseReportMaster/Delete" style="document"/>
      <input>
        <soap:header message="brepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListPurchaseOrderDocumentCodes">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMBrowseReportMaster/ListPurchaseOrderDocumentCodes" style="document"/>
      <input>
        <soap:header message="brepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMBrowseReportMaster/Get" style="document"/>
      <input>
        <soap:header message="brepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMBrowseReportMaster/Find" style="document"/>
      <input>
        <soap:header message="brepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetProcurementSystemInformation">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMBrowseReportMaster/GetProcurementSystemInformation" style="document"/>
      <input>
        <soap:header message="brepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMBrowseReportMaster/List" style="document"/>
      <input>
        <soap:header message="brepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateDataSources">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMBrowseReportMaster/ValidateDataSources" style="document"/>
      <input>
        <soap:header message="brepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMBrowseReportMaster/Update" style="document"/>
      <input>
        <soap:header message="brepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListRequisitionDocumentCodes">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMBrowseReportMaster/ListRequisitionDocumentCodes" style="document"/>
      <input>
        <soap:header message="brepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="brepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMBrowseReportMasterService">
    <port name="PIMBrowseReportMasterServicePort" binding="brepws:PIMBrowseReportMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/browsereportmaster/pimbrowsereportmaster-11.2"/>
    </port>
  </service>
</definitions>
