docs/Unit4 Financials HTML Documentation/wsdl/pim-invoicehousekeeping-piminvoicehousekeepingselector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/invoicehousekeeping/piminvoicehousekeepingselector-11.1/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:hkeepws="http://www.coda.com/pim/schemas/invoicehousekeeping/piminvoicehousekeepingselector-11.1/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:invhkeep="http://www.coda.com/pim/schemas/invoicehousekeepingmaster"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:selmas="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:invoicehousekeeping="http://www.coda.com/pim/schemas/invoicehousekeeping"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:doc="http://www.coda.com/pim/schemas/document"
    xmlns:presmas="http://www.coda.com/efinance/schemas/presenter"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:hkeep="http://www.coda.com/pim/schemas/invoicehousekeeping"
    targetNamespace="http://www.coda.com/pim/schemas/invoicehousekeeping/piminvoicehousekeepingselector-11.1/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/invoicehousekeeping" schemaLocation="../wsdl/pim/invoicehousekeeping/invoicehousekeeping.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/document" schemaLocation="pim/document/document.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/invoicehousekeepingmaster" schemaLocation="pim/invoicehousekeepingmaster/invoicehousekeepingmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:element name="SelectRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelectorMaster" type="selmas:SelectorMaster">
                    <xsd:annotation>
                        <xsd:documentation>The selector defining the
                            search criteria for invoice documents to be
                            included in the invoice housekeeping process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PresenterMaster" type="presmas:Presenter">
                    <xsd:annotation>
                        <xsd:documentation>The presenter used to display
                            the selected documents.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectInvoiceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="sel:Selection">
                    <xsd:annotation>
                        <xsd:documentation>The documents selected by the request.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectWithIncompleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="sel:Selection">
                    <xsd:annotation>
                        <xsd:documentation>The documents selected by the request.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="sel:Selection">
                    <xsd:annotation>
                        <xsd:documentation>The documents selected by the request.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectWithIncompleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelectorMaster" type="selmas:SelectorMaster">
                    <xsd:annotation>
                        <xsd:documentation>The selector defining the
                            search criteria for invoice documents to be
                            included in the invoice housekeeping process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PresenterMaster" type="presmas:Presenter">
                    <xsd:annotation>
                        <xsd:documentation>The presenter used to display
                            the selected documents.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectInvoiceRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelectorMaster" type="selmas:SelectorMaster">
                    <xsd:annotation>
                        <xsd:documentation>The selector defining the
                            search criteria for invoice documents to be
                            included in the invoice housekeeping process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PresenterMaster" type="presmas:Presenter">
                    <xsd:annotation>
                        <xsd:documentation>The presenter used to display
                            the selected documents.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="hkeepws:Options"/>
  </message>
  <message name="SelectWithIncompleteRequest">
    <part name="SelectWithIncompleteRequest" element="hkeepws:SelectWithIncompleteRequest"/>
  </message>
  <message name="SelectWithIncompleteResponse">
    <part name="SelectWithIncompleteResponse" element="hkeepws:SelectWithIncompleteResponse"/>
  </message>
  <message name="SelectInvoiceResponse">
    <part name="SelectInvoiceResponse" element="hkeepws:SelectInvoiceResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="hkeepws:OptionsResponse"/>
  </message>
  <message name="SelectRequest">
    <part name="SelectRequest" element="hkeepws:SelectRequest"/>
  </message>
  <message name="SelectInvoiceRequest">
    <part name="SelectInvoiceRequest" element="hkeepws:SelectInvoiceRequest"/>
  </message>
  <message name="SelectResponse">
    <part name="SelectResponse" element="hkeepws:SelectResponse"/>
  </message>
  <portType name="PIMInvoiceHousekeepingSelectorServicePortTypes">
    <operation name="SelectInvoice">
      <input message="hkeepws:SelectInvoiceRequest"/>
      <output message="hkeepws:SelectInvoiceResponse"/>
    </operation>
    <operation name="Select">
      <input message="hkeepws:SelectRequest"/>
      <output message="hkeepws:SelectResponse"/>
    </operation>
    <operation name="SelectWithIncomplete">
      <input message="hkeepws:SelectWithIncompleteRequest"/>
      <output message="hkeepws:SelectWithIncompleteResponse"/>
    </operation>
  </portType>
  <binding name="PIMInvoiceHousekeepingSelectorServiceSOAPBinding" type="hkeepws:PIMInvoiceHousekeepingSelectorServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectInvoice">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMInvoiceHousekeepingSelector/SelectInvoice" style="document"/>
      <input>
        <soap:header message="hkeepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hkeepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Select">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMInvoiceHousekeepingSelector/Select" style="document"/>
      <input>
        <soap:header message="hkeepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hkeepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SelectWithIncomplete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMInvoiceHousekeepingSelector/SelectWithIncomplete" style="document"/>
      <input>
        <soap:header message="hkeepws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="hkeepws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMInvoiceHousekeepingSelectorService">
    <port name="PIMInvoiceHousekeepingSelectorServicePort" binding="hkeepws:PIMInvoiceHousekeepingSelectorServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/invoicehousekeeping/piminvoicehousekeepingselector-11.1"/>
    </port>
  </service>
</definitions>
