docs/Unit4 Financials HTML Documentation/wsdl/pim-inputtemplatemaster-piminputtemplatemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/inputtemplatemaster/piminputtemplatemaster-11.2/webservice" xmlns:itmws="http://www.coda.com/pim/schemas/inputtemplatemaster/piminputtemplatemaster-11.2/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:docmas="http://www.coda.com/pim/schemas/documentmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:itm="http://www.coda.com/pim/schemas/inputtemplatemaster"
    targetNamespace="http://www.coda.com/pim/schemas/inputtemplatemaster/piminputtemplatemaster-11.2/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/inputtemplatemaster" schemaLocation="../wsdl/pim/inputtemplatemaster/inputtemplatemaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/documentmaster" schemaLocation="pim/documentmaster/documentmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="InputTemplateMaster" type="itm:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole InputTemplateMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the InputTemplateMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMaster" type="itm:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMasterItemList" type="itm:InputTemplateMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the InputTemplateMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="InputTemplateMaster" type="itm:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IsReferencedRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMaster" type="itm:InputTemplateMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>The input template to check.</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="InputTemplateMaster" type="itm:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="InputTemplateMaster" type="itm:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole InputTemplateMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IsReferencedResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IsReferenced" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            isReferenced function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMasterKey" type="itm:InputTemplateMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            InputTemplateMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMasterKey" type="itm:InputTemplateMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            InputTemplateMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMasterList" type="itm:InputTemplateMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="FindRequest">
    <part name="FindRequest" element="itmws:FindRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="itmws:OptionsResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="itmws:DeleteRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="itmws:DeleteResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="itmws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="itmws:AddRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="itmws:GetRequest"/>
  </message>
  <message name="IsReferencedRequest">
    <part name="IsReferencedRequest" element="itmws:IsReferencedRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="itmws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="itmws:AddResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="itmws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="itmws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="itmws:FindResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="itmws:UpdateRequest"/>
  </message>
  <message name="IsReferencedResponse">
    <part name="IsReferencedResponse" element="itmws:IsReferencedResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="itmws:ListResponse"/>
  </message>
  <portType name="PIMInputTemplateMasterServicePortTypes">
    <operation name="Add">
      <input message="itmws:AddRequest"/>
      <output message="itmws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="itmws:DeleteRequest"/>
      <output message="itmws:DeleteResponse"/>
    </operation>
    <operation name="IsReferenced">
      <input message="itmws:IsReferencedRequest"/>
      <output message="itmws:IsReferencedResponse"/>
    </operation>
    <operation name="Get">
      <input message="itmws:GetRequest"/>
      <output message="itmws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="itmws:FindRequest"/>
      <output message="itmws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="itmws:ListRequest"/>
      <output message="itmws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="itmws:UpdateRequest"/>
      <output message="itmws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="PIMInputTemplateMasterServiceSOAPBinding" type="itmws:PIMInputTemplateMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMInputTemplateMaster/Add" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMInputTemplateMaster/Delete" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IsReferenced">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMInputTemplateMaster/IsReferenced" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMInputTemplateMaster/Get" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMInputTemplateMaster/Find" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMInputTemplateMaster/List" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMInputTemplateMaster/Update" style="document"/>
      <input>
        <soap:header message="itmws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itmws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMInputTemplateMasterService">
    <port name="PIMInputTemplateMasterServicePort" binding="itmws:PIMInputTemplateMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/inputtemplatemaster/piminputtemplatemaster-11.2"/>
    </port>
  </service>
</definitions>
