docs/Unit4 Financials HTML Documentation/wsdl/pim-sundrylinemaster-pimsundrylinemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/sundrylinemaster/pimsundrylinemaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:sunlinemasws="http://www.coda.com/pim/schemas/sundrylinemaster/pimsundrylinemaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:destmas="http://www.coda.com/pim/schemas/destinationmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:curr="http://www.coda.com/pim/schemas/currency"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:sunlinemas="http://www.coda.com/pim/schemas/sundrylinemaster"
    targetNamespace="http://www.coda.com/pim/schemas/sundrylinemaster/pimsundrylinemaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/destinationmaster" schemaLocation="pim/destinationmaster/destinationmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/currency" schemaLocation="pim/currency/currency.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/sundrylinemaster" schemaLocation="../wsdl/pim/sundrylinemaster/sundrylinemaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="SundryLineMaster" type="sunlinemas:SundryLineMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole SundryLineMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the SundryLineMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SundryLineMaster" type="sunlinemas:SundryLineMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SundryLineMasterItemList" type="sunlinemas:SundryLineMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the SundryLineMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="SundryLineMaster" type="sunlinemas:SundryLineMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="SundryLineMaster" type="sunlinemas:SundryLineMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="SundryLineMaster" type="sunlinemas:SundryLineMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole SundryLineMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SundryLineMasterKey" type="sunlinemas:SundryLineMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            SundryLineMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SundryLineMasterKey" type="sunlinemas:SundryLineMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            SundryLineMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SundryLineMasterList" type="sunlinemas:SundryLineMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="sunlinemasws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="sunlinemasws:OptionsResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="sunlinemasws:FindRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="sunlinemasws:GetRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="sunlinemasws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="sunlinemasws:UpdateResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="sunlinemasws:DeleteResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="sunlinemasws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="sunlinemasws:GetResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="sunlinemasws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="sunlinemasws:UpdateRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="sunlinemasws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="sunlinemasws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="sunlinemasws:ListRequest"/>
  </message>
  <portType name="PIMSundryLineMasterServicePortTypes">
    <operation name="Delete">
      <input message="sunlinemasws:DeleteRequest"/>
      <output message="sunlinemasws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="sunlinemasws:AddRequest"/>
      <output message="sunlinemasws:AddResponse"/>
    </operation>
    <operation name="Get">
      <input message="sunlinemasws:GetRequest"/>
      <output message="sunlinemasws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="sunlinemasws:FindRequest"/>
      <output message="sunlinemasws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="sunlinemasws:ListRequest"/>
      <output message="sunlinemasws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="sunlinemasws:UpdateRequest"/>
      <output message="sunlinemasws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="PIMSundryLineMasterServiceSOAPBinding" type="sunlinemasws:PIMSundryLineMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSundryLineMaster/Delete" style="document"/>
      <input>
        <soap:header message="sunlinemasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="sunlinemasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSundryLineMaster/Add" style="document"/>
      <input>
        <soap:header message="sunlinemasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="sunlinemasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSundryLineMaster/Get" style="document"/>
      <input>
        <soap:header message="sunlinemasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="sunlinemasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSundryLineMaster/Find" style="document"/>
      <input>
        <soap:header message="sunlinemasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="sunlinemasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSundryLineMaster/List" style="document"/>
      <input>
        <soap:header message="sunlinemasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="sunlinemasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSundryLineMaster/Update" style="document"/>
      <input>
        <soap:header message="sunlinemasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="sunlinemasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMSundryLineMasterService">
    <port name="PIMSundryLineMasterServicePort" binding="sunlinemasws:PIMSundryLineMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/sundrylinemaster/pimsundrylinemaster-1.0"/>
    </port>
  </service>
</definitions>
