docs/Unit4 Financials HTML Documentation/wsdl/pim-selfbilling-pimselfbilling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/selfbilling/pimselfbilling-11.1/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:selfbillingws="http://www.coda.com/pim/schemas/selfbilling/pimselfbilling-11.1/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:lrn="http://www.coda.com/pim/schemas/logicalreceiptnote"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:sbm="http://www.coda.com/pim/schemas/selfbillingmaster"
    xmlns:selmas="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:slfbillmas="http://www.coda.com/pim/schemas/selfbillingmaster"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:selfbilling="http://www.coda.com/pim/schemas/selfbilling"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:presmas="http://www.coda.com/efinance/schemas/presenter"
    xmlns:doc="http://www.coda.com/pim/schemas/document"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/selfbilling/pimselfbilling-11.1/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/selfbilling" schemaLocation="../wsdl/pim/selfbilling/selfbilling.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/logicalreceiptnote" schemaLocation="pim/logicalreceiptnote/logicalreceiptnote.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/document" schemaLocation="pim/document/document.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pim/schemas/selfbillingmaster" schemaLocation="pim/selfbillingmaster/selfbillingmaster.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RunSelfBillingRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelfBillingMaster" type="sbm:SelfBillingMaster">
                    <xsd:annotation>
                        <xsd:documentation>The self-billing master to use.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogTitle" type="pimtypes:typePimLogtitle">
                    <xsd:annotation>
                        <xsd:documentation>The title of the log file in
                            which details of the self-billing process
                            will be stored.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LogDetailLevel" type="pimtypes:typePimLogDetailLevel">
                    <xsd:annotation>
                        <xsd:documentation>The level of detail that will
                            be recorded in the log.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="InvoiceList" minOccurs="0" type="selfbilling:SelfBillingInvoiceList">
                    <xsd:annotation>
                        <xsd:documentation>Contains the list of invoices
                            that will be created by the self-billing process.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RunSelfBillingResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="RunSelfBillingResponse">
    <part name="RunSelfBillingResponse" element="selfbillingws:RunSelfBillingResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="selfbillingws:Options"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="selfbillingws:OptionsResponse"/>
  </message>
  <message name="RunSelfBillingRequest">
    <part name="RunSelfBillingRequest" element="selfbillingws:RunSelfBillingRequest"/>
  </message>
  <portType name="PIMSelfBillingServicePortTypes">
    <operation name="RunSelfBilling">
      <input message="selfbillingws:RunSelfBillingRequest"/>
      <output message="selfbillingws:RunSelfBillingResponse"/>
    </operation>
  </portType>
  <binding name="PIMSelfBillingServiceSOAPBinding" type="selfbillingws:PIMSelfBillingServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="RunSelfBilling">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMSelfBilling/RunSelfBilling" style="document"/>
      <input>
        <soap:header message="selfbillingws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="selfbillingws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMSelfBillingService">
    <port name="PIMSelfBillingServicePort" binding="selfbillingws:PIMSelfBillingServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/selfbilling/pimselfbilling-11.1"/>
    </port>
  </service>
</definitions>
