docs/Unit4 Financials HTML Documentation/wsdl/pim-post-pimpostselector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pim/schemas/post/pimpostselector-11.1/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:pimpostws="http://www.coda.com/pim/schemas/post/pimpostselector-11.1/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pre="http://www.coda.com/efinance/schemas/presenter"
    xmlns:pimpost="http://www.coda.com/pim/schemas/post"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:pimtypes="http://www.coda.com/pim/schemas/common"
    xmlns:doc="http://www.coda.com/pim/schemas/document"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pim/schemas/post/pimpostselector-11.1/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/post" schemaLocation="../wsdl/pim/post/post.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/document" schemaLocation="pim/document/document.xsd"/>
    <xsd:import namespace="http://www.coda.com/pim/schemas/common" schemaLocation="pim/common/common.xsd"/>
    <xsd:element name="SelectRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelectorMaster" type="gsl:SelectorMaster">
                    <xsd:annotation>
                        <xsd:documentation>The selector defining the
                            search criteria for documents to be posted.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PresenterMaster" type="pre:Presenter">
                    <xsd:annotation>
                        <xsd:documentation>The presenter that will be
                            used to list the documents.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="sel:Selection">
                    <xsd:annotation>
                        <xsd:documentation>The documents selected by the request.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="pimpostws:Options"/>
  </message>
  <message name="SelectResponse">
    <part name="SelectResponse" element="pimpostws:SelectResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="pimpostws:OptionsResponse"/>
  </message>
  <message name="SelectRequest">
    <part name="SelectRequest" element="pimpostws:SelectRequest"/>
  </message>
  <portType name="PIMPostSelectorServicePortTypes">
    <operation name="Select">
      <input message="pimpostws:SelectRequest"/>
      <output message="pimpostws:SelectResponse"/>
    </operation>
  </portType>
  <binding name="PIMPostSelectorServiceSOAPBinding" type="pimpostws:PIMPostSelectorServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Select">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pim/PIMPostSelector/Select" style="document"/>
      <input>
        <soap:header message="pimpostws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="pimpostws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PIMPostSelectorService">
    <port name="PIMPostSelectorServicePort" binding="pimpostws:PIMPostSelectorServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pim/post/pimpostselector-11.1"/>
    </port>
  </service>
</definitions>
