docs/Unit4 Financials HTML Documentation/wsdl/pop-contractmasterip-popcontractmasterip.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/contractmasterip/popcontractmasterip-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cmasterws="http://www.coda.com/pop/schemas/contractmasterip/popcontractmasterip-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:cmaster="http://www.coda.com/pop/schemas/contractmasterip"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/contractmasterip/popcontractmasterip-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/contractmasterip" schemaLocation="../wsdl/pop/contractmasterip/contractmasterip.xsd"/>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContractObject" type="cmaster:ContractObject">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the contract master you want to update.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContractObject" type="cmaster:ContractObjectView">
                    <xsd:annotation>
                        <xsd:documentation>The information for the
                            contract master you have updated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ViewResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContractObject" type="cmaster:ContractObjectView">
                    <xsd:annotation>
                        <xsd:documentation>The contract master you want
                            to view.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ViewRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContractObject" type="cmaster:ContractMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key that identifies the
                            contract master you want to view.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="cmasterws:UpdateRequest"/>
  </message>
  <message name="ViewResponse">
    <part name="ViewResponse" element="cmasterws:ViewResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="cmasterws:Options"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="cmasterws:UpdateResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="cmasterws:OptionsResponse"/>
  </message>
  <message name="ViewRequest">
    <part name="ViewRequest" element="cmasterws:ViewRequest"/>
  </message>
  <portType name="POPContractMasterIPServicePortTypes">
    <operation name="Update">
      <input message="cmasterws:UpdateRequest"/>
      <output message="cmasterws:UpdateResponse"/>
    </operation>
    <operation name="View">
      <input message="cmasterws:ViewRequest"/>
      <output message="cmasterws:ViewResponse"/>
    </operation>
  </portType>
  <binding name="POPContractMasterIPServiceSOAPBinding" type="cmasterws:POPContractMasterIPServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMasterIP/Update" style="document"/>
      <input>
        <soap:header message="cmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="View">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMasterIP/View" style="document"/>
      <input>
        <soap:header message="cmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="cmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPContractMasterIPService">
    <port name="POPContractMasterIPServicePort" binding="cmasterws:POPContractMasterIPServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/contractmasterip/popcontractmasterip-12.0"/>
    </port>
  </service>
</definitions>
