docs/Unit4 Financials HTML Documentation/wsdl/pop-itemhierarchy-popitemhierarchy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/itemhierarchy/popitemhierarchy-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:itemhierarchyws="http://www.coda.com/pop/schemas/itemhierarchy/popitemhierarchy-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:elmmas="http://www.coda.com/pop/schemas/elementmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:docmas="http://www.coda.com/pop/schemas/documentmaster"
    xmlns:itemhierarchy="http://www.coda.com/pop/schemas/itemhierarchy"
    xmlns:popprdgrpmas="http://www.coda.com/pop/schemas/productgroupmaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:popitem="http://www.coda.com/pop/schemas/item"
    targetNamespace="http://www.coda.com/pop/schemas/itemhierarchy/popitemhierarchy-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/productgroupmaster" schemaLocation="pop/productgroupmaster/productgroupmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/item" schemaLocation="pop/item/item.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/elementmaster" schemaLocation="pop/elementmaster/elementmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/documentmaster" schemaLocation="pop/documentmaster/documentmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/itemhierarchy" schemaLocation="../wsdl/pop/itemhierarchy/itemhierarchy.xsd"/>
    <xsd:element name="GetParentsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetParents" type="itemhierarchy:ItemEntryList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getParents function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Move" type="itemhierarchy:ItemEntryList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the move function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BatchUpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Batch" minOccurs="0"
                    maxOccurs="unbounded" type="itemhierarchy:ItemHierarchyBatchEntry">
                    <xsd:annotation>
                        <xsd:documentation>The batch is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetChildrenResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetChildren" type="itemhierarchy:ItemEntryList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getChildren function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetChildrenRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ParentHierarchyEntry" minOccurs="0" type="itemhierarchy:ItemHierarchyRelationshipKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        The entry in the hierarchy
                                whose children are being looked for.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CmpCode" minOccurs="0" type="com:typeCodeB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Optional parameter restricts
                                the search to the given company.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ParentProductGroupMaster"
                    minOccurs="0" type="popprdgrpmas:ProductGroupMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Key of the Product Group
                                Master parent.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReturnInactiveEntries" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Whether or not to include
                                inactive hierarchy entries in the
                                resultset.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentMaster" minOccurs="0" type="docmas:DocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Required parameter to restrict
                                results to what this document master
                            allows</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteItemResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DeleteItem" type="itemhierarchy:ItemEntryList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            deleteItem function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SetActiveResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SetActive" type="itemhierarchy:ItemHierarchyRelationship">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            setActive function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SetChildPositionRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HierarchyEntry" type="itemhierarchy:ItemHierarchyRelationshipKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        The entry in the hierarchy to
                                reposition.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Position" minOccurs="0" type="com:typeLongB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        The new position of the Item
                                in relation to its siblings. If zero (or
                                negative), then this item will head the
                                list. If null, it will be appended to
                                the end (and        given an appropriate
                                number). If the specified position is
                                already occupied then it will be
                                inserted at that position.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetParentsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HierarchyEntry" minOccurs="0" type="itemhierarchy:ItemHierarchyRelationshipKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        The entry in the hierarchy
                                whose parent is being looked for.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Item" minOccurs="0" type="popitem:ItemKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        The entry in the hierarchy
                                whose parent is being looked for.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ProductGroupMaster" minOccurs="0" type="popprdgrpmas:ProductGroupMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        The entry in the hierarchy
                                whose parent is being looked for.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReturnInactiveEntries" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Whether or not to include
                                inactive hierarchy entries in the
                                resultset.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddItemResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AddItem" type="itemhierarchy:ItemEntryList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            addItem function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HierarchyEntry" type="itemhierarchy:ItemHierarchyRelationshipKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        The entry in the hierarchy to
                                move.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ParentRelationship" minOccurs="0" type="itemhierarchy:ItemHierarchyRelationshipKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Key of the
                                ItemHierarchyRelationship which will
                                adopt the child. This relationship must
                                represent a ProductGroupMaster child. If
                                this and the
                                &apos;parentProductGroupMaster&apos; is
                                null then the Item is added at the top
                                level in the hierarchy. This takes
                                precedence over
                                &apos;parentProductGroupMaster&apos;
                                if values for both are supplied.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ParentProductGroupMaster"
                    minOccurs="0" type="popprdgrpmas:ProductGroupMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Key of the Product Group
                                Master which will adopt the child. If
                                this and the
                                &apos;parentRelationship&apos; is null
                                then Item is added at the top level in
                                the hierarchy.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Position" minOccurs="0" type="com:typeULongB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        The position of the entry in
                                relation to its siblings. If zero (or
                                negative), then this item will head the
                                list. If null, it will be appended to
                                the end (and        given an appropriate
                                number). If the specified position is
                                already occupied then it will be
                                inserted at that position.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SetChildPositionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SetChildPosition" type="itemhierarchy:ItemEntryList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            setChildPosition function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SetActiveRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HierarchyEntry" type="itemhierarchy:ItemHierarchyRelationshipKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        The entry in the hierarchy to
                                set active or inactive.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Active" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        New state of the
                                &apos;active&apos; flag.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddItemRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Item" type="popitem:ItemKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Key of the Item to add to the
                                hierarchy.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ParentProductGroupMaster"
                    minOccurs="0" type="popprdgrpmas:ProductGroupMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Key of the Product Group
                                Master which will adopt the child. If
                                this is null then the Item is added at
                                the top level in the hierarchy.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Position" type="com:typeULong">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        The position of the new Item
                                in relation to its siblings. If zero (or
                                negative), then this item will head the
                                list. If greater than the number of
                                items in the list, it will be
                                appended to the end (and given a new
                                appropriate number). If the specified
                                position is already occupied then it
                                will be inserted at that position.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetFilteredChildrenResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetFilteredChildren" type="itemhierarchy:ItemEntryList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getFilteredChildren function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetFilteredChildrenRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ParentHierarchyEntry" minOccurs="0" type="itemhierarchy:ItemHierarchyRelationshipKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        The entry in the hierarchy
                                whose children are being looked for.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CmpCode" minOccurs="0" type="com:typeCodeB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Optional parameter restricts
                                the search to the given company.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ParentProductGroupMaster"
                    minOccurs="0" type="popprdgrpmas:ProductGroupMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Key of the Product Group
                                Master parent.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReturnInactiveEntries" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Whether or not to include
                                inactive hierarchy entries in the
                                resultset.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="IgnoreSupplierOverride" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        If true only bring back those
                                items where supplier is in item&apos;s
                                supplier list, ignoring flag on item
                                that allows listed suppliers to be
                                overridden.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentMaster" minOccurs="0" type="docmas:DocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Required parameter to restrict
                                results to what this document master
                            allows</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Restriction" minOccurs="0" type="poptypes:typePopRestrictions">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>Required parameter to restrict
                                results to what this document master
                            allows</p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Supplier" minOccurs="0" type="elmmas:ElementMasterKey">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BatchUpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BatchList" type="itemhierarchy:POPItemHierarchyBatchUpdateBatchList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Key of the Item to add to the
                                hierarchy.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteItemRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="HierarchyEntry" minOccurs="0" type="itemhierarchy:ItemHierarchyRelationshipKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>        Key of the
                                ItemHierarchyRelationship to delete.
                                This relationship must represent an Item
                                child.       </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteItemResponse">
    <part name="DeleteItemResponse" element="itemhierarchyws:DeleteItemResponse"/>
  </message>
  <message name="SetActiveRequest">
    <part name="SetActiveRequest" element="itemhierarchyws:SetActiveRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="itemhierarchyws:OptionsResponse"/>
  </message>
  <message name="SetChildPositionRequest">
    <part name="SetChildPositionRequest" element="itemhierarchyws:SetChildPositionRequest"/>
  </message>
  <message name="MoveResponse">
    <part name="MoveResponse" element="itemhierarchyws:MoveResponse"/>
  </message>
  <message name="BatchUpdateResponse">
    <part name="BatchUpdateResponse" element="itemhierarchyws:BatchUpdateResponse"/>
  </message>
  <message name="GetChildrenResponse">
    <part name="GetChildrenResponse" element="itemhierarchyws:GetChildrenResponse"/>
  </message>
  <message name="AddItemRequest">
    <part name="AddItemRequest" element="itemhierarchyws:AddItemRequest"/>
  </message>
  <message name="MoveRequest">
    <part name="MoveRequest" element="itemhierarchyws:MoveRequest"/>
  </message>
  <message name="SetChildPositionResponse">
    <part name="SetChildPositionResponse" element="itemhierarchyws:SetChildPositionResponse"/>
  </message>
  <message name="GetFilteredChildrenResponse">
    <part name="GetFilteredChildrenResponse" element="itemhierarchyws:GetFilteredChildrenResponse"/>
  </message>
  <message name="SetActiveResponse">
    <part name="SetActiveResponse" element="itemhierarchyws:SetActiveResponse"/>
  </message>
  <message name="AddItemResponse">
    <part name="AddItemResponse" element="itemhierarchyws:AddItemResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="itemhierarchyws:Options"/>
  </message>
  <message name="GetChildrenRequest">
    <part name="GetChildrenRequest" element="itemhierarchyws:GetChildrenRequest"/>
  </message>
  <message name="GetParentsRequest">
    <part name="GetParentsRequest" element="itemhierarchyws:GetParentsRequest"/>
  </message>
  <message name="GetParentsResponse">
    <part name="GetParentsResponse" element="itemhierarchyws:GetParentsResponse"/>
  </message>
  <message name="GetFilteredChildrenRequest">
    <part name="GetFilteredChildrenRequest" element="itemhierarchyws:GetFilteredChildrenRequest"/>
  </message>
  <message name="BatchUpdateRequest">
    <part name="BatchUpdateRequest" element="itemhierarchyws:BatchUpdateRequest"/>
  </message>
  <message name="DeleteItemRequest">
    <part name="DeleteItemRequest" element="itemhierarchyws:DeleteItemRequest"/>
  </message>
  <portType name="POPItemHierarchyServicePortTypes">
    <operation name="SetChildPosition">
      <input message="itemhierarchyws:SetChildPositionRequest"/>
      <output message="itemhierarchyws:SetChildPositionResponse"/>
    </operation>
    <operation name="DeleteItem">
      <input message="itemhierarchyws:DeleteItemRequest"/>
      <output message="itemhierarchyws:DeleteItemResponse"/>
    </operation>
    <operation name="Move">
      <input message="itemhierarchyws:MoveRequest"/>
      <output message="itemhierarchyws:MoveResponse"/>
    </operation>
    <operation name="SetActive">
      <input message="itemhierarchyws:SetActiveRequest"/>
      <output message="itemhierarchyws:SetActiveResponse"/>
    </operation>
    <operation name="GetParents">
      <input message="itemhierarchyws:GetParentsRequest"/>
      <output message="itemhierarchyws:GetParentsResponse"/>
    </operation>
    <operation name="AddItem">
      <input message="itemhierarchyws:AddItemRequest"/>
      <output message="itemhierarchyws:AddItemResponse"/>
    </operation>
    <operation name="GetChildren">
      <input message="itemhierarchyws:GetChildrenRequest"/>
      <output message="itemhierarchyws:GetChildrenResponse"/>
    </operation>
    <operation name="GetFilteredChildren">
      <input message="itemhierarchyws:GetFilteredChildrenRequest"/>
      <output message="itemhierarchyws:GetFilteredChildrenResponse"/>
    </operation>
    <operation name="BatchUpdate">
      <input message="itemhierarchyws:BatchUpdateRequest"/>
      <output message="itemhierarchyws:BatchUpdateResponse"/>
    </operation>
  </portType>
  <binding name="POPItemHierarchyServiceSOAPBinding" type="itemhierarchyws:POPItemHierarchyServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SetChildPosition">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItemHierarchy/SetChildPosition" style="document"/>
      <input>
        <soap:header message="itemhierarchyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itemhierarchyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteItem">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItemHierarchy/DeleteItem" style="document"/>
      <input>
        <soap:header message="itemhierarchyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itemhierarchyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Move">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItemHierarchy/Move" style="document"/>
      <input>
        <soap:header message="itemhierarchyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itemhierarchyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SetActive">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItemHierarchy/SetActive" style="document"/>
      <input>
        <soap:header message="itemhierarchyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itemhierarchyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetParents">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItemHierarchy/GetParents" style="document"/>
      <input>
        <soap:header message="itemhierarchyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itemhierarchyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddItem">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItemHierarchy/AddItem" style="document"/>
      <input>
        <soap:header message="itemhierarchyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itemhierarchyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetChildren">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItemHierarchy/GetChildren" style="document"/>
      <input>
        <soap:header message="itemhierarchyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itemhierarchyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetFilteredChildren">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItemHierarchy/GetFilteredChildren" style="document"/>
      <input>
        <soap:header message="itemhierarchyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itemhierarchyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="BatchUpdate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItemHierarchy/BatchUpdate" style="document"/>
      <input>
        <soap:header message="itemhierarchyws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="itemhierarchyws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPItemHierarchyService">
    <port name="POPItemHierarchyServicePort" binding="itemhierarchyws:POPItemHierarchyServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/itemhierarchy/popitemhierarchy-12.0"/>
    </port>
  </service>
</definitions>
