docs/Unit4 Financials HTML Documentation/wsdl/pop-processmaster-popgeneratemetadata.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/processmaster/popgeneratemetadata-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:processmasterws="http://www.coda.com/pop/schemas/processmaster/popgeneratemetadata-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:sel="http://www.coda.com/pop/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:docmas="http://www.coda.com/pop/schemas/documentmaster"
    xmlns:pres="http://www.coda.com/pop/schemas/presenter"
    xmlns:inputtemplatemaster="http://www.coda.com/pop/schemas/inputtemplatemaster"
    xmlns:processmaster="http://www.coda.com/pop/schemas/processmaster"
    xmlns:odm="http://www.coda.com/common/schemas/outputdevice"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/processmaster/popgeneratemetadata-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/processmaster" schemaLocation="../wsdl/pop/processmaster/processmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/presenter" schemaLocation="pop/presenter/presenter.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/documentmaster" schemaLocation="pop/documentmaster/documentmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/inputtemplatemaster" schemaLocation="pop/inputtemplatemaster/inputtemplatemaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/outputdevice" schemaLocation="common/outputdevice/outputdevice.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/selector" schemaLocation="pop/selector/selector.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GenerateMetadataResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenerateMetadata" type="processmaster:GenerateMetadata">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the selector and persenter masters you have generated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GenerateMetadataRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenerateMetadata" type="processmaster:GenerateMetadata">
                    <xsd:annotation>
                        <xsd:documentation>Contains the information for
                            the selector and persenter masters you want
                            to generate.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="processmasterws:Options"/>
  </message>
  <message name="GenerateMetadataResponse">
    <part name="GenerateMetadataResponse" element="processmasterws:GenerateMetadataResponse"/>
  </message>
  <message name="GenerateMetadataRequest">
    <part name="GenerateMetadataRequest" element="processmasterws:GenerateMetadataRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="processmasterws:OptionsResponse"/>
  </message>
  <portType name="POPGenerateMetadataServicePortTypes">
    <operation name="GenerateMetadata">
      <input message="processmasterws:GenerateMetadataRequest"/>
      <output message="processmasterws:GenerateMetadataResponse"/>
    </operation>
  </portType>
  <binding name="POPGenerateMetadataServiceSOAPBinding" type="processmasterws:POPGenerateMetadataServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GenerateMetadata">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPGenerateMetadata/GenerateMetadata" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPGenerateMetadataService">
    <port name="POPGenerateMetadataServicePort" binding="processmasterws:POPGenerateMetadataServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/processmaster/popgeneratemetadata-1.0"/>
    </port>
  </service>
</definitions>
