docs/Unit4 Financials HTML Documentation/wsdl/pop-browse-popbrowseselector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/browse/popbrowseselector-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:popbrowsews="http://www.coda.com/pop/schemas/browse/popbrowseselector-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:popcom="http://www.coda.com/pop/schemas/common"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:popbrowse="http://www.coda.com/pop/schemas/browse"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:selmas="http://www.coda.com/efinance/schemas/selectormaster"
    targetNamespace="http://www.coda.com/pop/schemas/browse/popbrowseselector-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/browse" schemaLocation="../wsdl/pop/browse/browse.xsd"/>
    <xsd:element name="SelectRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelectionType" type="gsl:SelectorType">
                    <xsd:annotation>
                        <xsd:documentation>Specifies the source of the
                            data from which the selection is made.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Filter" type="gsl:VocListData">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria to be
                            applied when selecting the data.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Columns" type="sel:CellList">
                    <xsd:annotation>
                        <xsd:documentation>The columns representing
                            vocabulary items that you want the server to return.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="sel:Selection">
                    <xsd:annotation>
                        <xsd:documentation>The selected data returned to
                            you for browsing.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="popbrowsews:Options"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="popbrowsews:OptionsResponse"/>
  </message>
  <message name="SelectRequest">
    <part name="SelectRequest" element="popbrowsews:SelectRequest"/>
  </message>
  <message name="SelectResponse">
    <part name="SelectResponse" element="popbrowsews:SelectResponse"/>
  </message>
  <portType name="POPBrowseSelectorServicePortTypes">
    <operation name="Select">
      <input message="popbrowsews:SelectRequest"/>
      <output message="popbrowsews:SelectResponse"/>
    </operation>
  </portType>
  <binding name="POPBrowseSelectorServiceSOAPBinding" type="popbrowsews:POPBrowseSelectorServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Select">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPBrowseSelector/Select" style="document"/>
      <input>
        <soap:header message="popbrowsews:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popbrowsews:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPBrowseSelectorService">
    <port name="POPBrowseSelectorServicePort" binding="popbrowsews:POPBrowseSelectorServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/browse/popbrowseselector-1.0"/>
    </port>
  </service>
</definitions>
