docs/Unit4 Financials HTML Documentation/wsdl/pop-workflow-popworkflow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/workflow/popworkflow-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:workflowws="http://www.coda.com/pop/schemas/workflow/popworkflow-12.0/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:doc="http://www.coda.com/pop/schemas/document"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:workflow="http://www.coda.com/pop/schemas/workflow"
    targetNamespace="http://www.coda.com/pop/schemas/workflow/popworkflow-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/workflow" schemaLocation="../wsdl/pop/workflow/workflow.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/document" schemaLocation="pop/document/document.xsd"/>
    <xsd:element name="UpdateCommentResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateCommentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Document" type="doc:DocumentKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The document to update. Must
                                be a Purchase Order or Requisition.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Comment" type="com:typeTextB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The new comment. Will
                                overwrite previous comments.      </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UpdateCommentRequest">
    <part name="UpdateCommentRequest" element="workflowws:UpdateCommentRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="workflowws:Options"/>
  </message>
  <message name="UpdateCommentResponse">
    <part name="UpdateCommentResponse" element="workflowws:UpdateCommentResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="workflowws:OptionsResponse"/>
  </message>
  <portType name="POPWorkflowServicePortTypes">
    <operation name="UpdateComment">
      <input message="workflowws:UpdateCommentRequest"/>
      <output message="workflowws:UpdateCommentResponse"/>
    </operation>
  </portType>
  <binding name="POPWorkflowServiceSOAPBinding" type="workflowws:POPWorkflowServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateComment">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPWorkflow/UpdateComment" style="document"/>
      <input>
        <soap:header message="workflowws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="workflowws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPWorkflowService">
    <port name="POPWorkflowServicePort" binding="workflowws:POPWorkflowServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/workflow/popworkflow-12.0"/>
    </port>
  </service>
</definitions>
