docs/Unit4 Financials HTML Documentation/wsdl/pop-presenter-poppresenter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/presenter/poppresenter-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:presws="http://www.coda.com/pop/schemas/presenter/poppresenter-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:popcom="http://www.coda.com/pop/schemas/common"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pre="http://www.coda.com/efinance/schemas/presenter"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:pres="http://www.coda.com/pop/schemas/presenter"
    targetNamespace="http://www.coda.com/pop/schemas/presenter/poppresenter-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pop/schemas/presenter" schemaLocation="../wsdl/pop/presenter/presenter.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="pre:PresenterListFilter">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            presenter masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocType" type="popcom:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>The type of document to which
                            the presenter relates.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LineLevel" type="xsd:boolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>Selects presenters based on
                            document lines.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="HeaderLevel" type="xsd:boolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>Selects presenters based on
                            document headers.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="pre:PresenterListFilter">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the presenter masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed presenter masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="presws:Options"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="presws:ListRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="presws:ListResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="presws:OptionsResponse"/>
  </message>
  <portType name="POPPresenterServicePortTypes">
    <operation name="List">
      <input message="presws:ListRequest"/>
      <output message="presws:ListResponse"/>
    </operation>
  </portType>
  <binding name="POPPresenterServiceSOAPBinding" type="presws:POPPresenterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPresenter/List" style="document"/>
      <input>
        <soap:header message="presws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="presws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPPresenterService">
    <port name="POPPresenterServicePort" binding="presws:POPPresenterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/presenter/poppresenter-1.0"/>
    </port>
  </service>
</definitions>
