docs/Unit4 Financials HTML Documentation/wsdl/pop-item-popitem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/item/popitem-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:popitemws="http://www.coda.com/pop/schemas/item/popitem-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:elmmas="http://www.coda.com/pop/schemas/elementmaster"
    xmlns:acmask="http://www.coda.com/pop/schemas/accountmask"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:docmas="http://www.coda.com/pop/schemas/documentmaster"
    xmlns:contractmastersvc="http://www.coda.com/pop/schemas/contractmaster"
    xmlns:buy="http://www.coda.com/pop/schemas/buyer"
    xmlns:atc="http://www.coda.com/common/schemas/attachment"
    xmlns:usr="http://www.coda.com/pop/schemas/user"
    xmlns:comment="http://www.coda.com/pop/schemas/comment"
    xmlns:taxmas="http://www.coda.com/pop/schemas/taxmaster"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:doc="http://www.coda.com/pop/schemas/document"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:popitem="http://www.coda.com/pop/schemas/item"
    xmlns:curr="http://www.coda.com/pop/schemas/currency"
    targetNamespace="http://www.coda.com/pop/schemas/item/popitem-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/attachment" schemaLocation="common/attachment/attachment.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/item" schemaLocation="../wsdl/pop/item/item.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/buyer" schemaLocation="pop/buyer/buyer.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/document" schemaLocation="pop/document/document.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/currency" schemaLocation="pop/currency/currency.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/comment" schemaLocation="pop/comment/comment.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/taxmaster" schemaLocation="pop/taxmaster/taxmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/accountmask" schemaLocation="pop/accountmask/accountmask.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/contractmaster" schemaLocation="pop/contractmaster/contractmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/user" schemaLocation="pop/user/user.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/documentmaster" schemaLocation="pop/documentmaster/documentmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/elementmaster" schemaLocation="pop/elementmaster/elementmaster.xsd"/>
    <xsd:element name="FindSummariesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FindSummaries" type="popitem:ItemSummaries">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            findSummaries function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Item" type="popitem:Item">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetSummaryRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Item" type="popitem:ItemKey">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the Item objects that the
                            user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="Item" type="popitem:Item">
                    <xsd:annotation>
                        <xsd:documentation>The whole Item object that is
                            to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the Item objects that the
                            user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetKitSummariesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="KitItem" type="popitem:ItemKey">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPriceRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Item" type="popitem:ItemKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Supplier" minOccurs="0" type="elmmas:ElementMasterKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Currency" minOccurs="0" type="curr:CurrencyKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Quantity" minOccurs="0" type="com:typeNumberb">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPriceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetPrice" type="popitem:ItemPriceData">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getPrice function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemCheckResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemCheck" type="popitem:ItemValidationList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            itemCheck function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemCheckRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemCode" minOccurs="0" type="poptypes:typePopItemcodeb">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="SupplierCode" minOccurs="0" type="com:typeElmCodeB">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="SupplierElmLevel" minOccurs="0" type="com:typeElmLevelB">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="SupplierReference" minOccurs="0" type="poptypes:typePopItemcodeb">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetItemPriceAuditRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Item" type="popitem:ItemKey">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetItemPriceAuditResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetItemPriceAudit" type="popitem:ItemPriceAudit">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getItemPriceAudit function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Item" type="popitem:Item">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Item" type="popitem:Item">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StorePunchoutItemRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PunchoutItem" type="popitem:PunchoutItem">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="TemplateItem" type="popitem:ItemKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Supplier" type="elmmas:ElementMasterKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ItemElement" minOccurs="0" type="elmmas:ElementMasterKey">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemKey" type="popitem:ItemKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Item object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StorePunchoutItemResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StorePunchoutItem" type="popitem:Item">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            storePunchoutItem function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPricesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Supplier" minOccurs="0" type="elmmas:ElementMasterKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Currency" minOccurs="0" type="curr:CurrencyKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ItemsList" type="popitem:POPItemGetPricesItemsList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindTypeAheadRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SearchTerm" minOccurs="0" type="com:typeTextWild">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ActiveOnly" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="NonKitOnly" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetSummaryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetSummary" type="popitem:ItemSummary">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getSummary function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindSummariesTextSearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FindSummariesTextSearch" type="popitem:ItemSummaries">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            findSummariesTextSearch function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemInfoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemInfo" type="popitem:OrderItemDetails">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            itemInfo function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemList" type="popitem:ItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPricesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Prices" maxOccurs="unbounded" type="popitem:ItemPriceData">
                    <xsd:annotation>
                        <xsd:documentation>The prices is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemInfoRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemKey" type="popitem:ItemKey">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemItemList" type="popitem:ItemItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemKey" type="popitem:ItemKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Item object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindTypeAheadResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemTypeAheadItem" minOccurs="0"
                    maxOccurs="unbounded" type="popitem:ItemTypeAheadItem">
                    <xsd:annotation>
                        <xsd:documentation>The ItemTypeAheadItem is an
                            out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllPricesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Item" type="popitem:ItemKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Currency" minOccurs="0" type="curr:CurrencyKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Quantity" minOccurs="0" type="com:typeNumberb">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetKitSummariesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetKitSummaries" type="popitem:ItemSummaries">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getKitSummaries function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllPricesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Prices" maxOccurs="unbounded" type="popitem:ItemPriceData">
                    <xsd:annotation>
                        <xsd:documentation>The prices is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindSummariesTextSearchRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Text" type="com:typeDescriptionf">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Limit" minOccurs="0" type="com:typeNumberb">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Filter" type="popitem:FindSummariesFilter">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindSummariesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="popitem:FindSummariesFilter">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="Item" type="popitem:Item">
                    <xsd:annotation>
                        <xsd:documentation>The whole Item object that is
                            to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="popitemws:DeleteRequest"/>
  </message>
  <message name="ItemCheckResponse">
    <part name="ItemCheckResponse" element="popitemws:ItemCheckResponse"/>
  </message>
  <message name="GetSummaryRequest">
    <part name="GetSummaryRequest" element="popitemws:GetSummaryRequest"/>
  </message>
  <message name="GetAllPricesRequest">
    <part name="GetAllPricesRequest" element="popitemws:GetAllPricesRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="popitemws:FindRequest"/>
  </message>
  <message name="GetPricesRequest">
    <part name="GetPricesRequest" element="popitemws:GetPricesRequest"/>
  </message>
  <message name="StorePunchoutItemResponse">
    <part name="StorePunchoutItemResponse" element="popitemws:StorePunchoutItemResponse"/>
  </message>
  <message name="GetSummaryResponse">
    <part name="GetSummaryResponse" element="popitemws:GetSummaryResponse"/>
  </message>
  <message name="GetKitSummariesRequest">
    <part name="GetKitSummariesRequest" element="popitemws:GetKitSummariesRequest"/>
  </message>
  <message name="ItemCheckRequest">
    <part name="ItemCheckRequest" element="popitemws:ItemCheckRequest"/>
  </message>
  <message name="FindTypeAheadResponse">
    <part name="FindTypeAheadResponse" element="popitemws:FindTypeAheadResponse"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="popitemws:DeleteResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="popitemws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="popitemws:AddResponse"/>
  </message>
  <message name="GetKitSummariesResponse">
    <part name="GetKitSummariesResponse" element="popitemws:GetKitSummariesResponse"/>
  </message>
  <message name="StorePunchoutItemRequest">
    <part name="StorePunchoutItemRequest" element="popitemws:StorePunchoutItemRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="popitemws:UpdateRequest"/>
  </message>
  <message name="GetItemPriceAuditRequest">
    <part name="GetItemPriceAuditRequest" element="popitemws:GetItemPriceAuditRequest"/>
  </message>
  <message name="GetAllPricesResponse">
    <part name="GetAllPricesResponse" element="popitemws:GetAllPricesResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="popitemws:ListRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="popitemws:OptionsResponse"/>
  </message>
  <message name="ItemInfoResponse">
    <part name="ItemInfoResponse" element="popitemws:ItemInfoResponse"/>
  </message>
  <message name="FindSummariesTextSearchResponse">
    <part name="FindSummariesTextSearchResponse" element="popitemws:FindSummariesTextSearchResponse"/>
  </message>
  <message name="FindSummariesResponse">
    <part name="FindSummariesResponse" element="popitemws:FindSummariesResponse"/>
  </message>
  <message name="GetPriceRequest">
    <part name="GetPriceRequest" element="popitemws:GetPriceRequest"/>
  </message>
  <message name="GetPricesResponse">
    <part name="GetPricesResponse" element="popitemws:GetPricesResponse"/>
  </message>
  <message name="ItemInfoRequest">
    <part name="ItemInfoRequest" element="popitemws:ItemInfoRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="popitemws:GetRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="popitemws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="popitemws:AddRequest"/>
  </message>
  <message name="FindSummariesTextSearchRequest">
    <part name="FindSummariesTextSearchRequest" element="popitemws:FindSummariesTextSearchRequest"/>
  </message>
  <message name="FindSummariesRequest">
    <part name="FindSummariesRequest" element="popitemws:FindSummariesRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="popitemws:ListResponse"/>
  </message>
  <message name="GetItemPriceAuditResponse">
    <part name="GetItemPriceAuditResponse" element="popitemws:GetItemPriceAuditResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="popitemws:Options"/>
  </message>
  <message name="FindTypeAheadRequest">
    <part name="FindTypeAheadRequest" element="popitemws:FindTypeAheadRequest"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="popitemws:FindResponse"/>
  </message>
  <message name="GetPriceResponse">
    <part name="GetPriceResponse" element="popitemws:GetPriceResponse"/>
  </message>
  <portType name="POPItemServicePortTypes">
    <operation name="Add">
      <input message="popitemws:AddRequest"/>
      <output message="popitemws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="popitemws:DeleteRequest"/>
      <output message="popitemws:DeleteResponse"/>
    </operation>
    <operation name="FindSummariesTextSearch">
      <input message="popitemws:FindSummariesTextSearchRequest"/>
      <output message="popitemws:FindSummariesTextSearchResponse"/>
    </operation>
    <operation name="GetKitSummaries">
      <input message="popitemws:GetKitSummariesRequest"/>
      <output message="popitemws:GetKitSummariesResponse"/>
    </operation>
    <operation name="GetPrice">
      <input message="popitemws:GetPriceRequest"/>
      <output message="popitemws:GetPriceResponse"/>
    </operation>
    <operation name="GetItemPriceAudit">
      <input message="popitemws:GetItemPriceAuditRequest"/>
      <output message="popitemws:GetItemPriceAuditResponse"/>
    </operation>
    <operation name="ItemInfo">
      <input message="popitemws:ItemInfoRequest"/>
      <output message="popitemws:ItemInfoResponse"/>
    </operation>
    <operation name="Update">
      <input message="popitemws:UpdateRequest"/>
      <output message="popitemws:UpdateResponse"/>
    </operation>
    <operation name="FindTypeAhead">
      <input message="popitemws:FindTypeAheadRequest"/>
      <output message="popitemws:FindTypeAheadResponse"/>
    </operation>
    <operation name="GetSummary">
      <input message="popitemws:GetSummaryRequest"/>
      <output message="popitemws:GetSummaryResponse"/>
    </operation>
    <operation name="Get">
      <input message="popitemws:GetRequest"/>
      <output message="popitemws:GetResponse"/>
    </operation>
    <operation name="GetAllPrices">
      <input message="popitemws:GetAllPricesRequest"/>
      <output message="popitemws:GetAllPricesResponse"/>
    </operation>
    <operation name="ItemCheck">
      <input message="popitemws:ItemCheckRequest"/>
      <output message="popitemws:ItemCheckResponse"/>
    </operation>
    <operation name="Find">
      <input message="popitemws:FindRequest"/>
      <output message="popitemws:FindResponse"/>
    </operation>
    <operation name="FindSummaries">
      <input message="popitemws:FindSummariesRequest"/>
      <output message="popitemws:FindSummariesResponse"/>
    </operation>
    <operation name="StorePunchoutItem">
      <input message="popitemws:StorePunchoutItemRequest"/>
      <output message="popitemws:StorePunchoutItemResponse"/>
    </operation>
    <operation name="List">
      <input message="popitemws:ListRequest"/>
      <output message="popitemws:ListResponse"/>
    </operation>
    <operation name="GetPrices">
      <input message="popitemws:GetPricesRequest"/>
      <output message="popitemws:GetPricesResponse"/>
    </operation>
  </portType>
  <binding name="POPItemServiceSOAPBinding" type="popitemws:POPItemServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/Add" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/Delete" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FindSummariesTextSearch">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/FindSummariesTextSearch" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetKitSummaries">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/GetKitSummaries" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetPrice">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/GetPrice" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetItemPriceAudit">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/GetItemPriceAudit" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ItemInfo">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/ItemInfo" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/Update" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FindTypeAhead">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/FindTypeAhead" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetSummary">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/GetSummary" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/Get" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetAllPrices">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/GetAllPrices" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ItemCheck">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/ItemCheck" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/Find" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FindSummaries">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/FindSummaries" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StorePunchoutItem">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/StorePunchoutItem" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/List" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetPrices">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPItem/GetPrices" style="document"/>
      <input>
        <soap:header message="popitemws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popitemws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPItemService">
    <port name="POPItemServicePort" binding="popitemws:POPItemServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/item/popitem-12.0"/>
    </port>
  </service>
</definitions>
