docs/Unit4 Financials HTML Documentation/wsdl/pop-association-popassociation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/association/popassociation-11.2/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:assws="http://www.coda.com/pop/schemas/association/popassociation-11.2/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:ass="http://www.coda.com/pop/schemas/association"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:doc="http://www.coda.com/pop/schemas/document"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/association/popassociation-11.2/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pop/schemas/association" schemaLocation="../wsdl/pop/association/association.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/document" schemaLocation="pop/document/document.xsd"/>
    <xsd:element name="AssociatedDocumentsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Document" type="doc:DocumentKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The key that identifies the
                                current document.      </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocType" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The document type of the
                                current document.      </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RequiredDocType" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The document type of the
                                required associated documents.      </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssociationTreeRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Document" type="doc:DocumentKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The key that identifies the
                                associated document.      </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocType" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>       The type of the associated
                                document.      </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssociatedDocumentsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Associations" minOccurs="0"
                    maxOccurs="unbounded" type="ass:Association">
                    <xsd:annotation>
                        <xsd:documentation>The associations is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssociationTreeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Root" type="ass:AssociationTreeNode">
                    <xsd:annotation>
                        <xsd:documentation>The root is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="assws:Options"/>
  </message>
  <message name="AssociatedDocumentsRequest">
    <part name="AssociatedDocumentsRequest" element="assws:AssociatedDocumentsRequest"/>
  </message>
  <message name="AssociationTreeRequest">
    <part name="AssociationTreeRequest" element="assws:AssociationTreeRequest"/>
  </message>
  <message name="AssociatedDocumentsResponse">
    <part name="AssociatedDocumentsResponse" element="assws:AssociatedDocumentsResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="assws:OptionsResponse"/>
  </message>
  <message name="AssociationTreeResponse">
    <part name="AssociationTreeResponse" element="assws:AssociationTreeResponse"/>
  </message>
  <portType name="POPAssociationServicePortTypes">
    <operation name="AssociationTree">
      <input message="assws:AssociationTreeRequest"/>
      <output message="assws:AssociationTreeResponse"/>
    </operation>
    <operation name="AssociatedDocuments">
      <input message="assws:AssociatedDocumentsRequest"/>
      <output message="assws:AssociatedDocumentsResponse"/>
    </operation>
  </portType>
  <binding name="POPAssociationServiceSOAPBinding" type="assws:POPAssociationServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AssociationTree">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPAssociation/AssociationTree" style="document"/>
      <input>
        <soap:header message="assws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="assws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AssociatedDocuments">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPAssociation/AssociatedDocuments" style="document"/>
      <input>
        <soap:header message="assws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="assws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPAssociationService">
    <port name="POPAssociationServicePort" binding="assws:POPAssociationServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/association/popassociation-11.2"/>
    </port>
  </service>
</definitions>
