docs/Unit4 Financials HTML Documentation/wsdl/pop-udfmaster-popudfmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/udfmaster/popudfmaster-11.3/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:popudfsvcws="http://www.coda.com/pop/schemas/udfmaster/popudfmaster-11.3/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:docmas="http://www.coda.com/pop/schemas/documentmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:udf="http://www.coda.com/common/schemas/udfmaster"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:cmp="http://www.coda.com/pop/schemas/company"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:popudfsvc="http://www.coda.com/pop/schemas/udfmaster"
    targetNamespace="http://www.coda.com/pop/schemas/udfmaster/popudfmaster-11.3/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pop/schemas/company" schemaLocation="pop/company/company.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/documentmaster" schemaLocation="pop/documentmaster/documentmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/udfmaster" schemaLocation="../wsdl/pop/udfmaster/udfmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/udfmaster" schemaLocation="common/udfmaster/udfmaster.xsd"/>
    <xsd:element name="UpdateUDFMastersRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckMasterInUseRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Master" type="udf:UDFMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>The document to update.</p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateUDFMastersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UpdateUDFMasters" type="popudfsvc:UDFMasterObjects">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            updateUDFMasters function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckMasterInUseResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CompanyKey" minOccurs="0"
                    maxOccurs="unbounded" type="cmp:CompanyKey">
                    <xsd:annotation>
                        <xsd:documentation>The company is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentMasterKey" minOccurs="0"
                    maxOccurs="unbounded" type="docmas:DocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The documentMaster is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="CheckMasterInUseRequest">
    <part name="CheckMasterInUseRequest" element="popudfsvcws:CheckMasterInUseRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="popudfsvcws:OptionsResponse"/>
  </message>
  <message name="UpdateUDFMastersResponse">
    <part name="UpdateUDFMastersResponse" element="popudfsvcws:UpdateUDFMastersResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="popudfsvcws:Options"/>
  </message>
  <message name="UpdateUDFMastersRequest">
    <part name="UpdateUDFMastersRequest" element="popudfsvcws:UpdateUDFMastersRequest"/>
  </message>
  <message name="CheckMasterInUseResponse">
    <part name="CheckMasterInUseResponse" element="popudfsvcws:CheckMasterInUseResponse"/>
  </message>
  <portType name="POPUDFMasterServicePortTypes">
    <operation name="UpdateUDFMasters">
      <input message="popudfsvcws:UpdateUDFMastersRequest"/>
      <output message="popudfsvcws:UpdateUDFMastersResponse"/>
    </operation>
    <operation name="CheckMasterInUse">
      <input message="popudfsvcws:CheckMasterInUseRequest"/>
      <output message="popudfsvcws:CheckMasterInUseResponse"/>
    </operation>
  </portType>
  <binding name="POPUDFMasterServiceSOAPBinding" type="popudfsvcws:POPUDFMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateUDFMasters">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPUDFMaster/UpdateUDFMasters" style="document"/>
      <input>
        <soap:header message="popudfsvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popudfsvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CheckMasterInUse">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPUDFMaster/CheckMasterInUse" style="document"/>
      <input>
        <soap:header message="popudfsvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popudfsvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPUDFMasterService">
    <port name="POPUDFMasterServicePort" binding="popudfsvcws:POPUDFMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/udfmaster/popudfmaster-11.3"/>
    </port>
  </service>
</definitions>
