docs/Unit4 Financials HTML Documentation/wsdl/pop-financialsbalancemaster-popfinancialsbalancemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/financialsbalancemaster/popfinancialsbalancemaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:finbalmasws="http://www.coda.com/pop/schemas/financialsbalancemaster/popfinancialsbalancemaster-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:finbalmas="http://www.coda.com/pop/schemas/financialsbalancemaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/financialsbalancemaster/popfinancialsbalancemaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/financialsbalancemaster" schemaLocation="../wsdl/pop/financialsbalancemaster/financialsbalancemaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the FinancialsBalanceMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the FinancialsBalanceMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FinancialsBalanceMasterList" type="finbalmas:FinancialsBalanceMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FinancialsBalanceMasterItemList" type="finbalmas:FinancialsBalanceMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="ListRequest">
    <part name="ListRequest" element="finbalmasws:ListRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="finbalmasws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="finbalmasws:FindResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="finbalmasws:ListResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="finbalmasws:FindRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="finbalmasws:OptionsResponse"/>
  </message>
  <portType name="POPFinancialsBalanceMasterServicePortTypes">
    <operation name="Find">
      <input message="finbalmasws:FindRequest"/>
      <output message="finbalmasws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="finbalmasws:ListRequest"/>
      <output message="finbalmasws:ListResponse"/>
    </operation>
  </portType>
  <binding name="POPFinancialsBalanceMasterServiceSOAPBinding" type="finbalmasws:POPFinancialsBalanceMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPFinancialsBalanceMaster/Find" style="document"/>
      <input>
        <soap:header message="finbalmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="finbalmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPFinancialsBalanceMaster/List" style="document"/>
      <input>
        <soap:header message="finbalmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="finbalmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPFinancialsBalanceMasterService">
    <port name="POPFinancialsBalanceMasterServicePort" binding="finbalmasws:POPFinancialsBalanceMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/financialsbalancemaster/popfinancialsbalancemaster-1.0"/>
    </port>
  </service>
</definitions>
