docs/Unit4 Financials HTML Documentation/wsdl/pop-standardtextmaster-popstandardtextmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/standardtextmaster/popstandardtextmaster-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:popstdtxtmasws="http://www.coda.com/pop/schemas/standardtextmaster/popstandardtextmaster-1.0/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:popstdtxtmas="http://www.coda.com/pop/schemas/standardtextmaster"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/standardtextmaster/popstandardtextmaster-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/standardtextmaster" schemaLocation="../wsdl/pop/standardtextmaster/standardtextmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="StandardTextMaster" type="popstdtxtmas:StandardTextMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLatestVersionTextResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetLatestVersionText" type="poptypes:typePopCommentText">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getLatestVersionText function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLatestVersionNumberRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TargetStandardTextMaster" type="popstdtxtmas:StandardTextMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The target StandardTextMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetVersionTextRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TargetStandardTextMaster" type="popstdtxtmas:StandardTextMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The target StandardTextMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Version" type="poptypes:typeUwordVersion">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetVersionTextResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetVersionText" type="poptypes:typePopCommentText">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getVersionText function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the StandardTextMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the StandardTextMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddUpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TargetStandardTextMaster" type="popstdtxtmas:StandardTextMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The target StandardTextMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Name" type="com:typeName">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ShortName" type="com:typeShortName">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="NewText" type="poptypes:typePopCommentText">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="CompanyList" type="popstdtxtmas:MultiCompanyCodeList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StandardTextMasterList" type="popstdtxtmas:StandardTextMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddUpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AddUpdate" type="popstdtxtmas:StandardTextMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            addUpdate function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StandardTextMaster" type="popstdtxtmas:StandardTextMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="StandardTextMaster" type="popstdtxtmas:StandardTextMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole StandardTextMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StandardTextMasterItemList" type="popstdtxtmas:StandardTextMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StandardTextMasterKey" type="popstdtxtmas:StandardTextMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            StandardTextMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="StandardTextMaster" type="popstdtxtmas:StandardTextMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole StandardTextMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="StandardTextMaster" type="popstdtxtmas:StandardTextMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLatestVersionTextRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TargetStandardTextMaster" type="popstdtxtmas:StandardTextMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The target StandardTextMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLatestVersionNumberResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetLatestVersionNumber" type="poptypes:typeUwordVersion">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getLatestVersionNumber function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StandardTextMasterKey" type="popstdtxtmas:StandardTextMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            StandardTextMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="FindRequest">
    <part name="FindRequest" element="popstdtxtmasws:FindRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="popstdtxtmasws:OptionsResponse"/>
  </message>
  <message name="GetLatestVersionTextResponse">
    <part name="GetLatestVersionTextResponse" element="popstdtxtmasws:GetLatestVersionTextResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="popstdtxtmasws:DeleteRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="popstdtxtmasws:DeleteResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="popstdtxtmasws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="popstdtxtmasws:UpdateResponse"/>
  </message>
  <message name="GetLatestVersionNumberRequest">
    <part name="GetLatestVersionNumberRequest" element="popstdtxtmasws:GetLatestVersionNumberRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="popstdtxtmasws:GetRequest"/>
  </message>
  <message name="GetVersionTextRequest">
    <part name="GetVersionTextRequest" element="popstdtxtmasws:GetVersionTextRequest"/>
  </message>
  <message name="GetLatestVersionNumberResponse">
    <part name="GetLatestVersionNumberResponse" element="popstdtxtmasws:GetLatestVersionNumberResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="popstdtxtmasws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="popstdtxtmasws:GetResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="popstdtxtmasws:ListRequest"/>
  </message>
  <message name="AddUpdateRequest">
    <part name="AddUpdateRequest" element="popstdtxtmasws:AddUpdateRequest"/>
  </message>
  <message name="GetLatestVersionTextRequest">
    <part name="GetLatestVersionTextRequest" element="popstdtxtmasws:GetLatestVersionTextRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="popstdtxtmasws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="popstdtxtmasws:FindResponse"/>
  </message>
  <message name="GetVersionTextResponse">
    <part name="GetVersionTextResponse" element="popstdtxtmasws:GetVersionTextResponse"/>
  </message>
  <message name="AddUpdateResponse">
    <part name="AddUpdateResponse" element="popstdtxtmasws:AddUpdateResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="popstdtxtmasws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="popstdtxtmasws:UpdateRequest"/>
  </message>
  <portType name="POPStandardTextMasterServicePortTypes">
    <operation name="Add">
      <input message="popstdtxtmasws:AddRequest"/>
      <output message="popstdtxtmasws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="popstdtxtmasws:DeleteRequest"/>
      <output message="popstdtxtmasws:DeleteResponse"/>
    </operation>
    <operation name="GetVersionText">
      <input message="popstdtxtmasws:GetVersionTextRequest"/>
      <output message="popstdtxtmasws:GetVersionTextResponse"/>
    </operation>
    <operation name="GetLatestVersionNumber">
      <input message="popstdtxtmasws:GetLatestVersionNumberRequest"/>
      <output message="popstdtxtmasws:GetLatestVersionNumberResponse"/>
    </operation>
    <operation name="AddUpdate">
      <input message="popstdtxtmasws:AddUpdateRequest"/>
      <output message="popstdtxtmasws:AddUpdateResponse"/>
    </operation>
    <operation name="GetLatestVersionText">
      <input message="popstdtxtmasws:GetLatestVersionTextRequest"/>
      <output message="popstdtxtmasws:GetLatestVersionTextResponse"/>
    </operation>
    <operation name="Get">
      <input message="popstdtxtmasws:GetRequest"/>
      <output message="popstdtxtmasws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="popstdtxtmasws:FindRequest"/>
      <output message="popstdtxtmasws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="popstdtxtmasws:ListRequest"/>
      <output message="popstdtxtmasws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="popstdtxtmasws:UpdateRequest"/>
      <output message="popstdtxtmasws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="POPStandardTextMasterServiceSOAPBinding" type="popstdtxtmasws:POPStandardTextMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPStandardTextMaster/Add" style="document"/>
      <input>
        <soap:header message="popstdtxtmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popstdtxtmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPStandardTextMaster/Delete" style="document"/>
      <input>
        <soap:header message="popstdtxtmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popstdtxtmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetVersionText">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPStandardTextMaster/GetVersionText" style="document"/>
      <input>
        <soap:header message="popstdtxtmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popstdtxtmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetLatestVersionNumber">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPStandardTextMaster/GetLatestVersionNumber" style="document"/>
      <input>
        <soap:header message="popstdtxtmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popstdtxtmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddUpdate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPStandardTextMaster/AddUpdate" style="document"/>
      <input>
        <soap:header message="popstdtxtmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popstdtxtmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetLatestVersionText">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPStandardTextMaster/GetLatestVersionText" style="document"/>
      <input>
        <soap:header message="popstdtxtmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popstdtxtmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPStandardTextMaster/Get" style="document"/>
      <input>
        <soap:header message="popstdtxtmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popstdtxtmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPStandardTextMaster/Find" style="document"/>
      <input>
        <soap:header message="popstdtxtmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popstdtxtmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPStandardTextMaster/List" style="document"/>
      <input>
        <soap:header message="popstdtxtmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popstdtxtmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPStandardTextMaster/Update" style="document"/>
      <input>
        <soap:header message="popstdtxtmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popstdtxtmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPStandardTextMasterService">
    <port name="POPStandardTextMasterServicePort" binding="popstdtxtmasws:POPStandardTextMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/standardtextmaster/popstandardtextmaster-1.0"/>
    </port>
  </service>
</definitions>
