docs/Unit4 Financials HTML Documentation/wsdl/pop-popselector-popselector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/popselector/popselector-11.3/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:popselectorws="http://www.coda.com/pop/schemas/popselector/popselector-11.3/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:popselector="http://www.coda.com/pop/schemas/popselector"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:procmas="http://www.coda.com/pop/schemas/processmaster"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:selmas="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:rfq="http://www.coda.com/pop/schemas/requestforquote"
    xmlns:dvw="http://www.coda.com/common/schemas/dataview"
    xmlns:popcom="http://www.coda.com/pop/schemas/common"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:presmas="http://www.coda.com/efinance/schemas/presenter"
    xmlns:doc="http://www.coda.com/pop/schemas/document"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/popselector/popselector-11.3/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/popselector" schemaLocation="../wsdl/pop/popselector/popselector.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/document" schemaLocation="pop/document/document.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/dataview" schemaLocation="common/dataview/dataview.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/requestforquote" schemaLocation="pop/requestforquote/requestforquote.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/processmaster" schemaLocation="pop/processmaster/processmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:element name="CopyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentKey" type="doc:DocumentKey">
                    <xsd:annotation>
                        <xsd:documentation>The key that identifies the
                            new document.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentType" minOccurs="0" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>The type of document that was copied.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectForBrowseRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessMaster" type="procmas:ProcessMaster">
                    <xsd:annotation>
                        <xsd:documentation>This element holds
                            information about process masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SelectDocType" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>The type of document being selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectForBrowseResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="popselector:PopSelection">
                    <xsd:annotation>
                        <xsd:documentation>The data returned by the selector.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddLineCommentRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Comment" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The text of the comment.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LineKeyList" type="rfq:ItemLineKeyList">
                    <xsd:annotation>
                        <xsd:documentation>The list of keys that
                            identify the document lines to which the
                            comments are being added.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectCountRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelectionType" type="selmas:SelectorType">
                    <xsd:annotation>
                        <xsd:documentation>Specifies the source of the
                            data from which the selection is made. The
                            data source is determined by the combination
                            of data class and data location.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Filter" type="selmas:VocListData">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria to be applied.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocType" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>The type of document being selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Function" type="poptypes:typePopProcesses">
                    <xsd:annotation>
                        <xsd:documentation>The process for which the
                            data is being selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ViewName" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The dataview on which this
                            selector is based.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CopyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentKey" type="doc:DocumentKey">
                    <xsd:annotation>
                        <xsd:documentation>The key that identifies the
                            document to be copied.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentType" minOccurs="0" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>The type of document to be copied.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentNumber" minOccurs="0" type="poptypes:typePopDocnum">
                    <xsd:annotation>
                        <xsd:documentation>The document number for the
                            new document, if uncontrolled numbering is used.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectCountResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="popselector:PopSelectionCount">
                    <xsd:annotation>
                        <xsd:documentation>The data returned by the selector.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListDataViewResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="List" type="dvw:DataViewPickList">
                    <xsd:annotation>
                        <xsd:documentation>The dataviews available for
                            the given document type.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectAssociatedDocumentsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="popselector:PopSelection">
                    <xsd:annotation>
                        <xsd:documentation>The associated documents
                            returned by the selector.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddLineCommentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Comment" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The text of the comment.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LineKeyList" type="doc:ItemLineKeyList">
                    <xsd:annotation>
                        <xsd:documentation>The list of keys that
                            identify the document lines to which the
                            comments are being added.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocType" minOccurs="0" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>The type of document to which
                            the comments are being added.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SelectionType" type="selmas:SelectorType">
                    <xsd:annotation>
                        <xsd:documentation>Specifies the source of the
                            data from which the selection is made. The
                            data source is determined by the combination
                            of data class and data location.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Filter" type="selmas:VocListData">
                    <xsd:annotation>
                        <xsd:documentation>The search criteria to be applied.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Columns" type="sel:CellList">
                    <xsd:annotation>
                        <xsd:documentation>The columns representing
                            vocabulary items that you want the server to return.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocType" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>The type of document being selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Function" type="poptypes:typePopProcesses">
                    <xsd:annotation>
                        <xsd:documentation>The process for which the
                            data is being selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ViewName" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The dataview on which this
                            selector is based.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ManipulateByList" type="presmas:ManipulateByList">
                    <xsd:annotation>
                        <xsd:documentation>The sort order specified on
                            the associated presenter master.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddCommentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Comment" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>         The comment to add
                            to the documents        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentKeyList" type="doc:DocumentKeyList">
                    <xsd:annotation>
                        <xsd:documentation>The list of keys that
                            identify the documents to which the comments
                            are being added.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentType" minOccurs="0" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>The type of document to which
                            the comments are being added.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddCommentResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListDataViewRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DataViewQuery" type="dvw:PickDataViewQuery">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            dataviews to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentType" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>The type of document for
                            which the dataviews are listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddLineCommentRFQResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Selection" type="popselector:PopSelection">
                    <xsd:annotation>
                        <xsd:documentation>The data returned by the selector.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddCommentRFQResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddCommentRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Comment" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The text of the comment.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RequestForQuoteKeyList" type="rfq:RequestForQuoteKeyList">
                    <xsd:annotation>
                        <xsd:documentation>The list of keys that
                            identify the document to which the comments
                            are being added.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectAssociatedDocumentsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CurrentDocumentType" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>         The type of the
                            current document.        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Columns" type="sel:CellList">
                    <xsd:annotation>
                        <xsd:documentation>The columns representing
                            vocabulary items that you want the server to return.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ViewName" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The dataview on which this
                            selector is based.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CurrentDocumentKey" type="doc:DocumentKey">
                    <xsd:annotation>
                        <xsd:documentation>The key that identifies the
                            current document.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RequiredDocumentType" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>The type of the associated
                            document to be selected.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddLineCommentResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="SelectForBrowseRequest">
    <part name="SelectForBrowseRequest" element="popselectorws:SelectForBrowseRequest"/>
  </message>
  <message name="AddCommentRFQResponse">
    <part name="AddCommentRFQResponse" element="popselectorws:AddCommentRFQResponse"/>
  </message>
  <message name="AddLineCommentRFQRequest">
    <part name="AddLineCommentRFQRequest" element="popselectorws:AddLineCommentRFQRequest"/>
  </message>
  <message name="SelectForBrowseResponse">
    <part name="SelectForBrowseResponse" element="popselectorws:SelectForBrowseResponse"/>
  </message>
  <message name="AddCommentRequest">
    <part name="AddCommentRequest" element="popselectorws:AddCommentRequest"/>
  </message>
  <message name="SelectAssociatedDocumentsRequest">
    <part name="SelectAssociatedDocumentsRequest" element="popselectorws:SelectAssociatedDocumentsRequest"/>
  </message>
  <message name="SelectResponse">
    <part name="SelectResponse" element="popselectorws:SelectResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="popselectorws:OptionsResponse"/>
  </message>
  <message name="SelectRequest">
    <part name="SelectRequest" element="popselectorws:SelectRequest"/>
  </message>
  <message name="AddLineCommentRFQResponse">
    <part name="AddLineCommentRFQResponse" element="popselectorws:AddLineCommentRFQResponse"/>
  </message>
  <message name="AddCommentResponse">
    <part name="AddCommentResponse" element="popselectorws:AddCommentResponse"/>
  </message>
  <message name="ListDataViewRequest">
    <part name="ListDataViewRequest" element="popselectorws:ListDataViewRequest"/>
  </message>
  <message name="CopyResponse">
    <part name="CopyResponse" element="popselectorws:CopyResponse"/>
  </message>
  <message name="ListDataViewResponse">
    <part name="ListDataViewResponse" element="popselectorws:ListDataViewResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="popselectorws:Options"/>
  </message>
  <message name="SelectCountResponse">
    <part name="SelectCountResponse" element="popselectorws:SelectCountResponse"/>
  </message>
  <message name="CopyRequest">
    <part name="CopyRequest" element="popselectorws:CopyRequest"/>
  </message>
  <message name="SelectCountRequest">
    <part name="SelectCountRequest" element="popselectorws:SelectCountRequest"/>
  </message>
  <message name="AddLineCommentRequest">
    <part name="AddLineCommentRequest" element="popselectorws:AddLineCommentRequest"/>
  </message>
  <message name="AddCommentRFQRequest">
    <part name="AddCommentRFQRequest" element="popselectorws:AddCommentRFQRequest"/>
  </message>
  <message name="SelectAssociatedDocumentsResponse">
    <part name="SelectAssociatedDocumentsResponse" element="popselectorws:SelectAssociatedDocumentsResponse"/>
  </message>
  <message name="AddLineCommentResponse">
    <part name="AddLineCommentResponse" element="popselectorws:AddLineCommentResponse"/>
  </message>
  <portType name="POPSelectorServicePortTypes">
    <operation name="AddLineCommentRFQ">
      <input message="popselectorws:AddLineCommentRFQRequest"/>
      <output message="popselectorws:AddLineCommentRFQResponse"/>
    </operation>
    <operation name="SelectForBrowse">
      <input message="popselectorws:SelectForBrowseRequest"/>
      <output message="popselectorws:SelectForBrowseResponse"/>
    </operation>
    <operation name="Copy">
      <input message="popselectorws:CopyRequest"/>
      <output message="popselectorws:CopyResponse"/>
    </operation>
    <operation name="ListDataView">
      <input message="popselectorws:ListDataViewRequest"/>
      <output message="popselectorws:ListDataViewResponse"/>
    </operation>
    <operation name="SelectCount">
      <input message="popselectorws:SelectCountRequest"/>
      <output message="popselectorws:SelectCountResponse"/>
    </operation>
    <operation name="AddCommentRFQ">
      <input message="popselectorws:AddCommentRFQRequest"/>
      <output message="popselectorws:AddCommentRFQResponse"/>
    </operation>
    <operation name="Select">
      <input message="popselectorws:SelectRequest"/>
      <output message="popselectorws:SelectResponse"/>
    </operation>
    <operation name="AddComment">
      <input message="popselectorws:AddCommentRequest"/>
      <output message="popselectorws:AddCommentResponse"/>
    </operation>
    <operation name="SelectAssociatedDocuments">
      <input message="popselectorws:SelectAssociatedDocumentsRequest"/>
      <output message="popselectorws:SelectAssociatedDocumentsResponse"/>
    </operation>
    <operation name="AddLineComment">
      <input message="popselectorws:AddLineCommentRequest"/>
      <output message="popselectorws:AddLineCommentResponse"/>
    </operation>
  </portType>
  <binding name="POPSelectorServiceSOAPBinding" type="popselectorws:POPSelectorServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AddLineCommentRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSelector/AddLineCommentRFQ" style="document"/>
      <input>
        <soap:header message="popselectorws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popselectorws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SelectForBrowse">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSelector/SelectForBrowse" style="document"/>
      <input>
        <soap:header message="popselectorws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popselectorws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Copy">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSelector/Copy" style="document"/>
      <input>
        <soap:header message="popselectorws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popselectorws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListDataView">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSelector/ListDataView" style="document"/>
      <input>
        <soap:header message="popselectorws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popselectorws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SelectCount">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSelector/SelectCount" style="document"/>
      <input>
        <soap:header message="popselectorws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popselectorws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddCommentRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSelector/AddCommentRFQ" style="document"/>
      <input>
        <soap:header message="popselectorws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popselectorws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Select">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSelector/Select" style="document"/>
      <input>
        <soap:header message="popselectorws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popselectorws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddComment">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSelector/AddComment" style="document"/>
      <input>
        <soap:header message="popselectorws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popselectorws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SelectAssociatedDocuments">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSelector/SelectAssociatedDocuments" style="document"/>
      <input>
        <soap:header message="popselectorws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popselectorws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddLineComment">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSelector/AddLineComment" style="document"/>
      <input>
        <soap:header message="popselectorws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popselectorws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPSelectorService">
    <port name="POPSelectorServicePort" binding="popselectorws:POPSelectorServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/popselector/popselector-11.3"/>
    </port>
  </service>
</definitions>
