docs/Unit4 Financials HTML Documentation/wsdl/pop-issueaudit-popissueaudit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/issueaudit/popissueaudit-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:issws="http://www.coda.com/pop/schemas/issueaudit/popissueaudit-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:iss="http://www.coda.com/pop/schemas/issueaudit"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/issueaudit/popissueaudit-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pop/schemas/issueaudit" schemaLocation="../wsdl/pop/issueaudit/issueaudit.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the IssueAudit objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IssueAuditList" type="iss:IssueAuditList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateReceiptReferenceResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IssueAudit" type="iss:IssueAudit">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IssueAudit" type="iss:IssueAudit">
                    <xsd:annotation>
                        <xsd:documentation>The whole IssueAudit object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateReceiptReferenceRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CompanyCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>             The company code of the
                                document issued           </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>             The document code.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentNumber" type="poptypes:typePopDocnum">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>             The document number of
                                the document issued           </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentVersion" type="com:typeLong">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>             The version number of
                                the document as issued.           </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CallOffNumber" minOccurs="0" type="com:typeLong">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>             The number of the
                                call-off which is updating the audit.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReceiptReference" type="com:typeText">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>             The receipt reference.
                            </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="UpdateReceiptReferenceRequest">
    <part name="UpdateReceiptReferenceRequest" element="issws:UpdateReceiptReferenceRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="issws:AddRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="issws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="issws:FindResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="issws:AddResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="issws:OptionsResponse"/>
  </message>
  <message name="UpdateReceiptReferenceResponse">
    <part name="UpdateReceiptReferenceResponse" element="issws:UpdateReceiptReferenceResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="issws:FindRequest"/>
  </message>
  <portType name="POPIssueAuditServicePortTypes">
    <operation name="Add">
      <input message="issws:AddRequest"/>
      <output message="issws:AddResponse"/>
    </operation>
    <operation name="UpdateReceiptReference">
      <input message="issws:UpdateReceiptReferenceRequest"/>
      <output message="issws:UpdateReceiptReferenceResponse"/>
    </operation>
    <operation name="Find">
      <input message="issws:FindRequest"/>
      <output message="issws:FindResponse"/>
    </operation>
  </portType>
  <binding name="POPIssueAuditServiceSOAPBinding" type="issws:POPIssueAuditServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPIssueAudit/Add" style="document"/>
      <input>
        <soap:header message="issws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="issws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateReceiptReference">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPIssueAudit/UpdateReceiptReference" style="document"/>
      <input>
        <soap:header message="issws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="issws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPIssueAudit/Find" style="document"/>
      <input>
        <soap:header message="issws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="issws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPIssueAuditService">
    <port name="POPIssueAuditServicePort" binding="issws:POPIssueAuditServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/issueaudit/popissueaudit-1.0"/>
    </port>
  </service>
</definitions>
