docs/Unit4 Financials HTML Documentation/wsdl/pop-processmaster-popprocessmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/processmaster/popprocessmaster-13.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:processmasterws="http://www.coda.com/pop/schemas/processmaster/popprocessmaster-13.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:sel="http://www.coda.com/pop/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:docmas="http://www.coda.com/pop/schemas/documentmaster"
    xmlns:pres="http://www.coda.com/pop/schemas/presenter"
    xmlns:inputtemplatemaster="http://www.coda.com/pop/schemas/inputtemplatemaster"
    xmlns:processmaster="http://www.coda.com/pop/schemas/processmaster"
    xmlns:odm="http://www.coda.com/common/schemas/outputdevice"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/processmaster/popprocessmaster-13.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/processmaster" schemaLocation="../wsdl/pop/processmaster/processmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/presenter" schemaLocation="pop/presenter/presenter.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/documentmaster" schemaLocation="pop/documentmaster/documentmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/inputtemplatemaster" schemaLocation="pop/inputtemplatemaster/inputtemplatemaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/outputdevice" schemaLocation="common/outputdevice/outputdevice.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/selector" schemaLocation="pop/selector/selector.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ProcessMaster" type="processmaster:ProcessMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListByCompanyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessMaster" minOccurs="0"
                    maxOccurs="unbounded" type="processmaster:ProcessMasterSummary">
                    <xsd:annotation>
                        <xsd:documentation>The processMaster is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaskSummaryRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateTaskSummaryPreferencesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TaskSummaryPreferences" type="processmaster:TaskSummaryPreferences">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="RefreshTaskSummary" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaskSummaryForCodeRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessMaster" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListByUserResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessMasterItemList" type="processmaster:ProcessMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listByUser function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ProcessMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaskSummaryForCodeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TaskSummaryItem" type="processmaster:TaskSummaryItem">
                    <xsd:annotation>
                        <xsd:documentation>The taskSummaryItem is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ValidProcessMaster" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The validProcessMaster is an
                            out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ProcessMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListByUserRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ProcessMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaskSummaryForProcessesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TaskSummary" type="processmaster:TaskSummary">
                    <xsd:annotation>
                        <xsd:documentation>The taskSummary is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListByProcessResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessMasters" type="processmaster:ProcessMasters">
                    <xsd:annotation>
                        <xsd:documentation>The processMasters is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetByProcessRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CompanyCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Code" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Process" type="poptypes:typePopProcesses">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessMasterList" type="processmaster:ProcessMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaskSummaryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TaskSummary" type="processmaster:TaskSummary">
                    <xsd:annotation>
                        <xsd:documentation>The taskSummary is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TaskSummaryPreferences" type="processmaster:TaskSummaryPreferences">
                    <xsd:annotation>
                        <xsd:documentation>The TaskSummaryPreferences is
                            an out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessMaster" type="processmaster:ProcessMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateTaskSummaryPreferencesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TaskSummaryPreferences" type="processmaster:TaskSummaryPreferences">
                    <xsd:annotation>
                        <xsd:documentation>The TaskSummaryPreferences is
                            an out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TaskSummary" type="processmaster:TaskSummary">
                    <xsd:annotation>
                        <xsd:documentation>The TaskSummary is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetByProcessResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessMaster" type="processmaster:ProcessMaster">
                    <xsd:annotation>
                        <xsd:documentation>The processMaster is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="ProcessMaster" type="processmaster:ProcessMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole ProcessMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessMasterItemList" type="processmaster:ProcessMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListByCompanyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CompaniesList" type="processmaster:POPProcessMasterListByCompanyCompaniesList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaskSummaryForProcessesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessList" type="processmaster:POPProcessMasterTaskSummaryForProcessesProcessList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessMasterKey" type="processmaster:ProcessMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the ProcessMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListByProcessRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Process" minOccurs="0" type="poptypes:typePopProcesses">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Document" minOccurs="0" type="poptypes:typePopDocumentType">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Query" minOccurs="0" type="processmaster:PickerQueryData">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="ProcessMaster" type="processmaster:ProcessMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole ProcessMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ProcessMaster" type="processmaster:ProcessMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessMasterKey" type="processmaster:ProcessMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the ProcessMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetRequest">
    <part name="GetRequest" element="processmasterws:GetRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="processmasterws:AddRequest"/>
  </message>
  <message name="ListByProcessResponse">
    <part name="ListByProcessResponse" element="processmasterws:ListByProcessResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="processmasterws:UpdateResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="processmasterws:OptionsResponse"/>
  </message>
  <message name="ListByCompanyRequest">
    <part name="ListByCompanyRequest" element="processmasterws:ListByCompanyRequest"/>
  </message>
  <message name="ListByUserRequest">
    <part name="ListByUserRequest" element="processmasterws:ListByUserRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="processmasterws:ListResponse"/>
  </message>
  <message name="TaskSummaryRequest">
    <part name="TaskSummaryRequest" element="processmasterws:TaskSummaryRequest"/>
  </message>
  <message name="ListByUserResponse">
    <part name="ListByUserResponse" element="processmasterws:ListByUserResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="processmasterws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="processmasterws:FindResponse"/>
  </message>
  <message name="TaskSummaryForCodeRequest">
    <part name="TaskSummaryForCodeRequest" element="processmasterws:TaskSummaryForCodeRequest"/>
  </message>
  <message name="ListByCompanyResponse">
    <part name="ListByCompanyResponse" element="processmasterws:ListByCompanyResponse"/>
  </message>
  <message name="TaskSummaryForProcessesResponse">
    <part name="TaskSummaryForProcessesResponse" element="processmasterws:TaskSummaryForProcessesResponse"/>
  </message>
  <message name="TaskSummaryResponse">
    <part name="TaskSummaryResponse" element="processmasterws:TaskSummaryResponse"/>
  </message>
  <message name="ListByProcessRequest">
    <part name="ListByProcessRequest" element="processmasterws:ListByProcessRequest"/>
  </message>
  <message name="TaskSummaryForProcessesRequest">
    <part name="TaskSummaryForProcessesRequest" element="processmasterws:TaskSummaryForProcessesRequest"/>
  </message>
  <message name="GetByProcessResponse">
    <part name="GetByProcessResponse" element="processmasterws:GetByProcessResponse"/>
  </message>
  <message name="GetByProcessRequest">
    <part name="GetByProcessRequest" element="processmasterws:GetByProcessRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="processmasterws:DeleteResponse"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="processmasterws:DeleteRequest"/>
  </message>
  <message name="TaskSummaryForCodeResponse">
    <part name="TaskSummaryForCodeResponse" element="processmasterws:TaskSummaryForCodeResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="processmasterws:FindRequest"/>
  </message>
  <message name="UpdateTaskSummaryPreferencesRequest">
    <part name="UpdateTaskSummaryPreferencesRequest" element="processmasterws:UpdateTaskSummaryPreferencesRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="processmasterws:UpdateRequest"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="processmasterws:ListRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="processmasterws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="processmasterws:GetResponse"/>
  </message>
  <message name="UpdateTaskSummaryPreferencesResponse">
    <part name="UpdateTaskSummaryPreferencesResponse" element="processmasterws:UpdateTaskSummaryPreferencesResponse"/>
  </message>
  <portType name="POPProcessMasterServicePortTypes">
    <operation name="Delete">
      <input message="processmasterws:DeleteRequest"/>
      <output message="processmasterws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="processmasterws:AddRequest"/>
      <output message="processmasterws:AddResponse"/>
    </operation>
    <operation name="ListByProcess">
      <input message="processmasterws:ListByProcessRequest"/>
      <output message="processmasterws:ListByProcessResponse"/>
    </operation>
    <operation name="TaskSummaryForProcesses">
      <input message="processmasterws:TaskSummaryForProcessesRequest"/>
      <output message="processmasterws:TaskSummaryForProcessesResponse"/>
    </operation>
    <operation name="ListByUser">
      <input message="processmasterws:ListByUserRequest"/>
      <output message="processmasterws:ListByUserResponse"/>
    </operation>
    <operation name="UpdateTaskSummaryPreferences">
      <input message="processmasterws:UpdateTaskSummaryPreferencesRequest"/>
      <output message="processmasterws:UpdateTaskSummaryPreferencesResponse"/>
    </operation>
    <operation name="Update">
      <input message="processmasterws:UpdateRequest"/>
      <output message="processmasterws:UpdateResponse"/>
    </operation>
    <operation name="ListByCompany">
      <input message="processmasterws:ListByCompanyRequest"/>
      <output message="processmasterws:ListByCompanyResponse"/>
    </operation>
    <operation name="TaskSummaryForCode">
      <input message="processmasterws:TaskSummaryForCodeRequest"/>
      <output message="processmasterws:TaskSummaryForCodeResponse"/>
    </operation>
    <operation name="Get">
      <input message="processmasterws:GetRequest"/>
      <output message="processmasterws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="processmasterws:FindRequest"/>
      <output message="processmasterws:FindResponse"/>
    </operation>
    <operation name="TaskSummary">
      <input message="processmasterws:TaskSummaryRequest"/>
      <output message="processmasterws:TaskSummaryResponse"/>
    </operation>
    <operation name="List">
      <input message="processmasterws:ListRequest"/>
      <output message="processmasterws:ListResponse"/>
    </operation>
    <operation name="GetByProcess">
      <input message="processmasterws:GetByProcessRequest"/>
      <output message="processmasterws:GetByProcessResponse"/>
    </operation>
  </portType>
  <binding name="POPProcessMasterServiceSOAPBinding" type="processmasterws:POPProcessMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/Delete" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/Add" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListByProcess">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/ListByProcess" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TaskSummaryForProcesses">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/TaskSummaryForProcesses" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListByUser">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/ListByUser" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateTaskSummaryPreferences">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/UpdateTaskSummaryPreferences" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/Update" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListByCompany">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/ListByCompany" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TaskSummaryForCode">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/TaskSummaryForCode" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/Get" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/Find" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TaskSummary">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/TaskSummary" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/List" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetByProcess">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPProcessMaster/GetByProcess" style="document"/>
      <input>
        <soap:header message="processmasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="processmasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPProcessMasterService">
    <port name="POPProcessMasterServicePort" binding="processmasterws:POPProcessMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/processmaster/popprocessmaster-13.0"/>
    </port>
  </service>
</definitions>
