docs/Unit4 Financials HTML Documentation/wsdl/pop-contractmaster-popcontractmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/contractmaster/popcontractmaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:contractmastersvcws="http://www.coda.com/pop/schemas/contractmaster/popcontractmaster-12.0/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:elmmas="http://www.coda.com/pop/schemas/elementmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:contractmastersvc="http://www.coda.com/pop/schemas/contractmaster"
    xmlns:buy="http://www.coda.com/pop/schemas/buyer"
    xmlns:atc="http://www.coda.com/common/schemas/attachment"
    xmlns:usr="http://www.coda.com/pop/schemas/user"
    xmlns:comment="http://www.coda.com/pop/schemas/comment"
    xmlns:prcmatxsvc="http://www.coda.com/pop/schemas/pricematrixmaster"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:popitem="http://www.coda.com/pop/schemas/item"
    xmlns:curr="http://www.coda.com/pop/schemas/currency"
    targetNamespace="http://www.coda.com/pop/schemas/contractmaster/popcontractmaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/common/schemas/attachment" schemaLocation="common/attachment/attachment.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/item" schemaLocation="pop/item/item.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/buyer" schemaLocation="pop/buyer/buyer.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/currency" schemaLocation="pop/currency/currency.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/comment" schemaLocation="pop/comment/comment.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/contractmaster" schemaLocation="../wsdl/pop/contractmaster/contractmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/user" schemaLocation="pop/user/user.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/elementmaster" schemaLocation="pop/elementmaster/elementmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/pricematrixmaster" schemaLocation="pop/pricematrixmaster/pricematrixmaster.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ContractMaster" type="contractmastersvc:ContractMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetContractItemDetailRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CompanyCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ItemCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Date" minOccurs="0" type="com:typeHardb">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ContractMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the ContractMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ValidateLinesData" type="contractmastersvc:ValidateLinesData">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>               Collection of document
                                    lines and some other bits.             </p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetContractItemDetailResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetContractItemDetail" type="contractmastersvc:ContractItemDetail">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getContractItemDetail function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SuggestDependentLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OriginalLine" type="contractmastersvc:ContractMasterLine">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="CompanyCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckCanDeleteContractResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DeleteOK" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The deleteOK is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContractMasterList" type="contractmastersvc:ContractMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SuggestDependentLinesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SuggestedDependentLines"
                    minOccurs="0" maxOccurs="unbounded" type="contractmastersvc:ContractMasterLine">
                    <xsd:annotation>
                        <xsd:documentation>The suggestedDependentLines
                            is an out argument, so the server will put
                            it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContractMaster" type="contractmastersvc:ContractMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="ContractMaster" type="contractmastersvc:ContractMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole ContractMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContractMasterItemList" type="contractmastersvc:ContractMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContractMasterKey" type="contractmastersvc:ContractMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the ContractMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="ContractMaster" type="contractmastersvc:ContractMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole ContractMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckCanDeleteContractRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContractMaster" type="contractmastersvc:ContractMasterKey">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ContractMaster" type="contractmastersvc:ContractMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ContractMasterKey" type="contractmastersvc:ContractMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the ContractMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateLinesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ValidateLines" type="contractmastersvc:ValidateLinesData">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            validateLines function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="Options">
    <part name="Options" element="contractmastersvcws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="contractmastersvcws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="contractmastersvcws:ListRequest"/>
  </message>
  <message name="ValidateLinesResponse">
    <part name="ValidateLinesResponse" element="contractmastersvcws:ValidateLinesResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="contractmastersvcws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="contractmastersvcws:ListResponse"/>
  </message>
  <message name="CheckCanDeleteContractResponse">
    <part name="CheckCanDeleteContractResponse" element="contractmastersvcws:CheckCanDeleteContractResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="contractmastersvcws:GetResponse"/>
  </message>
  <message name="GetContractItemDetailRequest">
    <part name="GetContractItemDetailRequest" element="contractmastersvcws:GetContractItemDetailRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="contractmastersvcws:AddResponse"/>
  </message>
  <message name="SuggestDependentLinesResponse">
    <part name="SuggestDependentLinesResponse" element="contractmastersvcws:SuggestDependentLinesResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="contractmastersvcws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="contractmastersvcws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="contractmastersvcws:DeleteResponse"/>
  </message>
  <message name="CheckCanDeleteContractRequest">
    <part name="CheckCanDeleteContractRequest" element="contractmastersvcws:CheckCanDeleteContractRequest"/>
  </message>
  <message name="SuggestDependentLinesRequest">
    <part name="SuggestDependentLinesRequest" element="contractmastersvcws:SuggestDependentLinesRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="contractmastersvcws:GetRequest"/>
  </message>
  <message name="GetContractItemDetailResponse">
    <part name="GetContractItemDetailResponse" element="contractmastersvcws:GetContractItemDetailResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="contractmastersvcws:FindRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="contractmastersvcws:DeleteRequest"/>
  </message>
  <message name="ValidateLinesRequest">
    <part name="ValidateLinesRequest" element="contractmastersvcws:ValidateLinesRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="contractmastersvcws:OptionsResponse"/>
  </message>
  <portType name="POPContractMasterServicePortTypes">
    <operation name="Delete">
      <input message="contractmastersvcws:DeleteRequest"/>
      <output message="contractmastersvcws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="contractmastersvcws:AddRequest"/>
      <output message="contractmastersvcws:AddResponse"/>
    </operation>
    <operation name="ValidateLines">
      <input message="contractmastersvcws:ValidateLinesRequest"/>
      <output message="contractmastersvcws:ValidateLinesResponse"/>
    </operation>
    <operation name="Get">
      <input message="contractmastersvcws:GetRequest"/>
      <output message="contractmastersvcws:GetResponse"/>
    </operation>
    <operation name="SuggestDependentLines">
      <input message="contractmastersvcws:SuggestDependentLinesRequest"/>
      <output message="contractmastersvcws:SuggestDependentLinesResponse"/>
    </operation>
    <operation name="Find">
      <input message="contractmastersvcws:FindRequest"/>
      <output message="contractmastersvcws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="contractmastersvcws:ListRequest"/>
      <output message="contractmastersvcws:ListResponse"/>
    </operation>
    <operation name="GetContractItemDetail">
      <input message="contractmastersvcws:GetContractItemDetailRequest"/>
      <output message="contractmastersvcws:GetContractItemDetailResponse"/>
    </operation>
    <operation name="Update">
      <input message="contractmastersvcws:UpdateRequest"/>
      <output message="contractmastersvcws:UpdateResponse"/>
    </operation>
    <operation name="CheckCanDeleteContract">
      <input message="contractmastersvcws:CheckCanDeleteContractRequest"/>
      <output message="contractmastersvcws:CheckCanDeleteContractResponse"/>
    </operation>
  </portType>
  <binding name="POPContractMasterServiceSOAPBinding" type="contractmastersvcws:POPContractMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMaster/Delete" style="document"/>
      <input>
        <soap:header message="contractmastersvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="contractmastersvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMaster/Add" style="document"/>
      <input>
        <soap:header message="contractmastersvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="contractmastersvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMaster/ValidateLines" style="document"/>
      <input>
        <soap:header message="contractmastersvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="contractmastersvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMaster/Get" style="document"/>
      <input>
        <soap:header message="contractmastersvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="contractmastersvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SuggestDependentLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMaster/SuggestDependentLines" style="document"/>
      <input>
        <soap:header message="contractmastersvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="contractmastersvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMaster/Find" style="document"/>
      <input>
        <soap:header message="contractmastersvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="contractmastersvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMaster/List" style="document"/>
      <input>
        <soap:header message="contractmastersvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="contractmastersvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetContractItemDetail">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMaster/GetContractItemDetail" style="document"/>
      <input>
        <soap:header message="contractmastersvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="contractmastersvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMaster/Update" style="document"/>
      <input>
        <soap:header message="contractmastersvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="contractmastersvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CheckCanDeleteContract">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPContractMaster/CheckCanDeleteContract" style="document"/>
      <input>
        <soap:header message="contractmastersvcws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="contractmastersvcws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPContractMasterService">
    <port name="POPContractMasterServicePort" binding="contractmastersvcws:POPContractMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/contractmaster/popcontractmaster-12.0"/>
    </port>
  </service>
</definitions>
