docs/Unit4 Financials HTML Documentation/wsdl/pop-requisitionip-poprequisitionip.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/requisitionip/poprequisitionip-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:requisitionws="http://www.coda.com/pop/schemas/requisitionip/poprequisitionip-1.0/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:requisition="http://www.coda.com/pop/schemas/requisitionip"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/requisitionip/poprequisitionip-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/requisitionip" schemaLocation="../wsdl/pop/requisitionip/requisitionip.xsd"/>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequisitionObject" type="requisition:RequisitionObject">
                    <xsd:annotation>
                        <xsd:documentation>
                            Requisition to Update in the system.                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReqObject" type="requisition:RequisitionObjectView">
                    <xsd:annotation>
                        <xsd:documentation>
                            Updated Requisition                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ViewResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequisitionObject" type="requisition:RequisitionObjectView">
                    <xsd:annotation>
                        <xsd:documentation>The requisition to be viewed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ViewRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequisitionObject" type="requisition:ReqMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The requisition that you want
                            to view.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="requisitionws:OptionsResponse"/>
  </message>
  <message name="ViewRequest">
    <part name="ViewRequest" element="requisitionws:ViewRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="requisitionws:UpdateRequest"/>
  </message>
  <message name="ViewResponse">
    <part name="ViewResponse" element="requisitionws:ViewResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="requisitionws:Options"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="requisitionws:UpdateResponse"/>
  </message>
  <portType name="POPRequisitionIPServicePortTypes">
    <operation name="Update">
      <input message="requisitionws:UpdateRequest"/>
      <output message="requisitionws:UpdateResponse"/>
    </operation>
    <operation name="View">
      <input message="requisitionws:ViewRequest"/>
      <output message="requisitionws:ViewResponse"/>
    </operation>
  </portType>
  <binding name="POPRequisitionIPServiceSOAPBinding" type="requisitionws:POPRequisitionIPServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisitionIP/Update" style="document"/>
      <input>
        <soap:header message="requisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="requisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="View">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisitionIP/View" style="document"/>
      <input>
        <soap:header message="requisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="requisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPRequisitionIPService">
    <port name="POPRequisitionIPServicePort" binding="requisitionws:POPRequisitionIPServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/requisitionip/poprequisitionip-1.0"/>
    </port>
  </service>
</definitions>
