docs/Unit4 Financials HTML Documentation/wsdl/pop-requestforquote-poprequestforquote.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/requestforquote/poprequestforquote-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rfqws="http://www.coda.com/pop/schemas/requestforquote/poprequestforquote-12.0/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:elmmas="http://www.coda.com/pop/schemas/elementmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:rfq="http://www.coda.com/pop/schemas/requestforquote"
    xmlns:atc="http://www.coda.com/common/schemas/attachment"
    xmlns:comment="http://www.coda.com/pop/schemas/comment"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:address="http://www.coda.com/pop/schemas/address"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:curr="http://www.coda.com/pop/schemas/currency"
    targetNamespace="http://www.coda.com/pop/schemas/requestforquote/poprequestforquote-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/requestforquote" schemaLocation="../wsdl/pop/requestforquote/requestforquote.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/currency" schemaLocation="pop/currency/currency.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/address" schemaLocation="pop/address/address.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/elementmaster" schemaLocation="pop/elementmaster/elementmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/attachment" schemaLocation="common/attachment/attachment.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/comment" schemaLocation="pop/comment/comment.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequestForQuote" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelRFQByKeyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CancelRFQByKey" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            cancelRFQByKey function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Cancelled" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The cancelled is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the RequestForQuote objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequestForQuote" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The whole RequestForQuote
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the RequestForQuote objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateSupplierRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UniqueCode" type="com:typeDbGuid">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LineNumber" type="com:typeLong">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Price" type="com:Money">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Comments" type="poptypes:typePopCommentTextb">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssociateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Associate" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            associate function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Rfq" type="rfq:RequestForQuote">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ClearSupplierRFQAttachmentsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UniqueCode" type="com:typeDbGuid">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssociateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RfqCmpCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="RfqDocCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="RfqDocNum" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="OrderCmpCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="OrderDocCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="OrderDocNum" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckRFQResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CheckRFQ" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            checkRFQ function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddSupplierRFQAttachmentResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetSupplierRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UniqueCode" type="com:typeDbGuid">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IssueRFQResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IssueRFQ" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            issueRFQ function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CompleteSupplierRFQResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CompleteSupplierRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UniqueCode" type="com:typeDbGuid">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="SupplierItemLineList" type="rfq:POPRequestForQuoteCompleteSupplierRFQSupplierItemLineList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateItemRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ItemCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateItemResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ValidateItem" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            validateItem function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequestForQuote" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ClearSupplierRFQAttachmentsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RejectSupplierRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UniqueCode" type="com:typeDbGuid">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ReasonForRejection" type="poptypes:typePopCommentTextb">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="SupplierItemLineList" type="rfq:POPRequestForQuoteRejectSupplierRFQSupplierItemLineList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateSupplierRFQResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UpdateSupplierRFQ" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            updateSupplierRFQ function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CompleteRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Rfq" type="rfq:RequestForQuote">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IssueRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Rfq" type="rfq:RequestForQuote">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequestForQuote" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AllocateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Allocate" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            allocate function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequestForQuoteKey" type="rfq:RequestForQuoteKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            RequestForQuote object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequestForQuoteList" type="rfq:RequestForQuoteList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RejectSupplierRFQResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetSupplierRFQResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetSupplierRFQ" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getSupplierRFQ function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequestForQuoteItemList" type="rfq:RequestForQuoteItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AllocateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CompleteRFQResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CompleteRFQ" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            completeRFQ function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelRFQByKeyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RfqKey" type="rfq:RequestForQuoteKey">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CloseRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Rfq" type="rfq:RequestForQuote">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequestForQuoteKey" type="rfq:RequestForQuoteKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            RequestForQuote object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RemoveSupplierRFQAttachmentResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Condition" type="poptypes:typePopRfqTestCondition">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="CompanyCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocumentCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocumentNumber" type="poptypes:typePopDocnum">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CloseRFQResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CloseRFQ" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            closeRFQ function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddSupplierRFQAttachmentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UniqueCode" type="com:typeDbGuid">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LineNumber" type="com:typeLong">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Attachment" type="atc:Attachment">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequestForQuote" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The whole RequestForQuote
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RemoveSupplierRFQAttachmentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UniqueCode" type="com:typeDbGuid">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LineNumber" type="com:typeLong">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="AttachmentNumber" type="com:typeLong">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelRFQResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CancelRFQ" type="rfq:RequestForQuote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            cancelRFQ function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="rfqws:DeleteRequest"/>
  </message>
  <message name="RejectSupplierRFQResponse">
    <part name="RejectSupplierRFQResponse" element="rfqws:RejectSupplierRFQResponse"/>
  </message>
  <message name="ValidateItemRequest">
    <part name="ValidateItemRequest" element="rfqws:ValidateItemRequest"/>
  </message>
  <message name="ClearSupplierRFQAttachmentsResponse">
    <part name="ClearSupplierRFQAttachmentsResponse" element="rfqws:ClearSupplierRFQAttachmentsResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="rfqws:FindRequest"/>
  </message>
  <message name="IssueRFQResponse">
    <part name="IssueRFQResponse" element="rfqws:IssueRFQResponse"/>
  </message>
  <message name="AssociateResponse">
    <part name="AssociateResponse" element="rfqws:AssociateResponse"/>
  </message>
  <message name="AssociateRequest">
    <part name="AssociateRequest" element="rfqws:AssociateRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="rfqws:DeleteResponse"/>
  </message>
  <message name="UpdateSupplierRFQRequest">
    <part name="UpdateSupplierRFQRequest" element="rfqws:UpdateSupplierRFQRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="rfqws:GetResponse"/>
  </message>
  <message name="GetSupplierRFQRequest">
    <part name="GetSupplierRFQRequest" element="rfqws:GetSupplierRFQRequest"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="rfqws:AddResponse"/>
  </message>
  <message name="GetSupplierRFQResponse">
    <part name="GetSupplierRFQResponse" element="rfqws:GetSupplierRFQResponse"/>
  </message>
  <message name="RemoveSupplierRFQAttachmentRequest">
    <part name="RemoveSupplierRFQAttachmentRequest" element="rfqws:RemoveSupplierRFQAttachmentRequest"/>
  </message>
  <message name="CompleteRFQRequest">
    <part name="CompleteRFQRequest" element="rfqws:CompleteRFQRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="rfqws:UpdateRequest"/>
  </message>
  <message name="AddSupplierRFQAttachmentRequest">
    <part name="AddSupplierRFQAttachmentRequest" element="rfqws:AddSupplierRFQAttachmentRequest"/>
  </message>
  <message name="ValidateItemResponse">
    <part name="ValidateItemResponse" element="rfqws:ValidateItemResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="rfqws:ListRequest"/>
  </message>
  <message name="CompleteSupplierRFQResponse">
    <part name="CompleteSupplierRFQResponse" element="rfqws:CompleteSupplierRFQResponse"/>
  </message>
  <message name="CheckRFQResponse">
    <part name="CheckRFQResponse" element="rfqws:CheckRFQResponse"/>
  </message>
  <message name="RemoveSupplierRFQAttachmentResponse">
    <part name="RemoveSupplierRFQAttachmentResponse" element="rfqws:RemoveSupplierRFQAttachmentResponse"/>
  </message>
  <message name="CancelRFQResponse">
    <part name="CancelRFQResponse" element="rfqws:CancelRFQResponse"/>
  </message>
  <message name="CheckRFQRequest">
    <part name="CheckRFQRequest" element="rfqws:CheckRFQRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="rfqws:OptionsResponse"/>
  </message>
  <message name="ClearSupplierRFQAttachmentsRequest">
    <part name="ClearSupplierRFQAttachmentsRequest" element="rfqws:ClearSupplierRFQAttachmentsRequest"/>
  </message>
  <message name="UpdateSupplierRFQResponse">
    <part name="UpdateSupplierRFQResponse" element="rfqws:UpdateSupplierRFQResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="rfqws:GetRequest"/>
  </message>
  <message name="CompleteRFQResponse">
    <part name="CompleteRFQResponse" element="rfqws:CompleteRFQResponse"/>
  </message>
  <message name="IssueRFQRequest">
    <part name="IssueRFQRequest" element="rfqws:IssueRFQRequest"/>
  </message>
  <message name="CancelRFQRequest">
    <part name="CancelRFQRequest" element="rfqws:CancelRFQRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="rfqws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="rfqws:AddRequest"/>
  </message>
  <message name="AllocateResponse">
    <part name="AllocateResponse" element="rfqws:AllocateResponse"/>
  </message>
  <message name="CloseRFQRequest">
    <part name="CloseRFQRequest" element="rfqws:CloseRFQRequest"/>
  </message>
  <message name="AddSupplierRFQAttachmentResponse">
    <part name="AddSupplierRFQAttachmentResponse" element="rfqws:AddSupplierRFQAttachmentResponse"/>
  </message>
  <message name="RejectSupplierRFQRequest">
    <part name="RejectSupplierRFQRequest" element="rfqws:RejectSupplierRFQRequest"/>
  </message>
  <message name="CloseRFQResponse">
    <part name="CloseRFQResponse" element="rfqws:CloseRFQResponse"/>
  </message>
  <message name="CompleteSupplierRFQRequest">
    <part name="CompleteSupplierRFQRequest" element="rfqws:CompleteSupplierRFQRequest"/>
  </message>
  <message name="AllocateRequest">
    <part name="AllocateRequest" element="rfqws:AllocateRequest"/>
  </message>
  <message name="CancelRFQByKeyResponse">
    <part name="CancelRFQByKeyResponse" element="rfqws:CancelRFQByKeyResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="rfqws:ListResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="rfqws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="rfqws:FindResponse"/>
  </message>
  <message name="CancelRFQByKeyRequest">
    <part name="CancelRFQByKeyRequest" element="rfqws:CancelRFQByKeyRequest"/>
  </message>
  <portType name="POPRequestForQuoteServicePortTypes">
    <operation name="Add">
      <input message="rfqws:AddRequest"/>
      <output message="rfqws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="rfqws:DeleteRequest"/>
      <output message="rfqws:DeleteResponse"/>
    </operation>
    <operation name="CheckRFQ">
      <input message="rfqws:CheckRFQRequest"/>
      <output message="rfqws:CheckRFQResponse"/>
    </operation>
    <operation name="UpdateSupplierRFQ">
      <input message="rfqws:UpdateSupplierRFQRequest"/>
      <output message="rfqws:UpdateSupplierRFQResponse"/>
    </operation>
    <operation name="CompleteRFQ">
      <input message="rfqws:CompleteRFQRequest"/>
      <output message="rfqws:CompleteRFQResponse"/>
    </operation>
    <operation name="AddSupplierRFQAttachment">
      <input message="rfqws:AddSupplierRFQAttachmentRequest"/>
      <output message="rfqws:AddSupplierRFQAttachmentResponse"/>
    </operation>
    <operation name="ClearSupplierRFQAttachments">
      <input message="rfqws:ClearSupplierRFQAttachmentsRequest"/>
      <output message="rfqws:ClearSupplierRFQAttachmentsResponse"/>
    </operation>
    <operation name="RejectSupplierRFQ">
      <input message="rfqws:RejectSupplierRFQRequest"/>
      <output message="rfqws:RejectSupplierRFQResponse"/>
    </operation>
    <operation name="GetSupplierRFQ">
      <input message="rfqws:GetSupplierRFQRequest"/>
      <output message="rfqws:GetSupplierRFQResponse"/>
    </operation>
    <operation name="Update">
      <input message="rfqws:UpdateRequest"/>
      <output message="rfqws:UpdateResponse"/>
    </operation>
    <operation name="RemoveSupplierRFQAttachment">
      <input message="rfqws:RemoveSupplierRFQAttachmentRequest"/>
      <output message="rfqws:RemoveSupplierRFQAttachmentResponse"/>
    </operation>
    <operation name="ValidateItem">
      <input message="rfqws:ValidateItemRequest"/>
      <output message="rfqws:ValidateItemResponse"/>
    </operation>
    <operation name="CancelRFQByKey">
      <input message="rfqws:CancelRFQByKeyRequest"/>
      <output message="rfqws:CancelRFQByKeyResponse"/>
    </operation>
    <operation name="Get">
      <input message="rfqws:GetRequest"/>
      <output message="rfqws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="rfqws:FindRequest"/>
      <output message="rfqws:FindResponse"/>
    </operation>
    <operation name="CloseRFQ">
      <input message="rfqws:CloseRFQRequest"/>
      <output message="rfqws:CloseRFQResponse"/>
    </operation>
    <operation name="CompleteSupplierRFQ">
      <input message="rfqws:CompleteSupplierRFQRequest"/>
      <output message="rfqws:CompleteSupplierRFQResponse"/>
    </operation>
    <operation name="List">
      <input message="rfqws:ListRequest"/>
      <output message="rfqws:ListResponse"/>
    </operation>
    <operation name="CancelRFQ">
      <input message="rfqws:CancelRFQRequest"/>
      <output message="rfqws:CancelRFQResponse"/>
    </operation>
    <operation name="IssueRFQ">
      <input message="rfqws:IssueRFQRequest"/>
      <output message="rfqws:IssueRFQResponse"/>
    </operation>
    <operation name="Associate">
      <input message="rfqws:AssociateRequest"/>
      <output message="rfqws:AssociateResponse"/>
    </operation>
    <operation name="Allocate">
      <input message="rfqws:AllocateRequest"/>
      <output message="rfqws:AllocateResponse"/>
    </operation>
  </portType>
  <binding name="POPRequestForQuoteServiceSOAPBinding" type="rfqws:POPRequestForQuoteServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/Add" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/Delete" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CheckRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/CheckRFQ" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateSupplierRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/UpdateSupplierRFQ" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CompleteRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/CompleteRFQ" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddSupplierRFQAttachment">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/AddSupplierRFQAttachment" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ClearSupplierRFQAttachments">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/ClearSupplierRFQAttachments" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RejectSupplierRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/RejectSupplierRFQ" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetSupplierRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/GetSupplierRFQ" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/Update" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RemoveSupplierRFQAttachment">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/RemoveSupplierRFQAttachment" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateItem">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/ValidateItem" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelRFQByKey">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/CancelRFQByKey" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/Get" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/Find" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CloseRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/CloseRFQ" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CompleteSupplierRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/CompleteSupplierRFQ" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/List" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/CancelRFQ" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IssueRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/IssueRFQ" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Associate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/Associate" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Allocate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequestForQuote/Allocate" style="document"/>
      <input>
        <soap:header message="rfqws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="rfqws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPRequestForQuoteService">
    <port name="POPRequestForQuoteServicePort" binding="rfqws:POPRequestForQuoteServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/requestforquote/poprequestforquote-12.0"/>
    </port>
  </service>
</definitions>
