docs/Unit4 Financials HTML Documentation/wsdl/pop-appparams-popappparams.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/appparams/popappparams-11.3/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:popappparamsws="http://www.coda.com/pop/schemas/appparams/popappparams-11.3/webservice">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:popappparams="http://www.coda.com/pop/schemas/appparams"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:app="http://www.coda.com/common/schemas/appparams"
    targetNamespace="http://www.coda.com/pop/schemas/appparams/popappparams-11.3/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pop/schemas/appparams" schemaLocation="../wsdl/pop/appparams/appparams.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/appparams" schemaLocation="common/appparams/appparams.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PopAppParams" type="popappparams:PopAppParams">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PopAppParams" type="popappparams:PopAppParams">
                    <xsd:annotation>
                        <xsd:documentation>The whole PopAppParams object
                            that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PopAppParams" type="popappparams:PopAppParams">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PopAppParamsKey" type="popappparams:PopAppParamsKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the PopAppParams object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="popappparamsws:OptionsResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="popappparamsws:GetResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="popappparamsws:Options"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="popappparamsws:UpdateResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="popappparamsws:GetRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="popappparamsws:UpdateRequest"/>
  </message>
  <portType name="POPAppParamsServicePortTypes">
    <operation name="Get">
      <input message="popappparamsws:GetRequest"/>
      <output message="popappparamsws:GetResponse"/>
    </operation>
    <operation name="Update">
      <input message="popappparamsws:UpdateRequest"/>
      <output message="popappparamsws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="POPAppParamsServiceSOAPBinding" type="popappparamsws:POPAppParamsServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPAppParams/Get" style="document"/>
      <input>
        <soap:header message="popappparamsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popappparamsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPAppParams/Update" style="document"/>
      <input>
        <soap:header message="popappparamsws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popappparamsws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPAppParamsService">
    <port name="POPAppParamsServicePort" binding="popappparamsws:POPAppParamsServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/appparams/popappparams-11.3"/>
    </port>
  </service>
</definitions>
