docs/Unit4 Financials HTML Documentation/wsdl/pop-dataload-popdataload.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/dataload/popdataload-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:dataloadws="http://www.coda.com/pop/schemas/dataload/popdataload-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:dataload="http://www.coda.com/pop/schemas/dataload"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/dataload/popdataload-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/dataload" schemaLocation="../wsdl/pop/dataload/dataload.xsd"/>
    <xsd:element name="ListReferencesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ListReferences" type="dataload:ReferenceList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            listReferences function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadGRNsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LoadGRNs" type="dataload:ProcessReponse">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            loadGRNs function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadOrdersRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessParams" type="dataload:ProcessParameters">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="UploadParams" minOccurs="0" type="dataload:UploadOrderParameters">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ImportParams" minOccurs="0" type="dataload:ImportOrderParameters">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadItemsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessParams" type="dataload:ProcessParameters">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="UploadParams" minOccurs="0" type="dataload:UploadItemParameters">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ImportParams" minOccurs="0" type="dataload:ImportItemParameters">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListReferencesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="dataload:ReferenceQuery">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadItemsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LoadItems" type="dataload:ProcessReponse">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            loadItems function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadOrdersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LoadOrders" type="dataload:ProcessReponse">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            loadOrders function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadRequisitionsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LoadRequisitions" type="dataload:ProcessReponse">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            loadRequisitions function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadRequisitionsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessParams" type="dataload:ProcessParameters">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="UploadParams" minOccurs="0" type="dataload:UploadRequisitionParameters">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ImportParams" minOccurs="0" type="dataload:ImportRequisitionParameters">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadGRNsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessParams" type="dataload:ProcessParameters">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="UploadParams" minOccurs="0" type="dataload:UploadGRNParameters">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ImportParams" minOccurs="0" type="dataload:ImportDocumentParameters">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="LoadGRNsResponse">
    <part name="LoadGRNsResponse" element="dataloadws:LoadGRNsResponse"/>
  </message>
  <message name="LoadItemsRequest">
    <part name="LoadItemsRequest" element="dataloadws:LoadItemsRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="dataloadws:OptionsResponse"/>
  </message>
  <message name="LoadGRNsRequest">
    <part name="LoadGRNsRequest" element="dataloadws:LoadGRNsRequest"/>
  </message>
  <message name="ListReferencesResponse">
    <part name="ListReferencesResponse" element="dataloadws:ListReferencesResponse"/>
  </message>
  <message name="LoadRequisitionsRequest">
    <part name="LoadRequisitionsRequest" element="dataloadws:LoadRequisitionsRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="dataloadws:Options"/>
  </message>
  <message name="LoadOrdersRequest">
    <part name="LoadOrdersRequest" element="dataloadws:LoadOrdersRequest"/>
  </message>
  <message name="LoadOrdersResponse">
    <part name="LoadOrdersResponse" element="dataloadws:LoadOrdersResponse"/>
  </message>
  <message name="ListReferencesRequest">
    <part name="ListReferencesRequest" element="dataloadws:ListReferencesRequest"/>
  </message>
  <message name="LoadRequisitionsResponse">
    <part name="LoadRequisitionsResponse" element="dataloadws:LoadRequisitionsResponse"/>
  </message>
  <message name="LoadItemsResponse">
    <part name="LoadItemsResponse" element="dataloadws:LoadItemsResponse"/>
  </message>
  <portType name="POPDataLoadServicePortTypes">
    <operation name="LoadGRNs">
      <input message="dataloadws:LoadGRNsRequest"/>
      <output message="dataloadws:LoadGRNsResponse"/>
    </operation>
    <operation name="ListReferences">
      <input message="dataloadws:ListReferencesRequest"/>
      <output message="dataloadws:ListReferencesResponse"/>
    </operation>
    <operation name="LoadOrders">
      <input message="dataloadws:LoadOrdersRequest"/>
      <output message="dataloadws:LoadOrdersResponse"/>
    </operation>
    <operation name="LoadItems">
      <input message="dataloadws:LoadItemsRequest"/>
      <output message="dataloadws:LoadItemsResponse"/>
    </operation>
    <operation name="LoadRequisitions">
      <input message="dataloadws:LoadRequisitionsRequest"/>
      <output message="dataloadws:LoadRequisitionsResponse"/>
    </operation>
  </portType>
  <binding name="POPDataLoadServiceSOAPBinding" type="dataloadws:POPDataLoadServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="LoadGRNs">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDataLoad/LoadGRNs" style="document"/>
      <input>
        <soap:header message="dataloadws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dataloadws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListReferences">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDataLoad/ListReferences" style="document"/>
      <input>
        <soap:header message="dataloadws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dataloadws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="LoadOrders">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDataLoad/LoadOrders" style="document"/>
      <input>
        <soap:header message="dataloadws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dataloadws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="LoadItems">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDataLoad/LoadItems" style="document"/>
      <input>
        <soap:header message="dataloadws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dataloadws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="LoadRequisitions">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDataLoad/LoadRequisitions" style="document"/>
      <input>
        <soap:header message="dataloadws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="dataloadws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPDataLoadService">
    <port name="POPDataLoadServicePort" binding="dataloadws:POPDataLoadServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/dataload/popdataload-12.0"/>
    </port>
  </service>
</definitions>
