docs/Unit4 Financials HTML Documentation/wsdl/pop-popselector-popselectormaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/popselector/popselectormaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:popselectorws="http://www.coda.com/pop/schemas/popselector/popselectormaster-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:popselector="http://www.coda.com/pop/schemas/popselector"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:procmas="http://www.coda.com/pop/schemas/processmaster"
    xmlns:sel="http://www.coda.com/efinance/schemas/selector"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:selmas="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:rfq="http://www.coda.com/pop/schemas/requestforquote"
    xmlns:dvw="http://www.coda.com/common/schemas/dataview"
    xmlns:popcom="http://www.coda.com/pop/schemas/common"
    xmlns:gsl="http://www.coda.com/efinance/schemas/selectormaster"
    xmlns:presmas="http://www.coda.com/efinance/schemas/presenter"
    xmlns:doc="http://www.coda.com/pop/schemas/document"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/popselector/popselectormaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/popselector" schemaLocation="../wsdl/pop/popselector/popselector.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/document" schemaLocation="pop/document/document.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selector" schemaLocation="finance/selector/selector.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/dataview" schemaLocation="common/dataview/dataview.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/presenter" schemaLocation="finance/presenter/presenter.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/requestforquote" schemaLocation="pop/requestforquote/requestforquote.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/processmaster" schemaLocation="pop/processmaster/processmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/efinance/schemas/selectormaster" schemaLocation="finance/selectormaster/selectormaster.xsd"/>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="selmas:ReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>A filter that selects the
                            selector masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocType" type="poptypes:typePopDocumentType">
                    <xsd:annotation>
                        <xsd:documentation>The type of Procurement
                            document to which the selector master relates.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LineLevel" type="xsd:boolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>Specifies whether the
                            selection is made on document lines.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="HeaderLevel" type="xsd:boolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>Specifies whether the
                            selection is made on document headers.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="gsl:PrintReqKeys">
                    <xsd:annotation>
                        <xsd:documentation>The filter that was used to
                            select the selector masters to be listed.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Keys" minOccurs="0" type="com:KeyData">
                    <xsd:annotation>
                        <xsd:documentation>Contains the key information
                            for the listed selector masters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="popselectorws:OptionsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="popselectorws:Options"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="popselectorws:ListRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="popselectorws:ListResponse"/>
  </message>
  <portType name="POPSelectorMasterServicePortTypes">
    <operation name="List">
      <input message="popselectorws:ListRequest"/>
      <output message="popselectorws:ListResponse"/>
    </operation>
  </portType>
  <binding name="POPSelectorMasterServiceSOAPBinding" type="popselectorws:POPSelectorMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSelectorMaster/List" style="document"/>
      <input>
        <soap:header message="popselectorws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popselectorws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPSelectorMasterService">
    <port name="POPSelectorMasterServicePort" binding="popselectorws:POPSelectorMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/popselector/popselectormaster-12.0"/>
    </port>
  </service>
</definitions>
