docs/Unit4 Financials HTML Documentation/wsdl/pop-securityreports-popsecurityreports.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/securityreports/popsecurityreports-11.3/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:popsecrptws="http://www.coda.com/pop/schemas/securityreports/popsecurityreports-11.3/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:secrpt="http://www.coda.com/common/schemas/securityreports"
    xmlns:popsecrpt="http://www.coda.com/pop/schemas/securityreports"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/securityreports/popsecurityreports-11.3/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/securityreports" schemaLocation="../wsdl/pop/securityreports/securityreports.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/securityreports" schemaLocation="common/securityreports/securityreports.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UsersByProcessMasterResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Criteria" type="secrpt:ProcessMasterCriteria">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            criteria specified in the request.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Results" type="secrpt:ProcessMasterReport">
                    <xsd:annotation>
                        <xsd:documentation>Contains the results
                            retrieved by the request.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UsersByProcessMasterRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Criteria" type="secrpt:ProcessMasterCriteria">
                    <xsd:annotation>
                        <xsd:documentation>This element contains the
                            criteria used to generate the report.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="popsecrptws:OptionsResponse"/>
  </message>
  <message name="UsersByProcessMasterRequest">
    <part name="UsersByProcessMasterRequest" element="popsecrptws:UsersByProcessMasterRequest"/>
  </message>
  <message name="UsersByProcessMasterResponse">
    <part name="UsersByProcessMasterResponse" element="popsecrptws:UsersByProcessMasterResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="popsecrptws:Options"/>
  </message>
  <portType name="POPSecurityReportsServicePortTypes">
    <operation name="UsersByProcessMaster">
      <input message="popsecrptws:UsersByProcessMasterRequest"/>
      <output message="popsecrptws:UsersByProcessMasterResponse"/>
    </operation>
  </portType>
  <binding name="POPSecurityReportsServiceSOAPBinding" type="popsecrptws:POPSecurityReportsServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UsersByProcessMaster">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPSecurityReports/UsersByProcessMaster" style="document"/>
      <input>
        <soap:header message="popsecrptws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popsecrptws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPSecurityReportsService">
    <port name="POPSecurityReportsServicePort" binding="popsecrptws:POPSecurityReportsServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/securityreports/popsecurityreports-11.3"/>
    </port>
  </service>
</definitions>
