docs/Unit4 Financials HTML Documentation/wsdl/pop-address-popaddress.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/address/popaddress-1.0/webservice" xmlns:addressws="http://www.coda.com/pop/schemas/address/popaddress-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:address="http://www.coda.com/pop/schemas/address"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/address/popaddress-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pop/schemas/address" schemaLocation="../wsdl/pop/address/address.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:element name="DefaultDeliveryAddressRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>        The code of the company in
                                    which the address exists.       </p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DeptElmCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>        The code of the department
                                    element to which the address
                                    relates.       </p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DeptElmLevel" minOccurs="0" type="com:typeElmLevelB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>        The level of the department
                                    element to which the address
                                    relates.       </p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DefaultDeliveryAddressResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DefaultDeliveryAddress" type="address:Address">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            defaultDeliveryAddress function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the Address objects that the
                            user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Address" type="address:Address">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DefaultSupplierAddressResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DefaultSupplierAddress" type="address:Address">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            defaultSupplierAddress function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AddressItemList" type="address:AddressItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the Address objects that the
                            user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DefaultInvoiceAddressResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DefaultInvoiceAddress" type="address:Address">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            defaultInvoiceAddress function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DefaultInvoiceAddressRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>        The code of the company in
                                    which the address exists.       </p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DeptElmCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>        The code of the department
                                    element to which the address
                                    relates.       </p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DeptElmLevel" minOccurs="0" type="com:typeElmLevelB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>        The level of the department
                                    element to which the address
                                    relates.       </p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DefaultSupplierAddressRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CmpCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>        The code of the company in
                                    which the address exists.       </p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ElmCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>        The code of the element to
                                    which the address relates.       </p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ElmLevel" minOccurs="0" type="com:typeElmLevelB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>        The level of the element to
                                    which the address relates.       </p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AddressKey" type="address:AddressKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Address object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AddressList" type="address:AddressList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DefaultInvoiceAddressRequest">
    <part name="DefaultInvoiceAddressRequest" element="addressws:DefaultInvoiceAddressRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="addressws:OptionsResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="addressws:FindRequest"/>
  </message>
  <message name="DefaultDeliveryAddressResponse">
    <part name="DefaultDeliveryAddressResponse" element="addressws:DefaultDeliveryAddressResponse"/>
  </message>
  <message name="DefaultSupplierAddressResponse">
    <part name="DefaultSupplierAddressResponse" element="addressws:DefaultSupplierAddressResponse"/>
  </message>
  <message name="DefaultInvoiceAddressResponse">
    <part name="DefaultInvoiceAddressResponse" element="addressws:DefaultInvoiceAddressResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="addressws:GetRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="addressws:GetResponse"/>
  </message>
  <message name="DefaultDeliveryAddressRequest">
    <part name="DefaultDeliveryAddressRequest" element="addressws:DefaultDeliveryAddressRequest"/>
  </message>
  <message name="DefaultSupplierAddressRequest">
    <part name="DefaultSupplierAddressRequest" element="addressws:DefaultSupplierAddressRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="addressws:ListResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="addressws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="addressws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="addressws:ListRequest"/>
  </message>
  <portType name="POPAddressServicePortTypes">
    <operation name="DefaultDeliveryAddress">
      <input message="addressws:DefaultDeliveryAddressRequest"/>
      <output message="addressws:DefaultDeliveryAddressResponse"/>
    </operation>
    <operation name="DefaultSupplierAddress">
      <input message="addressws:DefaultSupplierAddressRequest"/>
      <output message="addressws:DefaultSupplierAddressResponse"/>
    </operation>
    <operation name="Get">
      <input message="addressws:GetRequest"/>
      <output message="addressws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="addressws:FindRequest"/>
      <output message="addressws:FindResponse"/>
    </operation>
    <operation name="DefaultInvoiceAddress">
      <input message="addressws:DefaultInvoiceAddressRequest"/>
      <output message="addressws:DefaultInvoiceAddressResponse"/>
    </operation>
    <operation name="List">
      <input message="addressws:ListRequest"/>
      <output message="addressws:ListResponse"/>
    </operation>
  </portType>
  <binding name="POPAddressServiceSOAPBinding" type="addressws:POPAddressServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DefaultDeliveryAddress">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPAddress/DefaultDeliveryAddress" style="document"/>
      <input>
        <soap:header message="addressws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="addressws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DefaultSupplierAddress">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPAddress/DefaultSupplierAddress" style="document"/>
      <input>
        <soap:header message="addressws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="addressws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPAddress/Get" style="document"/>
      <input>
        <soap:header message="addressws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="addressws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPAddress/Find" style="document"/>
      <input>
        <soap:header message="addressws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="addressws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DefaultInvoiceAddress">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPAddress/DefaultInvoiceAddress" style="document"/>
      <input>
        <soap:header message="addressws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="addressws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPAddress/List" style="document"/>
      <input>
        <soap:header message="addressws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="addressws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPAddressService">
    <port name="POPAddressServicePort" binding="addressws:POPAddressServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/address/popaddress-1.0"/>
    </port>
  </service>
</definitions>
