docs/Unit4 Financials HTML Documentation/wsdl/pop-receipting-popreceipting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/receipting/popreceipting-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:popreceiptingws="http://www.coda.com/pop/schemas/receipting/popreceipting-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:popreceipting="http://www.coda.com/pop/schemas/receipting"
    xmlns:inputtemplate="http://www.coda.com/pop/schemas/inputtemplatemaster"
    xmlns:grn="http://www.coda.com/pop/schemas/goodsreceivednote"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:pord="http://www.coda.com/pop/schemas/purchaseorder"
    targetNamespace="http://www.coda.com/pop/schemas/receipting/popreceipting-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/receipting" schemaLocation="../wsdl/pop/receipting/receipting.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/goodsreceivednote" schemaLocation="pop/goodsreceivednote/goodsreceivednote.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/inputtemplatemaster" schemaLocation="pop/inputtemplatemaster/inputtemplatemaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/purchaseorder" schemaLocation="pop/purchaseorder/purchaseorder.xsd"/>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GenerateReceiptFromPurchaseOrderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplate" type="inputtemplate:InputTemplateMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>         <p>The Input
                                Template that is  used to create the
                                receipts. This is  a mandatory
                            field.</p>        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentMasterCode" type="com:typeCode">
                    <xsd:annotation>
                        <xsd:documentation>         <p>The document code
                                to use when creating the document. If
                                the template can be applied to multiple
                                documents then use this field to specify
                                which document to use.  If  the template
                                can be applied to
                                a single document then this field does
                                not have to be populated as the function
                                will retrieve the
                                document code.</p>        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OrderKeys" type="pord:PurchaseOrderKeyList">
                    <xsd:annotation>
                        <xsd:documentation>The purchase orders for which
                            GRNs are to be created.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefreshTotalsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RefreshTotals" type="grn:GoodsReceivedNote">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            refreshTotals function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefreshTotalsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GoodsReceivedNote" type="grn:GoodsReceivedNote">
                    <xsd:annotation>
                        <xsd:documentation>The details of the GRN whose
                            totals are to be recalculated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GenerateReceiptFromPurchaseOrderResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GRNList" type="grn:GoodsReceivedNoteList">
                    <xsd:annotation>
                        <xsd:documentation>The GRNList is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GenerateReceiptFromPurchaseOrderRequest">
    <part name="GenerateReceiptFromPurchaseOrderRequest" element="popreceiptingws:GenerateReceiptFromPurchaseOrderRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="popreceiptingws:OptionsResponse"/>
  </message>
  <message name="RefreshTotalsResponse">
    <part name="RefreshTotalsResponse" element="popreceiptingws:RefreshTotalsResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="popreceiptingws:Options"/>
  </message>
  <message name="RefreshTotalsRequest">
    <part name="RefreshTotalsRequest" element="popreceiptingws:RefreshTotalsRequest"/>
  </message>
  <message name="GenerateReceiptFromPurchaseOrderResponse">
    <part name="GenerateReceiptFromPurchaseOrderResponse" element="popreceiptingws:GenerateReceiptFromPurchaseOrderResponse"/>
  </message>
  <portType name="POPReceiptingServicePortTypes">
    <operation name="RefreshTotals">
      <input message="popreceiptingws:RefreshTotalsRequest"/>
      <output message="popreceiptingws:RefreshTotalsResponse"/>
    </operation>
    <operation name="GenerateReceiptFromPurchaseOrder">
      <input message="popreceiptingws:GenerateReceiptFromPurchaseOrderRequest"/>
      <output message="popreceiptingws:GenerateReceiptFromPurchaseOrderResponse"/>
    </operation>
  </portType>
  <binding name="POPReceiptingServiceSOAPBinding" type="popreceiptingws:POPReceiptingServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="RefreshTotals">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPReceipting/RefreshTotals" style="document"/>
      <input>
        <soap:header message="popreceiptingws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreceiptingws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GenerateReceiptFromPurchaseOrder">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPReceipting/GenerateReceiptFromPurchaseOrder" style="document"/>
      <input>
        <soap:header message="popreceiptingws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreceiptingws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPReceiptingService">
    <port name="POPReceiptingServicePort" binding="popreceiptingws:POPReceiptingServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/receipting/popreceipting-12.0"/>
    </port>
  </service>
</definitions>
