docs/Unit4 Financials HTML Documentation/wsdl/pop-inputtemplatemaster-popinputtemplatemaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/inputtemplatemaster/popinputtemplatemaster-11.3/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:inputtemplatemasterws="http://www.coda.com/pop/schemas/inputtemplatemaster/popinputtemplatemaster-11.3/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:popitem="http://www.coda.com/pop/schemas/item"
    xmlns:inputtemplatemaster="http://www.coda.com/pop/schemas/inputtemplatemaster"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/inputtemplatemaster/popinputtemplatemaster-11.3/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pop/schemas/item" schemaLocation="pop/item/item.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/inputtemplatemaster" schemaLocation="../wsdl/pop/inputtemplatemaster/inputtemplatemaster.xsd"/>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="InputTemplateMaster" type="inputtemplatemaster:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole InputTemplateMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the InputTemplateMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMaster" type="inputtemplatemaster:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMasterItemList" type="inputtemplatemaster:InputTemplateMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the InputTemplateMaster
                            objects that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="InputTemplateMaster" type="inputtemplatemaster:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="InputTemplateMaster" type="inputtemplatemaster:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="InputTemplateMaster" type="inputtemplatemaster:InputTemplateMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole InputTemplateMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMasterKey" type="inputtemplatemaster:InputTemplateMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            InputTemplateMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDefaultItemResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DefaultItem" type="inputtemplatemaster:DefaultItem">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getDefaultItem function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDefaultItemRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DefaultItemKey" type="inputtemplatemaster:DefaultItemKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the DefaultItem object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMasterKey" type="inputtemplatemaster:InputTemplateMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the
                            InputTemplateMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InputTemplateMasterList" type="inputtemplatemaster:InputTemplateMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetDefaultItemRequest">
    <part name="GetDefaultItemRequest" element="inputtemplatemasterws:GetDefaultItemRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="inputtemplatemasterws:FindRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="inputtemplatemasterws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="inputtemplatemasterws:OptionsResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="inputtemplatemasterws:UpdateResponse"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="inputtemplatemasterws:AddRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="inputtemplatemasterws:DeleteResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="inputtemplatemasterws:GetRequest"/>
  </message>
  <message name="GetDefaultItemResponse">
    <part name="GetDefaultItemResponse" element="inputtemplatemasterws:GetDefaultItemResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="inputtemplatemasterws:GetResponse"/>
  </message>
  <message name="AddResponse">
    <part name="AddResponse" element="inputtemplatemasterws:AddResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="inputtemplatemasterws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="inputtemplatemasterws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="inputtemplatemasterws:ListRequest"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="inputtemplatemasterws:UpdateRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="inputtemplatemasterws:ListResponse"/>
  </message>
  <portType name="POPInputTemplateMasterServicePortTypes">
    <operation name="Add">
      <input message="inputtemplatemasterws:AddRequest"/>
      <output message="inputtemplatemasterws:AddResponse"/>
    </operation>
    <operation name="Delete">
      <input message="inputtemplatemasterws:DeleteRequest"/>
      <output message="inputtemplatemasterws:DeleteResponse"/>
    </operation>
    <operation name="GetDefaultItem">
      <input message="inputtemplatemasterws:GetDefaultItemRequest"/>
      <output message="inputtemplatemasterws:GetDefaultItemResponse"/>
    </operation>
    <operation name="Get">
      <input message="inputtemplatemasterws:GetRequest"/>
      <output message="inputtemplatemasterws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="inputtemplatemasterws:FindRequest"/>
      <output message="inputtemplatemasterws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="inputtemplatemasterws:ListRequest"/>
      <output message="inputtemplatemasterws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="inputtemplatemasterws:UpdateRequest"/>
      <output message="inputtemplatemasterws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="POPInputTemplateMasterServiceSOAPBinding" type="inputtemplatemasterws:POPInputTemplateMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPInputTemplateMaster/Add" style="document"/>
      <input>
        <soap:header message="inputtemplatemasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="inputtemplatemasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPInputTemplateMaster/Delete" style="document"/>
      <input>
        <soap:header message="inputtemplatemasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="inputtemplatemasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetDefaultItem">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPInputTemplateMaster/GetDefaultItem" style="document"/>
      <input>
        <soap:header message="inputtemplatemasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="inputtemplatemasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPInputTemplateMaster/Get" style="document"/>
      <input>
        <soap:header message="inputtemplatemasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="inputtemplatemasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPInputTemplateMaster/Find" style="document"/>
      <input>
        <soap:header message="inputtemplatemasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="inputtemplatemasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPInputTemplateMaster/List" style="document"/>
      <input>
        <soap:header message="inputtemplatemasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="inputtemplatemasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPInputTemplateMaster/Update" style="document"/>
      <input>
        <soap:header message="inputtemplatemasterws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="inputtemplatemasterws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPInputTemplateMasterService">
    <port name="POPInputTemplateMasterServicePort" binding="inputtemplatemasterws:POPInputTemplateMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/inputtemplatemaster/popinputtemplatemaster-11.3"/>
    </port>
  </service>
</definitions>
