docs/Unit4 Financials HTML Documentation/wsdl/pop-documentmaster-popdocumentmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/documentmaster/popdocumentmaster-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:docmasws="http://www.coda.com/pop/schemas/documentmaster/popdocumentmaster-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:acmask="http://www.coda.com/pop/schemas/accountmask"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:docmas="http://www.coda.com/pop/schemas/documentmaster"
    xmlns:udf="http://www.coda.com/common/schemas/udfmaster"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:popcommon="http://www.coda.com/pop/schemas/popcommon"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/documentmaster/popdocumentmaster-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/pop/schemas/accountmask" schemaLocation="pop/accountmask/accountmask.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/documentmaster" schemaLocation="../wsdl/pop/documentmaster/documentmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/popcommon" schemaLocation="pop/popcommon/popcommon.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/udfmaster" schemaLocation="common/udfmaster/udfmaster.xsd"/>
    <xsd:element name="UpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="DocumentMaster" type="docmas:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            update function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateUDFMastersRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="CompanyCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the DocumentMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the DocumentMaster objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckUDFsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CheckUDFs" type="docmas:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            checkUDFs function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="WarningMessages" minOccurs="0"
                    maxOccurs="unbounded" type="popcommon:Warning">
                    <xsd:annotation>
                        <xsd:documentation>The WarningMessages is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMasterList" type="docmas:DocumentMasterList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateUDFMastersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UpdateUDFMasters" type="docmas:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            updateUDFMasters function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMaster" type="docmas:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="DocumentMaster" type="docmas:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole DocumentMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckUDFsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMaster" type="docmas:DocumentMaster">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocumentCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="CompanyCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMasterItemList" type="docmas:DocumentMasterItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMasterKey" type="docmas:DocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the DocumentMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Companies" minOccurs="0" type="com:Companies"/>
                <xsd:element name="DocumentMaster" type="docmas:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The whole DocumentMaster
                            object that is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MultiCompany" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Companies" type="com:Companies"/>
                            <xsd:element name="Warning" type="com:Reason"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="DocumentMaster" type="docmas:DocumentMaster">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentMasterKey" type="docmas:DocumentMasterKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the DocumentMaster object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="AddResponse">
    <part name="AddResponse" element="docmasws:AddResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="docmasws:GetResponse"/>
  </message>
  <message name="UpdateUDFMastersResponse">
    <part name="UpdateUDFMastersResponse" element="docmasws:UpdateUDFMastersResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="docmasws:ListResponse"/>
  </message>
  <message name="UpdateRequest">
    <part name="UpdateRequest" element="docmasws:UpdateRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="docmasws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="docmasws:FindResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="docmasws:ListRequest"/>
  </message>
  <message name="DeleteRequest">
    <part name="DeleteRequest" element="docmasws:DeleteRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="docmasws:OptionsResponse"/>
  </message>
  <message name="CheckUDFsRequest">
    <part name="CheckUDFsRequest" element="docmasws:CheckUDFsRequest"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="docmasws:FindRequest"/>
  </message>
  <message name="CheckUDFsResponse">
    <part name="CheckUDFsResponse" element="docmasws:CheckUDFsResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="docmasws:GetRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="docmasws:AddRequest"/>
  </message>
  <message name="UpdateResponse">
    <part name="UpdateResponse" element="docmasws:UpdateResponse"/>
  </message>
  <message name="UpdateUDFMastersRequest">
    <part name="UpdateUDFMastersRequest" element="docmasws:UpdateUDFMastersRequest"/>
  </message>
  <message name="DeleteResponse">
    <part name="DeleteResponse" element="docmasws:DeleteResponse"/>
  </message>
  <portType name="POPDocumentMasterServicePortTypes">
    <operation name="Delete">
      <input message="docmasws:DeleteRequest"/>
      <output message="docmasws:DeleteResponse"/>
    </operation>
    <operation name="Add">
      <input message="docmasws:AddRequest"/>
      <output message="docmasws:AddResponse"/>
    </operation>
    <operation name="UpdateUDFMasters">
      <input message="docmasws:UpdateUDFMastersRequest"/>
      <output message="docmasws:UpdateUDFMastersResponse"/>
    </operation>
    <operation name="Get">
      <input message="docmasws:GetRequest"/>
      <output message="docmasws:GetResponse"/>
    </operation>
    <operation name="CheckUDFs">
      <input message="docmasws:CheckUDFsRequest"/>
      <output message="docmasws:CheckUDFsResponse"/>
    </operation>
    <operation name="Find">
      <input message="docmasws:FindRequest"/>
      <output message="docmasws:FindResponse"/>
    </operation>
    <operation name="List">
      <input message="docmasws:ListRequest"/>
      <output message="docmasws:ListResponse"/>
    </operation>
    <operation name="Update">
      <input message="docmasws:UpdateRequest"/>
      <output message="docmasws:UpdateResponse"/>
    </operation>
  </portType>
  <binding name="POPDocumentMasterServiceSOAPBinding" type="docmasws:POPDocumentMasterServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Delete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDocumentMaster/Delete" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDocumentMaster/Add" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateUDFMasters">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDocumentMaster/UpdateUDFMasters" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDocumentMaster/Get" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CheckUDFs">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDocumentMaster/CheckUDFs" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDocumentMaster/Find" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDocumentMaster/List" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDocumentMaster/Update" style="document"/>
      <input>
        <soap:header message="docmasws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="docmasws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPDocumentMasterService">
    <port name="POPDocumentMasterServicePort" binding="docmasws:POPDocumentMasterServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/documentmaster/popdocumentmaster-12.0"/>
    </port>
  </service>
</definitions>
