docs/Unit4 Financials HTML Documentation/wsdl/pop-purchaseorder-poppurchaseorder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/purchaseorder/poppurchaseorder-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:poppurchaseorderws="http://www.coda.com/pop/schemas/purchaseorder/poppurchaseorder-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:inputtemplatemaster="http://www.coda.com/pop/schemas/inputtemplatemaster"
    xmlns:elmmas="http://www.coda.com/pop/schemas/elementmaster"
    xmlns:popcommon="http://www.coda.com/pop/schemas/popcommon"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:docmas="http://www.coda.com/pop/schemas/documentmaster"
    xmlns:popitem="http://www.coda.com/pop/schemas/item"
    xmlns:rfq="http://www.coda.com/pop/schemas/requestforquote"
    xmlns:buy="http://www.coda.com/pop/schemas/buyer"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:acmask="http://www.coda.com/pop/schemas/accountmask"
    xmlns:curr="http://www.coda.com/pop/schemas/currency"
    xmlns:poppurchaseorder="http://www.coda.com/pop/schemas/purchaseorder"
    xmlns:commbalance="http://www.coda.com/pop/schemas/commitmentbalance"
    xmlns:datatypes="http://www.coda.com/common/schemas/datatypes"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:popreqisition="http://www.coda.com/pop/schemas/requisition"
    xmlns:doc="http://www.coda.com/pop/schemas/document"
    targetNamespace="http://www.coda.com/pop/schemas/purchaseorder/poppurchaseorder-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/datatypes" schemaLocation="common/datatypes/datatypes.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/item" schemaLocation="pop/item/item.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/popcommon" schemaLocation="pop/popcommon/popcommon.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/buyer" schemaLocation="pop/buyer/buyer.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/document" schemaLocation="pop/document/document.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/currency" schemaLocation="pop/currency/currency.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/purchaseorder" schemaLocation="../wsdl/pop/purchaseorder/purchaseorder.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/accountmask" schemaLocation="pop/accountmask/accountmask.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/requestforquote" schemaLocation="pop/requestforquote/requestforquote.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/inputtemplatemaster" schemaLocation="pop/inputtemplatemaster/inputtemplatemaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/commitmentbalance" schemaLocation="pop/commitmentbalance/commitmentbalance.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/documentmaster" schemaLocation="pop/documentmaster/documentmaster.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/elementmaster" schemaLocation="pop/elementmaster/elementmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/requisition" schemaLocation="pop/requisition/requisition.xsd"/>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseOrder" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadItemLinesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemLines" minOccurs="0"
                    maxOccurs="unbounded" type="doc:ItemLine">
                    <xsd:annotation>
                        <xsd:documentation>The ItemLines is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeOrderCurrencyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Currency" minOccurs="0" type="curr:CurrencyKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ConversionDate" type="com:typeHard">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="CurrencyChange" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="RecalculateLineValues" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the PurchaseOrder objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the PurchaseOrder objects
                            that the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AmalgamateLinesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The order is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ErrorData" type="poppurchaseorder:AmalgamateError">
                    <xsd:annotation>
                        <xsd:documentation>The errorData is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDetailForOrderResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReturnedItems" minOccurs="0"
                    maxOccurs="unbounded" type="poppurchaseorder:RefreshResponse">
                    <xsd:annotation>
                        <xsd:documentation>The returnedItems is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AssociatedItems" minOccurs="0"
                    maxOccurs="unbounded" type="popitem:Dependent">
                    <xsd:annotation>
                        <xsd:documentation>The associatedItems is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RaiseOrderFromRFQResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RaiseOrderFromRFQ" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            RaiseOrderFromRFQ function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPurchaseOrderDataForMatchingResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OrderData" minOccurs="0"
                    maxOccurs="unbounded" type="poppurchaseorder:OrderDataForMatching">
                    <xsd:annotation>
                        <xsd:documentation>The orderData is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RaiseOrderFromRFQRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItmKey" type="inputtemplatemaster:InputTemplateMasterKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocMasterKey" type="docmas:DocumentMasterKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Rfq" type="rfq:RequestForQuoteKey">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeOrderCurrencyRatesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The order is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CurrencyRateData" minOccurs="0"
                    maxOccurs="unbounded" type="curr:CurrencyRateData">
                    <xsd:annotation>
                        <xsd:documentation>The currencyRateData is an
                            out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GenerateTaxRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLinesToCompleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Uncompleting" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateOrderResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckForTraderResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TraderRequired" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The traderRequired is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllPurchaseOrderDataRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OrderKey" type="poppurchaseorder:PurchaseOrderKey">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CompleteLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Uncompleting" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LinesToCompleteList" type="poppurchaseorder:POPPurchaseOrderCompleteLinesLinesToCompleteList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PartialCompleteLinesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OrderItemLine" type="poppurchaseorder:PurchaseOrderItemLine">
                    <xsd:annotation>
                        <xsd:documentation>The orderItemLine is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangePunchoutLinesCurrencyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LineUnitPrice" minOccurs="0"
                    maxOccurs="unbounded" type="poppurchaseorder:LineUnitPrice">
                    <xsd:annotation>
                        <xsd:documentation>The lineUnitPrice is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetDetailForOrderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RefreshableLineFields" minOccurs="0" type="poppurchaseorder:RefreshableLineFields">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocumentData" type="poppurchaseorder:DocumentData">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateOrderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefreshTotalsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RefreshTotals" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            refreshTotals function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetLinesToCompleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LinesToComplete" minOccurs="0"
                    maxOccurs="unbounded" type="com:typeLong">
                    <xsd:annotation>
                        <xsd:documentation>The linesToComplete is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ManipulateDeliveryDateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="NewAccountDeliveryDatesList" type="poppurchaseorder:POPPurchaseOrderManipulateDeliveryDateNewAccountDeliveryDatesList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefreshTotalsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AmalgamateLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LinesList" type="poppurchaseorder:POPPurchaseOrderAmalgamateLinesLinesList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAllPurchaseOrderDataResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="LineWrapperData" minOccurs="0"
                    maxOccurs="unbounded" type="doc:LineWrapperData">
                    <xsd:annotation>
                        <xsd:documentation>The lineWrapperData is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The order is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ShowTraderIcon" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The showTraderIcon is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="IfAssocLRNCanDelete" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The ifAssocLRNCanDelete is an
                            out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BuildOrderAccountResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BuildOrderAccount" type="doc:AccountAllocation">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            buildOrderAccount function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefreshOrderItemDetailsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReturnedItems" minOccurs="0"
                    maxOccurs="unbounded" type="poppurchaseorder:RefreshResponse">
                    <xsd:annotation>
                        <xsd:documentation>The returnedItems is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangePunchoutLinesCurrencyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CurrencyDataList" type="poppurchaseorder:POPPurchaseOrderChangePunchoutLinesCurrencyCurrencyDataList">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LineUnitPriceList" type="poppurchaseorder:POPPurchaseOrderChangePunchoutLinesCurrencyLineUnitPriceList">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ConversionDate" type="com:typeHard">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefreshOrderItemDetailsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RefreshableLineFieldsList" type="poppurchaseorder:POPPurchaseOrderRefreshOrderItemDetailsRefreshableLineFieldsList">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocumentData" type="poppurchaseorder:DocumentData">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RaiseOrderFromRequisitionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RaiseOrderFromRequisition" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            RaiseOrderFromRequisition function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="UdfDataLost" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The udfDataLost is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseOrderList" type="poppurchaseorder:PurchaseOrderList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ManipulateDeliveryDateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BudgetRejected" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The BudgetRejected is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Budget" minOccurs="0"
                    maxOccurs="unbounded" type="commbalance:ComBudgetInfo">
                    <xsd:annotation>
                        <xsd:documentation>The Budget is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="WarningMessages" minOccurs="0"
                    maxOccurs="unbounded" type="popcommon:Warning">
                    <xsd:annotation>
                        <xsd:documentation>The WarningMessages is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RaiseOrderFromRequisitionRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItmKey" type="inputtemplatemaster:InputTemplateMasterKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocMasterKey" type="docmas:DocumentMasterKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ReqLineKeysKeyList" type="popreqisition:RequisitionItemLineKeyList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PartialCompleteLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OrderItemLine" type="poppurchaseorder:PurchaseOrderItemLine">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DeliveryNumber" minOccurs="0" type="com:typeULong">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LinesToCompleteList" type="poppurchaseorder:POPPurchaseOrderPartialCompleteLinesLinesToCompleteList">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocumentCode" type="com:typeCode">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Supplier" type="elmmas:ElementMasterKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocumentCurrency" type="curr:CurrencyKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocumentDate" type="com:typeHard">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="InputDate" type="com:typeHard">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="InterCo" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAssociatedOrderItemDetailsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemQuantityList" type="poppurchaseorder:POPPurchaseOrderGetAssociatedOrderItemDetailsItemQuantityList">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="RefreshableLineFields" type="poppurchaseorder:RefreshableLineFields">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocumentData" type="poppurchaseorder:DocumentData">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseOrderItemList" type="poppurchaseorder:PurchaseOrderItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GenerateTaxResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GenerateTax" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            generateTax function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeOrderCurrencyRatesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Currency" minOccurs="0" type="curr:CurrencyKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="CurrencyRateDataList" type="poppurchaseorder:POPPurchaseOrderChangeOrderCurrencyRatesCurrencyRateDataList">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ConversionDate" type="com:typeHard">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="CurrencyChange" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetHomeDualValuesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetHomeDualValues" type="poppurchaseorder:HomeDualValues">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            getHomeDualValues function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadItemLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>The order we want to get the lines for</p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CompleteLinesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The order is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="WarningMessages" minOccurs="0"
                    maxOccurs="unbounded" type="popcommon:Warning">
                    <xsd:annotation>
                        <xsd:documentation>The warningMessages is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SetAuthorisationWorkflowIdResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SetAuthorisationWorkflowIdRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="WorkflowId" type="com:typeDbGuid">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeOrderCurrencyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The order is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CurrencyData" minOccurs="0"
                    maxOccurs="unbounded" type="curr:CurrencyRateData">
                    <xsd:annotation>
                        <xsd:documentation>The currencyData is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PurchaseOrderKey" type="poppurchaseorder:PurchaseOrderKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the PurchaseOrder object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAssociatedOrderItemDetailsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReturnedItems" minOccurs="0"
                    maxOccurs="unbounded" type="poppurchaseorder:RefreshResponse">
                    <xsd:annotation>
                        <xsd:documentation>The returnedItems is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeHeaderResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The order is an out argument,
                            so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CurrencyData" minOccurs="0"
                    maxOccurs="unbounded" type="curr:CurrencyRateData">
                    <xsd:annotation>
                        <xsd:documentation>The currencyData is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SupplierShortname" type="com:typeText">
                    <xsd:annotation>
                        <xsd:documentation>The supplierShortname is an
                            out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SupplierName" type="com:typeText">
                    <xsd:annotation>
                        <xsd:documentation>The supplierName is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TermsList" minOccurs="0"
                    maxOccurs="unbounded" type="com:typeTerm">
                    <xsd:annotation>
                        <xsd:documentation>The termsList is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DeptChanged" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The deptChanged is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DeliveryChanged" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The deliveryChanged is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CurrencyChanged" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The currencyChanged is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SupplierChanged" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The supplierChanged is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetPurchaseOrderDataForMatchingRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Supplier" minOccurs="0" type="elmmas:ElementMasterKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="OrderNumberList" type="poppurchaseorder:POPPurchaseOrderGetPurchaseOrderDataForMatchingOrderNumberList">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="AdviceNoteNumberList" type="poppurchaseorder:POPPurchaseOrderGetPurchaseOrderDataForMatchingAdviceNoteNumberList">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Department" minOccurs="0" type="elmmas:ElementMasterKey">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BuildOrderAccountRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="AccountMask" type="acmask:AccountMask">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CheckForTraderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Supplier" minOccurs="0" type="elmmas:ElementMasterKey">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="TraderCode" minOccurs="0" type="com:typeCodeB">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetHomeDualValuesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Value" type="com:Money">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="InputDate" minOccurs="0" type="com:typeHard">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocDate" minOccurs="0" type="com:typeHard">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeHeaderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ConversionDate" type="com:typeHard">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DocumentMask" minOccurs="0" type="acmask:AccountMask">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ItemLineMask" minOccurs="0" type="acmask:AccountMask">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="RecalculateLineValues" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="UpdateItemPrices" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="UpdateLinesDeliveriesWithDept" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="UpdateLinesDeliveriesWithDate" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DeptChanged" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="DeliveryChanged" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="CurrencyChanged" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="SupplierChanged" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="AllowNegative" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetHomeDualValuesRequest">
    <part name="GetHomeDualValuesRequest" element="poppurchaseorderws:GetHomeDualValuesRequest"/>
  </message>
  <message name="RefreshOrderItemDetailsResponse">
    <part name="RefreshOrderItemDetailsResponse" element="poppurchaseorderws:RefreshOrderItemDetailsResponse"/>
  </message>
  <message name="BuildOrderAccountRequest">
    <part name="BuildOrderAccountRequest" element="poppurchaseorderws:BuildOrderAccountRequest"/>
  </message>
  <message name="PartialCompleteLinesResponse">
    <part name="PartialCompleteLinesResponse" element="poppurchaseorderws:PartialCompleteLinesResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="poppurchaseorderws:OptionsResponse"/>
  </message>
  <message name="LoadItemLinesResponse">
    <part name="LoadItemLinesResponse" element="poppurchaseorderws:LoadItemLinesResponse"/>
  </message>
  <message name="SetAuthorisationWorkflowIdResponse">
    <part name="SetAuthorisationWorkflowIdResponse" element="poppurchaseorderws:SetAuthorisationWorkflowIdResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="poppurchaseorderws:Options"/>
  </message>
  <message name="GetDetailForOrderResponse">
    <part name="GetDetailForOrderResponse" element="poppurchaseorderws:GetDetailForOrderResponse"/>
  </message>
  <message name="PartialCompleteLinesRequest">
    <part name="PartialCompleteLinesRequest" element="poppurchaseorderws:PartialCompleteLinesRequest"/>
  </message>
  <message name="ValidateOrderResponse">
    <part name="ValidateOrderResponse" element="poppurchaseorderws:ValidateOrderResponse"/>
  </message>
  <message name="LoadItemLinesRequest">
    <part name="LoadItemLinesRequest" element="poppurchaseorderws:LoadItemLinesRequest"/>
  </message>
  <message name="AmalgamateLinesRequest">
    <part name="AmalgamateLinesRequest" element="poppurchaseorderws:AmalgamateLinesRequest"/>
  </message>
  <message name="ChangeOrderCurrencyRequest">
    <part name="ChangeOrderCurrencyRequest" element="poppurchaseorderws:ChangeOrderCurrencyRequest"/>
  </message>
  <message name="GetDetailForOrderRequest">
    <part name="GetDetailForOrderRequest" element="poppurchaseorderws:GetDetailForOrderRequest"/>
  </message>
  <message name="ChangePunchoutLinesCurrencyResponse">
    <part name="ChangePunchoutLinesCurrencyResponse" element="poppurchaseorderws:ChangePunchoutLinesCurrencyResponse"/>
  </message>
  <message name="RefreshTotalsResponse">
    <part name="RefreshTotalsResponse" element="poppurchaseorderws:RefreshTotalsResponse"/>
  </message>
  <message name="GetAssociatedOrderItemDetailsRequest">
    <part name="GetAssociatedOrderItemDetailsRequest" element="poppurchaseorderws:GetAssociatedOrderItemDetailsRequest"/>
  </message>
  <message name="ChangePunchoutLinesCurrencyRequest">
    <part name="ChangePunchoutLinesCurrencyRequest" element="poppurchaseorderws:ChangePunchoutLinesCurrencyRequest"/>
  </message>
  <message name="ManipulateDeliveryDateResponse">
    <part name="ManipulateDeliveryDateResponse" element="poppurchaseorderws:ManipulateDeliveryDateResponse"/>
  </message>
  <message name="SetAuthorisationWorkflowIdRequest">
    <part name="SetAuthorisationWorkflowIdRequest" element="poppurchaseorderws:SetAuthorisationWorkflowIdRequest"/>
  </message>
  <message name="RaiseOrderFromRequisitionRequest">
    <part name="RaiseOrderFromRequisitionRequest" element="poppurchaseorderws:RaiseOrderFromRequisitionRequest"/>
  </message>
  <message name="RefreshTotalsRequest">
    <part name="RefreshTotalsRequest" element="poppurchaseorderws:RefreshTotalsRequest"/>
  </message>
  <message name="RaiseOrderFromRequisitionResponse">
    <part name="RaiseOrderFromRequisitionResponse" element="poppurchaseorderws:RaiseOrderFromRequisitionResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="poppurchaseorderws:FindRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="poppurchaseorderws:GetResponse"/>
  </message>
  <message name="CheckForTraderRequest">
    <part name="CheckForTraderRequest" element="poppurchaseorderws:CheckForTraderRequest"/>
  </message>
  <message name="GetLinesToCompleteRequest">
    <part name="GetLinesToCompleteRequest" element="poppurchaseorderws:GetLinesToCompleteRequest"/>
  </message>
  <message name="ChangeHeaderRequest">
    <part name="ChangeHeaderRequest" element="poppurchaseorderws:ChangeHeaderRequest"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="poppurchaseorderws:GetRequest"/>
  </message>
  <message name="ChangeOrderCurrencyRatesRequest">
    <part name="ChangeOrderCurrencyRatesRequest" element="poppurchaseorderws:ChangeOrderCurrencyRatesRequest"/>
  </message>
  <message name="CheckForTraderResponse">
    <part name="CheckForTraderResponse" element="poppurchaseorderws:CheckForTraderResponse"/>
  </message>
  <message name="ChangeOrderCurrencyRatesResponse">
    <part name="ChangeOrderCurrencyRatesResponse" element="poppurchaseorderws:ChangeOrderCurrencyRatesResponse"/>
  </message>
  <message name="GetHomeDualValuesResponse">
    <part name="GetHomeDualValuesResponse" element="poppurchaseorderws:GetHomeDualValuesResponse"/>
  </message>
  <message name="RaiseOrderFromRFQRequest">
    <part name="RaiseOrderFromRFQRequest" element="poppurchaseorderws:RaiseOrderFromRFQRequest"/>
  </message>
  <message name="CompleteLinesResponse">
    <part name="CompleteLinesResponse" element="poppurchaseorderws:CompleteLinesResponse"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="poppurchaseorderws:FindResponse"/>
  </message>
  <message name="BuildOrderAccountResponse">
    <part name="BuildOrderAccountResponse" element="poppurchaseorderws:BuildOrderAccountResponse"/>
  </message>
  <message name="AmalgamateLinesResponse">
    <part name="AmalgamateLinesResponse" element="poppurchaseorderws:AmalgamateLinesResponse"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="poppurchaseorderws:ListResponse"/>
  </message>
  <message name="ChangeOrderCurrencyResponse">
    <part name="ChangeOrderCurrencyResponse" element="poppurchaseorderws:ChangeOrderCurrencyResponse"/>
  </message>
  <message name="RefreshOrderItemDetailsRequest">
    <part name="RefreshOrderItemDetailsRequest" element="poppurchaseorderws:RefreshOrderItemDetailsRequest"/>
  </message>
  <message name="ChangeHeaderResponse">
    <part name="ChangeHeaderResponse" element="poppurchaseorderws:ChangeHeaderResponse"/>
  </message>
  <message name="RaiseOrderFromRFQResponse">
    <part name="RaiseOrderFromRFQResponse" element="poppurchaseorderws:RaiseOrderFromRFQResponse"/>
  </message>
  <message name="GetPurchaseOrderDataForMatchingResponse">
    <part name="GetPurchaseOrderDataForMatchingResponse" element="poppurchaseorderws:GetPurchaseOrderDataForMatchingResponse"/>
  </message>
  <message name="GetAllPurchaseOrderDataRequest">
    <part name="GetAllPurchaseOrderDataRequest" element="poppurchaseorderws:GetAllPurchaseOrderDataRequest"/>
  </message>
  <message name="ManipulateDeliveryDateRequest">
    <part name="ManipulateDeliveryDateRequest" element="poppurchaseorderws:ManipulateDeliveryDateRequest"/>
  </message>
  <message name="CompleteLinesRequest">
    <part name="CompleteLinesRequest" element="poppurchaseorderws:CompleteLinesRequest"/>
  </message>
  <message name="GetAllPurchaseOrderDataResponse">
    <part name="GetAllPurchaseOrderDataResponse" element="poppurchaseorderws:GetAllPurchaseOrderDataResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="poppurchaseorderws:ListRequest"/>
  </message>
  <message name="GetAssociatedOrderItemDetailsResponse">
    <part name="GetAssociatedOrderItemDetailsResponse" element="poppurchaseorderws:GetAssociatedOrderItemDetailsResponse"/>
  </message>
  <message name="GenerateTaxResponse">
    <part name="GenerateTaxResponse" element="poppurchaseorderws:GenerateTaxResponse"/>
  </message>
  <message name="GetPurchaseOrderDataForMatchingRequest">
    <part name="GetPurchaseOrderDataForMatchingRequest" element="poppurchaseorderws:GetPurchaseOrderDataForMatchingRequest"/>
  </message>
  <message name="GetLinesToCompleteResponse">
    <part name="GetLinesToCompleteResponse" element="poppurchaseorderws:GetLinesToCompleteResponse"/>
  </message>
  <message name="GenerateTaxRequest">
    <part name="GenerateTaxRequest" element="poppurchaseorderws:GenerateTaxRequest"/>
  </message>
  <message name="ValidateOrderRequest">
    <part name="ValidateOrderRequest" element="poppurchaseorderws:ValidateOrderRequest"/>
  </message>
  <portType name="POPPurchaseOrderServicePortTypes">
    <operation name="LoadItemLines">
      <input message="poppurchaseorderws:LoadItemLinesRequest"/>
      <output message="poppurchaseorderws:LoadItemLinesResponse"/>
    </operation>
    <operation name="ChangePunchoutLinesCurrency">
      <input message="poppurchaseorderws:ChangePunchoutLinesCurrencyRequest"/>
      <output message="poppurchaseorderws:ChangePunchoutLinesCurrencyResponse"/>
    </operation>
    <operation name="RaiseOrderFromRequisition">
      <input message="poppurchaseorderws:RaiseOrderFromRequisitionRequest"/>
      <output message="poppurchaseorderws:RaiseOrderFromRequisitionResponse"/>
    </operation>
    <operation name="CheckForTrader">
      <input message="poppurchaseorderws:CheckForTraderRequest"/>
      <output message="poppurchaseorderws:CheckForTraderResponse"/>
    </operation>
    <operation name="PartialCompleteLines">
      <input message="poppurchaseorderws:PartialCompleteLinesRequest"/>
      <output message="poppurchaseorderws:PartialCompleteLinesResponse"/>
    </operation>
    <operation name="ValidateOrder">
      <input message="poppurchaseorderws:ValidateOrderRequest"/>
      <output message="poppurchaseorderws:ValidateOrderResponse"/>
    </operation>
    <operation name="GetAssociatedOrderItemDetails">
      <input message="poppurchaseorderws:GetAssociatedOrderItemDetailsRequest"/>
      <output message="poppurchaseorderws:GetAssociatedOrderItemDetailsResponse"/>
    </operation>
    <operation name="SetAuthorisationWorkflowId">
      <input message="poppurchaseorderws:SetAuthorisationWorkflowIdRequest"/>
      <output message="poppurchaseorderws:SetAuthorisationWorkflowIdResponse"/>
    </operation>
    <operation name="GenerateTax">
      <input message="poppurchaseorderws:GenerateTaxRequest"/>
      <output message="poppurchaseorderws:GenerateTaxResponse"/>
    </operation>
    <operation name="ChangeHeader">
      <input message="poppurchaseorderws:ChangeHeaderRequest"/>
      <output message="poppurchaseorderws:ChangeHeaderResponse"/>
    </operation>
    <operation name="RefreshOrderItemDetails">
      <input message="poppurchaseorderws:RefreshOrderItemDetailsRequest"/>
      <output message="poppurchaseorderws:RefreshOrderItemDetailsResponse"/>
    </operation>
    <operation name="GetPurchaseOrderDataForMatching">
      <input message="poppurchaseorderws:GetPurchaseOrderDataForMatchingRequest"/>
      <output message="poppurchaseorderws:GetPurchaseOrderDataForMatchingResponse"/>
    </operation>
    <operation name="RaiseOrderFromRFQ">
      <input message="poppurchaseorderws:RaiseOrderFromRFQRequest"/>
      <output message="poppurchaseorderws:RaiseOrderFromRFQResponse"/>
    </operation>
    <operation name="List">
      <input message="poppurchaseorderws:ListRequest"/>
      <output message="poppurchaseorderws:ListResponse"/>
    </operation>
    <operation name="AmalgamateLines">
      <input message="poppurchaseorderws:AmalgamateLinesRequest"/>
      <output message="poppurchaseorderws:AmalgamateLinesResponse"/>
    </operation>
    <operation name="GetDetailForOrder">
      <input message="poppurchaseorderws:GetDetailForOrderRequest"/>
      <output message="poppurchaseorderws:GetDetailForOrderResponse"/>
    </operation>
    <operation name="ChangeOrderCurrency">
      <input message="poppurchaseorderws:ChangeOrderCurrencyRequest"/>
      <output message="poppurchaseorderws:ChangeOrderCurrencyResponse"/>
    </operation>
    <operation name="GetAllPurchaseOrderData">
      <input message="poppurchaseorderws:GetAllPurchaseOrderDataRequest"/>
      <output message="poppurchaseorderws:GetAllPurchaseOrderDataResponse"/>
    </operation>
    <operation name="ManipulateDeliveryDate">
      <input message="poppurchaseorderws:ManipulateDeliveryDateRequest"/>
      <output message="poppurchaseorderws:ManipulateDeliveryDateResponse"/>
    </operation>
    <operation name="GetLinesToComplete">
      <input message="poppurchaseorderws:GetLinesToCompleteRequest"/>
      <output message="poppurchaseorderws:GetLinesToCompleteResponse"/>
    </operation>
    <operation name="RefreshTotals">
      <input message="poppurchaseorderws:RefreshTotalsRequest"/>
      <output message="poppurchaseorderws:RefreshTotalsResponse"/>
    </operation>
    <operation name="BuildOrderAccount">
      <input message="poppurchaseorderws:BuildOrderAccountRequest"/>
      <output message="poppurchaseorderws:BuildOrderAccountResponse"/>
    </operation>
    <operation name="CompleteLines">
      <input message="poppurchaseorderws:CompleteLinesRequest"/>
      <output message="poppurchaseorderws:CompleteLinesResponse"/>
    </operation>
    <operation name="Get">
      <input message="poppurchaseorderws:GetRequest"/>
      <output message="poppurchaseorderws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="poppurchaseorderws:FindRequest"/>
      <output message="poppurchaseorderws:FindResponse"/>
    </operation>
    <operation name="GetHomeDualValues">
      <input message="poppurchaseorderws:GetHomeDualValuesRequest"/>
      <output message="poppurchaseorderws:GetHomeDualValuesResponse"/>
    </operation>
    <operation name="ChangeOrderCurrencyRates">
      <input message="poppurchaseorderws:ChangeOrderCurrencyRatesRequest"/>
      <output message="poppurchaseorderws:ChangeOrderCurrencyRatesResponse"/>
    </operation>
  </portType>
  <binding name="POPPurchaseOrderServiceSOAPBinding" type="poppurchaseorderws:POPPurchaseOrderServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="LoadItemLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/LoadItemLines" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ChangePunchoutLinesCurrency">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/ChangePunchoutLinesCurrency" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RaiseOrderFromRequisition">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/RaiseOrderFromRequisition" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CheckForTrader">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/CheckForTrader" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PartialCompleteLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/PartialCompleteLines" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateOrder">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/ValidateOrder" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetAssociatedOrderItemDetails">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/GetAssociatedOrderItemDetails" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SetAuthorisationWorkflowId">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/SetAuthorisationWorkflowId" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GenerateTax">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/GenerateTax" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ChangeHeader">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/ChangeHeader" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RefreshOrderItemDetails">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/RefreshOrderItemDetails" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetPurchaseOrderDataForMatching">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/GetPurchaseOrderDataForMatching" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RaiseOrderFromRFQ">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/RaiseOrderFromRFQ" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/List" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AmalgamateLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/AmalgamateLines" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetDetailForOrder">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/GetDetailForOrder" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ChangeOrderCurrency">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/ChangeOrderCurrency" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetAllPurchaseOrderData">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/GetAllPurchaseOrderData" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ManipulateDeliveryDate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/ManipulateDeliveryDate" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetLinesToComplete">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/GetLinesToComplete" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RefreshTotals">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/RefreshTotals" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="BuildOrderAccount">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/BuildOrderAccount" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CompleteLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/CompleteLines" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/Get" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/Find" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetHomeDualValues">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/GetHomeDualValues" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ChangeOrderCurrencyRates">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPPurchaseOrder/ChangeOrderCurrencyRates" style="document"/>
      <input>
        <soap:header message="poppurchaseorderws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="poppurchaseorderws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPPurchaseOrderService">
    <port name="POPPurchaseOrderServicePort" binding="poppurchaseorderws:POPPurchaseOrderServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/purchaseorder/poppurchaseorder-12.0"/>
    </port>
  </service>
</definitions>
