docs/Unit4 Financials HTML Documentation/wsdl/pop-calloff-popcalloff.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/calloff/popcalloff-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:popcalloffws="http://www.coda.com/pop/schemas/calloff/popcalloff-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:popcalloff="http://www.coda.com/pop/schemas/calloff"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:elmmas="http://www.coda.com/pop/schemas/elementmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:poppurchaseorder="http://www.coda.com/pop/schemas/purchaseorder"
    xmlns:comment="http://www.coda.com/pop/schemas/comment"
    xmlns:commbalance="http://www.coda.com/pop/schemas/commitmentbalance"
    xmlns:address="http://www.coda.com/pop/schemas/address"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    targetNamespace="http://www.coda.com/pop/schemas/calloff/popcalloff-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/commitmentbalance" schemaLocation="pop/commitmentbalance/commitmentbalance.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/calloff" schemaLocation="../wsdl/pop/calloff/calloff.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/address" schemaLocation="pop/address/address.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/elementmaster" schemaLocation="pop/elementmaster/elementmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/purchaseorder" schemaLocation="pop/purchaseorder/purchaseorder.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/comment" schemaLocation="pop/comment/comment.xsd"/>
    <xsd:element name="NewCallOffResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="NewCallOff" type="popcalloff:CallOff">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            NewCallOff function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BlanketOrder" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The BlanketOrder is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetOrderAndCallOffRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CalloffKey" type="popcalloff:CallOffKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The key that identifies a
                                call-off.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SaveCallOffRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CallOff" type="popcalloff:CallOff">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The required call-off.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CallOff" type="popcalloff:CallOff">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetCallOffsForOrderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OrderKey" type="poppurchaseorder:PurchaseOrderKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The key that identifies the
                                blanket order to which the call-off
                                relates.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CalculateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CallOff" type="popcalloff:CallOff">
                    <xsd:annotation>
                        <xsd:documentation>The CallOff is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelCallOffsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CallOffsKeyList" type="popcalloff:CallOffKeyList">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The list of keys that identify
                                the call-offs.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CancelReason" type="com:typeTextB">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The reason for cancelling the
                                call-off.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CalculateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CallOff" type="popcalloff:CallOff">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The required call-off.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetOrderAndCallOffResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CallOff" type="popcalloff:CallOff">
                    <xsd:annotation>
                        <xsd:documentation>The CallOff is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BlanketOrder" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The BlanketOrder is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SaveCallOffResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SaveCallOff" type="popcalloff:CallOff">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            SaveCallOff function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BudgetRejected" type="com:typeBoolean">
                    <xsd:annotation>
                        <xsd:documentation>The BudgetRejected is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Budget" minOccurs="0"
                    maxOccurs="unbounded" type="commbalance:ComBudgetInfo">
                    <xsd:annotation>
                        <xsd:documentation>The Budget is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CallOffKey" type="popcalloff:CallOffKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the CallOff object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NewCallOffRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BlanketOrderKey" type="poppurchaseorder:PurchaseOrderKey">
                    <xsd:annotation>
                        <xsd:documentation>
                                <p>      The key that identifies the
                                blanket order to which the call-off
                                relates.     </p>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CallOff" type="popcalloff:CallOff">
                    <xsd:annotation>
                        <xsd:documentation>The whole CallOff object that
                            is to be persisted in the system.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetCallOffsForOrderResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BlanketOrder" type="poppurchaseorder:PurchaseOrder">
                    <xsd:annotation>
                        <xsd:documentation>The BlanketOrder is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CallOffSummary" minOccurs="0"
                    maxOccurs="unbounded" type="popcalloff:CallOffSummary">
                    <xsd:annotation>
                        <xsd:documentation>The CallOffSummary is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CallOff" type="popcalloff:CallOff">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the add function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelCallOffsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UpdatedCallOffs"
                    maxOccurs="unbounded" type="popcalloff:CallOffSummary">
                    <xsd:annotation>
                        <xsd:documentation>The UpdatedCallOffs is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StatChangeOrdLineNum" minOccurs="0"
                    maxOccurs="unbounded" type="com:typeNumber">
                    <xsd:annotation>
                        <xsd:documentation>The StatChangeOrdLineNum is
                            an out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="AddResponse">
    <part name="AddResponse" element="popcalloffws:AddResponse"/>
  </message>
  <message name="GetCallOffsForOrderResponse">
    <part name="GetCallOffsForOrderResponse" element="popcalloffws:GetCallOffsForOrderResponse"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="popcalloffws:GetResponse"/>
  </message>
  <message name="GetOrderAndCallOffRequest">
    <part name="GetOrderAndCallOffRequest" element="popcalloffws:GetOrderAndCallOffRequest"/>
  </message>
  <message name="GetOrderAndCallOffResponse">
    <part name="GetOrderAndCallOffResponse" element="popcalloffws:GetOrderAndCallOffResponse"/>
  </message>
  <message name="CalculateRequest">
    <part name="CalculateRequest" element="popcalloffws:CalculateRequest"/>
  </message>
  <message name="CalculateResponse">
    <part name="CalculateResponse" element="popcalloffws:CalculateResponse"/>
  </message>
  <message name="NewCallOffRequest">
    <part name="NewCallOffRequest" element="popcalloffws:NewCallOffRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="popcalloffws:Options"/>
  </message>
  <message name="GetCallOffsForOrderRequest">
    <part name="GetCallOffsForOrderRequest" element="popcalloffws:GetCallOffsForOrderRequest"/>
  </message>
  <message name="SaveCallOffResponse">
    <part name="SaveCallOffResponse" element="popcalloffws:SaveCallOffResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="popcalloffws:OptionsResponse"/>
  </message>
  <message name="SaveCallOffRequest">
    <part name="SaveCallOffRequest" element="popcalloffws:SaveCallOffRequest"/>
  </message>
  <message name="CancelCallOffsResponse">
    <part name="CancelCallOffsResponse" element="popcalloffws:CancelCallOffsResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="popcalloffws:GetRequest"/>
  </message>
  <message name="AddRequest">
    <part name="AddRequest" element="popcalloffws:AddRequest"/>
  </message>
  <message name="NewCallOffResponse">
    <part name="NewCallOffResponse" element="popcalloffws:NewCallOffResponse"/>
  </message>
  <message name="CancelCallOffsRequest">
    <part name="CancelCallOffsRequest" element="popcalloffws:CancelCallOffsRequest"/>
  </message>
  <portType name="POPCallOffServicePortTypes">
    <operation name="Add">
      <input message="popcalloffws:AddRequest"/>
      <output message="popcalloffws:AddResponse"/>
    </operation>
    <operation name="CancelCallOffs">
      <input message="popcalloffws:CancelCallOffsRequest"/>
      <output message="popcalloffws:CancelCallOffsResponse"/>
    </operation>
    <operation name="GetCallOffsForOrder">
      <input message="popcalloffws:GetCallOffsForOrderRequest"/>
      <output message="popcalloffws:GetCallOffsForOrderResponse"/>
    </operation>
    <operation name="SaveCallOff">
      <input message="popcalloffws:SaveCallOffRequest"/>
      <output message="popcalloffws:SaveCallOffResponse"/>
    </operation>
    <operation name="GetOrderAndCallOff">
      <input message="popcalloffws:GetOrderAndCallOffRequest"/>
      <output message="popcalloffws:GetOrderAndCallOffResponse"/>
    </operation>
    <operation name="NewCallOff">
      <input message="popcalloffws:NewCallOffRequest"/>
      <output message="popcalloffws:NewCallOffResponse"/>
    </operation>
    <operation name="Get">
      <input message="popcalloffws:GetRequest"/>
      <output message="popcalloffws:GetResponse"/>
    </operation>
    <operation name="Calculate">
      <input message="popcalloffws:CalculateRequest"/>
      <output message="popcalloffws:CalculateResponse"/>
    </operation>
  </portType>
  <binding name="POPCallOffServiceSOAPBinding" type="popcalloffws:POPCallOffServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPCallOff/Add" style="document"/>
      <input>
        <soap:header message="popcalloffws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popcalloffws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelCallOffs">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPCallOff/CancelCallOffs" style="document"/>
      <input>
        <soap:header message="popcalloffws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popcalloffws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetCallOffsForOrder">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPCallOff/GetCallOffsForOrder" style="document"/>
      <input>
        <soap:header message="popcalloffws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popcalloffws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SaveCallOff">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPCallOff/SaveCallOff" style="document"/>
      <input>
        <soap:header message="popcalloffws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popcalloffws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetOrderAndCallOff">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPCallOff/GetOrderAndCallOff" style="document"/>
      <input>
        <soap:header message="popcalloffws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popcalloffws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="NewCallOff">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPCallOff/NewCallOff" style="document"/>
      <input>
        <soap:header message="popcalloffws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popcalloffws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPCallOff/Get" style="document"/>
      <input>
        <soap:header message="popcalloffws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popcalloffws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Calculate">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPCallOff/Calculate" style="document"/>
      <input>
        <soap:header message="popcalloffws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popcalloffws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPCallOffService">
    <port name="POPCallOffServicePort" binding="popcalloffws:POPCallOffServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/calloff/popcalloff-12.0"/>
    </port>
  </service>
</definitions>
