docs/Unit4 Financials HTML Documentation/wsdl/pop-requisition-poprequisition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/requisition/poprequisition-12.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:popreqisitionws="http://www.coda.com/pop/schemas/requisition/poprequisition-12.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:elmmas="http://www.coda.com/pop/schemas/elementmaster"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:buy="http://www.coda.com/pop/schemas/buyer"
    xmlns:ns1="http://www.coda.com/common/schemas/domaingen"
    xmlns:doc="http://www.coda.com/pop/schemas/document"
    xmlns:address="http://www.coda.com/pop/schemas/address"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:popreqisition="http://www.coda.com/pop/schemas/requisition"
    xmlns:popitem="http://www.coda.com/pop/schemas/item"
    xmlns:datatypes="http://www.coda.com/common/schemas/datatypes"
    targetNamespace="http://www.coda.com/pop/schemas/requisition/poprequisition-12.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import namespace="http://www.coda.com/common/schemas/datatypes" schemaLocation="common/datatypes/datatypes.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/item" schemaLocation="pop/item/item.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/buyer" schemaLocation="pop/buyer/buyer.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/document" schemaLocation="pop/document/document.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/address" schemaLocation="pop/address/address.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/elementmaster" schemaLocation="pop/elementmaster/elementmaster.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/requisition" schemaLocation="../wsdl/pop/requisition/requisition.xsd"/>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAssociatedDetailsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation>
                        <xsd:documentation>The requisition is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReturnedItems" minOccurs="0"
                    maxOccurs="unbounded" type="popreqisition:RequisitionItemDetails">
                    <xsd:annotation>
                        <xsd:documentation>The returnedItems is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefreshTotalsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RefreshTotals" type="popreqisition:Requisition">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the
                            RefreshTotals function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefreshTotalsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequisitionDTO" type="popreqisition:Requisition">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="NewCurrency" minOccurs="0" type="com:typeTextB">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="Line" minOccurs="0" type="com:typeLong">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeCurrencyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation>
                        <xsd:documentation>The requisition is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateRequisitionRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefreshItemLineRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LineNumber" type="com:typeULong">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the Requisition objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadItemLinesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItemLines" minOccurs="0"
                    maxOccurs="unbounded" type="doc:ItemLine">
                    <xsd:annotation>
                        <xsd:documentation>The ItemLines is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Query" type="com:Query">
                    <xsd:annotation>
                        <xsd:documentation>The set of query criteria to
                            be used to find the Requisition objects that
                            the user is interested in.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetItemDetailsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LineNumber" type="com:typeULong">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetItemDetailsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation>
                        <xsd:documentation>The requisition is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReturnedItems" minOccurs="0"
                    maxOccurs="unbounded" type="popreqisition:RequisitionItemDetails">
                    <xsd:annotation>
                        <xsd:documentation>The returnedItems is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AssociatedItems" minOccurs="0"
                    maxOccurs="unbounded" type="popitem:Dependent">
                    <xsd:annotation>
                        <xsd:documentation>The associatedItems is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FindResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequisitionList" type="popreqisition:RequisitionList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the find function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LoadItemLinesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequisitionDTO" type="popreqisition:Requisition">
                    <xsd:annotation>
                        <xsd:documentation>
                                <documentation xmlns:ns1="http://www.coda.com/common/schemas/domaingen">
                                <p>The order we want to get the lines for</p>
                            </documentation>                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FillInPunchoutLineRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LineNumber" type="com:typeULong">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="NumberOfLines" type="com:typeULong">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FillInPunchoutLineResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation>
                        <xsd:documentation>The requisition is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the get function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetAssociatedDetailsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LineNumber" type="com:typeLong">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="ItemQuantityList" type="popreqisition:POPRequisitionGetAssociatedDetailsItemQuantityList">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SetAuthorisationWorkflowIdRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="WorkflowId" type="com:typeDbGuid">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefreshItemLineResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation>
                        <xsd:documentation>The requisition is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="GeneratedLineAccount" minOccurs="0"
                    maxOccurs="unbounded" type="doc:GeneratedLineAccount">
                    <xsd:annotation>
                        <xsd:documentation>The generatedLineAccount is
                            an out argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SystemPriceData" minOccurs="0"
                    maxOccurs="unbounded" type="doc:SystemPriceData">
                    <xsd:annotation>
                        <xsd:documentation>The systemPriceData is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequisitionItemList" type="popreqisition:RequisitionItemList">
                    <xsd:annotation>
                        <xsd:documentation>The return value of the list function.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequisitionKey" type="popreqisition:RequisitionKey">
                    <xsd:annotation>
                        <xsd:documentation>The key to the Requisition object.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeCurrencyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="NewCurrency" minOccurs="0" type="com:typeTextB">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="LineNumber" type="com:typeULong">
                    <xsd:annotation/>
                </xsd:element>
                <xsd:element name="RecalculateLineValues" type="com:typeBoolean">
                    <xsd:annotation/>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidateRequisitionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Requisition" type="popreqisition:Requisition">
                    <xsd:annotation>
                        <xsd:documentation>The requisition is an out
                            argument, so the server will put it here.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SetAuthorisationWorkflowIdResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="GetAssociatedDetailsRequest">
    <part name="GetAssociatedDetailsRequest" element="popreqisitionws:GetAssociatedDetailsRequest"/>
  </message>
  <message name="ChangeCurrencyResponse">
    <part name="ChangeCurrencyResponse" element="popreqisitionws:ChangeCurrencyResponse"/>
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="popreqisitionws:FindRequest"/>
  </message>
  <message name="RefreshTotalsRequest">
    <part name="RefreshTotalsRequest" element="popreqisitionws:RefreshTotalsRequest"/>
  </message>
  <message name="ValidateRequisitionRequest">
    <part name="ValidateRequisitionRequest" element="popreqisitionws:ValidateRequisitionRequest"/>
  </message>
  <message name="SetAuthorisationWorkflowIdRequest">
    <part name="SetAuthorisationWorkflowIdRequest" element="popreqisitionws:SetAuthorisationWorkflowIdRequest"/>
  </message>
  <message name="RefreshItemLineRequest">
    <part name="RefreshItemLineRequest" element="popreqisitionws:RefreshItemLineRequest"/>
  </message>
  <message name="GetResponse">
    <part name="GetResponse" element="popreqisitionws:GetResponse"/>
  </message>
  <message name="ValidateRequisitionResponse">
    <part name="ValidateRequisitionResponse" element="popreqisitionws:ValidateRequisitionResponse"/>
  </message>
  <message name="ListRequest">
    <part name="ListRequest" element="popreqisitionws:ListRequest"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="popreqisitionws:OptionsResponse"/>
  </message>
  <message name="LoadItemLinesResponse">
    <part name="LoadItemLinesResponse" element="popreqisitionws:LoadItemLinesResponse"/>
  </message>
  <message name="GetItemDetailsResponse">
    <part name="GetItemDetailsResponse" element="popreqisitionws:GetItemDetailsResponse"/>
  </message>
  <message name="GetRequest">
    <part name="GetRequest" element="popreqisitionws:GetRequest"/>
  </message>
  <message name="FillInPunchoutLineResponse">
    <part name="FillInPunchoutLineResponse" element="popreqisitionws:FillInPunchoutLineResponse"/>
  </message>
  <message name="FillInPunchoutLineRequest">
    <part name="FillInPunchoutLineRequest" element="popreqisitionws:FillInPunchoutLineRequest"/>
  </message>
  <message name="ChangeCurrencyRequest">
    <part name="ChangeCurrencyRequest" element="popreqisitionws:ChangeCurrencyRequest"/>
  </message>
  <message name="GetAssociatedDetailsResponse">
    <part name="GetAssociatedDetailsResponse" element="popreqisitionws:GetAssociatedDetailsResponse"/>
  </message>
  <message name="RefreshTotalsResponse">
    <part name="RefreshTotalsResponse" element="popreqisitionws:RefreshTotalsResponse"/>
  </message>
  <message name="LoadItemLinesRequest">
    <part name="LoadItemLinesRequest" element="popreqisitionws:LoadItemLinesRequest"/>
  </message>
  <message name="RefreshItemLineResponse">
    <part name="RefreshItemLineResponse" element="popreqisitionws:RefreshItemLineResponse"/>
  </message>
  <message name="GetItemDetailsRequest">
    <part name="GetItemDetailsRequest" element="popreqisitionws:GetItemDetailsRequest"/>
  </message>
  <message name="ListResponse">
    <part name="ListResponse" element="popreqisitionws:ListResponse"/>
  </message>
  <message name="SetAuthorisationWorkflowIdResponse">
    <part name="SetAuthorisationWorkflowIdResponse" element="popreqisitionws:SetAuthorisationWorkflowIdResponse"/>
  </message>
  <message name="Options">
    <part name="Options" element="popreqisitionws:Options"/>
  </message>
  <message name="FindResponse">
    <part name="FindResponse" element="popreqisitionws:FindResponse"/>
  </message>
  <portType name="POPRequisitionServicePortTypes">
    <operation name="GetAssociatedDetails">
      <input message="popreqisitionws:GetAssociatedDetailsRequest"/>
      <output message="popreqisitionws:GetAssociatedDetailsResponse"/>
    </operation>
    <operation name="LoadItemLines">
      <input message="popreqisitionws:LoadItemLinesRequest"/>
      <output message="popreqisitionws:LoadItemLinesResponse"/>
    </operation>
    <operation name="RefreshTotals">
      <input message="popreqisitionws:RefreshTotalsRequest"/>
      <output message="popreqisitionws:RefreshTotalsResponse"/>
    </operation>
    <operation name="SetAuthorisationWorkflowId">
      <input message="popreqisitionws:SetAuthorisationWorkflowIdRequest"/>
      <output message="popreqisitionws:SetAuthorisationWorkflowIdResponse"/>
    </operation>
    <operation name="RefreshItemLine">
      <input message="popreqisitionws:RefreshItemLineRequest"/>
      <output message="popreqisitionws:RefreshItemLineResponse"/>
    </operation>
    <operation name="Get">
      <input message="popreqisitionws:GetRequest"/>
      <output message="popreqisitionws:GetResponse"/>
    </operation>
    <operation name="Find">
      <input message="popreqisitionws:FindRequest"/>
      <output message="popreqisitionws:FindResponse"/>
    </operation>
    <operation name="GetItemDetails">
      <input message="popreqisitionws:GetItemDetailsRequest"/>
      <output message="popreqisitionws:GetItemDetailsResponse"/>
    </operation>
    <operation name="List">
      <input message="popreqisitionws:ListRequest"/>
      <output message="popreqisitionws:ListResponse"/>
    </operation>
    <operation name="ChangeCurrency">
      <input message="popreqisitionws:ChangeCurrencyRequest"/>
      <output message="popreqisitionws:ChangeCurrencyResponse"/>
    </operation>
    <operation name="FillInPunchoutLine">
      <input message="popreqisitionws:FillInPunchoutLineRequest"/>
      <output message="popreqisitionws:FillInPunchoutLineResponse"/>
    </operation>
    <operation name="ValidateRequisition">
      <input message="popreqisitionws:ValidateRequisitionRequest"/>
      <output message="popreqisitionws:ValidateRequisitionResponse"/>
    </operation>
  </portType>
  <binding name="POPRequisitionServiceSOAPBinding" type="popreqisitionws:POPRequisitionServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetAssociatedDetails">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/GetAssociatedDetails" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="LoadItemLines">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/LoadItemLines" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RefreshTotals">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/RefreshTotals" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SetAuthorisationWorkflowId">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/SetAuthorisationWorkflowId" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RefreshItemLine">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/RefreshItemLine" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Get">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/Get" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Find">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/Find" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetItemDetails">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/GetItemDetails" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="List">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/List" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ChangeCurrency">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/ChangeCurrency" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FillInPunchoutLine">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/FillInPunchoutLine" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateRequisition">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPRequisition/ValidateRequisition" style="document"/>
      <input>
        <soap:header message="popreqisitionws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="popreqisitionws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPRequisitionService">
    <port name="POPRequisitionServicePort" binding="popreqisitionws:POPRequisitionServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/requisition/poprequisition-12.0"/>
    </port>
  </service>
</definitions>
