docs/Unit4 Financials HTML Documentation/wsdl/pop-documentsearch-popdocumentsearch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.coda.com/pop/schemas/documentsearch/popdocumentsearch-1.0/webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:documentsearchws="http://www.coda.com/pop/schemas/documentsearch/popdocumentsearch-1.0/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:poptypes="http://www.coda.com/pop/schemas/common"
    xmlns:com="http://www.coda.com/efinance/schemas/common"
    xmlns:documentsearch="http://www.coda.com/pop/schemas/documentsearch"
    xmlns:atc="http://www.coda.com/common/schemas/attachment"
    xmlns:build="http://www.coda.com/common/schemas/funcsec"
    xmlns:datatypes="http://www.coda.com/common/schemas/datatypes"
    targetNamespace="http://www.coda.com/pop/schemas/documentsearch/popdocumentsearch-1.0/webservice"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:import
        namespace="http://www.coda.com/pop/schemas/documentsearch" schemaLocation="../wsdl/pop/documentsearch/documentsearch.xsd"/>
    <xsd:import namespace="http://www.coda.com/efinance/schemas/common" schemaLocation="finance/common/common.xsd"/>
    <xsd:import namespace="http://www.coda.com/pop/schemas/common" schemaLocation="pop/common/common.xsd"/>
    <xsd:import
        namespace="http://www.coda.com/common/schemas/attachment" schemaLocation="common/attachment/attachment.xsd"/>
    <xsd:import namespace="http://www.coda.com/common/schemas/datatypes" schemaLocation="common/datatypes/datatypes.xsd"/>
    <xsd:element name="AttachResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentAttachments" type="documentsearch:DocumentAttachments">
                    <xsd:annotation>
                        <xsd:documentation>The list of attachments
                            retrieved by the search.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttachRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentAttachments" type="documentsearch:DocumentAttachments">
                    <xsd:annotation>
                        <xsd:documentation>The attachment search criteria.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Options">
        <xsd:complexType>
            <xsd:attribute name="bulkload" type="xsd:boolean"/>
            <xsd:attribute name="logtitle" type="com:typeLogTitle"/>
            <xsd:attribute name="attachments" type="com:typeAttachments" default="none"/>
            <xsd:attribute name="locale" type="com:typeLocale"/>
            <xsd:attribute name="origin" type="xsd:string"/>
            <xsd:attribute name="handlingdata" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>For internal use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="user" type="com:typeGeneralCode"/>
            <xsd:attribute name="company" type="com:typeGeneralCode"/>
            <xsd:attribute name="session" type="xsd:string"/>
            <xsd:attribute name="slot" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="transactionid" type="xsd:string"/>
            <xsd:attribute name="txtimeout" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OptionsResponse">
        <xsd:complexType>
            <xsd:attribute name="transactioncoordinator" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DocumentSearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentFoundList" type="documentsearch:DocumentFoundList">
                    <xsd:annotation>
                        <xsd:documentation>The list of documents
                            retrieved by the search.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DocumentSearchRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocumentSearchCriteria" type="documentsearch:DocumentSearchCriteria">
                    <xsd:annotation>
                        <xsd:documentation>
                            Criteria to base the search on.                             </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </types>
  <message name="DocumentSearchRequest">
    <part name="DocumentSearchRequest" element="documentsearchws:DocumentSearchRequest"/>
  </message>
  <message name="Options">
    <part name="Options" element="documentsearchws:Options"/>
  </message>
  <message name="AttachResponse">
    <part name="AttachResponse" element="documentsearchws:AttachResponse"/>
  </message>
  <message name="OptionsResponse">
    <part name="OptionsResponse" element="documentsearchws:OptionsResponse"/>
  </message>
  <message name="AttachRequest">
    <part name="AttachRequest" element="documentsearchws:AttachRequest"/>
  </message>
  <message name="DocumentSearchResponse">
    <part name="DocumentSearchResponse" element="documentsearchws:DocumentSearchResponse"/>
  </message>
  <portType name="POPDocumentSearchServicePortTypes">
    <operation name="Attach">
      <input message="documentsearchws:AttachRequest"/>
      <output message="documentsearchws:AttachResponse"/>
    </operation>
    <operation name="DocumentSearch">
      <input message="documentsearchws:DocumentSearchRequest"/>
      <output message="documentsearchws:DocumentSearchResponse"/>
    </operation>
  </portType>
  <binding name="POPDocumentSearchServiceSOAPBinding" type="documentsearchws:POPDocumentSearchServicePortTypes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Attach">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDocumentSearch/Attach" style="document"/>
      <input>
        <soap:header message="documentsearchws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="documentsearchws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DocumentSearch">
<documentation></documentation>
      <soap:operation soapAction="uri-coda-webservice/14.000.0011/pop/POPDocumentSearch/DocumentSearch" style="document"/>
      <input>
        <soap:header message="documentsearchws:Options" part="Options" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="documentsearchws:OptionsResponse" part="OptionsResponse" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POPDocumentSearchService">
    <port name="POPDocumentSearchServicePort" binding="documentsearchws:POPDocumentSearchServiceSOAPBinding">
      <soap:address location="http://localhost:8080/coda/services/pop/documentsearch/popdocumentsearch-1.0"/>
    </port>
  </service>
</definitions>
